	<footer>
		<div class="container">
			<div class="nav-menu nav-menu--footer">
				<ul class="nav-menu__list nav-menu__list--footer">
					<li><a href="#">О нас</a></li>
					<li><a href="#">Услуги</a></li>
					<li><a href="#">Цены</a></li>
					<li><a href="#">Наши клиенты</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>

			<a href="#" class="logo logo--footer">
				<img src="img/logo-footer.png" alt="">
				<span class="logo__title logo__title--footer">медико центр профилактики<br>и диспансеризации</span>
			</a>

			<div class="phone-block phone-block--footer">
				<a href="tel:84956649542" class="phone-block__link phone-block__link--footer">8 (495) 664-95-42<span>для юр.лиц</span></a>
				<a href="tel:84959928386" class="phone-block__link phone-block__link--footer">8 (495) 992-83-86</a>
			</div>

			<div class="mail-block mail-block--footer">
				<a href="mailto:med-a-list@mail.ru" class="mail-block__link mail-block__link--footer">med-a-list@mail.ru</a>
				<a href="#" class="mail-block__write mail-block__write--footer">Написать письмо</a>
			</div>

			<div class="footer__contact">
				<p><span>Адрес:</span> Московская область, г. Балашиха<br>квартал Изумрудный д.2</p>
			</div>
			<div class="copyright">&copy;2016 Медико-Центр</div>
			<div class="developer">Сайт разработан в <a href="#">Рекламотерапия</a></div>
		</div>
	</footer>

	<div class="hidden">
		<div id="order-form" class="order-form mfp-with-anim">
			<h2 class="section-title section-title--callback">Заказать обратный звонок</h2>
			<form action="#" class="callback-form">
				<input type="text" class="callback-form__in" placeholder="Ваш телефон">
				<button class="btn btn--form btn--pulse">Отправить</button>
			</form>
		</div>
	</div>

	<div class="loader">
		<div class="loader_inner"></div>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery/jquery-1.12.4.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>