	<header>
		<div class="menu-overlay"></div>
		<div class="container">
			<div class="header-top clearfix">
				<a href="#" class="logo">
					<img src="img/logo.png" alt="">
					<span class="logo__title">медико центр профилактики<br>и диспансеризации</span>
				</a>

				<div class="phone-block phone-block--header">
					<a href="tel:84959928386" class="phone-block__link phone-block__link--header">8 (495) 992-83-86</a>
					<a href="tel:84956649542" class="phone-block__link phone-block__link--header">8 (495) 664-95-42<span>для юр.лиц</span></a>
				</div>

				<div class="work-block">
					<span class="work-block__title">Режим работы:</span>
					<div class="work-list">
						<span class="work-list__day">пн-ср-пт</span>
						<span class="work-list__time">8:00-17:00</span>
					</div>
					<div class="work-list">
						<span class="work-list__day">вт-чт</span>
						<span class="work-list__time">8:00-19:00</span>
					</div>
					<div class="work-list">
						<span class="work-list__day">сб</span>
						<span class="work-list__time">10:00-13:30</span>
					</div>
				</div>

				<div class="mail-block mail-block--header">
					<a href="mailto:med-a-list@mail.ru" class="mail-block__link mail-block__link--header">med-a-list@mail.ru</a>
					<a href="#" class="mail-block__write mail-block__write--header">Написать письмо</a>
				</div>

				<div class="menu-btn">
					<b></b>
					<b></b>
					<b></b>
				</div>
			</div>

			<div class="nav-menu nav-menu--header">
				<ul class="nav-menu__list">
					<li><a href="#">О нас</a></li>
					<li><a href="#">Услуги</a></li>
					<li><a href="#">Цены</a></li>
					<li><a href="#">Наши клиенты</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
		</div>

		<div class="header-main">
			<div class="container">
				<div class="header-caption">
					<h1 class="header-caption__title">Профилактический<span>Медицинский осмотр</span></h1>
					<a href="#" class="btn btn--more btn--pulse">Подробнее<i></i></a>
				</div>
			</div>
		</div>
	</header>