	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer-logowrap">
						<a href="/" class="footer-logo"><img src="../../img/logo-footer.png" alt=""></a>
					</div>
					<div class="footer-nav">
						<ul class="footer-menu">
							<li><a href="#calc">Рассчитать<br>стоимость уборки</a></li>
							<li><a href="#price">Наши<br>расценки</a></li>
							<li><a href="#service">Что входит<br>в уборку</a></li>
							<li><a href="#work">Как мы<br>работаем</a></li>
							<li><a href="#gallery">Наши<br>работы</a></li>
							<li><a href="#contact">Контакты</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="copyright">© 2018 Клининговая компания "VLADIMIR MOSCOW CLEANING". Все права защищены.</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="hidden">
		<div id="order-form" class="callback-form mfp-with-anim">
			<div class="callback-form__title">Оставить заявку</div>
			<div class="success"><span>Ваша сообщение отправлено!</span></div>
			<form action="#" class="form-block form-1">
				<fieldset>
					<label for="text-4">
						<span class="placeholder">Имя<sup>*</sup></span>
						<input id="text-4" type="text" name="name" required>
					</label>
					<label for="phone-4">
						<span class="placeholder">Телефон<sup>*</sup></span>
						<input id="phone-4" class="phone-in" type="phone" name="phone" required>
					</label>
					<label for="mail-4">
						<span class="placeholder">E-mail<sup>*</sup></span>
						<input id="mail-4" type="mail" name="mail">
					</label>
				</fieldset>
				<button class="btn btn_size1 btn-form" type="submit">Заказать уборку</button>
			</form>
		</div>
		<div id="calc-form" class="callback-form mfp-with-anim">
			<div class="callback-form__title">Рассчитать</div>
			<div class="success"><span>Ваша сообщение отправлено!</span></div>
			<form action="#" class="form-block form-2">
				<fieldset>
					<label for="text-5">
						<span class="placeholder">Имя<sup>*</sup></span>
						<input id="text-5" type="text" name="name" required>
					</label>
					<label for="phone-5">
						<span class="placeholder">Телефон<sup>*</sup></span>
						<input id="phone-5" class="phone-in" type="phone" name="phone" required>
					</label>
					<label for="mail-5">
						<span class="placeholder">E-mail<sup>*</sup></span>
						<input id="mail-5" type="mail" name="mail">
					</label>
				</fieldset>
				<button class="btn btn_size1 btn-form" type="submit">Узнать цену</button>
			</form>
		</div>
		<div id="callback-form" class="callback-form mfp-with-anim">
			<div class="callback-form__title">Обратный звонок</div>
			<div class="success"><span>Ваша сообщение отправлено!</span></div>
			<form action="#" class="form-block form-4">
				<fieldset>
					<label for="text-3">
						<span class="placeholder">Имя<sup>*</sup></span>
						<input id="text-3" type="text" name="name" required>
					</label>
					<label for="phone-3">
						<span class="placeholder">Телефон<sup>*</sup></span>
						<input id="phone-3" class="phone-in" type="phone" name="phone" required>
					</label>
					<label for="mail-3">
						<span class="placeholder">E-mail<sup>*</sup></span>
						<input id="mail-3" type="mail" name="mail">
					</label>
				</fieldset>
				<button class="btn btn_size1 btn-form" type="submit">Заказать звонок</button>
			</form>
		</div>
	</div>

	<!-- <div class="loader">
		<div class="loader_inner"></div>
	</div> -->

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery-2.2.4/jquery-2.2.4.min.js"></script>
	<script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="libs/inputMask/jquery.inputmask.bundle.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>
