	<header class="header">
		<div class="container header-top">
			<div class="row">
				<div class="col-md-12">
					<div id="btn-mob" class="menu-mob">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<a href="/" class="header-logo"><img src="../../img/logo.png" alt=""></a>
					<a href="mailto:vmc@gmail.com" class="mail mail-header">vmc@gmail.com</a>
					<a href="tel:+74954894887" class="phone phone-header">+7 (495) 489-48-87</a>
				</div>
			</div>
		</div>
		<div class="header-nav">
			<div class="container">
				<ul class="header-menu">
					<li><a href="#calc">Рассчитать<br>стоимость уборки</a></li>
					<li><a href="#price">Наши<br>расценки</a></li>
					<li><a href="#service">Что входит<br>в уборку</a></li>
					<li><a href="#work">Как мы<br>работаем</a></li>
					<li><a href="#gallery">Наши<br>работы</a></li>
					<li><a href="#contact">Контакты</a></li>
				</ul>
			</div>
		</div>
	</header>