	<footer class="footer">
		<div class="container">

			<div class="row">
				<div class="col-md-12">

					<div class="logo-block logo-block_footer">
						<a href="/" class="logo">
							<img src="img/logo.png" alt="">
							<span class="logo-descr">
								<span class="logo__title">TechnoDream</span>
								<span class="logo__text">Electronic Engineering Store</span></span>
						</a>
					</div>

					<div class="menu-block">
						<ul class="menu-top menu-top_footer">
							<li><a href="#">Главная</a></li>
							<li><a href="#">О магазине</a></li>
							<li><a href="#">Доставка и оплата</a></li>
						</ul>
						<ul class="menu-top menu-top_right menu-top_footer">
							<li><a href="#">Гарантия</a></li>
							<li><a href="#">Контакты</a></li>
							<li><a href="#">Акция</a></li>
						</ul>
					</div>

					<div class="work-mail">
						<div class="work"><i></i>Пн-Вс с 10:00 до 21:00</div>
						<a href="mailto:technodream@mail.ru" class="mail"><i></i>technodream@mail.ru</a>
					</div>

					<div class="callback-block callback-block_footer">
						<a href="tel:84958466184" class="phone phone_header"><i></i>8 (495) 846-61-84</a>

						<a href="tel:84958466184" class="phone phone_header"><i></i>8 (495) 846-61-84</a>
					</div>

					<div class="market">
						<div class="market__title">Оцените наш магазин на</div>
						<a href="#" class="market-link"><img src="img/market.png" alt=""></a>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="copyright">&copy; 2017 TechnoDream Онлайн Магазин. Все права защищены</div>
				</div>
			</div>

		</div>
	</footer>

	<div class="hidden"></div>

	<!-- <div class="loader">
		<div class="loader_inner"></div>
	</div> -->

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery-2.2.4/jquery-2.2.4.min.js"></script>
	<script src="libs/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>
	<script src="libs/formstyler/jquery.formstyler.min.js"></script>

	<script src="js/common.js"></script>
