	<header class="header">

		<!-- Мобильное меню -->
		<div class="menu-mobile">

			<button class="menu-close">close</button>

			<div class="callback-block callback-block_mobile">

				<a href="tel:84958466184" class="phone">8 (495) 846-61-84</a>

				<a href="tel:84958466184" class="phone">8 (495) 846-61-84</a>

			</div>

			<ul class="nav-mobile">
				<li>
					<a href="#" class="drop-toggle">Техника для дома</a>

					<ul class="drop-menu">
						<li><a href="#">Пылесосы</a></li>
						<li><a href="#">Утюги</a></li>
						<li><a href="#">Утюги с парогенератором</a></li>
						<li><a href="#">Очистители воздуха</a></li>
					</ul>

				</li>
				<li>
					<a href="#" class="drop-toggle">Техника для кухни</a>

					<ul class="drop-menu">
						<li><a href="#">Соковыжималки</a></li>
						<li><a href="#">Кофемашины</a></li>
						<li><a href="#">Кофе для кофемашин</a></li>
						<li><a href="#">Мультиварки</a></li>
						<li><a href="#">Кухонные комбайны и измельчители</a></li>
						<li><a href="#">Электромясорубки</a></li>
						<li><a href="#">Электрогриль</a></li>
						<li><a href="#">Электрочайники</a></li>
					</ul>

				</li>
				<li>
					<a href="#" class="drop-toggle">Красота и Здоровье</a>

					<ul class="drop-menu" role="menu">
						<li><a href="#">Пылесосы</a></li>
						<li><a href="#">Утюги</a></li>
						<li><a href="#">Утюги с парогенератором</a></li>
						<li><a href="#">Очистители воздуха</a></li>
					</ul>

				</li>
				<li>
					<a href="#" class="drop-toggle">ТВ и Видео</a>

					<ul class="drop-menu">
						<li><a href="#">Пылесосы</a></li>
						<li><a href="#">Утюги</a></li>
						<li><a href="#">Утюги с парогенератором</a></li>
						<li><a href="#">Очистители воздуха</a></li>
					</ul>

				</li>
				<li>
					<a href="#" class="drop-toggle">Компьютерная техника</a>

					<ul class="drop-menu">
						<li><a href="#">Пылесосы</a></li>
						<li><a href="#">Утюги</a></li>
						<li><a href="#">Утюги с парогенератором</a></li>
						<li><a href="#">Очистители воздуха</a></li>
					</ul>

				</li>
				<li>
					<a href="#" class="drop-toggle">Игры и приставки</a>

					<ul class="drop-menu">
						<li><a href="#">Пылесосы</a></li>
						<li><a href="#">Утюги</a></li>
						<li><a href="#">Утюги с парогенератором</a></li>
						<li><a href="#">Очистители воздуха</a></li>
					</ul>

				</li>
			</ul>

			<ul class="menu-top menu-top_mobile">
				<li><a href="#">О магазине</a></li>
				<li><a href="#">Доставка и оплата</a></li>
				<li><a href="#">Гарантия</a></li>
				<li><a href="#">Контакты</a></li>
				<li><a href="#">Акция</a></li>
			</ul>
			<div class="personal-block personal-block_mobile">
				<a href="#" class="signin">Регистрация</a>
				<a href="#" class="login">Вход</a>
				<div class="login-form">
					<form action="#">
						<input type="text" placeholder="Логин">
						<input type="text" placeholder="Пароль">
						<a href="#" class="login-form__rem">Забыли пароль?</a>
						<button class="login-form__btn">Войти</button>
					</form>
				</div>
			</div>

		</div>
		<!-- конец ммоб. меню -->

		<!-- Фиксированное меню сбоку -->
		<div class="menu-fix">
			<a href="#" class="menu-fix__item menu-fix__item_favorite"><span>5</span></a>
			<a href="#" class="menu-fix__item menu-fix__item_compare"><span>8</span></a>
			<a href="#" class="menu-fix__item menu-fix__item_cart"><span>16</span></a>
			<a href="skype:username?call" class="menu-fix__phone">phone</a>
			<a href="skype:username?chat" class="menu-fix__chat">chat</a>
		</div>
		<!-- конец фикс. меню -->

		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="menu-btn">
							<span class="menu-btn__line menu-btn__line_top"></span>
							<span class="menu-btn__line menu-btn__line_center"></span>
							<span class="menu-btn__line menu-btn__line_bottom"></span>
						</div>

						<div class="search-block search-block_mob">
							<button class="search-link"><span>Поиск</span></button>
							<input type="text" class="search-in" placeholder="Поиск">
						</div>

						<div class="right-block">
							<a href="#" class="favorite-mob">fav</a>
							<a href="#" class="cart-mob">cart</a>
						</div>


						<ul class="menu-top menu-top_header">
							<li><a href="#">Главная</a></li>
							<li><a href="#">О магазине</a></li>
							<li><a href="#">Доставка и оплата</a></li>
							<li><a href="#">Гарантия</a></li>
							<li><a href="#">Контакты</a></li>
							<li><a href="#">Акция</a></li>
						</ul>
						<div class="work work-header">Пн-Вс с 10:00 до 21:00</div>
						<div class="personal-block">
							<a href="#" class="signin">Регистрация</a>
							<a href="#" class="login">Вход</a>
							<div class="login-form">
								<form action="#">
									<input type="text" placeholder="Логин">
									<input type="text" placeholder="Пароль">
									<a href="#" class="login-form__rem">Забыли пароль?</a>
									<button class="login-form__btn">Войти</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-main">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="logo-block logo-block_header">
							<a href="/" class="logo">
								<img src="img/logo.png" alt="">
								<span class="logo-descr">
									<span class="logo__title">TechnoDream</span>
									<span class="logo__text">Electronic Engineering Store</span></span>
							</a>
						</div>

						<div class="callback-block callback-block_header">

							<a href="tel:84958466184" class="phone phone_header">8 (495) 846-61-84</a>

							<a href="tel:84958466184" class="phone phone_header">8 (495) 846-61-84</a>

						</div>

						<div class="favorite-block">
							<a href="#" class="count-link count-link_favorite"><span>1</span>Список желаний</a>
						</div>

						<div class="compare-block">
							<a href="#" class="count-link count-link_compare"><span>3</span>Сравнить</a>
						</div>

						<div class="cart-block">
							<a href="#" class="count-link count-link_cart"><span>16</span>Корзина</a>
						</div>

					</div>
				</div>
			</div>
		</div>

		<nav class="navbar" role="navigation">
			<div class="container">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar icon-bar_top"></span>
					<span class="icon-bar icon-bar_center"></span>
					<span class="icon-bar icon-bar_bottom"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Техника для дома</a>

							<div class="dropdown-menu" role="menu">

								<ul class="nav-in">
									<li class="nav-in__title">Для дома</li>
									<li><a href="href#">Пылесосы</a></li>
									<li><a href="href#">Утюги</a></li>
									<li><a href="href#">Утюги с парогенератором</a></li>
									<li><a href="href#">Очистители воздуха</a></li>
								</ul>

								<div class="dropdown-menu-img">
									<img src="img/menu-pict-1.png" alt="">
								</div>

							</div>

						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Техника для кухни</a>

							<div class="dropdown-menu" role="menu">

								<ul class="nav-in">
									<li class="nav-in__title">Для Кухни</li>
									<li><a href="#">Соковыжималки</a></li>
									<li><a href="#">Кофемашины</a></li>
									<li><a href="#">Кофе для кофемашин</a></li>
									<li><a href="#">Мультиварки</a></li>
									<li><a href="#">Кухонные комбайны и измельчители</a></li>
									<li><a href="#">Электромясорубки</a></li>
									<li><a href="#">Электрогриль</a></li>
									<li><a href="#">Электрочайники</a></li>
								</ul>

								<div class="dropdown-menu-img">
									<img src="img/menu-pict-2.png" alt="">
								</div>

							</div>

						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Красота и Здоровье</a>

							<div class="dropdown-menu" role="menu">

								<ul class="nav-in">
									<li class="nav-in__title">Красота и Здоровье</li>
									<li><a href="href#">Пылесосы</a></li>
									<li><a href="href#">Утюги</a></li>
									<li><a href="href#">Утюги с парогенератором</a></li>
									<li><a href="href#">Очистители воздуха</a></li>
								</ul>

								<div class="dropdown-menu-img">
									<img src="img/menu-pict-2.png" alt="">
								</div>

							</div>

						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">ТВ и Видео</a>

							<div class="dropdown-menu" role="menu">

								<ul class="nav-in">
									<li class="nav-in__title">ТВ и Видео</li>
									<li><a href="href#">Пылесосы</a></li>
									<li><a href="href#">Утюги</a></li>
									<li><a href="href#">Утюги с парогенератором</a></li>
									<li><a href="href#">Очистители воздуха</a></li>
								</ul>

								<div class="dropdown-menu-img">
									<img src="img/menu-pict-2.png" alt="">
								</div>

							</div>

						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Компьютерная техника</a>

							<div class="dropdown-menu" role="menu">

								<ul class="nav-in">
									<li class="nav-in__title">Компьютерная техника</li>
									<li><a href="href#">Пылесосы</a></li>
									<li><a href="href#">Утюги</a></li>
									<li><a href="href#">Утюги с парогенератором</a></li>
									<li><a href="href#">Очистители воздуха</a></li>
								</ul>

								<div class="dropdown-menu-img">
									<img src="img/menu-pict-2.png" alt="">
								</div>

							</div>

						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Игры и приставки</a>

							<div class="dropdown-menu" role="menu">

								<ul class="nav-in">
									<li class="nav-in__title">Игры и приставки</li>
									<li><a href="href#">Пылесосы</a></li>
									<li><a href="href#">Утюги</a></li>
									<li><a href="href#">Утюги с парогенератором</a></li>
									<li><a href="href#">Очистители воздуха</a></li>
								</ul>

								<div class="dropdown-menu-img">
									<img src="img/menu-pict-2.png" alt="">
								</div>

							</div>

						</li>
					</ul>

					<div class="search-block">
						<button class="search-link"><span>Поиск</span></button>
						<input type="text" class="search-in" placeholder="Поиск">
					</div>

				</div>
			</div>
		</nav>

	</header>