@import "vars"

/*-------------Pro page----------------*/
.content--full
	float: none
	width: 100%
	padding-bottom: 20px

.breadcrumb--inner
	margin-left: 323px

.pro-block
	margin: 46px 0 0 14px

.pro-item--inner
	display: inline-block
	margin: 0 21px 54px
/*------------------end-----------------------*/