@import "vars"

/*-------------Service page----------------*/
.content--full
	&.content--service
		padding-bottom: 0

.section-title--service
	span
		display: block
		margin-top: 10px
		font-size: 19px
		font-weight: normal
		color: #333
		text-transform: none

.service-block--inner
	padding: 0

.service-item--inner
	width: 350px
	margin-bottom: 103px

.service-list
	margin: 27px 0 33px 40px
	font-size: 16px
	text-align: left
	list-style-type: disc
	li
		margin-bottom: 6px

.btn--service
	width: 266px
	height: 47px
	margin: 0 auto 20px
	font-size: 19px
	color: #fff
	line-height: 40px
	background-color: #d4d742
	border-radius: 24px
	&:hover
		color: #323300

.btn--doc
	width: 266px
	height: 47px
	margin: 0 auto
	font-size: 19px
	color: #fff
	line-height: 40px
	background-color: #00c6d3
	border-radius: 24px
	&:hover
		color: #323300
		border-color: #00c6d3
/*-----------------end---------------------*/