@import "vars"

/*-------------Service-2 page----------------*/
.btn--price
	width: 327px
	height: 47px
	margin: 52px 0 38px
	font-size: 19px
	color: #fff
	line-height: 40px
	border-radius: 24px
	&:hover
		color: #323300
/*------------------end-----------------------*/