// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-left-fb-name: 'arrow-left-fb'
$arrow-left-fb-x: 320px
$arrow-left-fb-y: 194px
$arrow-left-fb-offset-x: -320px
$arrow-left-fb-offset-y: -194px
$arrow-left-fb-width: 17px
$arrow-left-fb-height: 66px
$arrow-left-fb-total-width: 417px
$arrow-left-fb-total-height: 325px
$arrow-left-fb-image: '../img/sprite.png'
$arrow-left-fb: (320px, 194px, -320px, -194px, 17px, 66px, 417px, 325px, '../img/sprite.png', 'arrow-left-fb', )
$arrow-left-lic-name: 'arrow-left-lic'
$arrow-left-lic-x: 379px
$arrow-left-lic-y: 62px
$arrow-left-lic-offset-x: -379px
$arrow-left-lic-offset-y: -62px
$arrow-left-lic-width: 22px
$arrow-left-lic-height: 84px
$arrow-left-lic-total-width: 417px
$arrow-left-lic-total-height: 325px
$arrow-left-lic-image: '../img/sprite.png'
$arrow-left-lic: (379px, 62px, -379px, -62px, 22px, 84px, 417px, 325px, '../img/sprite.png', 'arrow-left-lic', )
$arrow-left-name: 'arrow-left'
$arrow-left-x: 357px
$arrow-left-y: 146px
$arrow-left-offset-x: -357px
$arrow-left-offset-y: -146px
$arrow-left-width: 22px
$arrow-left-height: 84px
$arrow-left-total-width: 417px
$arrow-left-total-height: 325px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (357px, 146px, -357px, -146px, 22px, 84px, 417px, 325px, '../img/sprite.png', 'arrow-left', )
$arrow-right-fb-name: 'arrow-right-fb'
$arrow-right-fb-x: 303px
$arrow-right-fb-y: 194px
$arrow-right-fb-offset-x: -303px
$arrow-right-fb-offset-y: -194px
$arrow-right-fb-width: 17px
$arrow-right-fb-height: 66px
$arrow-right-fb-total-width: 417px
$arrow-right-fb-total-height: 325px
$arrow-right-fb-image: '../img/sprite.png'
$arrow-right-fb: (303px, 194px, -303px, -194px, 17px, 66px, 417px, 325px, '../img/sprite.png', 'arrow-right-fb', )
$arrow-right-lic-name: 'arrow-right-lic'
$arrow-right-lic-x: 357px
$arrow-right-lic-y: 62px
$arrow-right-lic-offset-x: -357px
$arrow-right-lic-offset-y: -62px
$arrow-right-lic-width: 22px
$arrow-right-lic-height: 84px
$arrow-right-lic-total-width: 417px
$arrow-right-lic-total-height: 325px
$arrow-right-lic-image: '../img/sprite.png'
$arrow-right-lic: (357px, 62px, -357px, -62px, 22px, 84px, 417px, 325px, '../img/sprite.png', 'arrow-right-lic', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 379px
$arrow-right-y: 146px
$arrow-right-offset-x: -379px
$arrow-right-offset-y: -146px
$arrow-right-width: 22px
$arrow-right-height: 84px
$arrow-right-total-width: 417px
$arrow-right-total-height: 325px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (379px, 146px, -379px, -146px, 22px, 84px, 417px, 325px, '../img/sprite.png', 'arrow-right', )
$bread-arrow-name: 'bread-arrow'
$bread-arrow-x: 401px
$bread-arrow-y: 76px
$bread-arrow-offset-x: -401px
$bread-arrow-offset-y: -76px
$bread-arrow-width: 4px
$bread-arrow-height: 12px
$bread-arrow-total-width: 417px
$bread-arrow-total-height: 325px
$bread-arrow-image: '../img/sprite.png'
$bread-arrow: (401px, 76px, -401px, -76px, 4px, 12px, 417px, 325px, '../img/sprite.png', 'bread-arrow', )
$calendare-foot-name: 'calendare-foot'
$calendare-foot-x: 0px
$calendare-foot-y: 299px
$calendare-foot-offset-x: 0px
$calendare-foot-offset-y: -299px
$calendare-foot-width: 28px
$calendare-foot-height: 26px
$calendare-foot-total-width: 417px
$calendare-foot-total-height: 325px
$calendare-foot-image: '../img/sprite.png'
$calendare-foot: (0px, 299px, 0px, -299px, 28px, 26px, 417px, 325px, '../img/sprite.png', 'calendare-foot', )
$calendare-name: 'calendare'
$calendare-x: 255px
$calendare-y: 163px
$calendare-offset-x: -255px
$calendare-offset-y: -163px
$calendare-width: 28px
$calendare-height: 26px
$calendare-total-width: 417px
$calendare-total-height: 325px
$calendare-image: '../img/sprite.png'
$calendare: (255px, 163px, -255px, -163px, 28px, 26px, 417px, 325px, '../img/sprite.png', 'calendare', )
$close-name: 'close'
$close-x: 401px
$close-y: 62px
$close-offset-x: -401px
$close-offset-y: -62px
$close-width: 14px
$close-height: 14px
$close-total-width: 417px
$close-total-height: 325px
$close-image: '../img/sprite.png'
$close: (401px, 62px, -401px, -62px, 14px, 14px, 417px, 325px, '../img/sprite.png', 'close', )
$email-name: 'email'
$email-x: 160px
$email-y: 197px
$email-offset-x: -160px
$email-offset-y: -197px
$email-width: 29px
$email-height: 22px
$email-total-width: 417px
$email-total-height: 325px
$email-image: '../img/sprite.png'
$email: (160px, 197px, -160px, -197px, 29px, 22px, 417px, 325px, '../img/sprite.png', 'email', )
$icon-1-name: 'icon-1'
$icon-1-x: 160px
$icon-1-y: 163px
$icon-1-offset-x: -160px
$icon-1-offset-y: -163px
$icon-1-width: 27px
$icon-1-height: 34px
$icon-1-total-width: 417px
$icon-1-total-height: 325px
$icon-1-image: '../img/sprite.png'
$icon-1: (160px, 163px, -160px, -163px, 27px, 34px, 417px, 325px, '../img/sprite.png', 'icon-1', )
$icon-2-name: 'icon-2'
$icon-2-x: 303px
$icon-2-y: 260px
$icon-2-offset-x: -303px
$icon-2-offset-y: -260px
$icon-2-width: 27px
$icon-2-height: 34px
$icon-2-total-width: 417px
$icon-2-total-height: 325px
$icon-2-image: '../img/sprite.png'
$icon-2: (303px, 260px, -303px, -260px, 27px, 34px, 417px, 325px, '../img/sprite.png', 'icon-2', )
$icon-3-name: 'icon-3'
$icon-3-x: 357px
$icon-3-y: 230px
$icon-3-offset-x: -357px
$icon-3-offset-y: -230px
$icon-3-width: 35px
$icon-3-height: 34px
$icon-3-total-width: 417px
$icon-3-total-height: 325px
$icon-3-image: '../img/sprite.png'
$icon-3: (357px, 230px, -357px, -230px, 35px, 34px, 417px, 325px, '../img/sprite.png', 'icon-3', )
$icon-4-name: 'icon-4'
$icon-4-x: 303px
$icon-4-y: 158px
$icon-4-offset-x: -303px
$icon-4-offset-y: -158px
$icon-4-width: 33px
$icon-4-height: 36px
$icon-4-total-width: 417px
$icon-4-total-height: 325px
$icon-4-image: '../img/sprite.png'
$icon-4: (303px, 158px, -303px, -158px, 33px, 36px, 417px, 325px, '../img/sprite.png', 'icon-4', )
$icon-5-name: 'icon-5'
$icon-5-x: 357px
$icon-5-y: 264px
$icon-5-offset-x: -357px
$icon-5-offset-y: -264px
$icon-5-width: 34px
$icon-5-height: 34px
$icon-5-total-width: 417px
$icon-5-total-height: 325px
$icon-5-image: '../img/sprite.png'
$icon-5: (357px, 264px, -357px, -264px, 34px, 34px, 417px, 325px, '../img/sprite.png', 'icon-5', )
$icon-6-name: 'icon-6'
$icon-6-x: 392px
$icon-6-y: 230px
$icon-6-offset-x: -392px
$icon-6-offset-y: -230px
$icon-6-width: 25px
$icon-6-height: 34px
$icon-6-total-width: 417px
$icon-6-total-height: 325px
$icon-6-image: '../img/sprite.png'
$icon-6: (392px, 230px, -392px, -230px, 25px, 34px, 417px, 325px, '../img/sprite.png', 'icon-6', )
$icon-7-name: 'icon-7'
$icon-7-x: 330px
$icon-7-y: 260px
$icon-7-offset-x: -330px
$icon-7-offset-y: -260px
$icon-7-width: 27px
$icon-7-height: 34px
$icon-7-total-width: 417px
$icon-7-total-height: 325px
$icon-7-image: '../img/sprite.png'
$icon-7: (330px, 260px, -330px, -260px, 27px, 34px, 417px, 325px, '../img/sprite.png', 'icon-7', )
$map-foot-name: 'map-foot'
$map-foot-x: 221px
$map-foot-y: 163px
$map-foot-offset-x: -221px
$map-foot-offset-y: -163px
$map-foot-width: 34px
$map-foot-height: 26px
$map-foot-total-width: 417px
$map-foot-total-height: 325px
$map-foot-image: '../img/sprite.png'
$map-foot: (221px, 163px, -221px, -163px, 34px, 26px, 417px, 325px, '../img/sprite.png', 'map-foot', )
$map-name: 'map'
$map-x: 187px
$map-y: 163px
$map-offset-x: -187px
$map-offset-y: -163px
$map-width: 34px
$map-height: 26px
$map-total-width: 417px
$map-total-height: 325px
$map-image: '../img/sprite.png'
$map: (187px, 163px, -187px, -163px, 34px, 26px, 417px, 325px, '../img/sprite.png', 'map', )
$pag-left-name: 'pag-left'
$pag-left-x: 337px
$pag-left-y: 194px
$pag-left-offset-x: -337px
$pag-left-offset-y: -194px
$pag-left-width: 17px
$pag-left-height: 47px
$pag-left-total-width: 417px
$pag-left-total-height: 325px
$pag-left-image: '../img/sprite.png'
$pag-left: (337px, 194px, -337px, -194px, 17px, 47px, 417px, 325px, '../img/sprite.png', 'pag-left', )
$pag-right-name: 'pag-right'
$pag-right-x: 132px
$pag-right-y: 80px
$pag-right-offset-x: -132px
$pag-right-offset-y: -80px
$pag-right-width: 17px
$pag-right-height: 47px
$pag-right-total-width: 417px
$pag-right-total-height: 325px
$pag-right-image: '../img/sprite.png'
$pag-right: (132px, 80px, -132px, -80px, 17px, 47px, 417px, 325px, '../img/sprite.png', 'pag-right', )
$phone-foot-name: 'phone-foot'
$phone-foot-x: 391px
$phone-foot-y: 264px
$phone-foot-offset-x: -391px
$phone-foot-offset-y: -264px
$phone-foot-width: 26px
$phone-foot-height: 26px
$phone-foot-total-width: 417px
$phone-foot-total-height: 325px
$phone-foot-image: '../img/sprite.png'
$phone-foot: (391px, 264px, -391px, -264px, 26px, 26px, 417px, 325px, '../img/sprite.png', 'phone-foot', )
$phone-name: 'phone'
$phone-x: 132px
$phone-y: 127px
$phone-offset-x: -132px
$phone-offset-y: -127px
$phone-width: 26px
$phone-height: 26px
$phone-total-width: 417px
$phone-total-height: 325px
$phone-image: '../img/sprite.png'
$phone: (132px, 127px, -132px, -127px, 26px, 26px, 417px, 325px, '../img/sprite.png', 'phone', )
$service-1-name: 'service-1'
$service-1-x: 231px
$service-1-y: 71px
$service-1-offset-x: -231px
$service-1-offset-y: -71px
$service-1-width: 72px
$service-1-height: 71px
$service-1-total-width: 417px
$service-1-total-height: 325px
$service-1-image: '../img/sprite.png'
$service-1: (231px, 71px, -231px, -71px, 72px, 71px, 417px, 325px, '../img/sprite.png', 'service-1', )
$service-1h-name: 'service-1h'
$service-1h-x: 231px
$service-1h-y: 0px
$service-1h-offset-x: -231px
$service-1h-offset-y: 0px
$service-1h-width: 72px
$service-1h-height: 71px
$service-1h-total-width: 417px
$service-1h-total-height: 325px
$service-1h-image: '../img/sprite.png'
$service-1h: (231px, 0px, -231px, 0px, 72px, 71px, 417px, 325px, '../img/sprite.png', 'service-1h', )
$service-2-name: 'service-2'
$service-2-x: 158px
$service-2-y: 0px
$service-2-offset-x: -158px
$service-2-offset-y: 0px
$service-2-width: 73px
$service-2-height: 74px
$service-2-total-width: 417px
$service-2-total-height: 325px
$service-2-image: '../img/sprite.png'
$service-2: (158px, 0px, -158px, 0px, 73px, 74px, 417px, 325px, '../img/sprite.png', 'service-2', )
$service-2h-name: 'service-2h'
$service-2h-x: 158px
$service-2h-y: 74px
$service-2h-offset-x: -158px
$service-2h-offset-y: -74px
$service-2h-width: 73px
$service-2h-height: 74px
$service-2h-total-width: 417px
$service-2h-total-height: 325px
$service-2h-image: '../img/sprite.png'
$service-2h: (158px, 74px, -158px, -74px, 73px, 74px, 417px, 325px, '../img/sprite.png', 'service-2h', )
$service-3-name: 'service-3'
$service-3-x: 172px
$service-3-y: 222px
$service-3-offset-x: -172px
$service-3-offset-y: -222px
$service-3-width: 56px
$service-3-height: 70px
$service-3-total-width: 417px
$service-3-total-height: 325px
$service-3-image: '../img/sprite.png'
$service-3: (172px, 222px, -172px, -222px, 56px, 70px, 417px, 325px, '../img/sprite.png', 'service-3', )
$service-3h-name: 'service-3h'
$service-3h-x: 116px
$service-3h-y: 222px
$service-3h-offset-x: -116px
$service-3h-offset-y: -222px
$service-3h-width: 56px
$service-3h-height: 70px
$service-3h-total-width: 417px
$service-3h-total-height: 325px
$service-3h-image: '../img/sprite.png'
$service-3h: (116px, 222px, -116px, -222px, 56px, 70px, 417px, 325px, '../img/sprite.png', 'service-3h', )
$service-4-name: 'service-4'
$service-4-x: 357px
$service-4-y: 0px
$service-4-offset-x: -357px
$service-4-offset-y: 0px
$service-4-width: 60px
$service-4-height: 62px
$service-4-total-width: 417px
$service-4-total-height: 325px
$service-4-image: '../img/sprite.png'
$service-4: (357px, 0px, -357px, 0px, 60px, 62px, 417px, 325px, '../img/sprite.png', 'service-4', )
$service-4h-name: 'service-4h'
$service-4h-x: 228px
$service-4h-y: 222px
$service-4h-offset-x: -228px
$service-4h-offset-y: -222px
$service-4h-width: 60px
$service-4h-height: 62px
$service-4h-total-width: 417px
$service-4h-total-height: 325px
$service-4h-image: '../img/sprite.png'
$service-4h: (228px, 222px, -228px, -222px, 60px, 62px, 417px, 325px, '../img/sprite.png', 'service-4h', )
$service-5-name: 'service-5'
$service-5-x: 303px
$service-5-y: 79px
$service-5-offset-x: -303px
$service-5-offset-y: -79px
$service-5-width: 54px
$service-5-height: 79px
$service-5-total-width: 417px
$service-5-total-height: 325px
$service-5-image: '../img/sprite.png'
$service-5: (303px, 79px, -303px, -79px, 54px, 79px, 417px, 325px, '../img/sprite.png', 'service-5', )
$service-5h-name: 'service-5h'
$service-5h-x: 303px
$service-5h-y: 0px
$service-5h-offset-x: -303px
$service-5h-offset-y: 0px
$service-5h-width: 54px
$service-5h-height: 79px
$service-5h-total-width: 417px
$service-5h-total-height: 325px
$service-5h-image: '../img/sprite.png'
$service-5h: (303px, 0px, -303px, 0px, 54px, 79px, 417px, 325px, '../img/sprite.png', 'service-5h', )
$service-6-name: 'service-6'
$service-6-x: 79px
$service-6-y: 0px
$service-6-offset-x: -79px
$service-6-offset-y: 0px
$service-6-width: 79px
$service-6-height: 80px
$service-6-total-width: 417px
$service-6-total-height: 325px
$service-6-image: '../img/sprite.png'
$service-6: (79px, 0px, -79px, 0px, 79px, 80px, 417px, 325px, '../img/sprite.png', 'service-6', )
$service-6h-name: 'service-6h'
$service-6h-x: 0px
$service-6h-y: 0px
$service-6h-offset-x: 0px
$service-6h-offset-y: 0px
$service-6h-width: 79px
$service-6h-height: 80px
$service-6h-total-width: 417px
$service-6h-total-height: 325px
$service-6h-image: '../img/sprite.png'
$service-6h: (0px, 0px, 0px, 0px, 79px, 80px, 417px, 325px, '../img/sprite.png', 'service-6h', )
$service-7-name: 'service-7'
$service-7-x: 80px
$service-7-y: 163px
$service-7-offset-x: -80px
$service-7-offset-y: -163px
$service-7-width: 80px
$service-7-height: 59px
$service-7-total-width: 417px
$service-7-total-height: 325px
$service-7-image: '../img/sprite.png'
$service-7: (80px, 163px, -80px, -163px, 80px, 59px, 417px, 325px, '../img/sprite.png', 'service-7', )
$service-7h-name: 'service-7h'
$service-7h-x: 0px
$service-7h-y: 163px
$service-7h-offset-x: 0px
$service-7h-offset-y: -163px
$service-7h-width: 80px
$service-7h-height: 59px
$service-7h-total-width: 417px
$service-7h-total-height: 325px
$service-7h-image: '../img/sprite.png'
$service-7h: (0px, 163px, 0px, -163px, 80px, 59px, 417px, 325px, '../img/sprite.png', 'service-7h', )
$service-8-name: 'service-8'
$service-8-x: 66px
$service-8-y: 80px
$service-8-offset-x: -66px
$service-8-offset-y: -80px
$service-8-width: 66px
$service-8-height: 83px
$service-8-total-width: 417px
$service-8-total-height: 325px
$service-8-image: '../img/sprite.png'
$service-8: (66px, 80px, -66px, -80px, 66px, 83px, 417px, 325px, '../img/sprite.png', 'service-8', )
$service-8h-name: 'service-8h'
$service-8h-x: 0px
$service-8h-y: 80px
$service-8h-offset-x: 0px
$service-8h-offset-y: -80px
$service-8h-width: 66px
$service-8h-height: 83px
$service-8h-total-width: 417px
$service-8h-total-height: 325px
$service-8h-image: '../img/sprite.png'
$service-8h: (0px, 80px, 0px, -80px, 66px, 83px, 417px, 325px, '../img/sprite.png', 'service-8h', )
$service-9-name: 'service-9'
$service-9-x: 0px
$service-9-y: 222px
$service-9-offset-x: 0px
$service-9-offset-y: -222px
$service-9-width: 58px
$service-9-height: 77px
$service-9-total-width: 417px
$service-9-total-height: 325px
$service-9-image: '../img/sprite.png'
$service-9: (0px, 222px, 0px, -222px, 58px, 77px, 417px, 325px, '../img/sprite.png', 'service-9', )
$service-9h-name: 'service-9h'
$service-9h-x: 58px
$service-9h-y: 222px
$service-9h-offset-x: -58px
$service-9h-offset-y: -222px
$service-9h-width: 58px
$service-9h-height: 77px
$service-9h-total-width: 417px
$service-9h-total-height: 325px
$service-9h-image: '../img/sprite.png'
$service-9h: (58px, 222px, -58px, -222px, 58px, 77px, 417px, 325px, '../img/sprite.png', 'service-9h', )
$spritesheet-width: 417px
$spritesheet-height: 325px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-left-fb, $arrow-left-lic, $arrow-left, $arrow-right-fb, $arrow-right-lic, $arrow-right, $bread-arrow, $calendare-foot, $calendare, $close, $email, $icon-1, $icon-2, $icon-3, $icon-4, $icon-5, $icon-6, $icon-7, $map-foot, $map, $pag-left, $pag-right, $phone-foot, $phone, $service-1, $service-1h, $service-2, $service-2h, $service-3, $service-3h, $service-4, $service-4h, $service-5, $service-5h, $service-6, $service-6h, $service-7, $service-7h, $service-8, $service-8h, $service-9, $service-9h, )
$spritesheet: (417px, 325px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
