@import "vars"

/*--------------About page-------------*/
.header__about
	height: 725px
	background: url(../img/about-bg.jpg) center top no-repeat
	background-size: cover

.main__title
	&.main__title-about
		padding-top: 134px

.about
	position: relative
	margin-top: -255px
	padding-bottom: 17px
	z-index: 5

.about__content
	float: left
	width: 730px
	padding: 48px 25px 20px 40px
	font-size: 14px
	line-height: 24px
	background: #fff
	img
		width: 330px
	p
		margin: 0 0 38px
		overflow: hidden

.about__sidebar
	float: left
	width: 380px
	padding-top: 74px

.team__title
	display: block
	margin: 0 0 18px 20px
	font-size: 38px
	font-weight: 700
	color: #fff

.team__item
	float: left
	width: 50%
	margin-bottom: 40px
	padding-left: 27px
	text-align: center
	img
		display: inline-block
		width: 160px
		height: 160px
		overflow: hidden
		border-radius: 50%
	.team__name
		display: block
		margin-top: 18px
		font-size: 16px
/*-----------------end-----------------*/