@import "vars"

/*--------------Contact page-------------*/
.main__title
	&.main__title-inner
		h2
			display: block
			margin: 0
			font-size: 48px
			font-weight: 700
			color: #fff
	&.main__title-contact
		margin-bottom: 138px
		padding-top: 25px

.contact__item
	position: relative
	float: left
	width: 33.33%
	font-size: 16px
	line-height: 24px
	color: #fff
	text-align: center
	z-index: 3
	span
		display: block
		font-size: 24px
		font-weight: 700
		color: #fff

.link__contact
	display: block
	width: 122px
	height: 122px
	margin: 0 auto 10px
	line-height: 165px
	text-align: center
	border-radius: 50%
	background: $g-color
/*------------------end------------------*/