/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$arrow-left-name: 'arrow-left'
$arrow-left-x: 227px
$arrow-left-y: 50px
$arrow-left-offset-x: -227px
$arrow-left-offset-y: -50px
$arrow-left-width: 7px
$arrow-left-height: 12px
$arrow-left-total-width: 234px
$arrow-left-total-height: 185px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (227px, 50px, -227px, -50px, 7px, 12px, 234px, 185px, '../img/sprite.png', 'arrow-left', )
$arrow-next-green-name: 'arrow-next-green'
$arrow-next-green-x: 0px
$arrow-next-green-y: 162px
$arrow-next-green-offset-x: 0px
$arrow-next-green-offset-y: -162px
$arrow-next-green-width: 23px
$arrow-next-green-height: 23px
$arrow-next-green-total-width: 234px
$arrow-next-green-total-height: 185px
$arrow-next-green-image: '../img/sprite.png'
$arrow-next-green: (0px, 162px, 0px, -162px, 23px, 23px, 234px, 185px, '../img/sprite.png', 'arrow-next-green', )
$arrow-next-name: 'arrow-next'
$arrow-next-x: 23px
$arrow-next-y: 162px
$arrow-next-offset-x: -23px
$arrow-next-offset-y: -162px
$arrow-next-width: 23px
$arrow-next-height: 23px
$arrow-next-total-width: 234px
$arrow-next-total-height: 185px
$arrow-next-image: '../img/sprite.png'
$arrow-next: (23px, 162px, -23px, -162px, 23px, 23px, 234px, 185px, '../img/sprite.png', 'arrow-next', )
$arrow-prev-green-name: 'arrow-prev-green'
$arrow-prev-green-x: 163px
$arrow-prev-green-y: 137px
$arrow-prev-green-offset-x: -163px
$arrow-prev-green-offset-y: -137px
$arrow-prev-green-width: 23px
$arrow-prev-green-height: 23px
$arrow-prev-green-total-width: 234px
$arrow-prev-green-total-height: 185px
$arrow-prev-green-image: '../img/sprite.png'
$arrow-prev-green: (163px, 137px, -163px, -137px, 23px, 23px, 234px, 185px, '../img/sprite.png', 'arrow-prev-green', )
$arrow-prev-name: 'arrow-prev'
$arrow-prev-x: 138px
$arrow-prev-y: 114px
$arrow-prev-offset-x: -138px
$arrow-prev-offset-y: -114px
$arrow-prev-width: 23px
$arrow-prev-height: 23px
$arrow-prev-total-width: 234px
$arrow-prev-total-height: 185px
$arrow-prev-image: '../img/sprite.png'
$arrow-prev: (138px, 114px, -138px, -114px, 23px, 23px, 234px, 185px, '../img/sprite.png', 'arrow-prev', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 227px
$arrow-right-y: 38px
$arrow-right-offset-x: -227px
$arrow-right-offset-y: -38px
$arrow-right-width: 7px
$arrow-right-height: 12px
$arrow-right-total-width: 234px
$arrow-right-total-height: 185px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (227px, 38px, -227px, -38px, 7px, 12px, 234px, 185px, '../img/sprite.png', 'arrow-right', )
$fb-logo-name: 'fb-logo'
$fb-logo-x: 186px
$fb-logo-y: 137px
$fb-logo-offset-x: -186px
$fb-logo-offset-y: -137px
$fb-logo-width: 9px
$fb-logo-height: 16px
$fb-logo-total-width: 234px
$fb-logo-total-height: 185px
$fb-logo-image: '../img/sprite.png'
$fb-logo: (186px, 137px, -186px, -137px, 9px, 16px, 234px, 185px, '../img/sprite.png', 'fb-logo', )
$google-plus-name: 'google-plus'
$google-plus-x: 86px
$google-plus-y: 145px
$google-plus-offset-x: -86px
$google-plus-offset-y: -145px
$google-plus-width: 22px
$google-plus-height: 14px
$google-plus-total-width: 234px
$google-plus-total-height: 185px
$google-plus-image: '../img/sprite.png'
$google-plus: (86px, 145px, -86px, -145px, 22px, 14px, 234px, 185px, '../img/sprite.png', 'google-plus', )
$menu-icon-1-name: 'menu-icon-1'
$menu-icon-1-x: 56px
$menu-icon-1-y: 0px
$menu-icon-1-offset-x: -56px
$menu-icon-1-offset-y: 0px
$menu-icon-1-width: 55px
$menu-icon-1-height: 55px
$menu-icon-1-total-width: 234px
$menu-icon-1-total-height: 185px
$menu-icon-1-image: '../img/sprite.png'
$menu-icon-1: (56px, 0px, -56px, 0px, 55px, 55px, 234px, 185px, '../img/sprite.png', 'menu-icon-1', )
$menu-icon-2-name: 'menu-icon-2'
$menu-icon-2-x: 111px
$menu-icon-2-y: 0px
$menu-icon-2-offset-x: -111px
$menu-icon-2-offset-y: 0px
$menu-icon-2-width: 52px
$menu-icon-2-height: 51px
$menu-icon-2-total-width: 234px
$menu-icon-2-total-height: 185px
$menu-icon-2-image: '../img/sprite.png'
$menu-icon-2: (111px, 0px, -111px, 0px, 52px, 51px, 234px, 185px, '../img/sprite.png', 'menu-icon-2', )
$menu-icon-3-name: 'menu-icon-3'
$menu-icon-3-x: 0px
$menu-icon-3-y: 114px
$menu-icon-3-offset-x: 0px
$menu-icon-3-offset-y: -114px
$menu-icon-3-width: 55px
$menu-icon-3-height: 48px
$menu-icon-3-total-width: 234px
$menu-icon-3-total-height: 185px
$menu-icon-3-image: '../img/sprite.png'
$menu-icon-3: (0px, 114px, 0px, -114px, 55px, 48px, 234px, 185px, '../img/sprite.png', 'menu-icon-3', )
$menu-icon-4-name: 'menu-icon-4'
$menu-icon-4-x: 0px
$menu-icon-4-y: 56px
$menu-icon-4-offset-x: 0px
$menu-icon-4-offset-y: -56px
$menu-icon-4-width: 51px
$menu-icon-4-height: 58px
$menu-icon-4-total-width: 234px
$menu-icon-4-total-height: 185px
$menu-icon-4-image: '../img/sprite.png'
$menu-icon-4: (0px, 56px, 0px, -56px, 51px, 58px, 234px, 185px, '../img/sprite.png', 'menu-icon-4', )
$menu-icon-5-name: 'menu-icon-5'
$menu-icon-5-x: 0px
$menu-icon-5-y: 0px
$menu-icon-5-offset-x: 0px
$menu-icon-5-offset-y: 0px
$menu-icon-5-width: 56px
$menu-icon-5-height: 56px
$menu-icon-5-total-width: 234px
$menu-icon-5-total-height: 185px
$menu-icon-5-image: '../img/sprite.png'
$menu-icon-5: (0px, 0px, 0px, 0px, 56px, 56px, 234px, 185px, '../img/sprite.png', 'menu-icon-5', )
$menu-icon-6-name: 'menu-icon-6'
$menu-icon-6-x: 163px
$menu-icon-6-y: 0px
$menu-icon-6-offset-x: -163px
$menu-icon-6-offset-y: 0px
$menu-icon-6-width: 33px
$menu-icon-6-height: 53px
$menu-icon-6-total-width: 234px
$menu-icon-6-total-height: 185px
$menu-icon-6-image: '../img/sprite.png'
$menu-icon-6: (163px, 0px, -163px, 0px, 33px, 53px, 234px, 185px, '../img/sprite.png', 'menu-icon-6', )
$menu-icon-7-name: 'menu-icon-7'
$menu-icon-7-x: 55px
$menu-icon-7-y: 114px
$menu-icon-7-offset-x: -55px
$menu-icon-7-offset-y: -114px
$menu-icon-7-width: 64px
$menu-icon-7-height: 31px
$menu-icon-7-total-width: 234px
$menu-icon-7-total-height: 185px
$menu-icon-7-image: '../img/sprite.png'
$menu-icon-7: (55px, 114px, -55px, -114px, 64px, 31px, 234px, 185px, '../img/sprite.png', 'menu-icon-7', )
$menu-icon-8-name: 'menu-icon-8'
$menu-icon-8-x: 111px
$menu-icon-8-y: 51px
$menu-icon-8-offset-x: -111px
$menu-icon-8-offset-y: -51px
$menu-icon-8-width: 50px
$menu-icon-8-height: 50px
$menu-icon-8-total-width: 234px
$menu-icon-8-total-height: 185px
$menu-icon-8-image: '../img/sprite.png'
$menu-icon-8: (111px, 51px, -111px, -51px, 50px, 50px, 234px, 185px, '../img/sprite.png', 'menu-icon-8', )
$menu-icon-9-name: 'menu-icon-9'
$menu-icon-9-x: 51px
$menu-icon-9-y: 56px
$menu-icon-9-offset-x: -51px
$menu-icon-9-offset-y: -56px
$menu-icon-9-width: 54px
$menu-icon-9-height: 54px
$menu-icon-9-total-width: 234px
$menu-icon-9-total-height: 185px
$menu-icon-9-image: '../img/sprite.png'
$menu-icon-9: (51px, 56px, -51px, -56px, 54px, 54px, 234px, 185px, '../img/sprite.png', 'menu-icon-9', )
$menu-icon-small-1-name: 'menu-icon-small-1'
$menu-icon-small-1-x: 196px
$menu-icon-small-1-y: 101px
$menu-icon-small-1-offset-x: -196px
$menu-icon-small-1-offset-y: -101px
$menu-icon-small-1-width: 30px
$menu-icon-small-1-height: 31px
$menu-icon-small-1-total-width: 234px
$menu-icon-small-1-total-height: 185px
$menu-icon-small-1-image: '../img/sprite.png'
$menu-icon-small-1: (196px, 101px, -196px, -101px, 30px, 31px, 234px, 185px, '../img/sprite.png', 'menu-icon-small-1', )
$menu-icon-small-2-name: 'menu-icon-small-2'
$menu-icon-small-2-x: 163px
$menu-icon-small-2-y: 83px
$menu-icon-small-2-offset-x: -163px
$menu-icon-small-2-offset-y: -83px
$menu-icon-small-2-width: 27px
$menu-icon-small-2-height: 27px
$menu-icon-small-2-total-width: 234px
$menu-icon-small-2-total-height: 185px
$menu-icon-small-2-image: '../img/sprite.png'
$menu-icon-small-2: (163px, 83px, -163px, -83px, 27px, 27px, 234px, 185px, '../img/sprite.png', 'menu-icon-small-2', )
$menu-icon-small-3-name: 'menu-icon-small-3'
$menu-icon-small-3-x: 196px
$menu-icon-small-3-y: 132px
$menu-icon-small-3-offset-x: -196px
$menu-icon-small-3-offset-y: -132px
$menu-icon-small-3-width: 31px
$menu-icon-small-3-height: 27px
$menu-icon-small-3-total-width: 234px
$menu-icon-small-3-total-height: 185px
$menu-icon-small-3-image: '../img/sprite.png'
$menu-icon-small-3: (196px, 132px, -196px, -132px, 31px, 27px, 234px, 185px, '../img/sprite.png', 'menu-icon-small-3', )
$menu-icon-small-4-name: 'menu-icon-small-4'
$menu-icon-small-4-x: 163px
$menu-icon-small-4-y: 53px
$menu-icon-small-4-offset-x: -163px
$menu-icon-small-4-offset-y: -53px
$menu-icon-small-4-width: 27px
$menu-icon-small-4-height: 30px
$menu-icon-small-4-total-width: 234px
$menu-icon-small-4-total-height: 185px
$menu-icon-small-4-image: '../img/sprite.png'
$menu-icon-small-4: (163px, 53px, -163px, -53px, 27px, 30px, 234px, 185px, '../img/sprite.png', 'menu-icon-small-4', )
$menu-icon-small-5-name: 'menu-icon-small-5'
$menu-icon-small-5-x: 196px
$menu-icon-small-5-y: 38px
$menu-icon-small-5-offset-x: -196px
$menu-icon-small-5-offset-y: -38px
$menu-icon-small-5-width: 31px
$menu-icon-small-5-height: 32px
$menu-icon-small-5-total-width: 234px
$menu-icon-small-5-total-height: 185px
$menu-icon-small-5-image: '../img/sprite.png'
$menu-icon-small-5: (196px, 38px, -196px, -38px, 31px, 32px, 234px, 185px, '../img/sprite.png', 'menu-icon-small-5', )
$menu-icon-small-6-name: 'menu-icon-small-6'
$menu-icon-small-6-x: 119px
$menu-icon-small-6-y: 114px
$menu-icon-small-6-offset-x: -119px
$menu-icon-small-6-offset-y: -114px
$menu-icon-small-6-width: 19px
$menu-icon-small-6-height: 31px
$menu-icon-small-6-total-width: 234px
$menu-icon-small-6-total-height: 185px
$menu-icon-small-6-image: '../img/sprite.png'
$menu-icon-small-6: (119px, 114px, -119px, -114px, 19px, 31px, 234px, 185px, '../img/sprite.png', 'menu-icon-small-6', )
$menu-icon-small-7-name: 'menu-icon-small-7'
$menu-icon-small-7-x: 55px
$menu-icon-small-7-y: 145px
$menu-icon-small-7-offset-x: -55px
$menu-icon-small-7-offset-y: -145px
$menu-icon-small-7-width: 31px
$menu-icon-small-7-height: 14px
$menu-icon-small-7-total-width: 234px
$menu-icon-small-7-total-height: 185px
$menu-icon-small-7-image: '../img/sprite.png'
$menu-icon-small-7: (55px, 145px, -55px, -145px, 31px, 14px, 234px, 185px, '../img/sprite.png', 'menu-icon-small-7', )
$menu-icon-small-8-name: 'menu-icon-small-8'
$menu-icon-small-8-x: 163px
$menu-icon-small-8-y: 110px
$menu-icon-small-8-offset-x: -163px
$menu-icon-small-8-offset-y: -110px
$menu-icon-small-8-width: 26px
$menu-icon-small-8-height: 27px
$menu-icon-small-8-total-width: 234px
$menu-icon-small-8-total-height: 185px
$menu-icon-small-8-image: '../img/sprite.png'
$menu-icon-small-8: (163px, 110px, -163px, -110px, 26px, 27px, 234px, 185px, '../img/sprite.png', 'menu-icon-small-8', )
$menu-icon-small-9-name: 'menu-icon-small-9'
$menu-icon-small-9-x: 196px
$menu-icon-small-9-y: 70px
$menu-icon-small-9-offset-x: -196px
$menu-icon-small-9-offset-y: -70px
$menu-icon-small-9-width: 31px
$menu-icon-small-9-height: 31px
$menu-icon-small-9-total-width: 234px
$menu-icon-small-9-total-height: 185px
$menu-icon-small-9-image: '../img/sprite.png'
$menu-icon-small-9: (196px, 70px, -196px, -70px, 31px, 31px, 234px, 185px, '../img/sprite.png', 'menu-icon-small-9', )
$play-icon-2-name: 'play-icon-2'
$play-icon-2-x: 196px
$play-icon-2-y: 0px
$play-icon-2-offset-x: -196px
$play-icon-2-offset-y: 0px
$play-icon-2-width: 38px
$play-icon-2-height: 38px
$play-icon-2-total-width: 234px
$play-icon-2-total-height: 185px
$play-icon-2-image: '../img/sprite.png'
$play-icon-2: (196px, 0px, -196px, 0px, 38px, 38px, 234px, 185px, '../img/sprite.png', 'play-icon-2', )
$tw-logo-name: 'tw-logo'
$tw-logo-x: 108px
$tw-logo-y: 145px
$tw-logo-offset-x: -108px
$tw-logo-offset-y: -145px
$tw-logo-width: 17px
$tw-logo-height: 14px
$tw-logo-total-width: 234px
$tw-logo-total-height: 185px
$tw-logo-image: '../img/sprite.png'
$tw-logo: (108px, 145px, -108px, -145px, 17px, 14px, 234px, 185px, '../img/sprite.png', 'tw-logo', )
$vk-logo-name: 'vk-logo'
$vk-logo-x: 111px
$vk-logo-y: 101px
$vk-logo-offset-x: -111px
$vk-logo-offset-y: -101px
$vk-logo-width: 18px
$vk-logo-height: 10px
$vk-logo-total-width: 234px
$vk-logo-total-height: 185px
$vk-logo-image: '../img/sprite.png'
$vk-logo: (111px, 101px, -111px, -101px, 18px, 10px, 234px, 185px, '../img/sprite.png', 'vk-logo', )
$spritesheet-width: 234px
$spritesheet-height: 185px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-left, $arrow-next-green, $arrow-next, $arrow-prev-green, $arrow-prev, $arrow-right, $fb-logo, $google-plus, $menu-icon-1, $menu-icon-2, $menu-icon-3, $menu-icon-4, $menu-icon-5, $menu-icon-6, $menu-icon-7, $menu-icon-8, $menu-icon-9, $menu-icon-small-1, $menu-icon-small-2, $menu-icon-small-3, $menu-icon-small-4, $menu-icon-small-5, $menu-icon-small-6, $menu-icon-small-7, $menu-icon-small-8, $menu-icon-small-9, $play-icon-2, $tw-logo, $vk-logo, )
$spritesheet: (234px, 185px, '../img/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
