	<header class="header">
		<div class="container">
			<div class="header-top">
				<a href="/" class="logo"><img src="img/logo-2.png" alt=""></a>
				<div class="row">
					<div class="col-xs-4 col-sm-4">
						<div class="work">
							<div class="work__title">Часы работы:</div>
							<span>10:00-20:00</span>
							<div class="work__bottom">Без выходных</div>
						</div>
					</div>
					<div class="col-xs-8 col-sm-8">
						<div class="callback">
							<div class="callback__title">Позвоните для записи на стрижку:</div>
							<div class="callback__phone">8(977) 800-67-67</div>
							<a href="#callback-form" class="callback__link popup" data-effect="mfp-zoom-in">Обратный звонок</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<nav class="navbar">
			<div class="container">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar icon-bar_top"></span>
					<span class="icon-bar icon-bar_center"></span>
					<span class="icon-bar icon-bar_bottom"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav">
						<li><a href="#">Главная</a></li>
						<li><a href="#">Услуги</a></li>
						<li><a href="#">О нас</a></li>
						<li><a href="#">Галерея работ</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Блог</a></li>
					</ul>
				</div>
			</div>
		</nav>

	</header>