/*-------------About page----------------*/
.about
	padding-bottom: 43px

.map
	height: 320px
	iframe
		height: 100%

.about-contact
	padding: 35px 0 0
	+clearfix
	&__title
		margin-bottom: 22px
		font-size: 30px
		font-weight: 700
		color: #000

.contact-item
	float: left
	&_location
		width: 35%
		padding-left: 47px
	&_mail
		padding-left: 32px
	&_social
		padding-left: 84px
		.contact-item__main
			display: block
			width: 37px
			height: 37px
			font-size: 0
			background: url(../img/vk-icon.png) 0 0 no-repeat
			background-size: 100%
	&__title
		margin-bottom: 4px
		font-size: 18px
		color: #696969
	&__main
		font-size: 18px
		font-weight: 700
		color: #000

.form-block
	&_about
		float: none
		width: 100%
		margin-top: 49px
		padding: 24px 75px 46px
		background: #c4c4c4
		.form-block__title
			margin-bottom: 30px
			font-size: 30px
			font-weight: 700
		input
			background: #fff
		textarea
			background: #fff
		.form-message
			margin-top: 23px
			font-size: 14px
			color: #838383
/*-----------------end-------------------*/