/*----------------Form page---------------*/
.sidebar-countmenu
	li
		display: block
		margin-bottom: 17px
		a
			display: inline-block
			padding: 5px 0
			font-size: 18px
			text-transform: uppercase
			&:hover
				color: $accent


.request
	padding-bottom: 47px

.form-request
	padding: 43px 40px 42px
	text-align: center
	background: #e0e0e0
	+clearfix
	.form-row
		display: inline-block
		width: 100%
		vertical-align: top
		text-align: left
		+clearfix
		&__title
			margin-bottom: 18px
			padding: 0 15px
			font-size: 30px
			font-weight: 700
			color: #b1b1b1
		&_1
			margin-bottom: 11px
			label
				margin-bottom: 25px
		&_2
			margin-bottom: 9px
	fieldset
		float: left
		width: 50%
		margin: 0
		padding: 0 15px
		border: none
	label
		display: block
		margin: 0
		font-size: 18px
		font-weight: normal
		i
			color: #f60
	input
		display: block
		width: 100%
		height: 47px
		margin-top: 5px
		padding-left: 15px
		font-size: 18px
		outline: none
		border: 1px solid #d0d0d0
		border-radius: 2px
		background: #fff
	textarea
		display: block
		width: 100%
		height: 147px
		margin: 5px 0 40px
		padding: 10px 0 0 15px
		font-size: 18px
		outline: none
		border: 1px solid #d0d0d0
		border-radius: 2px
		background: #fff
	.form-row
		&_3
			margin-bottom: 25px
			fieldset
				width: 100%
			.form-col
				width: auto
		&_4
			padding: 0 15px
	.form-col
		float: left
		margin-right: 38px
		&:last-child
			margin-right: 0
		&__title
			margin-bottom: 22px
			font-size: 18px
			i
				color: #f60
		label
			margin-bottom: 12px
	.jq-checkbox
		width: 15px
		height: 15px
		margin-right: 9px
		border-radius: 2px
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.14)
		background: #fff
		&.focused
			border: 1px solid #C3C3C3
		&.checked
			.jq-checkbox__div
				width: 9px
				height: 9px
	&__message
		display: table
		padding: 11px 0 11px 15px
		font-size: 15px
		font-weight: 300
		color: #838383
		i
			color: #f60

.btn-request
	float: left
	width: 202px
/*-------------------end------------------*/