$red-light: #ff0000
$red-title: #e14b34
$red-dark: #cd0019
$text-gray: #7c7c7c
$text-lightgray: #6f6f6f
$text-yellow: #de8d59

/*---------About page---------*/
.about
	img
		float: left
		max-width: 280px
		margin-right: 20px
	p
		display: table
/*----------end--------------*/