$red-light: #ff0000
$red-title: #e14b34
$red-dark: #cd0019
$text-gray: #7c7c7c
$text-lightgray: #6f6f6f
$text-yellow: #de8d59

/*------------Delivery page-----------*/
.delivery__panel
    height: 35px
    padding: 0 15px
    margin-bottom: 15px
    border-radius: 3px
    background: url(../img/gray-line.png) 0 0 no-repeat
    background-size: cover
    h5
    	margin: 0
    	text-transform: uppercase
    	line-height: 35px

.delivery__body
	padding: 0 20px 15px
	.delivery__name
		display: block
		margin-bottom: 10px
	.delivery__phone
		display: block
		margin-bottom: 10px
	.delivery__data
		li
			display: block
			margin-bottom: 2px

.btn__total
	&.btn__total-delivery
		width: 260px
/*--------------end------------------*/