$red-light: #ff0000
$red-title: #e14b34
$red-dark: #cd0019
$text-gray: #7c7c7c
$text-lightgray: #6f6f6f
$text-yellow: #de8d59

/*---------News page---------*/
.news__block
	display: table
	margin-bottom: 20px

.img-thumbnail
	display: table-cell
	max-width: 186px
	padding: 10px

.news__text
	display: table-cell
	padding-left: 30px
	vertical-align: middle
	p
		margin: 0
		span
			font-weight: 500

.news__top
	display: block
	font-weight: 500
	color: $red-light

.news__more
	display: inline-block
	color: $text-gray
	font-style: italic
	text-decoration: underline
	&:hover
		color: $text-gray
		text-decoration: none

.page__count-news
	display: none
/*-----------end-----------*/