$red-light: #ff0000
$red-title: #e14b34
$red-dark: #cd0019
$text-gray: #7c7c7c
$text-lightgray: #6f6f6f
$text-yellow: #de8d59

/*------------NoRegistr page----------*/
.panel__head-noregistr
	background: #fff0bb

.panel__head-nosignup
    background: url(../img/gray-line.png) 0 0 no-repeat
    background-size: cover
/*--------------end-----------------*/