$red-light: #ff0000
$red-title: #e14b34
$red-dark: #cd0019
$text-gray: #7c7c7c
$text-lightgray: #6f6f6f
$text-yellow: #de8d59

/*---------Registr page---------*/
.category__title-registr
		h5
			display: inline-block
			text-transform: uppercase
		span
			display: inline-block
			color: $text-lightgray
.panel__head-registr
	span
		font-size: 14px

.panel__head-signup
	.panel__title
		display: none
	h5
		display: inline-block

.panel__head-login
	background: #fff0bb

.panel__head-signup
	background: url(../img/gray-line.png) 0 0 no-repeat
	background-size: cover

.body_item-registr
	display: block
	width: 100%

.body__descr-registr
	display: block
	padding-left: 0

.body__form-registr
	position: relative
	display: block
	width: 100%
	padding: 15px 20px
	border-radius: 5px
	border: 1px solid #ebebeb
	label
		display: block
		margin-right: 0
		input
			height: 25px
			font-size: 14px
	.name__block
		label:nth-child(even)
			float: right
		label:nth-child(odd)
			float: left

.registr__text
	display: none

.checkbox__news-registr
	position: absolute
	top: 30px
	right: 35px
	margin-bottom: 0
	span
		position: relative
		top: -2px

.remember__link
	display: block
	position: relative
	top: -6px
	margin-bottom: 4px
	font-size: 14px
	font-style: italic
	color: $text-lightgray
	text-decoration: underline
	&:hover
		color: $text-lightgray
		text-decoration: none

.body__form-login
	background: #fffcf2

.registr__warning
	display: block
	margin: 15px 0 7px

.btn__total-registr
	width: 210px
	height: 38px
	font-size: 18px
	text-transform: uppercase

.registr__feature
	padding: 20px 0

.feature__head
	border-bottom: 1px solid #f0f0f0
	h5
		text-transform: uppercase

.feature__list
	li
		position: relative
		padding-left: 30px
		&:before
			content: ' '
			position: absolute
			top: 5px
			left: 0
			width: 17px
			height: 15px
			background: url(../img/ok.png) 0 0 no-repeat
		span
			color: $red-light

.feature__social
	padding-top: 30px
	img
		max-width: 100%

.social__title
	display: inline-block
	margin-right: 10px
	vertical-align: middle
	text-transform: uppercase

.social__block
	display: inline-block
	li
		display: inline-block
		vertical-align: middle
		a
			display: block
			padding: 0
			font-size: 0
			width: 35px
			height: 30px
			background: url(../img/social-mob.png) 0 0 no-repeat
		.fb
			background-position: -37px 0
		.vk
			background-position: -73px 0
/*-----------end----------------*/