// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$chat-name: 'chat'
$chat-x: 18px
$chat-y: 41px
$chat-offset-x: -18px
$chat-offset-y: -41px
$chat-width: 20px
$chat-height: 20px
$chat-total-width: 80px
$chat-total-height: 65px
$chat-image: '../img/sprite.png'
$chat: (18px, 41px, -18px, -41px, 20px, 20px, 80px, 65px, '../img/sprite.png', 'chat', )
$close-name: 'close'
$close-x: 41px
$close-y: 0px
$close-offset-x: -41px
$close-offset-y: 0px
$close-width: 39px
$close-height: 39px
$close-total-width: 80px
$close-total-height: 65px
$close-image: '../img/sprite.png'
$close: (41px, 0px, -41px, 0px, 39px, 39px, 80px, 65px, '../img/sprite.png', 'close', )
$download-name: 'download'
$download-x: 0px
$download-y: 0px
$download-offset-x: 0px
$download-offset-y: 0px
$download-width: 41px
$download-height: 41px
$download-total-width: 80px
$download-total-height: 65px
$download-image: '../img/sprite.png'
$download: (0px, 0px, 0px, 0px, 41px, 41px, 80px, 65px, '../img/sprite.png', 'download', )
$location-name: 'location'
$location-x: 0px
$location-y: 41px
$location-offset-x: 0px
$location-offset-y: -41px
$location-width: 18px
$location-height: 24px
$location-total-width: 80px
$location-total-height: 65px
$location-image: '../img/sprite.png'
$location: (0px, 41px, 0px, -41px, 18px, 24px, 80px, 65px, '../img/sprite.png', 'location', )
$mail-name: 'mail'
$mail-x: 57px
$mail-y: 41px
$mail-offset-x: -57px
$mail-offset-y: -41px
$mail-width: 20px
$mail-height: 14px
$mail-total-width: 80px
$mail-total-height: 65px
$mail-image: '../img/sprite.png'
$mail: (57px, 41px, -57px, -41px, 20px, 14px, 80px, 65px, '../img/sprite.png', 'mail', )
$phone-name: 'phone'
$phone-x: 38px
$phone-y: 41px
$phone-offset-x: -38px
$phone-offset-y: -41px
$phone-width: 19px
$phone-height: 19px
$phone-total-width: 80px
$phone-total-height: 65px
$phone-image: '../img/sprite.png'
$phone: (38px, 41px, -38px, -41px, 19px, 19px, 80px, 65px, '../img/sprite.png', 'phone', )
$spritesheet-width: 80px
$spritesheet-height: 65px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($chat, $close, $download, $location, $mail, $phone, )
$spritesheet: (80px, 65px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
