@import "vars"
@import "base"
@import "mixins"
@import "sprite"

@import "header"

.main
	position: relative
	margin-top: 80px
	padding: 108px 0 50px
	z-index: 1
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		max-width: 100%
		height: 161px
		z-index: -1
		background: url(../images/main-bg.jpg) center top no-repeat
	&-title
		font-size: 5em
		font-weight: 100
		text-align: center

.anketa
	padding-bottom: 74px

.section-form
	padding: 0 0 47px
	&__title
		position: relative
		margin-bottom: 46px
		padding-top: 66px
		font-size: 2.14em
		font-weight: 300
		text-align: center
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			width: 47px
			height: 47px
			margin: 0 auto
		&_personal
			&:before
				background: url(../images/personal.svg) 0 0 no-repeat
				background-size: 100%
		&_exp
			&:before
				background: url(../images/exp.svg) 0 0 no-repeat
				background-size: 100%
		&_js
			&:before
				background: url(../images/js.svg) 0 0 no-repeat
				background-size: 100%
		&_about
			margin-bottom: 8px
			&:before
				background: url(../images/about.svg) 0 0 no-repeat
				background-size: 100%
	&__text
		margin-bottom: 40px
		font-size: 1.14em
		font-weight: 300
		text-align: center
	&__in
		text-align: center
		.jq-selectbox
			width: 100%
			max-width: 320px
			margin: 0 auto 25px
			&__select
				height: 60px
				padding: 0
				font: 1.71em "roboto"
				color: #c8c8c8
				text-align: center
				text-shadow: none
				border: 1px solid #e5e5e5
				border-radius: 5px
				box-shadow: none
				background: none
				&:hover
					box-shadow: none
					background: none
				&-text
					padding-right: 0
					color: #1c1c1c
					line-height: 56px
			.placeholder
				color: #c8c8c8
			&.focused
				.jq-selectbox__select
					border-color: #e5e5e5
			&.opened
				.jq-selectbox__trigger-arrow
					transform: rotate(180deg)
			&__trigger
				border-left: none
				&-arrow
					top: 25px
					right: 19px
					width: 14px
					height: 9px
					transition: all .10s ease
					border: none
					background: url(../images/arrow-sel.svg) 0 0 no-repeat
			&__dropdown
				height: 300px
				margin: 0
				padding: 29px 0 32px !important
				overflow: hidden
				overflow-y: auto
				border: none
				border-radius: 5px
				box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2)
				background: #fff
			ul
				height: 100%
			li
				margin-bottom: 4px
				font: 300 1.42em/1 "roboto"
				color: $accent
				&:hover
					background: $accent
		.mCSB_inside>.mCSB_container
			margin-right: 0
			padding: 0 20px
		.mCSB_scrollTools
			.mCSB_dragger
				&.mCSB_dragger_onDrag
					.mCSB_dragger_bar
						background: #d9d9d9
				.mCSB_dragger_bar
					background: #d9d9d9
				&:hover
					.mCSB_dragger_bar
						background: #d9d9d9
			.mCSB_draggerRail
				background: none
		textarea
			display: block
			width: 100%
			max-width: 530px
			height: 180px
			margin: 0 auto
			padding: 17px 0 0 18px
			font-size: 1.42em
			outline: none
			transition: all .25s ease
			border: 1px solid #e5e5e5
			border-radius: 5px
			&:focus
				border-color: $accent
	&__field
		position: relative
		max-width: 530px
		height: 60px
		margin: 0 auto 25px
		&.active
			span
				top: 20%
				font-size: 1em
				color: #adadad
		span
			position: absolute
			top: 50%
			left: 0
			right: 0
			transform: translateY(-50%)
			transition: all .25s ease
			font-size: 1.71em
			color: #c8c8c8
			text-align: center
		input
			display: block
			bottom: 12px
			left: 0
			right: 0
			width: 100%
			height: 100%
			padding-top: 15px
			font-size: 1.42em
			color: #1c1c1c
			text-align: center
			outline: none
			transition: all .25s ease
			box-shadow: none
			border: 1px solid #e5e5e5
			border-radius: 5px
			background: none
			&:focus
				border-color: $accent
	&__check
		columns: 3
		column-gap: 65px
		padding-bottom: 74px
		label
			display: block
			vertical-align: top
			margin-bottom: 12px
			font-size: 1.14em
			font-weight: 300
		.jq-checkbox
			width: 20px
			height: 20px
			margin-right: 11px
			transition: all .15s ease
			border: 1px solid #435993
			box-shadow: none
			background: #fff
			&:hover
				background: #e9efff
			&.focused
				border-color: #435993
			&.checked
				background: $accent
				.jq-checkbox__div
					width: 13px
					height: 9px
					margin: 5px 0 0 3px
					box-shadow: none
					border-radius: 0
					background: url(../images/check.svg) 0 0 no-repeat
					background-size: 100%
	&__range
		position: relative
		padding-bottom: 52px
		.range-item
			position: relative
			display: inline-block
			vertical-align: bottom
			margin-bottom: 16px
			font-size: 0.92em
			font-weight: 300
			color: #2e211c
			&:before
				content: ''
				position: absolute
				top: 110%
				left: 0
				width: 1px
				height: 20px
				border-left: 1px dotted #b8b8b8
			&_one
				left: 0
			&_two
				left: 115px
			&_three
				left: 192px
				&:before
					height: 12px
			&_four
				left: 250px
				&:before
					left: auto
					right: 0
					height: 10px
		.marker
			position: absolute
			bottom: 0
			width: 1px
			height: 10px
			z-index: 2
			background: #fff
			&_one
				left: 183px
			&_two
				left: 383px
		.ui-widget.ui-widget-content
			transition: all .25s ease
			border-radius: 0
			border: none
			background: url(../images/gray.svg) left bottom no-repeat
		.ui-slider .ui-slider-range
			background-position: left bottom
		.ui-widget-header
			transition: all .25s ease
			border-radius: 0
			background: url(../images/gradient.svg) left bottom no-repeat

		.ui-state-default, .ui-widget-content .ui-state-default
			top: 15px
			width: 23px
			height: 26px
			margin-left: -11px
			transition: all .25s ease
			outline: none
			border: none
			background: url(../images/range.svg) 0 0 no-repeat
			background-size: 100%
	&__radio
		display: none
		+clearfix
		label
			display: block
			float: left
			width: 50%
			margin-bottom: 12px
			padding-right: 20px
		span
			display: table
			font-size: 1.14em
			font-weight: 300
		.jq-radio
			float: left
			width: 20px
			height: 20px
			margin-right: 11px
			transition: all .15s ease
			border: 1px solid #435993
			box-shadow: none
			background: none
			&.focused
				border-color: $accent
			&.checked
				.jq-radio__div
					width: 14px
					height: 14px
					margin: 2px 0 0 2px
					background: $accent

.btn-form
	display: block
	width: 115px
	height: 50px
	margin: 21px auto 0
	padding: 0
	font: 300 1.14em "roboto"
	color: #fff
	cursor: pointer
	border: none
	border-radius: 10px
	background: $accent

@import "footer"