.footer
	padding: 60px 0 105px
	background-image: linear-gradient(to top, #18377f 0%, #2247a1 100%)
	&-contact
		text-align: right

.copyright
	margin-top: 36px
	color: #fff
	line-height: 1

.footer-nav
	text-align: right

.footer-menu
	display: inline-block
	margin: 30px 27px 0 0
	text-align: left
	&:last-child
		margin-right: 0
	li
		display: block
		a
			display: inline-block
			color: #fff
			text-decoration: underline
			&:hover
				color: #fff
				text-decoration: none

.phone_footer
	display: inline-block
	color: #fff
	text-align: right
	&:hover, &:focus
		color: #fff
	span
		color: #fff

.email
	margin-bottom: 27px
	font-size: 18px
	color: #fff
	text-align: right
	&-link
		font-size: 18px
		color: #fff
		text-decoration: underline
		&:hover
			color: #fff
			text-decoration: none

.search
	display: inline-block
	width: 100%
	text-align: right
	&-in
		display: inline-block
		width: 100%
		max-width: 268px
		height: 46px
		padding-left: 15px
		vertical-align: middle
		outline: none
		border: 1px solid #0d296b
		background: #99aad2
	&-btn
		display: inline-block
		width: 100%
		max-width: 117px
		height: 46px
		vertical-align: middle
		font-size: 18px
		color: #2246a0
		line-height: 44px
		text-align: center
		outline: none
		border: 1px solid #0d296b
		background-image: linear-gradient(to top, #a3b6e1 0%, #e7eeff 100%)
		&:hover
			background-image: linear-gradient(to bottom, #a3b6e1 0%, #e7eeff 100%)

.callback-form
	width: 100%
	max-width: 400px
	margin: 0 auto
	padding: 15px 0 35px
	text-align: center
	border-radius: 5px
	background: #fff
	&__title
		margin-bottom: 15px
		font-size: 30px
		font-weight: 500
	form
		width: 250px
		margin: 0 auto
	input
		display: block
		width: 100%
		height: 40px
		margin-bottom: 10px
		padding-left: 10px
		outline: none
		border-radius: 5px
		border: 1px solid #787878
	&__btn
		width: 100%
		height: 50px
		font-size: 16px
		color: #fff
		border: none
		border-radius: 5px
		background: #041888
		&:hover
			color: #fff
			background: $blue

.color-form
	max-width: 655px
	margin: 0 auto
	padding: 40px 60px
	border-radius: 5px
	background: #fff
	&__title
		margin-bottom: 16px
		font-size: 22px
		font-weight: 700
		text-transform: uppercase
		span
			color: #959595
	form
		width: 245px
		input
			width: 100%
			height: 55px
			margin-bottom: 10px
			padding-left: 20px
			font-size: 12px
			border: none
			background: #f7f5f6
	&__btn
		width: 100%
		height: 55px
		font-size: 12px
		color: #fff
		outline: none
		border: none
		background: #041888
		&:hover
			background: $blue
	&__link
		display: block
		margin-top: 10px
		font-size: 12px
		text-align: center
		text-decoration: underline
		&:hover, &:focus
			color: #000
			text-decoration: none

.color-change
	&__title
		margin-bottom: 8px
		font-size: 18px
		color: $red
	&__box
		width: 125px
		height: 125px
		border-radius: 5px
	&__sel
		margin-top: 35px