/*-------------Opt page---------------*/
.opt
	padding: 70px 0 65px
	&__title
		display: block
		margin-bottom: 18px
		font-size: 30px
		font-weight: 700
	&__pict
		img
			display: block
			width: 100%

.price
	&_one
		margin: 75px 0 94px
	&__title
		display: block
		margin-bottom: 18px
		font-size: 24px
		font-weight: 700
	&__subtitle
		font-size: 18px
		color: #737171

.price-block
	margin: 32px 0 30px
	+clearfix

.price-item
	float: left
	width: 14.286%
	&:first-child
		.price-item__top
			padding-left: 50px
			border-left: none
		.price-item__bottom
			padding-left: 50px
			border-left: 1px solid #f5f6f5
	&:last-child
		.price-item__bottom
			border-right: 1px solid #f5f6f5
	&__top
		display: table
		width: 100%
		padding: 0 0 0 35px
		height: 71px
		font-size: 16px
		font-weight: 500
		color: #080808
		border-left: 1px solid #fff
		background: #f5f6f5
		span
			display: table-cell
			vertical-align: middle
	&__bottom
		padding: 24px 0 24px 35px
		font-size: 16px
		font-weight: 500
		color: #d51515
		border-bottom: 1px solid #f5f6f5

.price-link
	font-size: 24px
	font-weight: 500
	color: #21439a
	text-decoration: underline
	outline: none
	&:hover
		color: #21439a
		text-decoration: none
		outline: none
	&:focus
		color: #21439a
		outline: none
/*----------------end--------------------*/