/*-------------Type page---------------*/
.page
	padding: 52px 0 107px

.page-title
	display: block
	margin-bottom: 25px
	font-size: 25px
	font-weight: 700
	text-transform: uppercase

.tab-links_inner
	margin: 0 0 34px
	padding: 28px 0 10px
	border: none
	border-radius: 0
	border-top: 1px solid $blue
	border-bottom: 1px solid $blue
	.tab-links__item
		padding: 7px 19px
		float: left
		border-radius: 5px
		&:hover, &.active
			background: #f3f3f3

.tab-body__title
	text-transform: none
	span
		color: #959595
		text-transform: uppercase
/*----------------end--------------------*/