/*-------------Work page---------------*/
.work
	text-align: center

.filter-link
	+clearfix
	&__item
		float: left
		margin: 0 30px 10px 0
		font-size: 12px
		&:last-child
			margin-right: 0
		&:hover, &.active
			color: $lightblue
			text-decoration: underline

.work-gallery
	margin-top: 17px
	&__item
		height: 173px
		margin-bottom: 30px
		padding: 5px
		border: 1px solid #ececec
	a
		display: block
		width: 100%
		height: 100%
		overflow: hidden
		outline: none
		&:last-child
			margin-right: 0
		img
			display: block
			width: 100%

.work-link
	display: inline-block
	margin-top: 85px
	font-size: 22px
	color: #959595
	&:hover, &:focus
		color: $lightblue
		text-decoration: underline
/*----------------end--------------------*/