@import "bourbon"
@import "vars"
@import "sprite"

@media only screen and (max-width : 1229px)
	.count-block
		margin-top: 0
	.phone
		font-size: 40px

	.nav
		> li
			width: 120px
			&:first-child
				a
					padding-left: 5px
			> a
			 padding: 0 2px
			 font-size: 12px
			 line-height: 1.2
			 text-align: center

	.footer-menu
		margin-right: 20px

	.search-in
		max-width: 260px

	.search-btn
		max-width: 110px


	/*----------Contact page-------------*/
	.contact-form
		input
			width: 48.9%
	/*------------end-----------------*/

	/*----------Opt page-------------*/
	.price-item
		&:first-child
			.price-item__top
				padding-left: 20px
			.price-item__bottom
				padding-left: 20px
		&__top
			padding-left: 20px
		&__bottom
			padding-left: 20px
	/*------------end-----------------*/

	/*----------Color page-------------*/
	.filter-btn
		max-width: 110px
		margin-right: 5px

	.filter-select
		width: 50%
		.jq-selectbox
			width: 130px
	/*------------end-----------------*/

	/*-----------------Catalog page----------------*/
	.catalog-item
		padding: 10px 10px 55px
		&__pict
			a
				height: 155px
		&__title
			font-size: 14px
	/*---------------------end---------------------*/



@media only screen and (max-width : 991px)
	.count-wrap
		display: block
		padding: 5px 0

	.callback-block
		margin-top: 15px

	.phone
		font-size: 28px

	.cart
		padding: 7px 5px

	.content
		padding: 50px 0 80px

	.section-title
		font-size: 30px

	.btn-c
		width: 160px

	.change-color
		&__link
			margin-left: 10px

	.pict-caption
		&__wrap
			padding: 0 20px
		&__title
			font-size: 30px

	.link-go
		margin-top: 17px

	.btn-color
		margin-top: 50px

	.feedback
		margin-bottom: 40px
		&__title
			margin-left: 0

	.feedback-item
		&__text
			padding: 15px

	.footer
		padding: 20px 0

	.footer-nav
		text-align: left

	.footer-menu
		margin: 0

	.search-in
		max-width: 205px

	.search-btn
		max-width: 70px


	/*----------Type page-------------*/
	.page
		padding: 40px 0 50px
	/*------------end-----------------*/

	/*----------Contact page-------------*/
	.contact-form
		input
			float: none
			display: block
			width: 100%
			margin-right: 0
	/*---------------end-----------------*/

	/*----------Work page-------------*/
	.filter-link__item
		margin-right: 20px

	.work-link
		margin-top: 20px
	/*---------------end-----------------*/

	/*----------Color page-------------*/
	.filter-btn
		max-width: none
		width: 23.9%
		margin-right: 5px
		font-size: 14px

	.filter-select
		width: 50%
		margin-top: 2px
		.jq-selectbox
			width: 130px

	.tb
		> tbody
			> tr
				> td
					padding: 5px

	.color-box
		width: 100px
	/*------------end-----------------*/

	/*---------------Cart page--------------*/
	.tb-cart
		.tb-cell
			&_head
				&:first-child
					padding-left: 10px
			&_body
				&:first-child
					padding-left: 10px
			&_color
				width: 14%
			&_name
				width: 30%
	/*-----------------end------------------*/


@media only screen and (max-width : 767px)
	.header
		padding: 10px 0 0

	.navbar
		overflow: visible

	.navbar-toggle
		float: left
		padding: 15px 10px
		margin: 0
		border: none
		border-radius: 0
		.icon-bar
			width: 30px
			height: 3px
			background: #fff

	.navbar-collapse
		float: none
		position: absolute
		top: 50px
		width: 100%
		z-index: 999
		border: none
		border-radius: 5px
		background-color: #fff
		background-image: linear-gradient(to top, #073091 0%, #0d44c6 100%)

	.nav
		display: block
		height: auto
		> li
			display: block
			width: auto
			height: auto
			border: none
			> a
				padding: 15px 0
				font-size: 16px

	.cart
		float: right
		padding: 0 10px
		border-left: none
		&__title
			font-size: 16px
		&__count
			font-size: 14px

	.content
		padding: 20px 0 30px

	.section-one
		padding-bottom: 30px

	.section-title
		margin-bottom: 10px
		font-size: 24px

	.btn-c
		display: block
		width: 100%
		height: 55px
		max-width: 320px
		margin: 0 auto
		line-height: 55px

	.change-color
		float: none
		display: block
		margin-top: 20px
		text-align: center

	.link-go
		margin-top: 11px

	.tab-links
		margin-bottom: 20px
		padding: 15px 15px 10px
		text-align: center
		&__item
			display: block
			margin-bottom: 12px

	.tab-body__title
		margin-bottom: 10px
		font-size: 22px

	.btn-color
		height: 55px
		margin-top: 20px
		font-size: 16px
		line-height: 55px

	.sidebar
		margin-top: 30px

	.feedback
		margin-bottom: 20px
		&__title
			margin-bottom: 10px

	.feedback-item__name
		margin-left: 50px

	.news-block
		&__title
			margin-bottom: 10px

	.news-item
		margin-bottom: 20px
		&__title
			margin-bottom: 10px

	.banner-block
		margin-top: 30px
		padding-left: 0

	.copyright
		margin-top: 0
		text-align: center

	.footer-nav
		margin-top: 15px

	.footer-menu
		display: block
		text-align: center
		li
			margin-top: 5px

	.footer-contact
		margin-top: 15px
		text-align: center

	.email
		margin-bottom: 15px
		text-align: center

	.search
		text-align: center

	.search-in
		max-width: 215px

	.color-form
		max-width: 290px
		padding: 20px
		&__title
			font-size: 20px
			span
				display: block
		form
			margin: 15px auto 0

	.color-change
		text-align: center
		&__title
			font-size: 16px
		&__box
			margin: 0 auto
		&__sel
			margin-top: 15px
			.count-change
				margin: 0 auto


	/*----------Type page-------------*/
	.page
		padding: 30px 0

	.tab-links_inner
		margin: 0 0 15px
		padding: 15px 0 5px
	/*------------end-----------------*/

	/*----------Contact page-------------*/
	.contact-item
		max-width: 428px
		width: 100%
		margin: 0 auto

	.contact-form
		margin: 37px auto 40px

	.map
		height: 300px
	/*---------------end-----------------*/

	/*----------Work page-------------*/
	.filter-link__item
		margin-right: 10px

	.work-gallery__item
		padding: 0
		border: none

	.work-link
		margin-top: 10px
	/*---------------end-----------------*/

	/*----------Opt page-------------*/
	.opt
		padding: 0
		&__title
			font-size: 24px
		&__text
			margin-bottom: 20px

	.price
		&_one
			margin: 40px 0
		&__title
			margin-bottom: 10px
			font-size: 22px

	.price-block
		margin: 15px 0

	.price-item
		&:first-child
			.price-item__top
				padding-left: 10px
			.price-item__bottom
				padding-left: 10px
		&__top
			height: 50px
			padding-left: 10px
			font-size: 14px
		&__bottom
			padding: 14px 0 14px 10px
			font-size: 14px

	.price-link
		font-size: 20px
	/*------------end-----------------*/

	/*----------Color page-------------*/
	.filter-btn
		max-width: none
		width: 24.1%
		margin-right: 5px
		font-size: 14px

	.filter-select
		margin-top: 15px
		text-align: center
		.jq-selectbox
			text-align: left

	.color-tb
		margin-top: 15px
		padding: 5px 0 10px

	.tb
		> tbody
			> tr
				> td
					font-size: 14px

	.color-box
		width: 80px

	.color-more
		font-size: 18px
		height: 50px
		line-height: 48px
	/*------------end-----------------*/

	/*---------------Cart page--------------*/
	.cart-block
		padding: 0

	.tb-cart
		.tb-cell
			line-height: 1
			&_head
				font-size: 16px
				&:first-child
					padding-left: 10px
			&_body
				padding: 20px 0
				font-size: 14px
				&:first-child
					padding-left: 10px
			&_color
				width: 10%
			&_name
				width: 17%
			&_count
				width: 20%
			&_price
				width: 17%
			&_total
				width: 17%

	.cart-color
		width: 50px
		height: 50px

	.count-change
		width: 70px
		margin-left: 10px
		&__arrow
			&_left
				left: -9px
			&_right
				right: -9px
		&__in
			font-size: 14px

	.del-link
		top: 60px
		&:before
			top: 2px

	.cart-total
		float: none
		margin-top: 30px
		text-align: center
		&__vin
			max-width: 290px
			width: 100%
			height: 45px
			margin: 0 auto 15px
		&__sale
			margin-bottom: 10px
			font-size: 18px
		&__price
			font-size: 18px
	/*-----------------end------------------*/

	/*-----------------Catalog page----------------*/
	.catalog-menu
		margin-bottom: 25px

	.pagination
		margin: 0 0 20px

	.catalog-item
		max-width: 290px
		margin: 0 auto 20px
		&__pict
			a
				height: 125px
		&__btn
			padding: 5px 12px 7px
	/*---------------------end---------------------*/

	/*----------------Tovar page------------------*/
	.tovar-pict
		height: 250px

	.descr-list
		li
			span, a
				font-size: 14px

	.tovar-info
		font-size: 14px
	/*--------------------end---------------------*/



@media only screen and (max-width : 480px)
	.callback-block
		margin-top: 0

	.phone
		display: inline-block
		font-size: 20px

	.callback
		font-size: 13px

	.pict-caption
		&__wrap
			padding: 0 10px
		&__title
			font-size: 18px
		&__descr
			font-size: 16px


	/*----------Type page-------------*/
	.page
		padding: 30px 0

	.tab-links_inner
		.tab-links__item
			float: none
			display: block
			margin-bottom: 5px
			padding: 7px 0
	/*------------end-----------------*/

	/*----------Work page-------------*/
	.work-gallery
		.col-xs-6
			float: none
			width: 100%
			max-width: 290px
			margin: 0 auto
			padding: 0

	.work-gallery__item
		height: auto

	.work-link
		margin-top: 0
	/*---------------end-----------------*/

	/*----------Opt page-------------*/
	.price-item
		width: 33.33%
		&__top
			padding-left: 10px
			font-size: 14px
		&__bottom
			padding-left: 10px
			font-size: 14px
	/*------------end-----------------*/

	/*----------Color page-------------*/
	.filter-btn
		max-width: none
		width: 23.7%
		font-size: 12px

	.filter-select
		width: 100%
		span
			font-size: 14px
		.jq-selectbox__select
			font-size: 14px

	.color-box
		width: 80px

	.color-more
		font-size: 18px
		height: 50px
		line-height: 48px
	/*------------end-----------------*/

	/*---------------Cart page--------------*/
	.tb-cart
		display: block
		border-top: 2px solid $blue
		.tb-row
			display: block
			&:not(:first-child)
				padding: 15px 0 35px
			&:not(:last-child):not(:first-child)
				border-bottom: 1px solid #ececec
				.tb-cell
					border-bottom: none
		.tb-cell
			display: block
			font-size: 16px
			&_head
				display: none
			&_body
				padding: 10px 0
				&:first-child
					padding-left: 0
			&_color
				width: 100%
			&_name
				width: 100%
			&_count
				width: 100%
			&_price
				display: inline-block
				width: 39%
			&_total
				display: inline-block
				width: 59%
				text-align: right
				.total-title
					display: inline-block

	.cart-color
		width: 100%

	.count-change
		width: 100px
		&__arrow
			&_left
				left: -15px
			&_right
				right: -15px

	.del-link
		top: 40px
		left: -15px

	.cart-total
		float: none
		margin-top: 30px
		text-align: center
		&__vin
			max-width: 290px
			width: 100%
			height: 45px
			margin: 0 auto 15px
		&__sale
			margin-bottom: 10px
			font-size: 18px
		&__price
			font-size: 18px
	/*-----------------end------------------*/

	/*-----------------Catalog page----------------*/
	.catalog-wrap
		.col-xs-6
			width: 100%
	/*-------------------end-----------------------*/