	<footer class="footer">
		<div class="footer-top">
			<div class="container">
				<ul class="footer-menu">
					<li>
						<a href="#">Бухгалтерские услуги</a>
						<ul class="footer-menu__droplist">
							<li><a href="#">Постановка бухгалтерского и налогового учета</a></li>
							<li><a href="#">Ведение бухгалтерского учета</a></li>
							<li><a href="#">Восстановление бухучета</a></li>
							<li><a href="#">Разработка учетной политики</a></li>
							<li><a href="#">Персонифицированный учет</a></li>
							<li><a href="#">Кадровый учет</a></li>
							<li><a href="#">Расчет заработной платы</a></li>
							<li><a href="#">Составление и сдача отчетности</a></li>
							<li><a href="#">Нулевая отчетность</a></li>
							<li><a href="#">Бухгалтерский аудит </a></li>
							<li><a href="#">Для физлиц 3-НДФЛ</a></li>
							<li><a href="#">Консультация бухгалтера</a></li>
							<li><a href="#">Вопросы бухгалтеру</a></li>
							<li><a href="#">Стоимость бухгалтерских услуг</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Юридические услуги</a>
						<ul class="footer-menu__droplist">
							<li><a href="#">Регистрация бизнеса</a></li>
							<li><a href="#">Регистрация изменений</a></li>
							<li><a href="#">Реорганизация бизнеса</a></li>
							<li><a href="#">Ликвидация бизнеса</a></li>
							<li><a href="#">Договорное право</a></li>
							<li><a href="#">Арбитраж</a></li>
							<li><a href="#">Представительство</a></li>
							<li><a href="#">Консультации</a></li>
							<li><a href="#">Часто задаваемые вопросы</a></li>
							<li><a href="#">Стоимость услуг юриста</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Поддержка и сопровождение бизнеса</a>
						<ul class="footer-menu__droplist">
							<li><a href="#">Вступление в СРО</a></li>
							<li><a href="#">Лицензирование</a></li>
							<li><a href="#">Сертификация</a></li>
							<li><a href="#">Юридические адреса</a></li>
							<li><a href="#">Секретарское обслуживание </a></li>
							<li><a href="#">Внедрение 1С</a></li>
							<li><a href="#">Оценочные услуги</a></li>
							<li><a href="#">Кредитование</a></li>
							<li><a href="#">«Тендерный управляющий»</a></li>
							<li><a href="#">Повышение квалификации</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Готовые решения</a>
						<ul class="footer-menu__droplist">
							<li><a href="#">Готовый бизнес</a></li>
							<li><a href="#">Бизнес "под ключ"</a></li>
							<li><a href="#">Сопровождение от "А" до "Я"</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<div class="footer-nav">
			<div class="container">
				<ul class="footer-list">
					<li><a href="#">О компании</a></li>
					<li><a href="#">Полезная информация</a></li>
					<li><a href="#">Блог</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<a href="#" class="footer-sitemap">Карта сайта</a>
			</div>
		</div>

		<div class="footer-info">
			<div class="container">
				<div class="footer-location">Москва, ул.Новодмитровская, д.5а, стр.1<a href="mailto:info@glavbuhvam.ru">info@glavbuhvam.ru</a></div>
				<div class="footer-phone">+7 (495) 728-28-55<a href="#">Обратная связь</a></div>
				<div class="footer-copyright">&copy; 2017 ООО «Бизнес Партнёр»<br>Все права защищены</div>
				<div class="footer-developer">Сделано в <a href="#">Рекламотерапии</a></div>
			</div>
		</div>

	</footer>

	<div class="hidden">
		<div id="callback-form" class="callback-form mfp-with-anim">
			<div class="callback-form__title">Обратная связь</div>
			<form action="#">
				<label>
					<input type="text" required>
					<div class="placeholder">Ваше имя <span>*</span></div>
				</label>
				<label>
					<input type="text" required>
					<div class="placeholder">Телефон или E-mail <span>*</span></div>
				</label>
				<textarea id="" cols="30" rows="10" placeholder="Текст сообщения"></textarea>
				<button class="btn btn--form">Обратная связь</button>
			</form>
		</div>
	</div>

	<div class="loader">
		<div class="loader_inner"></div>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery/jquery-1.12.4.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>
	<script src="libs/formstyler/jquery.formstyler.min.js"></script>

	<script src="js/common.js"></script>
