	<header class="header">
		<div class="header-top">
			<div class="header-mob">
				<a href="tel:+74957282855" class="callback-phone callback-phone--mob">+7 (495) 728-28-55</a>
			</div>
			<div class="container">

				<a href="#" class="logo"><img src="img/logo.png" alt=""></a>

				<div class="header-main">
					<ul class="header-menu">
						<li><a href="#">О компании</a></li>
						<li><a href="#">Полезная информация</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>

					<div class="callback">
						<a href="tel:+74957282855" class="callback-phone">+7 (495) 728-28-55</a>
						<a href="#callback-form" class="btn popup" data-effect="mfp-zoom-in">Обратная связь</a>
					</div>

					<div class="location"><span>Москва,</span>ул.Новодмитровская, д.5а, стр.1</div>
					<div class="work"><span>Часы работы:</span>с 9:30 до 18:30, сб.-вс. выходной</div>
				</div>

				<div class="btn-menu">
					<div class="btn-menu__burger">
						<b></b>
						<b></b>
						<b></b>
					</div>
				</div>

			</div>
		</div>
		<div class="nav">
			<div class="container">
				<span class="nav-link">Каталог услуг<i class="caret"></i></span>
				<ul class="nav-list">
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">Бухгалтерские услуги<i class="caret"></i></a>

						<ul class="nav-droplist">
							<li><a href="#">Постановка бухгалтерского и налогового учета</a></li>
							<li>
								<a href="#">Ведение бухгалтерского учета</a>
								<ul>
									<li>
										<a href="#">Разработка учетной политики</a>
										<ul>
											<li><a href="#">Расчет заработной платы</a></li>
											<li><a href="#">Составление и сдача отчетности</a></li>
										</ul>
									</li>
									<li><a href="#">Персонифицированный учет</a></li>
									<li><a href="#">Кадровый учет</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Восстановление бухучета</a>
								<ul>
									<li>
										<a href="#">Разработка учетной политики</a>
										<ul>
											<li><a href="#">Расчет заработной платы</a></li>
											<li><a href="#">Составление и сдача отчетности</a></li>
										</ul>
									</li>
									<li><a href="#">Персонифицированный учет</a></li>
									<li><a href="#">Кадровый учет</a></li>
								</ul>
							</li>
							<li><a href="#">Расчет заработной платы</a></li>
							<li><a href="#">Составление и сдача отчетности</a></li>
							<li><a href="#">Нулевая отчетность</a></li>
							<li><a href="#">Бухгалтерский аудит </a></li>
							<li><a href="#">Для физлиц 3-НДФЛ</a></li>
							<li><a href="#">Консультация бухгалтера</a></li>
							<li><a href="#">Вопросы бухгалтеру</a></li>
							<li><a href="#">Стоимость бухгалтерских услуг</a></li>
						</ul>

					</li>
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">Юридические услуги<i class="caret"></i></a>

						<ul class="nav-droplist">
							<li><a href="#">Постановка бухгалтерского и налогового учета</a></li>
							<li><a href="#">Ведение бухгалтерского учета</a></li>
						</ul>

					</li>
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">Сопровождение бизнеса<i class="caret"></i></a>

						<ul class="nav-droplist">
							<li><a href="#">Постановка бухгалтерского и налогового учета</a></li>
							<li><a href="#">Ведение бухгалтерского учета</a></li>
						</ul>

					</li>
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">Готовые решения<i class="caret"></i></a>

						<ul class="nav-droplist">
							<li><a href="#">Постановка бухгалтерского и налогового учета</a></li>
							<li><a href="#">Ведение бухгалтерского учета</a></li>
						</ul>

					</li>
				</ul>
				<a href="#" class="search-link"><i></i>search</a>
				<div class="search-block">
					<input class="search-block__in" type="search" placeholder="Поиск по сайту">
					<span class="search-block__icon">search</span>
				</div>
			</div>
		</div>

	</header>