@import "vars"

/*----------------Service page-------------------*/
.service-text
	margin-top: 30px
	font: 14px/24px "opensans"
	p
		margin-bottom: 10px
	&__accent
		margin: 19px 0 12px
		font: 800 italic 24px "panton"
	img
		display: block
		width: 100%
		margin: 35px 0
/*---------------------end------------------------*/