.footer
	position: relative
	padding: 55px 0 22px

.scroll-top
	position: absolute
	display: block
	top: 24px
	left: 0
	right: 0
	width: 48px
	height: 48px
	margin: 0 auto
	font-size: 0
	z-index: 900
	background: url(../img/up.png) 0 0 no-repeat

.logo-block_footer
	width: 100%

.footer-menu
	margin-top: 30px
	.nav
		li
			margin: 0 16px 10px 0
			a
				padding: 5px 10px
				&:before, &:after
					top: 25%
					bottom: 16px
				span
					&:before, &:after
						bottom: 25px

.footer-contact
	position: relative
	margin-top: 25px
	&:before
		content: ''
		position: absolute
		top: 2px
		left: -20px
		width: 1px
		height: 100%
		background: #d7d7d7
	.mail, .phone, .location
		display: block
		margin-left: 0
	.mail
		margin-bottom: 8px
	.phone
		margin-bottom: 7px

.copyright
	margin-top: 16px
	font: 16px "Eurofurence"
	color: #b5b5b5
	text-align: center