/*-------Base styles----------*/
*::-webkit-input-placeholder {
  color: #aeaeae;
  opacity: 1;
}

*:-moz-placeholder {
  color: #aeaeae;
  opacity: 1;
}

*::-moz-placeholder {
  color: #aeaeae;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #aeaeae;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

body {
  font-family: "raleway", sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.alignleft {
  float: left;
  margin: 0 10px 10px 0;
}

.alignright {
  float: right;
  margin: 0 0 10px 10px;
}

/*----------end---------------*/
.header {
  position: relative;
}

.header-top {
  padding: 43px 30px;
  background: #fff;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 190px;
  margin: 0 auto;
}

.header-logo img {
  display: block;
  max-width: 100%;
}

.menu-mob {
  display: none;
  position: absolute;
  top: 0;
  right: 15px;
  width: 40px;
  height: 44px;
  cursor: pointer;
  z-index: 900;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.menu-mob span {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  margin: 8px 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background: #53c553;
}

.menu-mob span:nth-child(1) {
  top: 0;
}

.menu-mob span:nth-child(2) {
  top: 12px;
}

.menu-mob span:nth-child(3) {
  top: 24px;
}

.menu-mob:hover span, .menu-mob.active span {
  background: #82de82;
}

.menu-mob.active span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-mob.active span:nth-child(2) {
  left: -1500px;
  -webkit-transition: left .8s ease;
  -o-transition: left .8s ease;
  transition: left .8s ease;
}

.menu-mob.active span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mail {
  position: relative;
  display: table;
  padding-left: 40px;
}

.mail:hover {
  color: #6bd56b;
}

.mail:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -15px;
  background-image: url(../img/sprite.png);
  background-position: -30px 0px;
  width: 30px;
  height: 30px;
}

.mail-header {
  display: inline-block;
  font: 300 18px "roboto", sans-serif;
  color: #7f7f7f;
}

.phone {
  position: relative;
  display: table;
  padding-left: 40px;
}

.phone:hover {
  color: #6bd56b;
}

.phone:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -15px;
  background-image: url(../img/sprite.png);
  background-position: 0px -30px;
  width: 30px;
  height: 30px;
}

.phone-header {
  float: right;
  font: 300 23px "roboto", sans-serif;
  color: #7f7f7f;
}

.header-nav {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 3px solid #3490df;
  background: rgba(0, 0, 0, 0.5);
}

.header-menu {
  width: 100%;
  padding: 0 15px;
  line-height: 0;
  font-size: 0;
  text-align: justify;
  text-justify: newspaper;
  -moz-text-align-last: justify;
       text-align-last: justify;
  zoom: 1;
}

.header-menu:after {
  content: ' ';
  display: inline-block;
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
}

.header-menu li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -moz-text-align-last: auto;
       text-align-last: auto;
  text-align: center;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
}

.header-menu li:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  right: 100%;
  height: 3px;
  -webkit-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  background: #6bd56b;
}

.header-menu li:hover:before {
  right: 0;
}

.header-menu li a {
  display: table-cell;
  vertical-align: middle;
  height: 78px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
}

.header-menu li a:hover {
  color: #6bd56b;
}

section {
  padding-top: 60px;
}

.section-main {
  padding: 209px 0 33px;
  text-align: center;
  overflow: hidden;
  background: url(../img/main-bg.jpg) center top no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.main-block {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 840px;
  margin-bottom: 83px;
  padding: 13px 30px 28px;
  border: 40px solid rgba(0, 0, 0, 0.3);
}

.main-block:after {
  content: '';
  position: absolute;
  top: -95px;
  right: -255px;
  width: 448px;
  height: 453px;
  background: url(../img/pict-1.png) 0 0 no-repeat;
}

.main-block__title {
  position: relative;
  margin-bottom: 9px;
  z-index: 3;
  font-size: 90px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 5.5px;
  line-height: 104px;
  text-align: left;
  text-transform: uppercase;
}

.main-block__text {
  position: relative;
  margin-left: 37%;
  z-index: 3;
  font-size: 34px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1.4px;
  text-align: left;
  text-transform: uppercase;
}

.btn {
  position: relative;
  display: block;
  height: 72px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 68px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
  outline: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: #53c553;
}

.btn:hover {
  color: #fff;
  background: #82de82;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
}

.btn:focus {
  color: #fff;
  outline: none;
}

.btn_size1 {
  width: 284px;
}

.btn_size2 {
  width: 248px;
}

.btn-main {
  position: absolute;
  bottom: 38px;
  left: -70px;
}

.main-bottom__title {
  margin-bottom: 18px;
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
}

.main-bottom__text {
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
}

.section-calc {
  padding-bottom: 74px;
}

.section-title {
  position: relative;
  padding-left: 19px;
  font-size: 60px;
  font-weight: 900;
  line-height: 0.75;
  z-index: 2;
  text-transform: uppercase;
  border-left: 4px solid #3490df;
}

.section-title_color2 {
  color: #fff;
}

.section-title p:not(:last-child) {
  margin-bottom: 28px;
}

.calc {
  position: relative;
  width: 100%;
  max-width: 1362px;
  margin: -110px auto 0;
  padding: 120px 0 0;
  border: 40px solid rgba(0, 0, 0, 0.02);
}

.calc:after {
  content: '';
  position: absolute;
  top: -108px;
  right: 15px;
  width: 67px;
  height: 71px;
  background: url(../img/cleaning.png) 0 0 no-repeat;
}

.calc-block {
  padding: 0;
}

.calc-block:before, .calc-block:after {
  content: " ";
  display: table;
}

.calc-block:after {
  clear: both;
}

.calc-item {
  position: relative;
  float: left;
  width: 33.33%;
  margin-bottom: -55px;
  padding: 0 10px;
  overflow: hidden;
}

.calc-item__pict {
  position: relative;
  height: 435px;
  overflow: hidden;
}

.calc-item__pict:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  background: rgba(0, 0, 0, 0.7);
}

.calc-item__pict img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.calc-item__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  font: 300 34px/1 "roboto", sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

.calc-item__title:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 335px;
  height: 173px;
  background: url(../img/calc-hover.png) 0 0 no-repeat;
}

.calc-item__title p {
  margin-bottom: 15px;
}

.calc-item:hover .calc-item__pict:before {
  opacity: .4;
}

.calc-item:hover .calc-item__pict img {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.calc-item:hover .calc-item__title {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.calc-item__price span {
  color: #6bd56b;
  font-weight: normal;
}

.btn-calc {
  margin: -39px auto 0;
}

.section-price {
  padding-bottom: 60px;
  background: url(../img/price-bg.jpg) center top no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.price-tb {
  display: table;
  width: 100%;
  margin-top: 52px;
}

.price-tr {
  display: table-row;
}

.price-td {
  display: table-cell;
  padding: 17px 0 17px 20px;
  font: 500 16px "roboto", sans-serif;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.price-td:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.price-td_head {
  font-weight: 300;
}

.section-service {
  padding-bottom: 53px;
  overflow: hidden;
}

.service:after {
  content: '';
  position: absolute;
  bottom: -53px;
  right: 0;
  width: 81px;
  height: 71px;
  background: url(../img/vacuum.png) 0 0 no-repeat;
}

.service-head {
  padding: 49px 0 24px;
}

.service-tab:before, .service-tab:after {
  content: " ";
  display: table;
}

.service-tab:after {
  clear: both;
}

.service-tab li {
  position: relative;
  float: left;
  width: 25%;
  margin-right: -1px;
  z-index: 1;
}

.service-tab li a {
  display: block;
  padding: 30px 0;
  font: 16px "roboto", sans-serif;
  color: #53c553;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #53c553;
}

.service-tab li a:hover {
  color: #3490df;
  border: 1px solid #3490df;
}

.service-tab li.active {
  z-index: -1;
}

.service-tab li.active a {
  color: #c3c3c3;
  border: 1px solid #ececec;
}

.service-content {
  display: none;
}

.service-content:before, .service-content:after {
  content: " ";
  display: table;
}

.service-content:after {
  clear: both;
}

.service-content.active {
  display: block;
}

.service-text {
  float: left;
  width: 40%;
  padding-top: 74px;
}

.service-text__title {
  margin-bottom: 25px;
  font: 300 34px "roboto", sans-serif;
  color: #c3c3c3;
  text-transform: uppercase;
}

.service-list li {
  position: relative;
  display: block;
  margin-bottom: 17px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.service-list li:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #53c553;
}

.service-list li:hover {
  color: #3490df;
}

.service-list li:hover:before {
  background: #3490df;
}

.service-pict {
  float: left;
  width: 60%;
}

.service-pict img {
  display: block;
  max-width: 100%;
}

.section-work {
  background: url(../img/work-bg.jpg) center top no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.work {
  margin-top: 85px;
}

.work-item {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  margin-bottom: 72px;
}

.work-item__title {
  position: relative;
  margin-bottom: 25px;
  padding-left: 63px;
  font: 300 25px "roboto", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.work-item__title:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 53px;
  height: 53px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.work-item__title_ic1:before {
  background: url(../img/rocket.png) 0 0 no-repeat;
}

.work-item__title_ic2:before {
  background: url(../img/diamond.png) 0 0 no-repeat;
}

.work-item__title_ic3:before {
  background: url(../img/key.png) 0 0 no-repeat;
}

.work-item__title_ic4:before {
  background: url(../img/recommended.png) 0 0 no-repeat;
}

.work-item__title_ic5:before {
  background: url(../img/piggybank.png) 0 0 no-repeat;
}

.work-item__title_ic6:before {
  background: url(../img/project-management.png) 0 0 no-repeat;
}

.work-item__title_ic7:before {
  background: url(../img/Layer-8.png) 0 0 no-repeat;
}

.work-item__title_ic8:before {
  background: url(../img/brush.png) 0 0 no-repeat;
}

.work-item__text {
  padding-right: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.section-gallery {
  padding-bottom: 85px;
  overflow: hidden;
}

.gallery {
  position: relative;
  max-width: 1365px;
  width: 100%;
  margin: 52px auto 0;
  overflow: hidden;
}

.gallery:before, .gallery:after {
  content: " ";
  display: table;
}

.gallery:after {
  clear: both;
}

.gallery:before {
  content: '';
  position: absolute;
  top: -79px;
  right: 70px;
  width: 54px;
  height: 78px;
  background: url(../img/cleaning-spray.png) 0 0 no-repeat;
}

.gallery-item {
  position: relative;
  float: left;
  width: 50%;
  height: 498px;
  overflow: hidden;
}

.gallery-item__pict {
  position: relative;
  float: left;
  width: 50%;
  overflow: hidden;
}

.gallery-item__pict:before, .gallery-item__pict:after {
  content: " ";
  display: table;
}

.gallery-item__pict:after {
  clear: both;
}

.gallery-item__pict span {
  position: absolute;
  bottom: 20px;
  left: 20px;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.gallery-item__pict img {
  display: block;
  height: 100%;
}

.gallery-item__pict:hover span {
  color: #6bd56b;
  text-decoration: none;
}

.gallery-item_twopict .gallery-item__pict {
  height: 100%;
}

.gallery-item_fourpict .gallery-item__pict {
  height: 50%;
}

.section-form {
  padding-bottom: 50px;
  background: url(../img/form-bg.jpg) center top no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.form-front {
  margin: -30px 0 0 -60px;
}

.form-block {
  position: relative;
  display: inline-block;
}

.form-block fieldset {
  margin: 0;
  padding: 40px 40px 60px;
  border: 40px solid rgba(0, 0, 0, 0.05);
}

.form-block label {
  position: relative;
  display: block;
  width: 386px;
  max-width: none;
  margin: 0;
}

.form-block span.placeholder {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 15px;
  font-weight: 500s;
}

.form-block span.placeholder sup {
  top: 0;
  font-size: 20px;
  color: #d91f1f;
}

.form-block input {
  display: block;
  width: 100%;
  height: 64px;
  margin-bottom: 10px;
  padding-left: 20px;
  outline: none;
  border: 1px solid #f1f1f1;
  background: #fff;
}

.btn-form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.section-contact:before, .section-contact:after {
  content: " ";
  display: table;
}

.section-contact:after {
  clear: both;
}

.contact {
  position: relative;
  margin: 48px auto 0;
}

.contact-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1;
  background: #fff;
}

.contact-block {
  float: left;
  max-width: 390px;
  padding: 158px 10px 20px;
  z-index: 2;
}

.contact-block:before, .contact-block:after {
  content: " ";
  display: table;
}

.contact-block:after {
  clear: both;
}

.contact-map {
  float: right;
  width: 64%;
  height: 600px;
}

.contact-map iframe {
  height: 10%;
}

.phone-footer {
  margin-bottom: 30px;
  font: 300 20px "roboto", sans-serif;
}

.mail-footer {
  margin-bottom: 30px;
  font: 300 16px "roboto", sans-serif;
}

.location {
  position: relative;
  margin-bottom: 30px;
  padding-left: 40px;
  font: 300 16px "roboto", sans-serif;
}

.location:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  margin-top: -15px;
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 30px;
  height: 30px;
}

.footer {
  padding: 60px 0 0;
  background: rgba(0, 0, 0, 0.8);
}

.footer:before, .footer:after {
  content: " ";
  display: table;
}

.footer:after {
  clear: both;
}

.footer-logowrap {
  float: left;
  width: 40.5%;
}

.footer-logo {
  display: inline-block;
  max-width: 245px;
}

.footer-logo img {
  display: block;
  max-width: 100%;
}

.footer-nav {
  float: left;
  width: 59.5%;
  padding-top: 10px;
}

.footer-menu li {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin-bottom: 40px;
  padding-right: 15px;
}

.footer-menu li a {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  color: #c0c0c0;
  text-transform: uppercase;
}

.footer-menu li a:hover {
  color: #fff;
}

.copyright {
  padding: 60px 0 17px;
  font: 300 15px "roboto", sans-serif;
  color: #c0c0c0;
  text-align: center;
}

/*----------Callback-form------------------*/
.mfp-bg {
  background: rgba(0, 37, 61, 0.7) !important;
}

.callback-form {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 15px 40px;
  text-align: center;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: #fff;
}

.callback-form__title {
  margin-bottom: 18px;
  font: 300 40px "roboto", sans-serif;
  color: #000;
  text-transform: uppercase;
}

.callback-form .mfp-close {
  top: 15px;
  right: 15px;
}

.success {
  display: none;
  position: absolute;
  width: 320px;
  height: 100px;
  top: 50%;
  left: 50%;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  z-index: 800;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(83, 197, 83, 0.8);
}

.success span {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*--------------end-----------------------*/
