/*-------Base styles----------*/
*::-webkit-input-placeholder {
  color: #c9af6d;
  font-weight: normal;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c9af6d;
  font-weight: normal;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c9af6d;
  font-weight: normal;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c9af6d;
  font-weight: normal;
  opacity: 1;
}

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

body {
  font-family: "RobotoSlab", sans-serif;
  color: #363636;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

/*----------end---------------*/
header {
  background: url(../img/header-bg-1.jpg) center top no-repeat;
  background-size: cover;
}

.header__top {
  position: relative;
  height: 120px;
  padding-top: 18px;
}

.free__count {
  display: inline-block;
  margin-right: 10px;
  font-size: 42px;
  font-weight: 700;
  color: #c9af6d;
  vertical-align: middle;
}

.free__descr {
  display: inline-block;
  margin-right: 40px;
  font-size: 15px;
  font-weight: 700;
  color: #76aac6;
  vertical-align: middle;
}

.btn__link {
  display: inline-block;
  width: 105px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #363636;
  background: #c9af6d;
  vertical-align: middle;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.btn__link:hover {
  color: #363636;
  background: #d8bf81;
}

.header__callback {
  text-align: right;
}

.callback__phone {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  vertical-align: middle;
  outline: none;
}

.callback__phone:hover, .callback__phone:focus {
  color: #fff;
}

.callback__link {
  display: inline-block;
  width: 160px;
  height: 40px;
  font-size: 14px;
  color: #c9af6d !important;
  line-height: 36px;
  text-align: center;
  border: 1px solid #c9af6d;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  vertical-align: middle;
  outline: none;
}

.callback__link:hover {
  color: #363636 !important;
  background: #c9af6d;
}

.callback__link:focus {
  text-decoration: none;
}

.callback__link.callback__link-see {
  display: none;
  width: 204px;
  height: 45px;
  margin: 0 auto;
  color: #fff;
  line-height: 42px;
}

.menu__list {
  display: inline-block;
  margin-top: 20px;
}

.menu__list.menu__list-left {
  float: left;
}

.menu__list.menu__list-right {
  float: right;
}

.menu__list .menu__item {
  display: inline-block;
  position: relative;
  text-align: center;
}

.menu__list .menu__item:first-child:before {
  content: ' ';
  position: absolute;
  top: 9px;
  left: -3px;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #c9af6d;
}

.menu__list .menu__item:after {
  content: ' ';
  position: absolute;
  top: 9px;
  right: -4px;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #c9af6d;
}

.menu__list .menu__item:hover a, .menu__list .menu__item.active a {
  border-bottom: 1px solid #c9af6d;
}

.menu__list .menu__item:hover a:after, .menu__list .menu__item.active a:after {
  opacity: 1;
}

.menu__list .menu__item a {
  display: inline-block;
  margin: 0 25px;
  padding-bottom: 12px;
  font-weight: 700;
  color: #fff;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.menu__list .menu__item a:after {
  content: ' ';
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 9px;
  height: 9px;
  margin: 0 auto;
  opacity: 0;
  background: url(../img/square_icon.png) 0 0 no-repeat;
  -webkit-transition: opacity .15s;
  transition: opacity .15s;
}

.logo__block {
  display: block;
  position: relative;
  width: 265px;
  margin: 0 auto;
  text-align: center;
}

.logo__block.logo__block-header {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
}

.logo__block:before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 68px;
  height: 117px;
  background: url(../img/logo_left.png) 0 0 no-repeat;
}

.logo__block:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 68px;
  height: 117px;
  background: url(../img/logo_right.png) 0 0 no-repeat;
}

.logo__block h1 {
  display: block;
  margin-bottom: 4px;
  font: 700 43px "Bitter";
  color: #c9af6d;
}

.logo__block span {
  display: inline-block;
  padding: 2px 10px 4px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-top: 1px solid #fff;
}

.btn__mob {
  display: none;
  margin-top: 10px;
  padding-bottom: 12px;
  text-align: center;
  border-bottom: 1px solid #6594af;
}

.btn__mob span {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #c9af6d;
  cursor: pointer;
  text-transform: uppercase;
}

.btn__mob span:before {
  content: ' ';
  position: absolute;
  top: 2px;
  left: 0;
  width: 22px;
  height: 12px;
  background: url(../img/menu_toggle.png) 0 0 no-repeat;
}

.menu__mob {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 16px 0 20px;
  z-index: 998;
  background: #062533;
}

.header__main {
  height: auto;
  padding: 68px 0 93px;
  background: url(../img/header_bg_2.png) center top no-repeat;
  background-size: cover;
}

.callback__mob {
  display: none;
  margin-bottom: 15px;
  text-align: center;
}

.callback__mob span {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.btn__link.btn__link-mob {
  width: 157px;
  height: 38px;
  margin: 0 auto;
  line-height: 38px;
}

.slider.slider-for {
  -webkit-box-shadow: 0 100px 50px -100px #000;
          box-shadow: 0 100px 50px -100px #000;
}

.slide__item {
  position: relative;
  width: 100%;
  height: 232px !important;
  padding: 25px;
  background: #fff;
}

.slide__item .item__pict {
  float: left;
  position: relative;
  width: 240px;
  z-index: 2;
}

.slide__item .item__pict img {
  width: 100%;
}

.slide__item .item__descr {
  display: table;
  padding-left: 35px;
  z-index: 2;
}

.slide__item:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 204px;
  height: 204px;
  z-index: 1;
  background: url(../img/slide_corner_left.png) 0 0 no-repeat;
}

.slide__item .more__link {
  position: absolute;
  bottom: -62px;
  right: -62px;
  width: 204px;
  height: 204px;
  font-size: 0;
  background: url(../img/slide_corner_right.png) 0 0 no-repeat;
}

.slide__top {
  display: table;
  position: relative;
  margin-bottom: 20px;
  z-index: 2;
}

.slide__top .top__pict {
  display: table-cell;
  position: relative;
  width: 45px;
  height: 45px;
  vertical-align: bottom;
}

.slide__service {
  display: block;
  margin: 0 0 7px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide__title {
  display: table-cell;
  position: relative;
  padding-left: 10px;
  margin-left: 10px;
  vertical-align: bottom;
}

.slide__title .title__main {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #083043;
}

.slide__text {
  position: relative;
  padding-right: 130px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  z-index: 2;
}

.slick-arrow {
  position: absolute;
  top: -155px;
  width: 50px;
  height: 80px;
  font-size: 0;
  background: #062533;
  border: none;
  outline: none;
}

.slick-arrow:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 19px;
  margin: auto;
}

.slick-arrow.slick-prev {
  left: -50px;
}

.slick-arrow.slick-prev:before {
  background: url(../img/slide_prev.png) 0 0 no-repeat;
}

.slick-arrow.slick-next {
  right: -50px;
}

.slick-arrow.slick-next:before {
  background: url(../img/slide_next.png) 0 0 no-repeat;
}

.slider.slider-nav {
  margin-top: 24px;
}

.slider.slider-nav .slick-track.animoff {
  width: 1140px !important;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
}

.slider.slider-nav .slick-slide.animoff {
  float: none !important;
  display: inline-block !important;
  width: 14% !important;
}

.nav__item {
  position: relative;
  margin: 6px 30px 10px 0;
  vertical-align: top;
  cursor: pointer;
  outline: none;
  border-top: 1px solid transparent;
}

.nav__item .nav__icon {
  position: relative;
  height: 45px;
}

.nav__item .nav__icon img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav__item span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #fff;
}

.nav__item.slick-current {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  border-top: 1px solid #c9af6d;
}

.nav__item.slick-current:before {
  content: ' ';
  position: absolute;
  top: -7px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 14px;
  height: 7px;
  background: url(../img/triangle.png) 0 0 no-repeat;
}

.home__adv {
  padding: 73px 0 0;
}

.adv__item {
  display: table;
  margin: 0 0 20px 25px;
  min-height: 130px;
}

.adv__item .item__img {
  display: table-cell;
  vertical-align: top;
}

.adv__item .item__descr {
  display: table-cell;
  padding: 0 57px 0;
  font-weight: 300;
  line-height: 22px;
  vertical-align: top;
}

.home__welc {
  position: relative;
  padding: 56px 0 0;
  background: #ededed;
}

.home__welc .container {
  position: relative;
}

.welc__title {
  display: block;
  margin-bottom: 6px;
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
}

.welc__pict {
  margin-top: 10px;
}

.welc__descr p {
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 21px;
}

.welc__banner {
  position: absolute;
  bottom: -115px;
  width: 100%;
  height: 252px;
  background: #fff;
  border: 3px solid #e9e9e9;
  -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 13px rgba(0, 0, 0, 0.15);
}

.banner__title {
  margin: 30px 0 0 45px;
  font-size: 14px;
  font-weight: 700;
}

.banner__text {
  position: relative;
  margin-top: 35px;
  padding: 0 265px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.banner__text:after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  width: 161px;
  height: 117px;
  margin: 0 auto;
  background: url(../img/com.png) center top no-repeat;
}

.banner__author {
  position: absolute;
  bottom: 35px;
  right: 45px;
  font-size: 18px;
  font-weight: 300;
}

.home__order {
  padding: 175px 0 75px;
  text-align: center;
  background: url(../img/home_form_bg.png) center top no-repeat;
}

.order__title {
  display: block;
  margin-bottom: 55px;
  font-size: 28px;
  font-weight: 700;
}

.order__form input {
  width: 250px;
  height: 50px;
  margin: 0 12px;
  padding-left: 20px;
  color: #c9af6d;
  border: none;
  background: #0b364a;
}

.form__btn {
  display: block;
  width: 165px;
  height: 50px;
  margin: 45px auto 0;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background: #c9af6d;
}

.form__btn:hover {
  background: #d8bf81;
}

footer {
  padding: 60px 0 75px;
  text-align: center;
  background: #0b151a;
}

.menu__list.menu__list-footer {
  margin-top: 62px;
}

.menu__list.menu__list-footer .menu__item:hover a {
  color: #fff;
  border-bottom: none;
}

.menu__list.menu__list-footer .menu__item:hover a:after {
  opacity: 0;
}

.menu__list.menu__list-footer .menu__item a {
  border-bottom: none;
  color: #546973;
}

.footer__copyright {
  margin-top: 45px;
  font-size: 14px;
  color: #7F8080;
}

/*------------Callback form--------------*/
.callback__form {
  position: relative;
  max-width: 545px;
  margin: 0 auto;
  padding: 52px 70px 48px;
  text-align: center;
  background: #fff;
}

.callback__form .form__title {
  margin-bottom: 54px;
  font-size: 28px;
  font-weight: 700;
}

.callback__form input {
  display: block;
  width: 100%;
  height: 48px;
  margin-bottom: 32px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #d9dedb;
}

.callback__form input::-webkit-input-placeholder {
  color: #363636;
}

.callback__form input:-moz-placeholder {
  color: #363636;
}

.callback__form input::-moz-placeholder {
  color: #363636;
}

.callback__form input:-ms-input-placeholder {
  color: #363636;
}

.mfp-fade.mfp-bg {
  background: rgba(11, 21, 26, 0.8) !important;
}

.mfp-close-btn-in .mfp-close {
  top: 17px;
  right: 8px;
  font-size: 46px;
  color: #333638;
  opacity: 1;
}

.mfp-close-btn-in .mfp-close:active {
  top: 17px;
}

.form__btn {
  display: block;
  width: 163px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  background-color: #c9af6d;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  background: #000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: .9;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*---------------end--------------------*/
/*--------------Contact page---------------*/
header.header__inner {
  background: none;
}

.header__top.header__top-inner {
  height: 175px;
  background: url(../img/heade-top-inner-bg.jpg) center top no-repeat;
  background-size: cover;
}

.breadcrumb {
  height: 200px;
  padding-top: 50px;
  background: url(../img/breadcrumb-bg.jpg) center top no-repeat;
  background-size: cover;
}

.breadcrumb__list {
  margin-bottom: 14px;
}

.breadcrumb__list li {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  font-size: 12px;
  color: #76aac6;
  text-transform: uppercase;
}

.breadcrumb__list li:not(:first-child):before {
  content: '\00BB';
  position: absolute;
  top: 0;
  left: -15px;
  font-size: 12px;
  color: #76aac6;
}

.breadcrumb__list li a {
  color: #c9af6d;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.breadcrumb__list li a:hover {
  color: #fff;
}

.page__title {
  display: block;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.contact {
  padding: 60px 0 85px;
}

.contact__pict img {
  width: 100%;
}

.contact__block {
  display: inline-block;
}

.contact__name {
  margin-bottom: 30px;
}

.contact__item {
  margin-bottom: 30px;
  font-size: 14px;
}

.contact__item span {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}

.contact__item a {
  display: block;
  margin-bottom: 5px;
  color: #363636;
}

/*-----------------end---------------------*/
/*--------------About page---------------*/
.about {
  padding: 70px 0 62px;
}

.about__block {
  font-size: 16px;
  font-weight: 300;
}

.about__block p {
  margin-bottom: 25px;
}

.home__order.home__order-inner {
  padding: 73px 0 85px;
}

/*------------------end--------------------*/
/*--------------Service page---------------*/
.service {
  padding: 35px 0 35px;
}

.service__top {
  margin-bottom: 42px;
  font-size: 18px;
  font-weight: 300;
}

.service__top img {
  float: left;
  width: 300px;
  margin-right: 45px;
}

.service__top p {
  line-height: 24px;
}

.service__title {
  display: block;
  margin-bottom: 28px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.service__block {
  font-size: 16px;
  font-weight: 300;
}

.service__block span {
  display: block;
  margin-bottom: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.service__block p {
  margin-bottom: 20px;
}

.service__block ul {
  margin-bottom: 33px;
}

.service__block ul li {
  margin-bottom: 20px;
}

/*------------------end--------------------*/
/*--------------Category page---------------*/
.category {
  padding: 33px 0 15px;
}

.category__title {
  display: block;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
}

.category__block {
  margin-bottom: 53px;
}

.category__item {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 192px;
  margin-bottom: 32px;
  padding: 94px 20px 0 20px;
  vertical-align: top;
  background: #103f56;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.category__item:hover {
  -webkit-box-shadow: 0 0 20px 1px #000;
          box-shadow: 0 0 20px 1px #000;
}

.category__item img {
  position: absolute;
  bottom: 143px;
  left: 28px;
}

.category__item .item__descr {
  display: block;
  font-size: 18px;
  color: #fff;
}

/*-------------------end--------------------*/
