/*-------Base styles----------*/
*::-webkit-input-placeholder
	color: #353535
	font-weight: 300
	font-style: italic
	opacity: 1

*:-moz-placeholder
	color: #353535
	font-weight: 300
	font-style: italic
	opacity: 1

*::-moz-placeholder
	color: #353535
	font-weight: 300
	font-style: italic
	opacity: 1

*:-ms-input-placeholder
	color: #353535
	font-weight: 300
	font-style: italic
	opacity: 1

html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.png")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 52px
		width: 54px
		margin-top: -26px
		margin-left: -27px
		left: 50%
		top: 50%
		position: absolute

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

body
	font-family: $default-font
	color: $main-color
	font-weight: normal
	font-size: 14px
	min-width: 360px
	position: relative
	line-height: 1.2
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	background: url(../img/main-bg.png) center top no-repeat
	background-size: cover

*
	box-sizing: border-box

a
	color: $main-color
	text-decoration: none
	transition: all .15s ease
	&:hover
		text-decoration: none

p
	margin: 0

ul
	margin: 0
	padding: 0
	list-style-type: none

.clearfix
	&:before,
	&:after
		content: " "
		display: table
	&:after
		clear: both

.hidden
	display: none

span.hide
	display: none

.container
	margin: 0 auto
	padding: 0 15px
/*----------end---------------*/