/*-------------Grid-----------*/
@media (min-width: 360px)
	.container
		width: 360px

@media (min-width: 768px)
	.container
		width: 740px

@media (min-width: 992px)
	.container
		width: 940px

@media (min-width: 1200px)
	.container
		width: 1200px

@media (min-width: 1370px)
	.container
		width: 1368px
/*------------end-------------*/