.footer
	position: absolute
	bottom: 0
	left: 0
	right: 0
	width: 100%
	&-top
		padding-bottom: 25px
		text-align: center
		border-bottom: 1px solid rgba(#fff, .6)
		+clearfix
	&-mail
		float: left
		font-size: 14px
		color: #fff
		opacity: .6
	&-title
		display: inline-block
		font-size: 14px
		color: #fff
		opacity: .6
	&-phone
		float: right
		font-size: 14px
		color: #fff
		opacity: .6
	&-bottom
		padding: 18px 0 15px
		+justify
		img
			display: inline-block
			vertical-align: middle
			max-width: 13%