.header
	position: absolute
	top: 0
	left: 0
	right: 0
	width: 100%
	.container
		+clearfix

.logo
	float: left
	max-width: 168px
	margin-top: 45px
	img
		width: 100%

.stick
	position: relative
	float: right
	width: 143px
	height: 170px
	margin-top: 35px
	background: url(../img/stick-bg.png) 0 0 no-repeat
	&__text
		position: absolute
		top: 45%
		left: 47%
		width: 100%
		transform: translate(-50%,-50%)
		font-size: 23px
		text-align: center