@import "bourbon"
@import "vars"
@import "base"
@import "mixins"
@import "sprite"

@import "header"

.zgl
	img
		width: 100%
		max-width: 1440px
		margin: 0 auto

// .main
// 	position: absolute
// 	top: 47%
// 	left: 50%
// 	max-width: 100%
// 	transform: translate(-50%,-50%)
// 	text-align: center
// 	&-pict
// 		img
// 			max-width: 100%
// 	&-btn
// 		display: block
// 		width: 195px
// 		height: 45px
// 		margin: 10% auto 0
// 		font-size: 18px
// 		color: rgba(255, 255, 255, 0.6)
// 		text-align: center
// 		line-height: 43px
// 		box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.75)
// 		background: #d52d7c
// 		&:hover
// 			box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.75)
// 			background: #ffc907
// 	&-social
// 		position: relative
// 		display: table
// 		margin: 8% auto 0
// 		font-size: 18px
// 		white-space: nowrap
// 		color: rgba(#fff, .6)
// 		text-decoration: underline
// 	&-fb
// 		position: absolute
// 		width: 33px
// 		height: 33px
// 		top: -5px
// 		right: -45px
// 		margin-left: 10px
// 		vertical-align: middle
// 		background: url(../img/fb.png) 0 0 no-repeat

@import "footer"