@import "vars"

/*----------------Contact page-------------------*/
.page-title
	&--contact
		margin-bottom: 33px

.contact-item
	margin-bottom: 15px
	&__title
		margin-bottom: 14px
		font-size: 14px
		font-weight: 800
		font-style: italic
	&__descr
		font: 14px/22px "opensans"
		p
			margin-bottom: 11px
		span
			font: 800 italic 14px "panton"

.contact-map
	max-width: 604px
	max-height: 456px
	margin: 29px 0 38px

.contact-info
	&__title
		margin-bottom: 19px
		font-size: 20px
		font-weight: 800
		font-style: italic
	&__text
		font: 14px/22px "opensans"
		&--last
			margin-top: 43px
	&__subtitle
		font: 800 italic 14px/22px "panton"
	&__phone
		margin-top: 22px
		font: 14px/22px "opensans"

.contact-accent
	margin-top: 22px
	font: 14px/22px "opensans"
/*--------------------end-------------------------*/