/*---------------Contact page---------------*/
.section-contact
	padding-top: 20px

.contact-item
	font-size: 14px
	color: #505050
	a
		color: #2050c1
		&:hover
			color: #2050c1
		&:focus
			text-decoration: none
	&_work
		margin-bottom: 32px
	&_location
		margin-bottom: 15px
	&_phone
		margin-bottom: 34px
	&_mail
		p
			margin-bottom: 11px

.contact-map
	height: 340px
	margin-top: 27px
	iframe
		height: 100%
/*-------------------end--------------------*/