/*-------------Grid-----------*/
@media (min-width: 320px)
	.container
		width: 320px

@media (min-width: 500px)
	.container
		width: 470px

@media (min-width: 768px)
	.container
		width: 740px

@media (min-width: 992px)
	.container
		width: 940px

@media (min-width: 1230px)
	.container
		width: 1230px
/*------------end-------------*/