@import "bourbon"
@import "vars"
@import "base"
@import "mixins"
@import "sprite"

@import "header"

.content
	position: relative

.sidebar
	width: 26.1%
	padding-right: 13px

.s-menu
	border: 1px solid #7c97d6
	background: #fbfbfb

.s-tab
	position: relative
	height: 50px
	background-color: #083191
	background-image: linear-gradient(to top, #083191 0%, #2354c6 100%)
	&:before
		content: ''
		position: absolute
		top: 0
		left: 50%
		width: 2px
		height: 100%
		margin-left: -1px
		background: #23428c
	&__name
		float: left
		width: 50%
		background-color: #083191
		background-image: linear-gradient(to top, #083191 0%, #2354c6 100%)
		a
			display: block
			font-size: 16px
			font-weight: 500
			color: #fff
			line-height: 48px
			text-align: center
			text-transform: uppercase
			&:focus
				text-decoration: none
		&:hover
			background-image: linear-gradient(to bottom, #083191 0%, #2354c6 100%)

.s-content
	padding: 17px 0 15px
	&-item
		display: none
		&.active
			display: block
		&__title
			position: relative
			display: inline-block
			margin: 0 0 5px 40px
			font-size: 20px
			font-weight: 500
			text-transform: uppercase
			&:before
				content: ''
				position: absolute
				bottom: -5px
				left: 0
				width: 23px
				height: 2px
				background: #bfbfbf
			&:hover
				color: $blue
			&_brend
				&:hover
					color: #000
	&__list
		margin-bottom: 40px
		li
			a
				position: relative
				display: block
				padding: 9px 40px
				font-size: 14px
				color: #505050
				&:after
					display: none
					content: ''
					position: absolute
					top: 50%
					right: 20px
					margin-top: -5px
					@include sprite($arrow-right)
			&:hover, &.active
				a
					box-shadow: inset 0 2px 6px rgba(0, 3, 1, 0.11)
					background: #dedbdb
					&:after
						display: block

.main
	width: 73.9%
	padding-left: 12px

section
	+clearfix

.section-main
	position: relative
	overflow: hidden

.slider-color
	position: absolute
	top: 0
	right: 0
	width: 350px
	height: 100%
	padding: 110px 30px 0
	z-index: 10
	text-align: center
	&:before
		content: ''
		position: absolute
		top: -50%
		right: -122%
		width: 775px
		height: 775px
		border-radius: 50%
		box-shadow: 0 0 35px rgba(0, 3, 1, 0.75)
		background: rgba(0, 0, 0, 0.75)
	&__title
		position: relative
		display: block
		font-size: 22px
		font-weight: 700
		color: #fff
		line-height: 25px
		z-index: 15
	&__btn
		position: relative
		display: block
		width: 207px
		height: 55px
		margin: 43px auto 0
		font-size: 18px
		font-weight: 700
		line-height: 51px
		z-index: 15
		outline: none
		border-radius: 50px
		background: #fcd13c
		&:hover
			color: #000
			background: #e7fc3c
		&:focus
			color: #000
			outline: none
			text-decoration: none

.main-slider
	.slider-item
		height: 368px
		img
			width: 100%
	.slick-dots
		position: absolute
		width: 350px
		bottom: 35px
		right: 0
		text-align: center
		z-index: 11
		li
			display: inline-block
			margin: 0 5px
			button
				width: 10px
				height: 10px
				padding: 0
				font-size: 0
				outline: none
				border-radius: 50%
				border: none
				background: rgba(#fff, .5)
		.slick-active
			button
				background: #fff

.section-bonus
	padding: 20px 0

.bonus
	display: table
	width: 100%
	height: 71px
	overflow: hidden
	border: 1px solid #e7e8e7
	background: #fbfbfb
	+clearfix
	&__title
		position: relative
		display: table-cell
		vertical-align: middle
		width: 13.6%
		font-size: 15px
		font-weight: 500
		color: #fff
		text-align: center
		span
			position: relative
			z-index: 5
		&:before
			content: ''
			position: absolute
			top: -113px
			right: 0
			width: 300px
			height: 300px
			border-radius: 50%
			background-color: #db1560
			background-image: linear-gradient(to top, #083191 0%, #2354c6 100%)
			box-shadow: 0 0 38px rgba(0, 0, 0, 0.33)
	&-item
		position: relative
		display: table-cell
		vertical-align: middle
		width: 28.8%
		padding-right: 35px
		font-size: 14px
		font-weight: 500
		line-height: 19px
		z-index: 10
		i
			position: relative
			display: table-cell
			width: 35px
			height: 34px
		span
			display: table-cell
			vertical-align: middle
			padding-left: 15px
		&_1
			padding-left: 32px
			i
				background: url(../img/bonus-1.png) center no-repeat
		&_2
			padding-left: 6px
			i
				background: url(../img/bonus-2.png) center no-repeat
		&_3
			padding-left: 20px
			i
				background: url(../img/bonus-3.png) center no-repeat

.section-cl
	padding: 45px 0 60px
	&_tovar
		padding: 0

.section-title
	position: relative
	padding-left: 15px
	font-size: 22px
	font-weight: 500
	&:before
		content: ''
		position: absolute
		top: 9px
		left: 0
		width: 8px
		height: 15px
		background: #f2a105
	&_blue
		&:before
			background: #055ef2
	&_tovar
		padding-left: 0
		font-size: 25px
		&:before
			display: none

.cl-tovar
	padding: 42px 0
	border-bottom: 1px solid #050505
	.slick-list
		margin: 0 -14px
	.cl-item
		outline: none
	.slick-arrow
		position: absolute
		top: -20px
		right: 44px
		width: 32px
		height: 32px
		margin-top: -10px
		padding: 0
		font-size: 0
		z-index: 9
		outline: none
		cursor: pointer
		opacity: .8
		border-radius: 50%
		z-index: 9
		background-image: linear-gradient(to top, #e6e4e4 0%, #f2f2f2 100%)
		border: 1px solid #cfd0d0
		box-shadow: inset 0 -2px 4.8px 0.3px rgba(0, 3, 1, 0.23)
		&.slick-prev
			right: 86px
			background: #fff url(../img/arrow-l.png) center no-repeat
		&.slick-next
			background: #fff url(../img/arrow-r.png) center no-repeat
		&:hover
			opacity: 1
		&.slick-disabled
			top: -17px
			width: 26px
			height: 26px
			&.slick-prev
				right: 86px
			&.slick-next
				right: 50px

.tovar-item
	max-width: 100%
	margin: 0 14px
	height: 223px
	padding: 20px
	border: 1px solid #f8f6f6
	border-radius: 6px
	&__pict
		position: relative
		height: 110px
		text-align: center
		overflow: hidden
		img
			display: block
			max-width: 100%
			margin: 0 auto
			+vcenter
	&__name
		display: block
		height: 47px
		margin-bottom: 5px
		overflow: hidden
		font-size: 13px
		line-height: 16px
		text-align: left
		&:hover
			color: $blue
		&:focus
			text-decoration: none
	&__price
		display: inline-block
		font-size: 13px
		font-weight: 700
		color: #878787
	&__cart
		float: right
		font-size: 13px
		font-weight: 700
		color: #123ea5
		&:hover
			color: $lightblue
		&:focus
			text-decoration: none

.section-article
	padding: 25px 0

.articles
	padding: 35px 0 85px
	border-bottom: 1px solid #050505
	+clearfix

.article-item
	float: left
	width: 31%
	padding-right: 30px
	&__date
		margin-bottom: 4px
		font-size: 18px
		font-weight: 300
	&__title
		height: 45px
		margin-bottom: 20px
		overflow: hidden
		font-size: 22px
		font-weight: 500
		line-height: 21px
	&__text
		position: relative
		font-size: 15px
		color: #5e5e5e
		line-height: 21px
		&:before
			content: ''
			position: absolute
			top: -9px
			left: 0
			width: 36px
			height: 1px
			background: #db1560

.section-about
	padding: 80px 0 50px
	&__title
		display: block
		margin-bottom: 34px
		font-size: 25px
		font-weight: 700
		text-transform: uppercase

.about
	font-size: 15px
	p
		margin-bottom: 38px
	h2
		display: block
		margin-bottom: 24px
		font-size: 22px
		font-weight: 500
	&-adv
		margin-bottom: 32px
		+clearfix
		&__item
			float: left
			width: 25%
			font-size: 30px
			font-weight: 700
			line-height: 1
			text-align: center
			span
				display: block
				font-size: 22px
				color: #686868
				font-weight: normal

@import "footer"
@import "catalog"
@import "tovar"
@import "cart"
@import "order"
@import "contact"