<div class="sidebar">
	<div class="sidebar-title">Каталог товаров</div>
	<div class="sidebar-menu">
		<ul class="sidebar-nav">
			<li><a href="#">Сетевое оборудование</a></li>
			<li>
				<a href="#">Источники бесперебойного питания</a>
				<ul>
					<li><a href="#">APC</a></li>
					<li><a href="#">CSB</a></li>
					<li>
						<a href="#">CyberPower</a>
						<ul>
							<li><a href="#">ИБП Backup Cyberpower</a></li>
							<li><a href="#">ИБП Smart App CyberPower</a></li>
							<li><a href="#">Батареи для ИБП CyberPower</a></li>
						</ul>
					</li>
					<li><a href="#">Eaton</a></li>
					<li><a href="#">Force Battery</a></li>
					<li><a href="#">FSP</a></li>
				</ul>
			</li>
			<li><a href="#">Телефония</a></li>
			<li><a href="#">Телекоммуникационное оборудование</a></li>
			<li><a href="#">Серверное оборудование</a></li>
			<li><a href="#">Компьютерное оборудование</a></li>
			<li><a href="#">Системы хранения данных</a></li>
			<li><a href="#">Пассивное сетевое оборудование</a></li>
			<li><a href="#">Мультимедийное оборудование</a></li>
			<li><a href="#">Оборудование для аудио/видеоконференций</a></li>
			<li><a href="#">Системы видеонаблюдения</a></li>
			<li><a href="#">Промышленная автоматизация</a></li>
			<li><a href="#">Принтеры, Cканеры, МФУ</a></li>
			<li><a href="#">Торговое оборудование</a></li>
			<li><a href="#">Программное обеспечение</a></li>
		</ul>
	</div>
</div>