.footer
	padding: 60px 0 0
	background: rgba(#000,.8)
	+clearfix
	&-logowrap
		float: left
		width: 40.5%
	&-logo
		display: inline-block
		max-width: 245px
		img
			display: block
			max-width: 100%
	&-nav
		float: left
		width: 59.5%
		padding-top: 10px
	&-menu
		li
			display: inline-block
			vertical-align: top
			width: 32%
			margin-bottom: 40px
			padding-right: 15px
			a
				display: inline-block
				font-size: 15px
				font-weight: 700
				color: #c0c0c0
				text-transform: uppercase
				&:hover
					color: #fff

.copyright
	padding: 60px 0 17px
	font: 300 15px $secfont
	color: #c0c0c0
	text-align: center


/*----------Callback-form------------------*/
.mfp-bg
	background: rgba(#00253d, .7) !important

.callback-form
	position: relative
	max-width: 600px
	width: 100%
	margin: 0 auto
	padding: 40px 15px 40px
	text-align: center
	border-radius: 10px
	background: #fff
	&__title
		margin-bottom: 18px
		font: 300 40px $secfont
		color: #000
		text-transform: uppercase
	.mfp-close
		top: 15px
		right: 15px
		// font-size: 0
		// @include sprite($close)

.success
	display: none
	position: absolute
	width: 320px
	height: 100px
	top: 50%
	left: 50%
	font-size: 16px
	font-weight: 300
	color: #fff
	z-index: 800
	border-radius: 0px
	text-transform: uppercase
	transform: translate(-50%, -50%)
	background: rgba($btn, 0.8)
	span
		position: absolute
		top: 50%
		left: 50%
		white-space: nowrap
		transform: translate(-50%, -50%)

.btn-modal
/*--------------end-----------------------*/