@import "bourbon"
@import "vars"
@import "base"
@import "mixins"
@import "sprite"

@import "header"

section
	padding-top: 60px

.section-main
	padding: 209px 0 33px
	text-align: center
	overflow: hidden
	background: url(../img/main-bg.jpg) center top no-repeat
	background-size: cover

.main-block
	position: relative
	display: inline-block
	width: 100%
	max-width: 840px
	margin-bottom: 83px
	padding: 13px 30px 28px
	border: 40px solid rgba(#000,.3)
	&:after
		content: ''
		position: absolute
		top: -95px
		right: -255px
		width: 448px
		height: 453px
		background: url(../img/pict-1.png) 0 0 no-repeat
	&__title
		position: relative
		margin-bottom: 9px
		z-index: 3
		font-size: 90px
		font-weight: 900
		color: #fff
		letter-spacing: 5.5px
		line-height: 104px
		text-align: left
		text-transform: uppercase
	&__text
		position: relative
		margin-left: 37%
		z-index: 3
		font-size: 34px
		font-weight: 300
		color: #fff
		letter-spacing: 1.4px
		text-align: left
		text-transform: uppercase

.btn
	position: relative
	display: block
	height: 72px
	padding: 0
	font-size: 14px
	font-weight: 700
	line-height: 68px
	color: #fff
	text-align: center
	text-transform: uppercase
	z-index: 3
	outline: none
	border-radius: 0
	background: $btn
	&:hover
		color: #fff
		background: $hover
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16)
	&:focus
		color: #fff
		outline: none
	&_size1
		width: 284px
	&_size2
		width: 248px
	&-main
		position: absolute
		bottom: 38px
		left: -70px

.main-bottom
	&__title
		margin-bottom: 18px
		font-size: 35px
		color: #fff
		text-transform: uppercase
	&__text
		font-size: 17px
		color: #fff
		text-transform: uppercase

.section-calc
	padding-bottom: 74px

.section-title
	position: relative
	padding-left: 19px
	font-size: 60px
	font-weight: 900
	line-height: 0.75
	z-index: 2
	text-transform: uppercase
	border-left: 4px solid $blue
	&_color2
		color: #fff
	p
		&:not(:last-child)
			margin-bottom: 28px

.calc
	position: relative
	width: 100%
	max-width: 1362px
	margin: -110px auto 0
	padding: 120px 0 0
	border: 40px solid rgba(#000,.02)
	&:after
		content: ''
		position: absolute
		top: -108px
		right: 15px
		width: 67px
		height: 71px
		background: url(../img/cleaning.png) 0 0 no-repeat
	&-block
		padding: 0
		+clearfix
	&-item
		position: relative
		float: left
		width: 33.33%
		margin-bottom: -55px
		padding: 0 10px
		overflow: hidden
		&__pict
			position: relative
			height: 435px
			overflow: hidden
			&:before
				content: ''
				+coverdiv
				z-index: 1
				transition: all .25s ease
				background: rgba(#000, .7)
			img
				+vcenter
				height: 100%
				filter: blur(5px)
				transition: all .25s ease
		&__title
			+vcenter
			width: 100%
			font: 300 34px/1 $secfont
			color: #fff
			text-align: center
			text-transform: uppercase
			z-index: 2
			&:before
				content: ''
				+vcenter
				width: 335px
				height: 173px
				background: url(../img/calc-hover.png) 0 0 no-repeat
			p
				margin-bottom: 15px
		&:hover
			.calc-item__pict
				&:before
					opacity: .4
				img
					filter: blur(0)
			.calc-item__title
				text-shadow: 0 1px 1px rgba(#000, .5)
		&__price
			span
				color: $link
				font-weight: normal

.btn-calc
	margin: -39px auto 0

.section-price
	padding-bottom: 60px
	background: url(../img/price-bg.jpg) center top no-repeat
	background-size: cover

.price
	&-tb
		display: table
		width: 100%
		margin-top: 52px
	&-tr
		display: table-row
	&-td
		display: table-cell
		padding: 17px 0 17px 20px
		font: 500 16px $secfont
		color: #fff
		text-transform: uppercase
		border-bottom: 1px solid rgba(#fff,.5)
		&:not(:last-child)
			border-right: 1px solid rgba(#fff,.5)
		&_head
			font-weight: 300

.section-service
	padding-bottom: 53px
	overflow: hidden

.service
	&:after
		content: ''
		position: absolute
		bottom: -53px
		right: 0
		width: 81px
		height: 71px
		background: url(../img/vacuum.png) 0 0 no-repeat
	&-head
		padding: 49px 0 24px
	&-tab
		+clearfix
		li
			position: relative
			float: left
			width: 25%
			margin-right: -1px
			z-index: 1
			a
				display: block
				padding: 30px 0
				font: 16px $secfont
				color: $btn
				text-align: center
				text-transform: uppercase
				border: 1px solid $btn
				&:hover
					color: $blue
					border: 1px solid $blue
			&.active
				z-index: -1
				a
					color: #c3c3c3
					border: 1px solid #ececec
	&-content
		display: none
		+clearfix
		&.active
			display: block
	&-text
		float: left
		width: 40%
		padding-top: 74px
		&__title
			margin-bottom: 25px
			font: 300 34px $secfont
			color: #c3c3c3
			text-transform: uppercase
	&-list
		li
			position: relative
			display: block
			margin-bottom: 17px
			padding-left: 10px
			font-size: 14px
			font-weight: 500
			transition: all .25s ease
			&:before
				content: ''
				position: absolute
				top: 50%
				left: 0
				width: 6px
				height: 6px
				margin-top: -3px
				border-radius: 50%
				background: $btn
			&:hover
				color: $blue
				&:before
					background: $blue
	&-pict
		float: left
		width: 60%
		img
			display: block
			max-width: 100%

.section-work
	background: url(../img/work-bg.jpg) center top no-repeat
	background-size: cover

.work
	margin-top: 85px
	&-item
		display: inline-block
		width: 33%
		vertical-align: top
		margin-bottom: 72px
		&__title
			position: relative
			margin-bottom: 25px
			padding-left: 63px
			font: 300 25px $secfont
			color: #fff
			text-transform: uppercase
			&:before
				content: ''
				position: absolute
				top: 50%
				left: 0
				width: 53px
				height: 53px
				transform: translate(0,-50%)
			&_ic1
				&:before
					background: url(../img/rocket.png) 0 0 no-repeat
			&_ic2
				&:before
					background: url(../img/diamond.png) 0 0 no-repeat
			&_ic3
				&:before
					background: url(../img/key.png) 0 0 no-repeat
			&_ic4
				&:before
					background: url(../img/recommended.png) 0 0 no-repeat
			&_ic5
				&:before
					background: url(../img/piggybank.png) 0 0 no-repeat
			&_ic6
				&:before
					background: url(../img/project-management.png) 0 0 no-repeat
			&_ic7
				&:before
					background: url(../img/Layer-8.png) 0 0 no-repeat
			&_ic8
				&:before
					background: url(../img/brush.png) 0 0 no-repeat
		&__text
			padding-right: 20px
			font-size: 14px
			font-weight: 500
			color: #fff

.section-gallery
	padding-bottom: 85px
	overflow: hidden

.gallery
	position: relative
	max-width: 1365px
	width: 100%
	margin: 52px auto 0
	overflow: hidden
	+clearfix
	&:before
		content: ''
		position: absolute
		top: -79px
		right: 70px
		width: 54px
		height: 78px
		background: url(../img/cleaning-spray.png) 0 0 no-repeat
	&-item
		position: relative
		float: left
		width: 50%
		height: 498px
		overflow: hidden
		&__pict
			position: relative
			float: left
			width: 50%
			overflow: hidden
			+clearfix
			span
				position: absolute
				bottom: 20px
				left: 20px
				transition: all .25s ease
				font-size: 30px
				font-weight: 900
				color: #fff
				text-transform: uppercase
				text-decoration: underline
				text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
			img
				display: block
				height: 100%
			&:hover
				span
					color: $link
					text-decoration: none
		&_twopict
			.gallery-item__pict
				height: 100%
		&_fourpict
			.gallery-item__pict
				height: 50%

.section-form
	padding-bottom: 50px
	background: url(../img/form-bg.jpg) center top no-repeat
	background-size: cover

.form-front
	margin: -30px 0 0 -60px

.form-block
	position: relative
	display: inline-block
	fieldset
		margin: 0
		padding: 40px 40px 60px
		border: 40px solid rgba(#000,.05)
	label
		position: relative
		display: block
		width: 386px
		max-width: none
		margin: 0
	span.placeholder
		position: absolute
		top: 50%
		left: 20px
		transform: translate(0,-50%)
		font-size: 15px
		font-weight: 500s
		sup
			top: 0
			font-size: 20px
			color: #d91f1f
	input
		display: block
		width: 100%
		height: 64px
		margin-bottom: 10px
		padding-left: 20px
		outline: none
		border: 1px solid #f1f1f1
		background: #fff

.btn-form
	position: absolute
	bottom: 0
	left: 0
	right: 0
	margin: 0 auto

.section-contact
	+clearfix

.contact
	position: relative
	margin: 48px auto 0
	&-wrap
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 100%
		z-index: 1
		background: #fff
	&-block
		float: left
		max-width: 390px
		padding: 158px 10px 20px
		z-index: 2
		+clearfix
	&-map
		float: right
		width: 64%
		height: 600px
		iframe
			height: 10%

.phone-footer
	margin-bottom: 30px
	font: 300 20px $secfont

.mail-footer
	margin-bottom: 30px
	font: 300 16px $secfont

.location
	position: relative
	margin-bottom: 30px
	padding-left: 40px
	font: 300 16px $secfont
	&:before
		content: ''
		position: absolute
		top: 50%
		left: 0
		width: 30px
		margin-top: -15px
		@include sprite($location)

@import "footer"