	<footer class="footer">
		<div class="map">
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A670193653e1467547764349d84db2f78e9c3adfd833e3e36fa716bd0071546fc&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="contact">
						<div class="contact-item">
							<div class="contact-item__title">Наш телефон:</div>
							<a href="tel:+74952344567" class="contact-item__phone">+7 (495) 234-45-67</a>
						</div>
						<div class="contact-item">
							<div class="contact-item__title">Наша электронная почта:</div>
							<a href="mailto:maxarinfo@gmail.com" class="contact-item__mail">maxarinfo@gmail.com</a>
						</div>
						<div class="contact-item">
							<div class="contact-item__title">Наш адрес:</div>
							<div class="contact-item__loc">г. Москва, ул. Набережная, 25</div>
						</div>
						<div class="contact-item">
							<div class="contact-item__title contact-item__title_dib">Мы в сети:</div>
							<div class="social">
								<a href="#" class="social-link social-link_wa">whatsapp</a>
								<a href="#" class="social-link social-link_tw">twitter</a>
								<a href="#" class="social-link social-link_gl">google+</a>
								<a href="#" class="social-link social-link_fb">facebook</a>
							</div>
						</div>
						<a href="#callback-form" class="btn btn-footer popup" data-effect="mfp-zoom-in"><span><b>Обратный звонок</b></span></a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="hidden">
		<div id="callback-form" class="callback-form mfp-with-anim">
			<div class="callback-form__title">Обратный звонок</div>
			<div class="callback-form__text">Заполните форму, мы перезвоним в ближайшее время</div>
			<div class="success"><span>Ваша сообщение отправлено!</span></div>
			<form class="form-0" name="form-0">
				<input type="text" placeholder="Ваше имя:" name="name" required>
				<input type="text" placeholder="Ваш номер телефона:" name="phone" required>
				<button class="btn btn-modal" type="submit">Перезвонить</button>
			</form>
		</div>
		<div id="order-form" class="callback-form mfp-with-anim">
			<div class="callback-form__title">Заказать услугу</div>
			<div id="form-maintitle" class="callback-form__subtitle"></div>
			<div class="callback-form__text">Заполните форму, мы перезвоним в ближайшее время</div>
			<div class="success"><span>Ваша сообщение отправлено!</span></div>
			<form class="form-3" name="form-3">
				<input id="form-title" type="hidden" name="service" value="">
				<input type="text" placeholder="Ваше имя:" name="name" required>
				<input type="text" placeholder="Ваш номер телефона:" name="phone" required>
				<button class="btn btn-modal" type="submit">Заказать</button>
			</form>
		</div>
	</div>

	<!-- <div class="loader">
		<div class="loader_inner"></div>
	</div> -->

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery-2.2.4/jquery-2.2.4.min.js"></script>
	<script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="libs/masonry/masonry.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>
