	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-5 col-sm-8 col-md-9">
					<a href="#" class="logo"><img src="img/logo.png" alt=""></a>
				</div>
				<div class="col-xs-7 col-sm-4 col-md-3">
					<a href="tel:+74952345467" class="header-phone">+7 (495) 234-54-67</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-5 col-sm-8 col-md-9 mob-nav">
					<div id="btn-mob" class="menu-mob">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="header-nav">
						<ul class="header-menu">
							<li><a href="#about">О компании </a></li>
							<li><a href="#adv">Преимущества</a></li>
							<li><a href="#type">Виды ремонта </a></li>
							<li><a href="#gallery">Галерея</a></li>
							<li><a href="#contact">Контакты</a></li>
						</ul>
						<a href="#callback-form" class="link-callback popup" data-effect="mfp-zoom-in">Обратный звонок</a>
					</div>
				</div>
				<div class="col-xs-7 col-sm-4 col-md-3 header-contact">
					<div class="social">
						<a href="#" class="social-link social-link_wa">whatsapp</a>
						<a href="#" class="social-link social-link_tw">twitter</a>
						<a href="#" class="social-link social-link_gl">google+</a>
						<a href="#" class="social-link social-link_fb">facebook</a>
					</div>
					<a href="#callback-form" class="link-callback link-callback_mob popup" data-effect="mfp-zoom-in">Обратный звонок</a>
				</div>
			</div>
		</div>
	</header>