.footer
	padding: 93px 0 22px

.footer-logo
	display: table
	margin: 0 auto

.footer-bottom
	margin-top: 52px

.copyright
	float: left
	font-size: 15px
	color: #767676

.developer
	position: relative
	float: right
	font-size: 15px
	color: #767676
	text-decoration: underline
	&:hover
		text-decoration: none
	&:before
		content: ''
		position: absolute
		top: -3px
		left: -34px
		width: 31px
		height: 31px
		background: url(../img/reklamoterapy-logo.png) 0 0 no-repeat

/*----------Callback-form------------------*/
.mfp-bg
	background: rgba(#00253d, .7) !important

.callback-form
	position: relative
	max-width: 433px
	width: 100%
	margin: 0 auto
	padding: 30px 70px 40px
	border-radius: 10px
	background: #fff
	&__title
		margin-bottom: 32px
		font: 48px/1 $secfont
		color: #cecece
		text-align: center
	input
		display: block
		width: 282px
		height: 62px
		margin: 0 auto 10px
		padding-left: 22px
		font-size: 16px
		outline: none
		color: #868686
		border: 1px solid #c3c3c3
	.mfp-close
		top: 0
		right: 0

.success
	display: none
	position: absolute
	width: 320px
	height: 100px
	top: 50%
	left: 50%
	font-size: 16px
	font-weight: 700
	color: #fff
	z-index: 800
	border-radius: 20px
	text-transform: uppercase
	transform: translate(-50%, -50%)
	background: rgba($red, 0.6)
	span
		position: absolute
		top: 50%
		left: 50%
		white-space: nowrap
		transform: translate(-50%, -50%)

.btn-form2
	display: block
	margin: 0 auto
/*--------------end-----------------------*/