<div class="wrap">
	<header class="header">
		<div class="container">
			<div class="col-left">
				<a href="/" class="logo"><img src="img/logo.png" alt=""></a>
				<div class="contact">
					<div class="contact-item  contact-item_mail">
						<span class="contact-item__title">Почта:</span>
						<a href="mailto:cazentisy@yahoo.com" class="contact-item__link">cazentisy@yahoo.com</a>
					</div>
					<div class="contact-item contact-item_phone">
						<span class="contact-item__title">Тел:</span>
						<a href="tel:+74993917966" class="contact-item__link">8 (499) 391-79-66</a>
					</div>
					<div class="contact-item contact-item_loc">
						<span class="contact-item__title">Адрес:</span>
						<div class="contact-item__link">г. Москва,<br>Проспект Вернадского, 41 к1</div>
					</div>
					<a href="#callback-form" class="btn btn-callback popup" data-effect="mfp-zoom-in">Обратный звонок</a>
				</div>
			</div>
			<div class="col-right">
				<div class="main-block"><img src="img/main-bg.jpg" alt=""></div>
			</div>
		</div>
	</header>