@import "vars"

/*-------------About page-----------------*/
.about-content
	> p
		margin-bottom: 20px
		font-size: 17px
		line-height: 20px
	&__link
		display: block
		margin-bottom: 40px
		font-size: 17px
		color: #1078af
		text-decoration: underline
	&__title
		margin-bottom: 30px
	&--bottom
		width: 750px
		margin: 0 auto
		text-align: center
		p
			font-size: 20px

.ap-wrap--about
	margin-top: 0

.page-accent--about
	margin: 70px auto 34px
/*---------------end----------------------*/