@import "vars"

/*-------------Contact page-----------------*/
.page--contact
	padding-bottom: 86px
	.container
		padding: 0 20px 0 105px

.title-contact
	display: none
	margin-bottom: 22px
	font-size: 40px
	font-weight: 800
	text-align: center

.contact-item
	float: left
	margin-bottom: 37px
	padding-right: 20px
	&--s1
		width: 40.5%
	&--s2
		width: 19%
	&__title
		margin-bottom: 7px
		font-size: 15px
		color: #1078af
	&__main
		margin-bottom: 8px
		font-size: 20px
		font-weight: 700

.map
	float: right
	width: 59.5%
	&__title
		margin-bottom: 24px
		font-size: 20px
		font-weight: 800
	&-info
		margin-top: 44px
		&__title
			margin-bottom: 7px
			font-size: 15px
			color: #1078af
		&__main
			font-size: 20px
			font-weight: 700

.map-scheme
	float: left
	width: 40.5%
	padding-right: 30px
	&__title
		margin-bottom: 24px
		font-size: 20px
		font-weight: 500
	&__pict
		display: block
		max-width: 453px
		outline: none
		img
			display: block
			width: 100%
/*----------------end----------------------*/