@import "vars"

/*-------------Cosm page-----------------*/
.page--cosm
	padding-bottom: 53px

.cosm-content
	> p
		margin-bottom: 30px
	&__top
		font-size: 15px
	&__list
		display: none
		margin: 0 0 34px 18px
		li
			margin-bottom: 18px
			padding-left: 12px
			font-size: 17px
			color: #1078af
		&--d
			list-style-type: disc
	&__title
		display: block
		margin-bottom: 27px
		font-size: 20px
		font-weight: 800
		&--link
			cursor: pointer
		&--accent
			font-weight: normal
			color: #1078af
			text-decoration: underline

.card-item
	display: table
	margin-bottom: 50px
	&__pict
		display: table-cell
		width: 239px
		text-align: right
		img
			display: inline-block
			max-width: 100%
			max-height: 254px
	&__descr
		display: table-cell
		vertical-align: middle
		padding-left: 24px
	&__title
		margin-bottom: 22px
		font-size: 20px
		font-weight: 800
	&__text
		font-size: 17px
		line-height: 20px
		a
			color: #1078af
			text-decoration: underline
			text-transform: uppercase
			&:hover
				text-decoration: none
	&__link
		display: block
		margin-top: 10px
		font-size: 15px
		color: #1078af
		text-decoration: underline

.compare-item
	display: inline-block
	margin: 0 18px 25px 0
	&--last
		margin-bottom: 50px
	&__pict
		display: block
		vertical-align: top
		img
			height: 100%
			padding: 0 3px
	&__title
		display: inline-block
		width: 49%
		margin: 5px 0
		padding: 0 5px
		font-size: 14px
		color: #1078af
		text-align: center

.page-accent--cosm
	max-width: 1095px
	margin: 53px 0 39px
	text-align: left
	.container
		padding: 0 20px 0 40px
/*-----------------end----------------------*/