@import "vars"

/*-------------Event page-----------------*/
.page--event
	padding-bottom: 172px
	.page__title
		margin-bottom: 41px
.ev-item
	float: left
	width: 50%
	padding-right: 230px
	.block-main
		padding: 0
		border-top: none
		&__title
			margin-bottom: 14px
			text-decoration: none
		&__location
			margin-top: 15px
/*-----------------end-----------------------*/