@import "vars"

/*-------------Flebology page-----------------*/
.page--fleb
	padding-bottom: 92px

.cosm-content--fleb
	> p
		font-size: 17px
		a
			font-size: 17px
			color: #1078af
			text-decoration: underline
			&:hover
				text-decoration: none

.compare-item--var2
	margin-bottom: 40px
	.compare-item__title
		margin-top: 14px
	.compare-item__num
		margin: 9px 0 0

.block-pict--var2
	span
		color: #1078af

.page-accent--fleb
	max-width: 1095px
	margin: 58px 0 55px
	text-align: left
	.container
		padding: 0 20px 0 40px

.link-accent
	display: block
	margin-top: 43px
	font-size: 20px
	color: #1078af
	text-decoration: underline
/*-----------------end--------------------*/