@import "vars"

/*-------------History page-----------------*/
.title-mob
	display: none
	font-size: 40px
	font-weight: 800

.title-h
	display: block
	margin-bottom: 22px
	font-size: 20px
	font-weight: 800

.page--history
	.page__title
		text-transform: uppercase

.top-text
	display: block
	margin-bottom: 44px
	font-size: 20px

.h-item
	display: inline-block
	max-width: 473px
	margin-bottom: 28px
	overflow: hidden
	img
		display: block
		max-width: 100%
		height: 316px
	span
		display: block
		margin-top: 17px
		font-size: 20px
		font-weight: 800
		color: #ff0000

.main-text
	font-size: 15px
	line-height: 25px
	p
		margin-bottom: 22px

.page-accent--history
	max-width: 761px
	margin: 42px auto 0

.bottom-text
	display: block
	max-width: 1050px
	margin: 42px auto 15px
	font-size: 20px
	line-height: 30px
	text-align: center
/*-----------------end----------------------*/