@import "vars"

/*-------------Sportmed page-----------------*/
.page--sportmed
	padding-bottom: 105px

.title-sm
	display: none
	margin-bottom: 40px
	font-size: 40px
	font-weight: 800
	text-align: center

.sportmed-content
	> p
		margin-bottom: 30px
		font-size: 17px
		line-height: 20px
	&__bottom
		font-size: 20px

.block-pict
	display: inline-block
	width: 319px
	margin: 0 15px 55px 0
	img
		display: block
		width: 100%
	span
		display: block
		margin-top: 16px
		font-size: 14px
		color: #565656
		text-align: center

.page-accent--sportmed
	max-width: 938px
	margin: 0 0 43px
/*------------------end-----------------------*/