// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-left-c-name: 'arrow-left-c'
$arrow-left-c-x: 243px
$arrow-left-c-y: 128px
$arrow-left-c-offset-x: -243px
$arrow-left-c-offset-y: -128px
$arrow-left-c-width: 14px
$arrow-left-c-height: 26px
$arrow-left-c-total-width: 268px
$arrow-left-c-total-height: 231px
$arrow-left-c-image: '../img/sprite.png'
$arrow-left-c: (243px, 128px, -243px, -128px, 14px, 26px, 268px, 231px, '../img/sprite.png', 'arrow-left-c', )
$arrow-left-mob-name: 'arrow-left-mob'
$arrow-left-mob-x: 27px
$arrow-left-mob-y: 187px
$arrow-left-mob-offset-x: -27px
$arrow-left-mob-offset-y: -187px
$arrow-left-mob-width: 27px
$arrow-left-mob-height: 44px
$arrow-left-mob-total-width: 268px
$arrow-left-mob-total-height: 231px
$arrow-left-mob-image: '../img/sprite.png'
$arrow-left-mob: (27px, 187px, -27px, -187px, 27px, 44px, 268px, 231px, '../img/sprite.png', 'arrow-left-mob', )
$arrow-left-name: 'arrow-left'
$arrow-left-x: 255px
$arrow-left-y: 173px
$arrow-left-offset-x: -255px
$arrow-left-offset-y: -173px
$arrow-left-width: 12px
$arrow-left-height: 20px
$arrow-left-total-width: 268px
$arrow-left-total-height: 231px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (255px, 173px, -255px, -173px, 12px, 20px, 268px, 231px, '../img/sprite.png', 'arrow-left', )
$arrow-right-c-name: 'arrow-right-c'
$arrow-right-c-x: 243px
$arrow-right-c-y: 102px
$arrow-right-c-offset-x: -243px
$arrow-right-c-offset-y: -102px
$arrow-right-c-width: 14px
$arrow-right-c-height: 26px
$arrow-right-c-total-width: 268px
$arrow-right-c-total-height: 231px
$arrow-right-c-image: '../img/sprite.png'
$arrow-right-c: (243px, 102px, -243px, -102px, 14px, 26px, 268px, 231px, '../img/sprite.png', 'arrow-right-c', )
$arrow-right-mob-name: 'arrow-right-mob'
$arrow-right-mob-x: 0px
$arrow-right-mob-y: 187px
$arrow-right-mob-offset-x: 0px
$arrow-right-mob-offset-y: -187px
$arrow-right-mob-width: 27px
$arrow-right-mob-height: 44px
$arrow-right-mob-total-width: 268px
$arrow-right-mob-total-height: 231px
$arrow-right-mob-image: '../img/sprite.png'
$arrow-right-mob: (0px, 187px, 0px, -187px, 27px, 44px, 268px, 231px, '../img/sprite.png', 'arrow-right-mob', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 243px
$arrow-right-y: 173px
$arrow-right-offset-x: -243px
$arrow-right-offset-y: -173px
$arrow-right-width: 12px
$arrow-right-height: 20px
$arrow-right-total-width: 268px
$arrow-right-total-height: 231px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (243px, 173px, -243px, -173px, 12px, 20px, 268px, 231px, '../img/sprite.png', 'arrow-right', )
$article-mob-name: 'article-mob'
$article-mob-x: 0px
$article-mob-y: 130px
$article-mob-offset-x: 0px
$article-mob-offset-y: -130px
$article-mob-width: 51px
$article-mob-height: 57px
$article-mob-total-width: 268px
$article-mob-total-height: 231px
$article-mob-image: '../img/sprite.png'
$article-mob: (0px, 130px, 0px, -130px, 51px, 57px, 268px, 231px, '../img/sprite.png', 'article-mob', )
$article-name: 'article'
$article-x: 243px
$article-y: 0px
$article-offset-x: -243px
$article-offset-y: 0px
$article-width: 25px
$article-height: 28px
$article-total-width: 268px
$article-total-height: 231px
$article-image: '../img/sprite.png'
$article: (243px, 0px, -243px, 0px, 25px, 28px, 268px, 231px, '../img/sprite.png', 'article', )
$date-mob-name: 'date-mob'
$date-mob-x: 69px
$date-mob-y: 0px
$date-mob-offset-x: -69px
$date-mob-offset-y: 0px
$date-mob-width: 63px
$date-mob-height: 63px
$date-mob-total-width: 268px
$date-mob-total-height: 231px
$date-mob-image: '../img/sprite.png'
$date-mob: (69px, 0px, -69px, 0px, 63px, 63px, 268px, 231px, '../img/sprite.png', 'date-mob', )
$date-name: 'date'
$date-x: 124px
$date-y: 83px
$date-offset-x: -124px
$date-offset-y: -83px
$date-width: 35px
$date-height: 35px
$date-total-width: 268px
$date-total-height: 231px
$date-image: '../img/sprite.png'
$date: (124px, 83px, -124px, -83px, 35px, 35px, 268px, 231px, '../img/sprite.png', 'date', )
$foto-mob-name: 'foto-mob'
$foto-mob-x: 63px
$foto-mob-y: 83px
$foto-mob-offset-x: -63px
$foto-mob-offset-y: -83px
$foto-mob-width: 61px
$foto-mob-height: 43px
$foto-mob-total-width: 268px
$foto-mob-total-height: 231px
$foto-mob-image: '../img/sprite.png'
$foto-mob: (63px, 83px, -63px, -83px, 61px, 43px, 268px, 231px, '../img/sprite.png', 'foto-mob', )
$foto-name: 'foto'
$foto-x: 139px
$foto-y: 187px
$foto-offset-x: -139px
$foto-offset-y: -187px
$foto-width: 30px
$foto-height: 21px
$foto-total-width: 268px
$foto-total-height: 231px
$foto-image: '../img/sprite.png'
$foto: (139px, 187px, -139px, -187px, 30px, 21px, 268px, 231px, '../img/sprite.png', 'foto', )
$location-mob-name: 'location-mob'
$location-mob-x: 88px
$location-mob-y: 187px
$location-mob-offset-x: -88px
$location-mob-offset-y: -187px
$location-mob-width: 24px
$location-mob-height: 34px
$location-mob-total-width: 268px
$location-mob-total-height: 231px
$location-mob-image: '../img/sprite.png'
$location-mob: (88px, 187px, -88px, -187px, 24px, 34px, 268px, 231px, '../img/sprite.png', 'location-mob', )
$location-name: 'location'
$location-x: 243px
$location-y: 154px
$location-offset-x: -243px
$location-offset-y: -154px
$location-width: 14px
$location-height: 19px
$location-total-width: 268px
$location-total-height: 231px
$location-image: '../img/sprite.png'
$location: (243px, 154px, -243px, -154px, 14px, 19px, 268px, 231px, '../img/sprite.png', 'location', )
$location2-name: 'location2'
$location2-x: 257px
$location2-y: 128px
$location2-offset-x: -257px
$location2-offset-y: -128px
$location2-width: 9px
$location2-height: 13px
$location2-total-width: 268px
$location2-total-height: 231px
$location2-image: '../img/sprite.png'
$location2: (257px, 128px, -257px, -128px, 9px, 13px, 268px, 231px, '../img/sprite.png', 'location2', )
$location3-name: 'location3'
$location3-x: 187px
$location3-y: 101px
$location3-offset-x: -187px
$location3-offset-y: -101px
$location3-width: 33px
$location3-height: 46px
$location3-total-width: 268px
$location3-total-height: 231px
$location3-image: '../img/sprite.png'
$location3: (187px, 101px, -187px, -101px, 33px, 46px, 268px, 231px, '../img/sprite.png', 'location3', )
$mail-mob-name: 'mail-mob'
$mail-mob-x: 187px
$mail-mob-y: 0px
$mail-mob-offset-x: -187px
$mail-mob-offset-y: 0px
$mail-mob-width: 56px
$mail-mob-height: 46px
$mail-mob-total-width: 268px
$mail-mob-total-height: 231px
$mail-mob-image: '../img/sprite.png'
$mail-mob: (187px, 0px, -187px, 0px, 56px, 46px, 268px, 231px, '../img/sprite.png', 'mail-mob', )
$mail-name: 'mail'
$mail-x: 243px
$mail-y: 83px
$mail-offset-x: -243px
$mail-offset-y: -83px
$mail-width: 23px
$mail-height: 19px
$mail-total-width: 268px
$mail-total-height: 231px
$mail-image: '../img/sprite.png'
$mail: (243px, 83px, -243px, -83px, 23px, 19px, 268px, 231px, '../img/sprite.png', 'mail', )
$news-mob-name: 'news-mob'
$news-mob-x: 102px
$news-mob-y: 130px
$news-mob-offset-x: -102px
$news-mob-offset-y: -130px
$news-mob-width: 49px
$news-mob-height: 53px
$news-mob-total-width: 268px
$news-mob-total-height: 231px
$news-mob-image: '../img/sprite.png'
$news-mob: (102px, 130px, -102px, -130px, 49px, 53px, 268px, 231px, '../img/sprite.png', 'news-mob', )
$news-name: 'news'
$news-x: 159px
$news-y: 83px
$news-offset-x: -159px
$news-offset-y: -83px
$news-width: 28px
$news-height: 30px
$news-total-width: 268px
$news-total-height: 231px
$news-image: '../img/sprite.png'
$news: (159px, 83px, -159px, -83px, 28px, 30px, 268px, 231px, '../img/sprite.png', 'news', )
$partner-mob-name: 'partner-mob'
$partner-mob-x: 0px
$partner-mob-y: 83px
$partner-mob-offset-x: 0px
$partner-mob-offset-y: -83px
$partner-mob-width: 63px
$partner-mob-height: 47px
$partner-mob-total-width: 268px
$partner-mob-total-height: 231px
$partner-mob-image: '../img/sprite.png'
$partner-mob: (0px, 83px, 0px, -83px, 63px, 47px, 268px, 231px, '../img/sprite.png', 'partner-mob', )
$partner-name: 'partner'
$partner-x: 132px
$partner-y: 54px
$partner-offset-x: -132px
$partner-offset-y: -54px
$partner-width: 32px
$partner-height: 24px
$partner-total-width: 268px
$partner-total-height: 231px
$partner-image: '../img/sprite.png'
$partner: (132px, 54px, -132px, -54px, 32px, 24px, 268px, 231px, '../img/sprite.png', 'partner', )
$pdf-mob-name: 'pdf-mob'
$pdf-mob-x: 0px
$pdf-mob-y: 0px
$pdf-mob-offset-x: 0px
$pdf-mob-offset-y: 0px
$pdf-mob-width: 69px
$pdf-mob-height: 83px
$pdf-mob-total-width: 268px
$pdf-mob-total-height: 231px
$pdf-mob-image: '../img/sprite.png'
$pdf-mob: (0px, 0px, 0px, 0px, 69px, 83px, 268px, 231px, '../img/sprite.png', 'pdf-mob', )
$pdf-name: 'pdf'
$pdf-x: 187px
$pdf-y: 147px
$pdf-offset-x: -187px
$pdf-offset-y: -147px
$pdf-width: 33px
$pdf-height: 40px
$pdf-total-width: 268px
$pdf-total-height: 231px
$pdf-image: '../img/sprite.png'
$pdf: (187px, 147px, -187px, -147px, 33px, 40px, 268px, 231px, '../img/sprite.png', 'pdf', )
$phone-mob-name: 'phone-mob'
$phone-mob-x: 151px
$phone-mob-y: 130px
$phone-mob-offset-x: -151px
$phone-mob-offset-y: -130px
$phone-mob-width: 26px
$phone-mob-height: 47px
$phone-mob-total-width: 268px
$phone-mob-total-height: 231px
$phone-mob-image: '../img/sprite.png'
$phone-mob: (151px, 130px, -151px, -130px, 26px, 47px, 268px, 231px, '../img/sprite.png', 'phone-mob', )
$phone-name: 'phone'
$phone-x: 257px
$phone-y: 102px
$phone-offset-x: -257px
$phone-offset-y: -102px
$phone-width: 10px
$phone-height: 19px
$phone-total-width: 268px
$phone-total-height: 231px
$phone-image: '../img/sprite.png'
$phone: (257px, 102px, -257px, -102px, 10px, 19px, 268px, 231px, '../img/sprite.png', 'phone', )
$present-mob-name: 'present-mob'
$present-mob-x: 132px
$present-mob-y: 0px
$present-mob-offset-x: -132px
$present-mob-offset-y: 0px
$present-mob-width: 55px
$present-mob-height: 54px
$present-mob-total-width: 268px
$present-mob-total-height: 231px
$present-mob-image: '../img/sprite.png'
$present-mob: (132px, 0px, -132px, 0px, 55px, 54px, 268px, 231px, '../img/sprite.png', 'present-mob', )
$present-name: 'present'
$present-x: 112px
$present-y: 187px
$present-offset-x: -112px
$present-offset-y: -187px
$present-width: 27px
$present-height: 27px
$present-total-width: 268px
$present-total-height: 231px
$present-image: '../img/sprite.png'
$present: (112px, 187px, -112px, -187px, 27px, 27px, 268px, 231px, '../img/sprite.png', 'present', )
$qst-2-name: 'qst-2'
$qst-2-x: 54px
$qst-2-y: 187px
$qst-2-offset-x: -54px
$qst-2-offset-y: -187px
$qst-2-width: 34px
$qst-2-height: 34px
$qst-2-total-width: 268px
$qst-2-total-height: 231px
$qst-2-image: '../img/sprite.png'
$qst-2: (54px, 187px, -54px, -187px, 34px, 34px, 268px, 231px, '../img/sprite.png', 'qst-2', )
$qst-mob-name: 'qst-mob'
$qst-mob-x: 187px
$qst-mob-y: 46px
$qst-mob-offset-x: -187px
$qst-mob-offset-y: -46px
$qst-mob-width: 41px
$qst-mob-height: 55px
$qst-mob-total-width: 268px
$qst-mob-total-height: 231px
$qst-mob-image: '../img/sprite.png'
$qst-mob: (187px, 46px, -187px, -46px, 41px, 55px, 268px, 231px, '../img/sprite.png', 'qst-mob', )
$qst-name: 'qst'
$qst-x: 243px
$qst-y: 55px
$qst-offset-x: -243px
$qst-offset-y: -55px
$qst-width: 21px
$qst-height: 28px
$qst-total-width: 268px
$qst-total-height: 231px
$qst-image: '../img/sprite.png'
$qst: (243px, 55px, -243px, -55px, 21px, 28px, 268px, 231px, '../img/sprite.png', 'qst', )
$video-mob-name: 'video-mob'
$video-mob-x: 51px
$video-mob-y: 130px
$video-mob-offset-x: -51px
$video-mob-offset-y: -130px
$video-mob-width: 51px
$video-mob-height: 55px
$video-mob-total-width: 268px
$video-mob-total-height: 231px
$video-mob-image: '../img/sprite.png'
$video-mob: (51px, 130px, -51px, -130px, 51px, 55px, 268px, 231px, '../img/sprite.png', 'video-mob', )
$video-name: 'video'
$video-x: 243px
$video-y: 28px
$video-offset-x: -243px
$video-offset-y: -28px
$video-width: 25px
$video-height: 27px
$video-total-width: 268px
$video-total-height: 231px
$video-image: '../img/sprite.png'
$video: (243px, 28px, -243px, -28px, 25px, 27px, 268px, 231px, '../img/sprite.png', 'video', )
$spritesheet-width: 268px
$spritesheet-height: 231px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-left-c, $arrow-left-mob, $arrow-left, $arrow-right-c, $arrow-right-mob, $arrow-right, $article-mob, $article, $date-mob, $date, $foto-mob, $foto, $location-mob, $location, $location2, $location3, $mail-mob, $mail, $news-mob, $news, $partner-mob, $partner, $pdf-mob, $pdf, $phone-mob, $phone, $present-mob, $present, $qst-2, $qst-mob, $qst, $video-mob, $video, )
$spritesheet: (268px, 231px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
