@import "vars"

/*-------------Terapy page-----------------*/
.page--terapy
	padding-bottom: 40px

.terapy-content
	> p
		margin-bottom: 30px
		font-size: 17px
	&__title
		margin-bottom: 20px
		font-size: 20px
		font-weight: 800

.card-item--var2
	margin-bottom: 30px
	.card-item__pict
		width: 149px
		img
			width: 100%
	.card-item__descr
		padding-left: 28px
/*-----------------end--------------------*/