	<footer>
		<div class="container">
			<ul class="footer-menu">
				<li class="footer-menu__item">
					<a href="#" class="footer-menu__link">Главная</a>
					<a href="#">Фотогалерея</a>
				</li>
				<li class="footer-menu__item">
					<a href="#">Шторы</a>
					<ul class="footer-submenu">
						<li><a href="#">Ткани</a></li>
						<li><a href="#">Стили штор</a></li>
						<li><a href="#">Жилые зоны</a></li>
					</ul>
					<a href="#">Дизайн и пошив</a>
				</li>
				<li class="footer-menu__item">
					<a href="#" class="footer-menu__link">Нестандартные окна</a>
					<a href="#">Цены</a>
				</li>
				<li class="footer-menu__item">
					<a href="#">Карнизы</a>
					<ul class="footer-submenu">
						<li><a href="#">Металические</a></li>
						<li><a href="#">Деревянные</a></li>
						<li><a href="#">Багетные</a></li>
						<li><a href="#">Профильные</a></li>
						<li><a href="#">Струнные</a></li>
						<li><a href="#">Кафе</a></li>
					</ul>
					<a href="#">Контакты</a>
				</li>
				<li class="footer-menu__item">
					<a href="#">Жалюзи и барельеф</a>
					<ul class="footer-submenu">
						<li><a href="#">Горизонтальные</a></li>
						<li><a href="#">Вертикальные</a></li>
						<li><a href="#">Рулонные</a></li>
						<li><a href="#">Лайн на пластикрвые окна</a></li>
						<li><a href="#">Плиссе</a></li>
						<li><a href="#">Электроуправляемые</a></li>
					</ul>
				</li>
			</ul>

			<div class="copyright">&copy; Аланда Студия дизайна</div>
			<div class="developer">Сайт разработан в <a href="#">Рекламотерапии</a></div>
			<div class="banner-contact banner-contact--footer">
				<a href="tel:+79168599730" class="banner-contact__phone banner-contact__phone--footer">8-916-859-97-30</a>
				<a href="#callback-form" class="banner-contact__link banner-contact__link--footer popup" data-effect="mfp-zoom-in">позвоните нам</a>
			</div>
		</div>
	</footer>

	<div class="hidden">
		<div id="callback-form" class="form-call form-call--cb mfp-with-anim">
			<div class="form-call__title form-call__title--cb">Закажите<br>бесплатный звонок</div>
			<span class="form-call__accent">Заполните форму ниже</span>
			<form action="#">
				<input type="text" placeholder="телефон">
				<button class="btn-form btn-form--cb popup-alert mfp-zoom-in">Отправить</button>
			</form>
		</div>

		<div id="alert-message" class="form-call form-call--cb form-call--alert mfp-with-anim">
			<div class="form-call__title form-call__title--cb">Ваш заказ принят!</div>
			<span class="form-call__accent">С вами свяжется наш менеджер<br>в течении 10 минут</span>
		</div>
	</div>

	<div class="loader">
		<div class="loader_inner"></div>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery/jquery-1.12.4.min.js"></script>
	<script src="libs/touchSwipe/jquery.touchSwipe.min.js"></script>
	<script src="libs/bxslider/jquery.bxslider.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>
