	<header class="header">
		<div class="header-top">
			<div class="container">
				<div class="banner-sel">
					<span class="banner-sel__title">Акция</span>
					<div class="banner-sel__descr">
						<p>Постоянным клиентам пошив <span>бесплатно</span></p>
					</div>
				</div>

				<a href="#" class="logo"><img src="img/logo.png" alt=""></a>

				<div class="banner-contact">
					<a href="tel:+79168599730" class="banner-contact__phone">8-916-859-97-30</a>
					<a href="#callback-form" class="banner-contact__link popup" data-effect="mfp-zoom-in">позвоните нам</a>
				</div>
			</div>

			<div class="header-nav">
				<div class="container">
					<ul class="nav-menu">
						<li class="nav-menu__item"><a href="#">Главная</a></li>
						<li class="nav-menu__item"><a href="#">Нестандартные окна</a></li>
						<li class="nav-menu__item nav-menu__item--drop">
							<a href="#" class="nav-menu__link">Жалюзи и барельеф</a>
							<ul class="nav-submenu">
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Горизонтальные</a></li>
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Вертикальные</a></li>
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Рулонные</a></li>
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Лайн на пластикрвые окна</a></li>
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Плиссе</a></li>
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Электроуправляемые</a></li>
							</ul>
						</li>
						<li class="nav-menu__item"><a href="#">Дизайн и пошив</a></li>
						<li class="nav-menu__item"><a href="#">Контакты</a></li>
					</ul>

					<ul class="nav-menu nav-menu--bottom">
						<li class="nav-menu__item nav-menu__item--drop">
							<a href="#" class="nav-menu__link">Шторы</a>
							<ul class="nav-submenu">
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Ткани</a></li>
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Стили штор</a></li>
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Жилые зоны</a></li>
							</ul>
						</li>
						<li class="nav-menu__item nav-menu__item--drop">
							<a href="#" class="nav-menu__link">Карнизы</a>
							<ul class="nav-submenu">
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Металические</a></li>
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Деревянные</a></li>
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Багетные</a></li>
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Профильные</a></li>
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Струнные</a></li>
								<li class="nav-menu__item nav-menu__item--submenu"><a href="#">Кафе</a></li>
							</ul>
						</li>
						<li class="nav-menu__item"><a href="#">Фотогалерея</a></li>
						<li class="nav-menu__item"><a href="#">Цены</a></li>
					</ul>
				</div>
			</div>

			<div class="container">
				<div class="main-banner">
					<h1 class="main-banner__title">Индивидуальный<span>Пошив штор на заказ</span></h1>
					<div class="main-banner__country">В москве и Московской области</div>
				</div>
			</div>
		</div>

		<div class="header-main">
			<div class="container">
				<div class="main-caption">
					<p class="main-caption__tags">Шторы,покрывала,подушки,карнизы,жалюзи на заказ,</p>
					<h2 class="main-caption__title">Качественно <span>за 7 дней</span>, "<span>Под ключ</span>"</h2>
					<p class="main-caption__text">с экономией ваших денег и времени, благодаря организованности и новым технологиям.<br>Мы сами погладим, прикрутим, повесим.</p>
				</div>
			</div>
		</div>
	</header>