/*-------------Grid-----------*/
@media (min-width: 640px)
	.container
		width: 100%

@media (min-width: 992px)
	.container
		width: 939px

@media (min-width: 1150px)
	.container
		width: 1139px
/*------------end-------------*/