// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-active-name: 'arrow-active'
$arrow-active-x: 119px
$arrow-active-y: 84px
$arrow-active-offset-x: -119px
$arrow-active-offset-y: -84px
$arrow-active-width: 13px
$arrow-active-height: 17px
$arrow-active-total-width: 142px
$arrow-active-total-height: 124px
$arrow-active-image: '../img/sprite.png'
$arrow-active: (119px, 84px, -119px, -84px, 13px, 17px, 142px, 124px, '../img/sprite.png', 'arrow-active', )
$arrow-down-name: 'arrow-down'
$arrow-down-x: 72px
$arrow-down-y: 110px
$arrow-down-offset-x: -72px
$arrow-down-offset-y: -110px
$arrow-down-width: 16px
$arrow-down-height: 12px
$arrow-down-total-width: 142px
$arrow-down-total-height: 124px
$arrow-down-image: '../img/sprite.png'
$arrow-down: (72px, 110px, -72px, -110px, 16px, 12px, 142px, 124px, '../img/sprite.png', 'arrow-down', )
$arrow-pag-mob-name: 'arrow-pag-mob'
$arrow-pag-mob-x: 77px
$arrow-pag-mob-y: 78px
$arrow-pag-mob-offset-x: -77px
$arrow-pag-mob-offset-y: -78px
$arrow-pag-mob-width: 31px
$arrow-pag-mob-height: 10px
$arrow-pag-mob-total-width: 142px
$arrow-pag-mob-total-height: 124px
$arrow-pag-mob-image: '../img/sprite.png'
$arrow-pag-mob: (77px, 78px, -77px, -78px, 31px, 10px, 142px, 124px, '../img/sprite.png', 'arrow-pag-mob', )
$arrow-pag-name: 'arrow-pag'
$arrow-pag-x: 119px
$arrow-pag-y: 101px
$arrow-pag-offset-x: -119px
$arrow-pag-offset-y: -101px
$arrow-pag-width: 15px
$arrow-pag-height: 5px
$arrow-pag-total-width: 142px
$arrow-pag-total-height: 124px
$arrow-pag-image: '../img/sprite.png'
$arrow-pag: (119px, 101px, -119px, -101px, 15px, 5px, 142px, 124px, '../img/sprite.png', 'arrow-pag', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 119px
$arrow-right-y: 67px
$arrow-right-offset-x: -119px
$arrow-right-offset-y: -67px
$arrow-right-width: 13px
$arrow-right-height: 17px
$arrow-right-total-width: 142px
$arrow-right-total-height: 124px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (119px, 67px, -119px, -67px, 13px, 17px, 142px, 124px, '../img/sprite.png', 'arrow-right', )
$change-name: 'change'
$change-x: 0px
$change-y: 78px
$change-offset-x: 0px
$change-offset-y: -78px
$change-width: 32px
$change-height: 32px
$change-total-width: 142px
$change-total-height: 124px
$change-image: '../img/sprite.png'
$change: (0px, 78px, 0px, -78px, 32px, 32px, 142px, 124px, '../img/sprite.png', 'change', )
$delivery-name: 'delivery'
$delivery-x: 119px
$delivery-y: 0px
$delivery-offset-x: -119px
$delivery-offset-y: 0px
$delivery-width: 23px
$delivery-height: 13px
$delivery-total-width: 142px
$delivery-total-height: 124px
$delivery-image: '../img/sprite.png'
$delivery: (119px, 0px, -119px, 0px, 23px, 13px, 142px, 124px, '../img/sprite.png', 'delivery', )
$door-icon-1-name: 'door-icon-1'
$door-icon-1-x: 119px
$door-icon-1-y: 13px
$door-icon-1-offset-x: -119px
$door-icon-1-offset-y: -13px
$door-icon-1-width: 13px
$door-icon-1-height: 22px
$door-icon-1-total-width: 142px
$door-icon-1-total-height: 124px
$door-icon-1-image: '../img/sprite.png'
$door-icon-1: (119px, 13px, -119px, -13px, 13px, 22px, 142px, 124px, '../img/sprite.png', 'door-icon-1', )
$door-icon-2-name: 'door-icon-2'
$door-icon-2-x: 32px
$door-icon-2-y: 78px
$door-icon-2-offset-x: -32px
$door-icon-2-offset-y: -78px
$door-icon-2-width: 24px
$door-icon-2-height: 22px
$door-icon-2-total-width: 142px
$door-icon-2-total-height: 124px
$door-icon-2-image: '../img/sprite.png'
$door-icon-2: (32px, 78px, -32px, -78px, 24px, 22px, 142px, 124px, '../img/sprite.png', 'door-icon-2', )
$fb-name: 'fb'
$fb-x: 0px
$fb-y: 0px
$fb-offset-x: 0px
$fb-offset-y: 0px
$fb-width: 40px
$fb-height: 39px
$fb-total-width: 142px
$fb-total-height: 124px
$fb-image: '../img/sprite.png'
$fb: (0px, 0px, 0px, 0px, 40px, 39px, 142px, 124px, '../img/sprite.png', 'fb', )
$gl-name: 'gl'
$gl-x: 40px
$gl-y: 39px
$gl-offset-x: -40px
$gl-offset-y: -39px
$gl-width: 40px
$gl-height: 39px
$gl-total-width: 142px
$gl-total-height: 124px
$gl-image: '../img/sprite.png'
$gl: (40px, 39px, -40px, -39px, 40px, 39px, 142px, 124px, '../img/sprite.png', 'gl', )
$headphone-name: 'headphone'
$headphone-x: 43px
$headphone-y: 110px
$headphone-offset-x: -43px
$headphone-offset-y: -110px
$headphone-width: 14px
$headphone-height: 14px
$headphone-total-width: 142px
$headphone-total-height: 124px
$headphone-image: '../img/sprite.png'
$headphone: (43px, 110px, -43px, -110px, 14px, 14px, 142px, 124px, '../img/sprite.png', 'headphone', )
$home-name: 'home'
$home-x: 57px
$home-y: 110px
$home-offset-x: -57px
$home-offset-y: -110px
$home-width: 15px
$home-height: 13px
$home-total-width: 142px
$home-total-height: 124px
$home-image: '../img/sprite.png'
$home: (57px, 110px, -57px, -110px, 15px, 13px, 142px, 124px, '../img/sprite.png', 'home', )
$measure-name: 'measure'
$measure-x: 0px
$measure-y: 110px
$measure-offset-x: 0px
$measure-offset-y: -110px
$measure-width: 15px
$measure-height: 14px
$measure-total-width: 142px
$measure-total-height: 124px
$measure-image: '../img/sprite.png'
$measure: (0px, 110px, 0px, -110px, 15px, 14px, 142px, 124px, '../img/sprite.png', 'measure', )
$phone-mob-name: 'phone-mob'
$phone-mob-x: 80px
$phone-mob-y: 0px
$phone-mob-offset-x: -80px
$phone-mob-offset-y: 0px
$phone-mob-width: 39px
$phone-mob-height: 39px
$phone-mob-total-width: 142px
$phone-mob-total-height: 124px
$phone-mob-image: '../img/sprite.png'
$phone-mob: (80px, 0px, -80px, 0px, 39px, 39px, 142px, 124px, '../img/sprite.png', 'phone-mob', )
$phone-name: 'phone'
$phone-x: 56px
$phone-y: 78px
$phone-offset-x: -56px
$phone-offset-y: -78px
$phone-width: 21px
$phone-height: 21px
$phone-total-width: 142px
$phone-total-height: 124px
$phone-image: '../img/sprite.png'
$phone: (56px, 78px, -56px, -78px, 21px, 21px, 142px, 124px, '../img/sprite.png', 'phone', )
$search-mob-name: 'search-mob'
$search-mob-x: 80px
$search-mob-y: 39px
$search-mob-offset-x: -80px
$search-mob-offset-y: -39px
$search-mob-width: 37px
$search-mob-height: 38px
$search-mob-total-width: 142px
$search-mob-total-height: 124px
$search-mob-image: '../img/sprite.png'
$search-mob: (80px, 39px, -80px, -39px, 37px, 38px, 142px, 124px, '../img/sprite.png', 'search-mob', )
$search-name: 'search'
$search-x: 119px
$search-y: 35px
$search-offset-x: -119px
$search-offset-y: -35px
$search-width: 16px
$search-height: 16px
$search-total-width: 142px
$search-total-height: 124px
$search-image: '../img/sprite.png'
$search: (119px, 35px, -119px, -35px, 16px, 16px, 142px, 124px, '../img/sprite.png', 'search', )
$setup-name: 'setup'
$setup-x: 119px
$setup-y: 51px
$setup-offset-x: -119px
$setup-offset-y: -51px
$setup-width: 15px
$setup-height: 16px
$setup-total-width: 142px
$setup-total-height: 124px
$setup-image: '../img/sprite.png'
$setup: (119px, 51px, -119px, -51px, 15px, 16px, 142px, 124px, '../img/sprite.png', 'setup', )
$star-active-name: 'star-active'
$star-active-x: 15px
$star-active-y: 110px
$star-active-offset-x: -15px
$star-active-offset-y: -110px
$star-active-width: 14px
$star-active-height: 14px
$star-active-total-width: 142px
$star-active-total-height: 124px
$star-active-image: '../img/sprite.png'
$star-active: (15px, 110px, -15px, -110px, 14px, 14px, 142px, 124px, '../img/sprite.png', 'star-active', )
$star-name: 'star'
$star-x: 29px
$star-y: 110px
$star-offset-x: -29px
$star-offset-y: -110px
$star-width: 14px
$star-height: 14px
$star-total-width: 142px
$star-total-height: 124px
$star-image: '../img/sprite.png'
$star: (29px, 110px, -29px, -110px, 14px, 14px, 142px, 124px, '../img/sprite.png', 'star', )
$tw-name: 'tw'
$tw-x: 0px
$tw-y: 39px
$tw-offset-x: 0px
$tw-offset-y: -39px
$tw-width: 40px
$tw-height: 39px
$tw-total-width: 142px
$tw-total-height: 124px
$tw-image: '../img/sprite.png'
$tw: (0px, 39px, 0px, -39px, 40px, 39px, 142px, 124px, '../img/sprite.png', 'tw', )
$vk-name: 'vk'
$vk-x: 40px
$vk-y: 0px
$vk-offset-x: -40px
$vk-offset-y: 0px
$vk-width: 40px
$vk-height: 39px
$vk-total-width: 142px
$vk-total-height: 124px
$vk-image: '../img/sprite.png'
$vk: (40px, 0px, -40px, 0px, 40px, 39px, 142px, 124px, '../img/sprite.png', 'vk', )
$spritesheet-width: 142px
$spritesheet-height: 124px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-active, $arrow-down, $arrow-pag-mob, $arrow-pag, $arrow-right, $change, $delivery, $door-icon-1, $door-icon-2, $fb, $gl, $headphone, $home, $measure, $phone-mob, $phone, $search-mob, $search, $setup, $star-active, $star, $tw, $vk, )
$spritesheet: (142px, 124px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
