@import "vars.sass"
/*-----------------About page----------------*/
.wrapper
	&.wrapper__inner
		background: url(../img/about-bg.jpg) 31% top repeat-y

.main__top
	&.main__top-about
		margin: 74px 0 0 50%

.about__block
	margin-left: 50%
	p
		font-weight: 300
/*-------------------end---------------------*/