@import "vars.sass"
/*-----------------Party page----------------*/
.wrapper
	&.wrapper__inner-party
		position: relative
		height: 2100px
		background: url(../img/event-bg.jpg) 31% top repeat-y
		background-size: auto 1200px

.main__top
	&.main__top-party
		text-align: left

.party__block
	height: 690px
	margin: 44px 0 0 50%
	span
		display: block
		margin-bottom: 25px
		font-size: 24px
		font-weight: 700
	p
		font-size: 14px
		line-height: 22px

.party__photo
	margin: 25px 0 17px
	a
		float: left
		width: 30%
		margin-right: 20px
		&:last-child
			margin-right: 0
		img
			width: 100%

.media__block
	&.media__block-party
		float: none
		margin: 32px 0 0 50%

.media__title
	display: block
	text-align: left
	font: 100px "Avalon"

.media__category
	margin-bottom: 55px

.category__title
	display: block
	margin-top: -16px
	padding-bottom: 15px
	font-size: 18px
	text-transform: uppercase
	border-bottom: 1px solid rgba(255, 255, 255, 0.25)
/*--------------------end--------------------*/