@import "vars.sass"
/*-----------------Repertory page----------------*/
.repertory__block
	margin: 55px 0 0 50%
	ul
		padding-top: 20px
		border-top: 1px solid rgba(255, 255, 255, 0.25)
		li
			margin-bottom: 5px
			font-size: 14px

.repertory__title
	display: block
	margin: 0 30px 16px 0
	text-align: right
	font-size: 18px
	text-transform: uppercase
/*----------------------end----------------------*/