	<footer class="footer">
		<a href="mailto:riga@keyfactor.lv" class="footer-mail footer-mail_left">riga@keyfactor.lv</a>
		<a href="mailto:moscow@keyfactor.lv" class="footer-mail footer-mail_right">moscow@keyfactor.lv</a>
	</footer>

	<div class="hidden"></div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery-2.2.4/jquery-2.2.4.min.js"></script>

	<script src="js/common.js"></script>
