@import "vars.sass"
@import "sprite.sass"

/*-------------Price page---------------*/
.section
	&.section__price
		padding: 15px 0 52px

.section__title
	&.section__title-price
		margin-bottom: 12px

.price
	font-size: 16px
	span
		display: block
		margin: 33px 0 10px
		font: 22px "merriweather"
/*----------------end--------------------*/