/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$arrow-name: 'arrow'
$arrow-x: 48px
$arrow-y: 18px
$arrow-offset-x: -48px
$arrow-offset-y: -18px
$arrow-width: 10px
$arrow-height: 6px
$arrow-total-width: 67px
$arrow-total-height: 48px
$arrow-image: '../img/sprite.png'
$arrow: (48px, 18px, -48px, -18px, 10px, 6px, 67px, 48px, '../img/sprite.png', 'arrow', )
$facebook-logo-name: 'facebook-logo'
$facebook-logo-x: 0px
$facebook-logo-y: 0px
$facebook-logo-offset-x: 0px
$facebook-logo-offset-y: 0px
$facebook-logo-width: 24px
$facebook-logo-height: 24px
$facebook-logo-total-width: 67px
$facebook-logo-total-height: 48px
$facebook-logo-image: '../img/sprite.png'
$facebook-logo: (0px, 0px, 0px, 0px, 24px, 24px, 67px, 48px, '../img/sprite.png', 'facebook-logo', )
$google-plus-name: 'google-plus'
$google-plus-x: 24px
$google-plus-y: 0px
$google-plus-offset-x: -24px
$google-plus-offset-y: 0px
$google-plus-width: 24px
$google-plus-height: 24px
$google-plus-total-width: 67px
$google-plus-total-height: 48px
$google-plus-image: '../img/sprite.png'
$google-plus: (24px, 0px, -24px, 0px, 24px, 24px, 67px, 48px, '../img/sprite.png', 'google-plus', )
$twitter-name: 'twitter'
$twitter-x: 0px
$twitter-y: 24px
$twitter-offset-x: 0px
$twitter-offset-y: -24px
$twitter-width: 24px
$twitter-height: 24px
$twitter-total-width: 67px
$twitter-total-height: 48px
$twitter-image: '../img/sprite.png'
$twitter: (0px, 24px, 0px, -24px, 24px, 24px, 67px, 48px, '../img/sprite.png', 'twitter', )
$vk-logo-name: 'vk-logo'
$vk-logo-x: 24px
$vk-logo-y: 24px
$vk-logo-offset-x: -24px
$vk-logo-offset-y: -24px
$vk-logo-width: 24px
$vk-logo-height: 24px
$vk-logo-total-width: 67px
$vk-logo-total-height: 48px
$vk-logo-image: '../img/sprite.png'
$vk-logo: (24px, 24px, -24px, -24px, 24px, 24px, 67px, 48px, '../img/sprite.png', 'vk-logo', )
$zoom-in-name: 'zoom-in'
$zoom-in-x: 48px
$zoom-in-y: 0px
$zoom-in-offset-x: -48px
$zoom-in-offset-y: 0px
$zoom-in-width: 19px
$zoom-in-height: 18px
$zoom-in-total-width: 67px
$zoom-in-total-height: 48px
$zoom-in-image: '../img/sprite.png'
$zoom-in: (48px, 0px, -48px, 0px, 19px, 18px, 67px, 48px, '../img/sprite.png', 'zoom-in', )
$spritesheet-width: 67px
$spritesheet-height: 48px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow, $facebook-logo, $google-plus, $twitter, $vk-logo, $zoom-in, )
$spritesheet: (67px, 48px, '../img/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
