	<header class="header">
		<div class="header-top clearfix">
			<div class="container">
				<div class="header-wrap clearfix">
					<a href="#" class="logo"><img src="img/logo.png" alt=""></a>

					<span class="hide"><![CDATA[<noindex>]]></span>
					<div class="cart">
						<div class="cart-wrap">
							<div class="cart__row cart__row--count">В корзине: <span>10 товаров</span></div>
							<div class="cart__row cart__row--total">Сумма: <span>150 000 рублей</span></div>
							<a href="#" class="cart__link">Оформить покупку</a>
						</div>
					</div>
					<span class="hide"><![CDATA[</noindex>]]></span>

					<div class="contact contact--header">
						<div class="contact-phone">
							<a href="tel:+79999999999" class="contact-phone__link">+7 (999) <span>999 99 99</span></a>
							<a href="tel:+79996666666" class="contact-phone__link">+7 (999) <span>666 66 66</span></a>
						</div>
						<div class="contact-work">
							<p>Пн-Пт - 9:00-21:00<br>Сб, Вс – 10:00-18:00</p>
						</div>
					</div>
					<div class="callback">
						<a href="#callback-form" class="callback__link popup" data-effect="mfp-zoom-in">Позвоните нам!</a>
						<a href="mailto:mail@mail.ru" class="callback__mail">Написать письмо</a>
					</div>
				</div>

			</div>

			<div class="nav">
				<div class="container">
					<ul class="nav-list">
						<li><a href="#">Главная</a></li>
						<li><a href="#">Каталог</a></li>
						<li><a href="#">Скидки и Акции</a></li>
						<li><a href="#">Оплата</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
					<a href="#callback-form" class="callback__link callback__link--mob popup" data-effect="mfp-zoom-in">Позвоните нам!</a>
				</div>
			</div>
			<div class="btn-menu">
				<span class="btn-menu__title">Показать меню</span>
				<span class="btn-menu__title btn-menu__title--open">Скрыть меню</span>
			</div>

		</div>

		<div class="header-main">
			<div class="container">
				<div class="main-slider">
					<div class="slider-item">
						<div class="slider-caption">
							<div class="slider-caption__descr">
								<div class="slider-caption__title">Магазин детской одежды<br>приглашает<br>Вас за покупками!</div>
								<div class="slider-caption__accent">Зимние скидки до 50%</div>
								<a href="#" class="btn btn--slider btn--var1">Перейти к скидкам!</a>
							</div>
							<div class="slider-caption__pict"><img src="img/slider-pict.svg" alt=""></div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-caption">
							<div class="slider-caption__descr">
								<div class="slider-caption__title">Магазин детской одежды<br>приглашает<br>Вас за покупками!</div>
								<div class="slider-caption__accent">Зимние скидки до 50%</div>
								<a href="#" class="btn btn--slider btn--var1">Перейти к скидкам!</a>
							</div>
							<div class="slider-caption__pict"><img src="img/slider-pict.svg" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>