@import "vars.sass"
@import "sprite.sass"
/*--------------Couch page---------------*/
.header
	&.header__inner
		&._couch
			background: url(../img/kouch-bg-1.jpg) center top no-repeat
			background-size: cover

.main__block
	&.main__block-inner
		&._couch
			width: 664px
			height: 457px
			background: rgba(255,255,255, .83)

.block__date
	&.block__date-inner
		&._couch
			color: #000

.block__title
	&.block__title-inner
		&._couch
			color: #000

.block__text
	&._couch
		color: #000

.block__price
	&._couch
		color: #000
		span
			font-weight: 700
			color: #000

.help__form
	&.help__form-header
		&._couch
			height: 457px
			background: rgba(175,159,143, .83)

.form__btn
	&.form__btn-header
		&._couch
			background: #f7b319

.main__accent
	margin-top: 20px
	font: 600 102px "proxima"
	font-style: italic
	color: #fff
	text-transform: uppercase
	text-shadow: 0 0 49px rgba(0, 0, 0, 0.63)

.section__program
	&.section__program-couch
		height: auto
		padding: 38px 0 125px
		background: url(../img/kouch-bg-5.jpg) center top no-repeat
		background-size: cover

.section__title
	&.section__title-program
		&._couch
			font-size: 80px

.program__video
	&.program__video-couch
		margin-top: 60px
		.container
			width: 1175px
			iframe
				display: block
				margin: 0 auto

.program__descr
	margin-top: 35px
	font: 700 60px/60px "kelson"
	color: #000
	text-align: center
	.program__data
		font-size: 48px
		font-weight: normal

.section__start
	&.section__start-couch
		padding-top: 62px
		background: url(../img/kouch-bg-6.jpg) center top no-repeat
		background-size: cover

.part__wrap
	float: right
	position: relative
	right: -310px
	width: 650px

.part__accent
	display: none
	font-size: 16px
	font-weight: 700
	color: #000

.section__title-start
	&.section__title-couch
		margin-bottom: 27px
		font-size: 91px
		line-height: 110px
		text-align: left

.part__item
	&.part__item-couch
		margin-bottom: 32px
		img
			width: 84px
		.item__descr
			padding-left: 22px
			font-size: 30px
			white-space: normal
		&._left
			float: left
			width: 50%
		&._right
			float: right

.section__task
	padding-top: 162px
	background: url(../img/kouch-bg-2.jpg) center top no-repeat
	background-size: cover

.section__title
	&.section__title-task
		position: relative
		left: -127px

.task__accent
	position: relative
	display: block
	margin: 5px 0 140px 155px
	font: 60px "kelson"
	color: #000
	&:before
		content: ' '
		position: absolute
		top: 0
		left: -195px
		width: 111px
		height: 115px
		background: url(../img/kouch-arrows.png) 0 0 no-repeat

.section__expert
	padding-top: 105px
	background: url(../img/kouch-bg-3.jpg) center top no-repeat
	background-size: cover

.section__accent
	&.section__accent-expert
		position: relative
		width: 1500px
		margin: 0 0 95px -200px
		&:before, &:after
			content: ' '
			position: absolute
			width: 534px
			height: 3px
			background: #f7b319
			top: -25px
			left: -90px
			right: 0
			margin: 0 auto
		&:after
			bottom: -30px
			top: auto

.section__title
	&.section__title-expert
		width: 1250px
		margin-left: -180px
		font-size: 82px
		font-weight: normal
		line-height: 96px
		text-align: center

.start__block
	&.start__block-couch
		&.start__block-1
			margin: 105px 0 0
.items__box
	&.items__box-couch
		width: 80%
		&.items__box-1
			margin-left: -200px
		&.items__box-2
			margin-right: -380px

.msk__item
	&.msk__item-couch
		margin-bottom: 50px
		img
			width: 60px

.section__start
	&.section__start-plan
		padding-top: 145px
		background: url(../img/kouch-bg-4.jpg) center top no-repeat
		background-size: cover
		.container
			position: relative

.section__title
	&.section__title-plan
		position: relative
		width: 900px
		right: -425px
		margin-bottom: 60px
		font-size: 90px
		line-height: 106px

.part__item
	&.part__item-plan
		position: relative
		right: -430px
		width: 725px
		margin-bottom: 42px
		img
			float: left
			width: 64px
		.item__descr
			display: table
			padding-left: 25px
			font-size: 30px
			white-space: normal

.plan__author
	position: absolute
	top: 140px
	left: -200px
	font-size: 18px
	font-weight: 700
	color: #000
	span
		font-weight: normal
		font-style: italic

.section__start
	&.section__start-order
		height: 815px
		padding-top: 103px
		background: url(../img/home-bg-7.jpg) center top no-repeat
		background-size: cover

.section__title
	&.section__title-order
		text-align: center
		font-size: 99px
		font-weight: normal

.section__accent
	&.section__accent-order
		margin-top: 10px
		text-align: center

.help__form
	&.help__form-order
		width: 1022px
		height: 273px
		margin: 72px auto 0
		padding: 50px 0 0
		background: rgba(255,255,255, .25)

.form__btn
	&.form__btn-order
		margin-top: 36px
		color: #fff
		background: #000
/*-----------------end--------------------*/