/*-------------Grid-----------*/
@media (min-width: 320px)
	.container
		width: 320px

@media (min-width: 768px)
	.container
		width: 740px

@media (min-width: 992px)
	.container
		width: 960px
/*------------end-------------*/