@import "vars.sass"
@import "sprite.sass"
/*--------------Power page---------------*/
.header
	&.header__inner
		&._power
			background: url(../img/power-bg-1.jpg) center top no-repeat
			background-size: cover

.main__block
	&.main__block-inner
		&._power
			background: rgba(247,179,25, .83)

.help__form
	&.help__form-header
		&._power
			background: rgba(247,179,25, .83)

.block__date
	&.block__date-inner
		&._power
			color: #000

.block__title
	&.block__title-inner
		&._power
			color: #000

.block__text
	&._power
		color: #000
		p
			display: table
			padding-left: 30px

.day__box
	float: left
	position: relative
	width: 128px
	height: 128px
	padding: 15px 0
	font: 700 99px/70px "kelson"
	color: #000
	text-align: center
	border-radius: 50%
	background: #fff
	span
		display: block
		font: 700 24px "kelson"
		color: #000

.block__price
	&._power
		color: #000
		span
			color: #000

.form__title
	&.form__title-header
		&._power
			color: #000

.form__btn
	&.form__btn-header
		&._power
			color: #fff
			background: #000

.pen__box
	position: absolute
	bottom: -200px
	left: 455px
	right: 0

.section__start
	&.section__start-msk
		&._power
			height: auto
			padding-bottom: 195px
			background: url(../img/power-bg-2.jpg) center top no-repeat
			background-size: cover

.start__block
	&.start__block-1
		&._power
			margin: 80px 0 0

.msk__item
	&._power
		margin-bottom: 40px

.section__start
	&.section__start-nat
		&._power
			background: url(../img/power-bg-3.jpg) center top no-repeat
			background-size: cover

.section__title
	&.section__title-nat
		&._power
			margin-bottom: 120px

.nat__items
	text-align: center
	.container
		width: 1500px

.nat__item
	&._power
		position: relative
		display: inline-block
		left: 180px
		width: 23%
		margin: 0 140px 90px 0
		text-align: left
		vertical-align: top
		&:first-child
			margin-right: 0

.nat__descr
	margin-top: 10px
	font-size: 30px
	color: #000

.section__start
	&.section__start-walk
		&._power
			background: url(../img/power-bg-4.jpg) center top no-repeat
			background-size: cover

.section__title
	&.section__title-walk
		&._power
			color: #000

.form__btn
	&.form__btn-walk
		&._power
			color: #fff
			background: #000

.section__start
	&.section__start-get
		&._power
			background: url(../img/power-bg-5.jpg) center top no-repeat
			background-size: cover

.section__title
	&.section__title-get
		&._power
			color: #000

.get__item
	&._power
		background: rgba(252,180,19, .91)

.get__item
	&._power
		&:nth-child(3)
			right: -260px
		&:nth-child(4)
			right: -260px

.section__title
	&.section__title-price
		&._power
			margin-bottom: 18px

.text__banner
	width: 620px
	height: 96px
	margin: 0 auto 65px
	font-size: 30px
	color: #000
	line-height: 96px
	text-align: center
	background: rgba(255,255,255, .3)
/*-----------------end--------------------*/