/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$adv-icon-1-mob-name: 'adv-icon-1-mob'
$adv-icon-1-mob-x: 511px
$adv-icon-1-mob-y: 357px
$adv-icon-1-mob-offset-x: -511px
$adv-icon-1-mob-offset-y: -357px
$adv-icon-1-mob-width: 85px
$adv-icon-1-mob-height: 83px
$adv-icon-1-mob-total-width: 681px
$adv-icon-1-mob-total-height: 588px
$adv-icon-1-mob-image: '../img/sprite.png'
$adv-icon-1-mob: (511px, 357px, -511px, -357px, 85px, 83px, 681px, 588px, '../img/sprite.png', 'adv-icon-1-mob', )
$adv-icon-1-name: 'adv-icon-1'
$adv-icon-1-x: 127px
$adv-icon-1-y: 136px
$adv-icon-1-offset-x: -127px
$adv-icon-1-offset-y: -136px
$adv-icon-1-width: 128px
$adv-icon-1-height: 127px
$adv-icon-1-total-width: 681px
$adv-icon-1-total-height: 588px
$adv-icon-1-image: '../img/sprite.png'
$adv-icon-1: (127px, 136px, -127px, -136px, 128px, 127px, 681px, 588px, '../img/sprite.png', 'adv-icon-1', )
$adv-icon-2-mob-name: 'adv-icon-2-mob'
$adv-icon-2-mob-x: 511px
$adv-icon-2-mob-y: 97px
$adv-icon-2-mob-offset-x: -511px
$adv-icon-2-mob-offset-y: -97px
$adv-icon-2-mob-width: 85px
$adv-icon-2-mob-height: 89px
$adv-icon-2-mob-total-width: 681px
$adv-icon-2-mob-total-height: 588px
$adv-icon-2-mob-image: '../img/sprite.png'
$adv-icon-2-mob: (511px, 97px, -511px, -97px, 85px, 89px, 681px, 588px, '../img/sprite.png', 'adv-icon-2-mob', )
$adv-icon-2-name: 'adv-icon-2'
$adv-icon-2-x: 0px
$adv-icon-2-y: 0px
$adv-icon-2-offset-x: 0px
$adv-icon-2-offset-y: 0px
$adv-icon-2-width: 128px
$adv-icon-2-height: 136px
$adv-icon-2-total-width: 681px
$adv-icon-2-total-height: 588px
$adv-icon-2-image: '../img/sprite.png'
$adv-icon-2: (0px, 0px, 0px, 0px, 128px, 136px, 681px, 588px, '../img/sprite.png', 'adv-icon-2', )
$adv-icon-3-mob-name: 'adv-icon-3-mob'
$adv-icon-3-mob-x: 511px
$adv-icon-3-mob-y: 186px
$adv-icon-3-mob-offset-x: -511px
$adv-icon-3-mob-offset-y: -186px
$adv-icon-3-mob-width: 85px
$adv-icon-3-mob-height: 86px
$adv-icon-3-mob-total-width: 681px
$adv-icon-3-mob-total-height: 588px
$adv-icon-3-mob-image: '../img/sprite.png'
$adv-icon-3-mob: (511px, 186px, -511px, -186px, 85px, 86px, 681px, 588px, '../img/sprite.png', 'adv-icon-3-mob', )
$adv-icon-3-name: 'adv-icon-3'
$adv-icon-3-x: 128px
$adv-icon-3-y: 0px
$adv-icon-3-offset-x: -128px
$adv-icon-3-offset-y: 0px
$adv-icon-3-width: 128px
$adv-icon-3-height: 130px
$adv-icon-3-total-width: 681px
$adv-icon-3-total-height: 588px
$adv-icon-3-image: '../img/sprite.png'
$adv-icon-3: (128px, 0px, -128px, 0px, 128px, 130px, 681px, 588px, '../img/sprite.png', 'adv-icon-3', )
$adv-icon-4-mob-name: 'adv-icon-4-mob'
$adv-icon-4-mob-x: 511px
$adv-icon-4-mob-y: 272px
$adv-icon-4-mob-offset-x: -511px
$adv-icon-4-mob-offset-y: -272px
$adv-icon-4-mob-width: 85px
$adv-icon-4-mob-height: 85px
$adv-icon-4-mob-total-width: 681px
$adv-icon-4-mob-total-height: 588px
$adv-icon-4-mob-image: '../img/sprite.png'
$adv-icon-4-mob: (511px, 272px, -511px, -272px, 85px, 85px, 681px, 588px, '../img/sprite.png', 'adv-icon-4-mob', )
$adv-icon-4-name: 'adv-icon-4'
$adv-icon-4-x: 256px
$adv-icon-4-y: 0px
$adv-icon-4-offset-x: -256px
$adv-icon-4-offset-y: 0px
$adv-icon-4-width: 128px
$adv-icon-4-height: 129px
$adv-icon-4-total-width: 681px
$adv-icon-4-total-height: 588px
$adv-icon-4-image: '../img/sprite.png'
$adv-icon-4: (256px, 0px, -256px, 0px, 128px, 129px, 681px, 588px, '../img/sprite.png', 'adv-icon-4', )
$biz-icon-1-mob-name: 'biz-icon-1-mob'
$biz-icon-1-mob-x: 598px
$biz-icon-1-mob-y: 251px
$biz-icon-1-mob-offset-x: -598px
$biz-icon-1-mob-offset-y: -251px
$biz-icon-1-mob-width: 82px
$biz-icon-1-mob-height: 82px
$biz-icon-1-mob-total-width: 681px
$biz-icon-1-mob-total-height: 588px
$biz-icon-1-mob-image: '../img/sprite.png'
$biz-icon-1-mob: (598px, 251px, -598px, -251px, 82px, 82px, 681px, 588px, '../img/sprite.png', 'biz-icon-1-mob', )
$biz-icon-1-name: 'biz-icon-1'
$biz-icon-1-x: 384px
$biz-icon-1-y: 0px
$biz-icon-1-offset-x: -384px
$biz-icon-1-offset-y: 0px
$biz-icon-1-width: 127px
$biz-icon-1-height: 127px
$biz-icon-1-total-width: 681px
$biz-icon-1-total-height: 588px
$biz-icon-1-image: '../img/sprite.png'
$biz-icon-1: (384px, 0px, -384px, 0px, 127px, 127px, 681px, 588px, '../img/sprite.png', 'biz-icon-1', )
$biz-icon-2-mob-name: 'biz-icon-2-mob'
$biz-icon-2-mob-x: 598px
$biz-icon-2-mob-y: 85px
$biz-icon-2-mob-offset-x: -598px
$biz-icon-2-mob-offset-y: -85px
$biz-icon-2-mob-width: 83px
$biz-icon-2-mob-height: 83px
$biz-icon-2-mob-total-width: 681px
$biz-icon-2-mob-total-height: 588px
$biz-icon-2-mob-image: '../img/sprite.png'
$biz-icon-2-mob: (598px, 85px, -598px, -85px, 83px, 83px, 681px, 588px, '../img/sprite.png', 'biz-icon-2-mob', )
$biz-icon-2-name: 'biz-icon-2'
$biz-icon-2-x: 384px
$biz-icon-2-y: 127px
$biz-icon-2-offset-x: -384px
$biz-icon-2-offset-y: -127px
$biz-icon-2-width: 127px
$biz-icon-2-height: 127px
$biz-icon-2-total-width: 681px
$biz-icon-2-total-height: 588px
$biz-icon-2-image: '../img/sprite.png'
$biz-icon-2: (384px, 127px, -384px, -127px, 127px, 127px, 681px, 588px, '../img/sprite.png', 'biz-icon-2', )
$biz-icon-3-mob-name: 'biz-icon-3-mob'
$biz-icon-3-mob-x: 598px
$biz-icon-3-mob-y: 0px
$biz-icon-3-mob-offset-x: -598px
$biz-icon-3-mob-offset-y: 0px
$biz-icon-3-mob-width: 83px
$biz-icon-3-mob-height: 85px
$biz-icon-3-mob-total-width: 681px
$biz-icon-3-mob-total-height: 588px
$biz-icon-3-mob-image: '../img/sprite.png'
$biz-icon-3-mob: (598px, 0px, -598px, 0px, 83px, 85px, 681px, 588px, '../img/sprite.png', 'biz-icon-3-mob', )
$biz-icon-3-name: 'biz-icon-3'
$biz-icon-3-x: 0px
$biz-icon-3-y: 136px
$biz-icon-3-offset-x: 0px
$biz-icon-3-offset-y: -136px
$biz-icon-3-width: 127px
$biz-icon-3-height: 130px
$biz-icon-3-total-width: 681px
$biz-icon-3-total-height: 588px
$biz-icon-3-image: '../img/sprite.png'
$biz-icon-3: (0px, 136px, 0px, -136px, 127px, 130px, 681px, 588px, '../img/sprite.png', 'biz-icon-3', )
$biz-icon-4-mob-name: 'biz-icon-4-mob'
$biz-icon-4-mob-x: 598px
$biz-icon-4-mob-y: 168px
$biz-icon-4-mob-offset-x: -598px
$biz-icon-4-mob-offset-y: -168px
$biz-icon-4-mob-width: 83px
$biz-icon-4-mob-height: 83px
$biz-icon-4-mob-total-width: 681px
$biz-icon-4-mob-total-height: 588px
$biz-icon-4-mob-image: '../img/sprite.png'
$biz-icon-4-mob: (598px, 168px, -598px, -168px, 83px, 83px, 681px, 588px, '../img/sprite.png', 'biz-icon-4-mob', )
$biz-icon-4-name: 'biz-icon-4'
$biz-icon-4-x: 255px
$biz-icon-4-y: 136px
$biz-icon-4-offset-x: -255px
$biz-icon-4-offset-y: -136px
$biz-icon-4-width: 127px
$biz-icon-4-height: 127px
$biz-icon-4-total-width: 681px
$biz-icon-4-total-height: 588px
$biz-icon-4-image: '../img/sprite.png'
$biz-icon-4: (255px, 136px, -255px, -136px, 127px, 127px, 681px, 588px, '../img/sprite.png', 'biz-icon-4', )
$contact-arrow-left-small-name: 'contact-arrow-left-small'
$contact-arrow-left-small-x: 478px
$contact-arrow-left-small-y: 381px
$contact-arrow-left-small-offset-x: -478px
$contact-arrow-left-small-offset-y: -381px
$contact-arrow-left-small-width: 29px
$contact-arrow-left-small-height: 45px
$contact-arrow-left-small-total-width: 681px
$contact-arrow-left-small-total-height: 588px
$contact-arrow-left-small-image: '../img/sprite.png'
$contact-arrow-left-small: (478px, 381px, -478px, -381px, 29px, 45px, 681px, 588px, '../img/sprite.png', 'contact-arrow-left-small', )
$contact-arrow-right-small-name: 'contact-arrow-right-small'
$contact-arrow-right-small-x: 478px
$contact-arrow-right-small-y: 336px
$contact-arrow-right-small-offset-x: -478px
$contact-arrow-right-small-offset-y: -336px
$contact-arrow-right-small-width: 29px
$contact-arrow-right-small-height: 45px
$contact-arrow-right-small-total-width: 681px
$contact-arrow-right-small-total-height: 588px
$contact-arrow-right-small-image: '../img/sprite.png'
$contact-arrow-right-small: (478px, 336px, -478px, -336px, 29px, 45px, 681px, 588px, '../img/sprite.png', 'contact-arrow-right-small', )
$fb-black-name: 'fb-black'
$fb-black-x: 282px
$fb-black-y: 459px
$fb-black-offset-x: -282px
$fb-black-offset-y: -459px
$fb-black-width: 16px
$fb-black-height: 32px
$fb-black-total-width: 681px
$fb-black-total-height: 588px
$fb-black-image: '../img/sprite.png'
$fb-black: (282px, 459px, -282px, -459px, 16px, 32px, 681px, 588px, '../img/sprite.png', 'fb-black', )
$fb-icon-name: 'fb-icon'
$fb-icon-x: 298px
$fb-icon-y: 459px
$fb-icon-offset-x: -298px
$fb-icon-offset-y: -459px
$fb-icon-width: 16px
$fb-icon-height: 32px
$fb-icon-total-width: 681px
$fb-icon-total-height: 588px
$fb-icon-image: '../img/sprite.png'
$fb-icon: (298px, 459px, -298px, -459px, 16px, 32px, 681px, 588px, '../img/sprite.png', 'fb-icon', )
$gazprom-logo-mob-name: 'gazprom-logo-mob'
$gazprom-logo-mob-x: 109px
$gazprom-logo-mob-y: 459px
$gazprom-logo-mob-offset-x: -109px
$gazprom-logo-mob-offset-y: -459px
$gazprom-logo-mob-width: 99px
$gazprom-logo-mob-height: 47px
$gazprom-logo-mob-total-width: 681px
$gazprom-logo-mob-total-height: 588px
$gazprom-logo-mob-image: '../img/sprite.png'
$gazprom-logo-mob: (109px, 459px, -109px, -459px, 99px, 47px, 681px, 588px, '../img/sprite.png', 'gazprom-logo-mob', )
$gazprom-logo-name: 'gazprom-logo'
$gazprom-logo-x: 0px
$gazprom-logo-y: 266px
$gazprom-logo-offset-x: 0px
$gazprom-logo-offset-y: -266px
$gazprom-logo-width: 146px
$gazprom-logo-height: 70px
$gazprom-logo-total-width: 681px
$gazprom-logo-total-height: 588px
$gazprom-logo-image: '../img/sprite.png'
$gazprom-logo: (0px, 266px, 0px, -266px, 146px, 70px, 681px, 588px, '../img/sprite.png', 'gazprom-logo', )
$history-arrow-left-hover-name: 'history-arrow-left-hover'
$history-arrow-left-hover-x: 76px
$history-arrow-left-hover-y: 336px
$history-arrow-left-hover-offset-x: -76px
$history-arrow-left-hover-offset-y: -336px
$history-arrow-left-hover-width: 76px
$history-arrow-left-hover-height: 123px
$history-arrow-left-hover-total-width: 681px
$history-arrow-left-hover-total-height: 588px
$history-arrow-left-hover-image: '../img/sprite.png'
$history-arrow-left-hover: (76px, 336px, -76px, -336px, 76px, 123px, 681px, 588px, '../img/sprite.png', 'history-arrow-left-hover', )
$history-arrow-left-name: 'history-arrow-left'
$history-arrow-left-x: 228px
$history-arrow-left-y: 336px
$history-arrow-left-offset-x: -228px
$history-arrow-left-offset-y: -336px
$history-arrow-left-width: 76px
$history-arrow-left-height: 123px
$history-arrow-left-total-width: 681px
$history-arrow-left-total-height: 588px
$history-arrow-left-image: '../img/sprite.png'
$history-arrow-left: (228px, 336px, -228px, -336px, 76px, 123px, 681px, 588px, '../img/sprite.png', 'history-arrow-left', )
$history-arrow-right-hover-name: 'history-arrow-right-hover'
$history-arrow-right-hover-x: 0px
$history-arrow-right-hover-y: 336px
$history-arrow-right-hover-offset-x: 0px
$history-arrow-right-hover-offset-y: -336px
$history-arrow-right-hover-width: 76px
$history-arrow-right-hover-height: 123px
$history-arrow-right-hover-total-width: 681px
$history-arrow-right-hover-total-height: 588px
$history-arrow-right-hover-image: '../img/sprite.png'
$history-arrow-right-hover: (0px, 336px, 0px, -336px, 76px, 123px, 681px, 588px, '../img/sprite.png', 'history-arrow-right-hover', )
$history-arrow-right-name: 'history-arrow-right'
$history-arrow-right-x: 152px
$history-arrow-right-y: 336px
$history-arrow-right-offset-x: -152px
$history-arrow-right-offset-y: -336px
$history-arrow-right-width: 76px
$history-arrow-right-height: 123px
$history-arrow-right-total-width: 681px
$history-arrow-right-total-height: 588px
$history-arrow-right-image: '../img/sprite.png'
$history-arrow-right: (152px, 336px, -152px, -336px, 76px, 123px, 681px, 588px, '../img/sprite.png', 'history-arrow-right', )
$logo-rosatom-mob-name: 'logo-rosatom-mob'
$logo-rosatom-mob-x: 49px
$logo-rosatom-mob-y: 528px
$logo-rosatom-mob-offset-x: -49px
$logo-rosatom-mob-offset-y: -528px
$logo-rosatom-mob-width: 46px
$logo-rosatom-mob-height: 59px
$logo-rosatom-mob-total-width: 681px
$logo-rosatom-mob-total-height: 588px
$logo-rosatom-mob-image: '../img/sprite.png'
$logo-rosatom-mob: (49px, 528px, -49px, -528px, 46px, 59px, 681px, 588px, '../img/sprite.png', 'logo-rosatom-mob', )
$logo-rosatom-name: 'logo-rosatom'
$logo-rosatom-x: 598px
$logo-rosatom-y: 422px
$logo-rosatom-offset-x: -598px
$logo-rosatom-offset-y: -422px
$logo-rosatom-width: 68px
$logo-rosatom-height: 87px
$logo-rosatom-total-width: 681px
$logo-rosatom-total-height: 588px
$logo-rosatom-image: '../img/sprite.png'
$logo-rosatom: (598px, 422px, -598px, -422px, 68px, 87px, 681px, 588px, '../img/sprite.png', 'logo-rosatom', )
$logo-rostehnologii-mob-name: 'logo-rostehnologii-mob'
$logo-rostehnologii-mob-x: 329px
$logo-rostehnologii-mob-y: 266px
$logo-rostehnologii-mob-offset-x: -329px
$logo-rostehnologii-mob-offset-y: -266px
$logo-rostehnologii-mob-width: 125px
$logo-rostehnologii-mob-height: 30px
$logo-rostehnologii-mob-total-width: 681px
$logo-rostehnologii-mob-total-height: 588px
$logo-rostehnologii-mob-image: '../img/sprite.png'
$logo-rostehnologii-mob: (329px, 266px, -329px, -266px, 125px, 30px, 681px, 588px, '../img/sprite.png', 'logo-rostehnologii-mob', )
$logo-rostehnologii-name: 'logo-rostehnologii'
$logo-rostehnologii-x: 146px
$logo-rostehnologii-y: 266px
$logo-rostehnologii-offset-x: -146px
$logo-rostehnologii-offset-y: -266px
$logo-rostehnologii-width: 183px
$logo-rostehnologii-height: 44px
$logo-rostehnologii-total-width: 681px
$logo-rostehnologii-total-height: 588px
$logo-rostehnologii-image: '../img/sprite.png'
$logo-rostehnologii: (146px, 266px, -146px, -266px, 183px, 44px, 681px, 588px, '../img/sprite.png', 'logo-rostehnologii', )
$phone-icon-name: 'phone-icon'
$phone-icon-x: 185px
$phone-icon-y: 310px
$phone-icon-offset-x: -185px
$phone-icon-offset-y: -310px
$phone-icon-width: 20px
$phone-icon-height: 20px
$phone-icon-total-width: 681px
$phone-icon-total-height: 588px
$phone-icon-image: '../img/sprite.png'
$phone-icon: (185px, 310px, -185px, -310px, 20px, 20px, 681px, 588px, '../img/sprite.png', 'phone-icon', )
$prog-icon-1-name: 'prog-icon-1'
$prog-icon-1-x: 304px
$prog-icon-1-y: 336px
$prog-icon-1-offset-x: -304px
$prog-icon-1-offset-y: -336px
$prog-icon-1-width: 87px
$prog-icon-1-height: 97px
$prog-icon-1-total-width: 681px
$prog-icon-1-total-height: 588px
$prog-icon-1-image: '../img/sprite.png'
$prog-icon-1: (304px, 336px, -304px, -336px, 87px, 97px, 681px, 588px, '../img/sprite.png', 'prog-icon-1', )
$prog-icon-2-name: 'prog-icon-2'
$prog-icon-2-x: 391px
$prog-icon-2-y: 336px
$prog-icon-2-offset-x: -391px
$prog-icon-2-offset-y: -336px
$prog-icon-2-width: 87px
$prog-icon-2-height: 97px
$prog-icon-2-total-width: 681px
$prog-icon-2-total-height: 588px
$prog-icon-2-image: '../img/sprite.png'
$prog-icon-2: (391px, 336px, -391px, -336px, 87px, 97px, 681px, 588px, '../img/sprite.png', 'prog-icon-2', )
$prog-icon-3-name: 'prog-icon-3'
$prog-icon-3-x: 511px
$prog-icon-3-y: 0px
$prog-icon-3-offset-x: -511px
$prog-icon-3-offset-y: 0px
$prog-icon-3-width: 87px
$prog-icon-3-height: 97px
$prog-icon-3-total-width: 681px
$prog-icon-3-total-height: 588px
$prog-icon-3-image: '../img/sprite.png'
$prog-icon-3: (511px, 0px, -511px, 0px, 87px, 97px, 681px, 588px, '../img/sprite.png', 'prog-icon-3', )
$roscosmos-logo-mob-name: 'roscosmos-logo-mob'
$roscosmos-logo-mob-x: 0px
$roscosmos-logo-mob-y: 528px
$roscosmos-logo-mob-offset-x: 0px
$roscosmos-logo-mob-offset-y: -528px
$roscosmos-logo-mob-width: 49px
$roscosmos-logo-mob-height: 60px
$roscosmos-logo-mob-total-width: 681px
$roscosmos-logo-mob-total-height: 588px
$roscosmos-logo-mob-image: '../img/sprite.png'
$roscosmos-logo-mob: (0px, 528px, 0px, -528px, 49px, 60px, 681px, 588px, '../img/sprite.png', 'roscosmos-logo-mob', )
$roscosmos-logo-name: 'roscosmos-logo'
$roscosmos-logo-x: 598px
$roscosmos-logo-y: 333px
$roscosmos-logo-offset-x: -598px
$roscosmos-logo-offset-y: -333px
$roscosmos-logo-width: 72px
$roscosmos-logo-height: 89px
$roscosmos-logo-total-width: 681px
$roscosmos-logo-total-height: 588px
$roscosmos-logo-image: '../img/sprite.png'
$roscosmos-logo: (598px, 333px, -598px, -333px, 72px, 89px, 681px, 588px, '../img/sprite.png', 'roscosmos-logo', )
$rosneft-logo-mob-name: 'rosneft_logo-mob'
$rosneft-logo-mob-x: 208px
$rosneft-logo-mob-y: 459px
$rosneft-logo-mob-offset-x: -208px
$rosneft-logo-mob-offset-y: -459px
$rosneft-logo-mob-width: 74px
$rosneft-logo-mob-height: 46px
$rosneft-logo-mob-total-width: 681px
$rosneft-logo-mob-total-height: 588px
$rosneft-logo-mob-image: '../img/sprite.png'
$rosneft-logo-mob: (208px, 459px, -208px, -459px, 74px, 46px, 681px, 588px, '../img/sprite.png', 'rosneft_logo-mob', )
$rosneft-logo-name: 'rosneft_logo'
$rosneft-logo-x: 0px
$rosneft-logo-y: 459px
$rosneft-logo-offset-x: 0px
$rosneft-logo-offset-y: -459px
$rosneft-logo-width: 109px
$rosneft-logo-height: 69px
$rosneft-logo-total-width: 681px
$rosneft-logo-total-height: 588px
$rosneft-logo-image: '../img/sprite.png'
$rosneft-logo: (0px, 459px, 0px, -459px, 109px, 69px, 681px, 588px, '../img/sprite.png', 'rosneft_logo', )
$speak-icon-1-name: 'speak-icon-1'
$speak-icon-1-x: 598px
$speak-icon-1-y: 509px
$speak-icon-1-offset-x: -598px
$speak-icon-1-offset-y: -509px
$speak-icon-1-width: 19px
$speak-icon-1-height: 16px
$speak-icon-1-total-width: 681px
$speak-icon-1-total-height: 588px
$speak-icon-1-image: '../img/sprite.png'
$speak-icon-1: (598px, 509px, -598px, -509px, 19px, 16px, 681px, 588px, '../img/sprite.png', 'speak-icon-1', )
$vk-black-name: 'vk-black'
$vk-black-x: 454px
$vk-black-y: 266px
$vk-black-offset-x: -454px
$vk-black-offset-y: -266px
$vk-black-width: 39px
$vk-black-height: 25px
$vk-black-total-width: 681px
$vk-black-total-height: 588px
$vk-black-image: '../img/sprite.png'
$vk-black: (454px, 266px, -454px, -266px, 39px, 25px, 681px, 588px, '../img/sprite.png', 'vk-black', )
$vk-icon-name: 'vk-icon'
$vk-icon-x: 146px
$vk-icon-y: 310px
$vk-icon-offset-x: -146px
$vk-icon-offset-y: -310px
$vk-icon-width: 39px
$vk-icon-height: 25px
$vk-icon-total-width: 681px
$vk-icon-total-height: 588px
$vk-icon-image: '../img/sprite.png'
$vk-icon: (146px, 310px, -146px, -310px, 39px, 25px, 681px, 588px, '../img/sprite.png', 'vk-icon', )
$spritesheet-width: 681px
$spritesheet-height: 588px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($adv-icon-1-mob, $adv-icon-1, $adv-icon-2-mob, $adv-icon-2, $adv-icon-3-mob, $adv-icon-3, $adv-icon-4-mob, $adv-icon-4, $biz-icon-1-mob, $biz-icon-1, $biz-icon-2-mob, $biz-icon-2, $biz-icon-3-mob, $biz-icon-3, $biz-icon-4-mob, $biz-icon-4, $contact-arrow-left-small, $contact-arrow-right-small, $fb-black, $fb-icon, $gazprom-logo-mob, $gazprom-logo, $history-arrow-left-hover, $history-arrow-left, $history-arrow-right-hover, $history-arrow-right, $logo-rosatom-mob, $logo-rosatom, $logo-rostehnologii-mob, $logo-rostehnologii, $phone-icon, $prog-icon-1, $prog-icon-2, $prog-icon-3, $roscosmos-logo-mob, $roscosmos-logo, $rosneft-logo-mob, $rosneft-logo, $speak-icon-1, $vk-black, $vk-icon, )
$spritesheet: (681px, 588px, '../img/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
