@import "vars.sass"
@import "sprite.sass"
/*--------------Steel page---------------*/
.header
	&.header__inner
		&._steel
			background: url(../img/iron-bg-1.jpg) center top no-repeat
			background-size: cover

.main__block
	&.main__block-inner
		&._steel
			background: rgba(255,255,255, .83)

.help__form
	&.help__form-header
		&._steel
			background: rgba(255,255,255, .83)

.form__title
	&.form__title-header
		&._steel
			color: #000
.main__accent
	&.main__accent-steel
		margin-top: -60px

.section
	&.section__steel
		height: auto
		padding: 95px 0 150px
		background: url(../img/iron-bg-2.jpg) center top no-repeat
		background-size: cover

.steel__accent
	display: none
	font-size: 16px
	font-weight: 700
	color: #000

.section__title
	&.section__title-steel
		position: relative
		right: -210px
		font-size: 90px
		white-space: nowrap

.start__block
	&.start__block-steel
		margin: 66px 0 0

.items__box
	&.items__box-steel
		position: relative
		&.items__box-1
			float: none
			display: inline-block
			left: 170px
			margin: 0 0 12px
		&.items__box-2
			float: none
			display: inline-block
			right: -390px
			margin-right: 0

.msk__item
	&.msk__item-steel
		margin-bottom: 40px
		img
			width: 43px
		.item__descr
			white-space: nowrap

.section
	&.section__oneday
		height: auto
		padding: 80px 0 300px
		background: url(../img/iron-bg-3.jpg) center top no-repeat
		background-size: cover

.oneday__accent
	position: relative
	left: -200px
	font: 700 36px "kelson"
	color: #000

.section__title
	&.section__title-oneday
		position: relative
		left: -205px
		font-size: 90px
		line-height: 96px
		white-space: nowrap

.start__block
	&.start__block-oneday
		margin: 110px 0 0

.items__box
	&.items__box-oneday
		position: relative
		width: 60%
		&.items__box-1
			margin-left: -205px
		&.items__box-2
			margin-right: -225px


.msk__item
	&.msk__item-oneday
		margin-bottom: 20px
		img
			width: 100px

.section__start
	&.section__start-twoday
		height: auto
		padding: 80px 0 110px
		background: url(../img/iron-bg-4.jpg) center top no-repeat
		background-size: cover

.section__accent
	&.section__accent-twoday
		position: relative
		left: -130px
		color: #fff

.section__title
	&.section__title-twoday
		position: relative
		left: -130px
		font-size: 90px
		color: #fff

.nat__items
	&.nat__items-twoday
		margin: 90px 0 0 -400px
		.container
			width: 1300px

.nat__item
	&.nat__item-twoday
		width: 30%
		margin: 0 0 45px
		.nat__descr
			color: #fff

.section
	&.section__any
		height: auto
		padding: 185px 0 235px
		background: url(../img/iron-bg-5.jpg) center top no-repeat
		background-size: cover

.section__title
	&.section__title-any
		margin-left: -200px
		font-size: 90px

.oneday__accent
	&.oneday__accent-any
		margin: 8px 0 0 -200px
		left: 0

.start__block
	&.start__block-any
		margin-top: 100px

.items__box
	&.items__box-any
		width: 70%
		&.items__box-1
			margin-left: -200px
		&.items__box-2
			margin-right: -250px

.msk__item
	&.msk__item-any
		margin-bottom: 55px

.section__start
	&.section__start-fear
		height: auto
		padding: 70px 0 265px
		background: url(../img/iron-bg-6.jpg) center top no-repeat
		background-size: cover

.section__title
	&.section__title-fear
		font-size: 90px
		color: #fff
		text-align: center

.section__accent
	&.section__accent-fear
		margin-left: -135px
		font-size: 40px
		color: #fff
		text-align: center
		white-space: nowrap

.nat__items
	&.nat__items-fear
		margin-top: 102px
		text-align: right

.nat__item
	&.nat__item-fear
		display: inline-block
		width: 28%
		margin: 0 80px 0 0
		text-align: left
		vertical-align: top
		&:last-child
			margin-right: 0
		.nat__descr
			font-size: 24px
			.descr__title
				position: relative
				min-height: 150px
				font-size: 36px
				font-weight: 700
				z-index: 2
				&:before
					content: ' '
					position: absolute
					top: -28px
					left: -10px
					width: 79px
					height: 140px
					z-index: -1
					background: url(../img/questions.png) 0 0 no-repeat

.section__start
	&.section__start-take
		height: auto
		padding: 100px 0 330px
		background: url(../img/iron-bg-7.jpg) center top no-repeat
		background-size: cover

.section__title
	&.section__title-take
		width: 120%
		margin-left: -65px
		font-size: 90px

.nat__items
	&.nat__items-take
		margin-top: 95px
		.container
			width: 1600px
.nat__item
	&.nat__item-take
		display: inline-block
		width: 486px
		height: 299px
		margin-right: 47px
		padding: 25px 35px 0
		vertical-align: top
		border: 3px solid #fff
		&:last-child
			margin-right: 0
		.item__pict
			position: relative
			height: 100px
			text-align: center
			img
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				margin: auto
		.nat__descr
			display: inline-block
			font-size: 34px
			text-align: left
/*----------------end--------------------*/