/*----------------Cart page-------------------*/
.section-cart
	padding-top: 0

.cart-main
	.tb
		position: relative
		display: table
		width: 100%
		border-collapse: collapse
		&-row
			display: table-row
		&-cell
			position: relative
			display: table-cell
			vertical-align: middle
			padding: 25px 0
			border: 1px solid #dedede
			&_head
				padding: 9px 5px
				font-size: 20px
				font-weight: 600
				color: $blue
				text-align: center
				text-transform: uppercase
			&_tovar
				width: 55%
			.cart-pict
				display: table-cell
				vertical-align: middle
				width: 39%
				text-align: center
			.cart-descr
				display: table-cell
				vertical-align: middle
				font-size: 15px
				color: #a9a9a9
				a
					display: block
					margin-bottom: 10px
					font-size: 17px
					color: $light-blue
					&:hover
						color: $accent
			&_price
				width: 14%
				font-size: 20px
				font-weight: 600
				text-align: center
			&_count
				width: 14%
				text-align: center
			&_total
				width: 13.5%
				font-size: 20px
				font-weight: 600
				text-align: center
			&_del
				width: 10%
				text-align: center
		.del-link
			position: relative
			display: inline-block
			top: -5px
			font-size: 0
			@include sprite($close)
		.jq-number
			display: inline-block
			width: 102px
			height: 32px
			padding-right: 0
			vertical-align: middle
			&__field
				width: 48px
				height: 32px
				margin: 0 auto
				border: none
				border-radius: 0
				box-shadow: none
				border: 1px solid #989898
				border: 1px solid rgba(158, 158, 158, 0.23)
				input
					height: 100%
					font-size: 16px
					font-weight: 300
					color: #272727
					text-align: center
			&__spin
				width: 25px
				height: 32px
				border-radius: 0
				box-shadow: none
				background: #fff
				&.minus
					left: 0
					top: 0
					&:after
						content: '-'
						top: 50%
						left: 50%
						width: auto
						height: auto
						font-size: 20px
						color: #272727
						transform: translate(-50%,-50%)
						border: none
				&.plus
					&:after
						content: '+'
						top: 50%
						left: 50%
						width: auto
						height: auto
						color: #272727
						font-size: 20px
						transform: translate(-50%,-50%)
						border: none

.cart-bottom
	padding: 20px 0 32px
	+clearfix

.promo
	float: left
	max-width: 520px
	&-in
		input
			display: inline-block
			vertical-align: middle
			width: 308px
			height: 37px
			padding-left: 12px
			font-size: 13px
			font-weight: 300
			outline: none
			border: 1px solid rgba(17, 17, 17, 0.15)
			&::-webkit-input-placeholder
				color: #a9a9a9
			&:-moz-placeholder
				color: #a9a9a9
			&::-moz-placeholder
				color: #a9a9a9
			&:-ms-input-placeholder
				color: #a9a9a9
		button
			display: inline-block
			vertical-align: middle
			width: 175px
			height: 37px
			margin-left: 17px
			padding: 0
			font-size: 14px
			color: #fefefe
			text-transform: uppercase
			transition: all .15s ease
			border: none
			background: $light-blue
			&:hover
				background: $accent
	&-text
		margin-top: 5px
		font-size: 15px
		color: #a9a9a9
		span
			color: $red

.cart-total
	float: right
	margin-top: 20px
	font-size: 30px
	font-weight: 600
	color: $red
	span
		margin-right: 17px
		font-size: 20px
		color: #000

.order-form
	&__title
		display: block
		margin-bottom: 38px
		font-size: 28px
		font-weight: 600
		color: #282828
		text-align: center
	fieldset
		display: inline-block
		margin: 0
		padding: 0
		border: none
	.form-in
		width: 41.7%
	.form-sel
		float: right
	input
		display: block
		width: 100%
		height: 37px
		margin-bottom: 10px
		padding-left: 12px
		outline: none
		border: 1px solid rgba(17, 17, 17, 0.15)
	textarea
		display: block
		width: 100%
		height: 154px
		padding: 10px 0 0 12px
		outline: none
		border: 1px solid rgba(17, 17, 17, 0.15)
	.form-delivery
		position: relative
		+clearfix
		.form-sel__title
			margin-top: 8px
	.form-location
		position: relative
		+clearfix
		.form-sel__title
			margin-top: 8px
	.form-pay
		position: relative
		+clearfix
	.form-sel__title
		display: inline-block
		font-size: 15px
		font-weight: 300
		color: #a9a9a9
	.form-sel__wrap
		float: right
		width: 307px
		margin-left: 72px
		label
			margin-bottom: 10px
			font-size: 15px
			font-weight: 300
			color: #a9a9a9
	.jq-selectbox
		width: 100%
		margin-bottom: 10px
		&.focused
			.jq-selectbox__select
				border: 1px solid rgba(17, 17, 17, 0.15)
		&__select
			height: 37px
			font: 15px/35px "pfbeausans"
			font-weight: 300
			color: #3e3e3e
			border: 1px solid rgba(17, 17, 17, 0.15)
			border-radius: 0
			box-shadow: none
			background: none
			&:active, &:hover
				box-shadow: none
				background: none
		&__trigger
			border-left: none
			&-arrow
				border-top-color: $blue
		&:hover
			.jq-selectbox__trigger-arrow
	.jq-radio
		width: 17px
		height: 17px
		margin-right: 10px
		background-image: linear-gradient(to top, #dcdbdb 0%, #ecebeb 99%, #ecebeb 100%)
		border: 1px solid #c6c4c4
		box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.75)
		&.focused
			border: 1px solid #c6c4c4
		&.checked
			.jq-radio__div
				width: 9px
				height: 9px
				background-image: radial-gradient(circle 5px at center, #4396f0 0%, #4396f0 100%)
				border: 1px solid #15688a
				box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.5)

.order-btn
	float: right
	width: 259px
	height: 53px
	margin-top: 15px
	font-size: 16px
	font-weight: 600
	color: #fefefe
	text-transform: uppercase
	border: none
	transition: all .15s ease
	background: #006cab
	&:hover
		background: $accent
/*-------------------end-----------------------*/