.breadcrumb
	padding: 14px 0 12px
	margin-bottom: 0
	border-radius: 0
	background: none
	li
		font-size: 13px
		color: $light-blue
		a
			font-size: 13px
			color: $light-blue
			&:hover
				text-decoration: underline
	> .active
		color: #cacaca
	> li + li:before
		content: '>'
		position: relative
		top: 1px
		left: -2px
		color: #cacaca
/*----------------Pay page-------------------*/
.section-pay
	padding-top: 0

.cl-pay
	text-align: center
	.cl-item
		display: inline-block
		width: 49%
		margin-bottom: 18px
		vertical-align: top
		outline: none
	.slick-arrow
		position: absolute
		top: 50%
		margin-top: -10px
		padding: 0
		font-size: 0
		z-index: 9
		outline: none
		cursor: pointer
		opacity: .8
		border: none
		background: none
		&.slick-prev
			left: -15px
			@include sprite($arrow-l)
		&.slick-next
			right: -15px
			@include sprite($arrow-r)
		&:hover
			opacity: 1
			&.slick-prev
				@include sprite($arrow-l-h)
			&.slick-next
				@include sprite($arrow-r-h)

.pay-item
	position: relative
	display: inline-block
	max-width: 270px
	padding: 0 5px
	text-align: center
	i
		display: block
		width: 93px
		height: 78px
		margin: 0 auto
	span
		display: block
		margin-top: 12px
		font-size: 16px
		font-weight: 300
		color: #737373
	b
		display: block
		margin-bottom: 3px
		color: #000
		font-weight: 600
	&_1
		i
			background: url(../img/pay-1.png) bottom center no-repeat
	&_2
		i
			background: url(../img/pay-2.png) bottom center no-repeat
	&_3
		i
			background: url(../img/pay-3.png) bottom center no-repeat
	&_4
		i
			background: url(../img/pay-4.png) bottom center no-repeat

.delivery
	padding-top: 35px
	&__title
		display: block
		margin-bottom: 35px
		font-size: 20px
		font-weight: 600
		color: $blue
		text-transform: uppercase
		text-align: center
	&__text
		font-size: 17px
		color: #717171
		p
			margin-bottom: 15px
/*-------------------end----------------------*/