// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-d-name: 'arrow-d'
$arrow-d-x: 85px
$arrow-d-y: 49px
$arrow-d-offset-x: -85px
$arrow-d-offset-y: -49px
$arrow-d-width: 21px
$arrow-d-height: 21px
$arrow-d-total-width: 121px
$arrow-d-total-height: 98px
$arrow-d-image: '../img/sprite.png'
$arrow-d: (85px, 49px, -85px, -49px, 21px, 21px, 121px, 98px, '../img/sprite.png', 'arrow-d', )
$arrow-down-name: 'arrow-down'
$arrow-down-x: 81px
$arrow-down-y: 70px
$arrow-down-offset-x: -81px
$arrow-down-offset-y: -70px
$arrow-down-width: 12px
$arrow-down-height: 7px
$arrow-down-total-width: 121px
$arrow-down-total-height: 98px
$arrow-down-image: '../img/sprite.png'
$arrow-down: (81px, 70px, -81px, -70px, 12px, 7px, 121px, 98px, '../img/sprite.png', 'arrow-down', )
$arrow-l-h-name: 'arrow-l-h'
$arrow-l-h-x: 22px
$arrow-l-h-y: 70px
$arrow-l-h-offset-x: -22px
$arrow-l-h-offset-y: -70px
$arrow-l-h-width: 21px
$arrow-l-h-height: 21px
$arrow-l-h-total-width: 121px
$arrow-l-h-total-height: 98px
$arrow-l-h-image: '../img/sprite.png'
$arrow-l-h: (22px, 70px, -22px, -70px, 21px, 21px, 121px, 98px, '../img/sprite.png', 'arrow-l-h', )
$arrow-l-name: 'arrow-l'
$arrow-l-x: 43px
$arrow-l-y: 70px
$arrow-l-offset-x: -43px
$arrow-l-offset-y: -70px
$arrow-l-width: 21px
$arrow-l-height: 21px
$arrow-l-total-width: 121px
$arrow-l-total-height: 98px
$arrow-l-image: '../img/sprite.png'
$arrow-l: (43px, 70px, -43px, -70px, 21px, 21px, 121px, 98px, '../img/sprite.png', 'arrow-l', )
$arrow-left-d-name: 'arrow-left-d'
$arrow-left-d-x: 0px
$arrow-left-d-y: 0px
$arrow-left-d-offset-x: 0px
$arrow-left-d-offset-y: 0px
$arrow-left-d-width: 22px
$arrow-left-d-height: 49px
$arrow-left-d-total-width: 121px
$arrow-left-d-total-height: 98px
$arrow-left-d-image: '../img/sprite.png'
$arrow-left-d: (0px, 0px, 0px, 0px, 22px, 49px, 121px, 98px, '../img/sprite.png', 'arrow-left-d', )
$arrow-left-h-name: 'arrow-left-h'
$arrow-left-h-x: 22px
$arrow-left-h-y: 0px
$arrow-left-h-offset-x: -22px
$arrow-left-h-offset-y: 0px
$arrow-left-h-width: 22px
$arrow-left-h-height: 49px
$arrow-left-h-total-width: 121px
$arrow-left-h-total-height: 98px
$arrow-left-h-image: '../img/sprite.png'
$arrow-left-h: (22px, 0px, -22px, 0px, 22px, 49px, 121px, 98px, '../img/sprite.png', 'arrow-left-h', )
$arrow-left-name: 'arrow-left'
$arrow-left-x: 44px
$arrow-left-y: 0px
$arrow-left-offset-x: -44px
$arrow-left-offset-y: 0px
$arrow-left-width: 22px
$arrow-left-height: 49px
$arrow-left-total-width: 121px
$arrow-left-total-height: 98px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (44px, 0px, -44px, 0px, 22px, 49px, 121px, 98px, '../img/sprite.png', 'arrow-left', )
$arrow-r-h-name: 'arrow-r-h'
$arrow-r-h-x: 43px
$arrow-r-h-y: 49px
$arrow-r-h-offset-x: -43px
$arrow-r-h-offset-y: -49px
$arrow-r-h-width: 21px
$arrow-r-h-height: 21px
$arrow-r-h-total-width: 121px
$arrow-r-h-total-height: 98px
$arrow-r-h-image: '../img/sprite.png'
$arrow-r-h: (43px, 49px, -43px, -49px, 21px, 21px, 121px, 98px, '../img/sprite.png', 'arrow-r-h', )
$arrow-r-name: 'arrow-r'
$arrow-r-x: 22px
$arrow-r-y: 49px
$arrow-r-offset-x: -22px
$arrow-r-offset-y: -49px
$arrow-r-width: 21px
$arrow-r-height: 21px
$arrow-r-total-width: 121px
$arrow-r-total-height: 98px
$arrow-r-image: '../img/sprite.png'
$arrow-r: (22px, 49px, -22px, -49px, 21px, 21px, 121px, 98px, '../img/sprite.png', 'arrow-r', )
$arrow-right-d-name: 'arrow-right-d'
$arrow-right-d-x: 66px
$arrow-right-d-y: 0px
$arrow-right-d-offset-x: -66px
$arrow-right-d-offset-y: 0px
$arrow-right-d-width: 22px
$arrow-right-d-height: 49px
$arrow-right-d-total-width: 121px
$arrow-right-d-total-height: 98px
$arrow-right-d-image: '../img/sprite.png'
$arrow-right-d: (66px, 0px, -66px, 0px, 22px, 49px, 121px, 98px, '../img/sprite.png', 'arrow-right-d', )
$arrow-right-h-name: 'arrow-right-h'
$arrow-right-h-x: 88px
$arrow-right-h-y: 0px
$arrow-right-h-offset-x: -88px
$arrow-right-h-offset-y: 0px
$arrow-right-h-width: 22px
$arrow-right-h-height: 49px
$arrow-right-h-total-width: 121px
$arrow-right-h-total-height: 98px
$arrow-right-h-image: '../img/sprite.png'
$arrow-right-h: (88px, 0px, -88px, 0px, 22px, 49px, 121px, 98px, '../img/sprite.png', 'arrow-right-h', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 0px
$arrow-right-y: 49px
$arrow-right-offset-x: 0px
$arrow-right-offset-y: -49px
$arrow-right-width: 22px
$arrow-right-height: 49px
$arrow-right-total-width: 121px
$arrow-right-total-height: 98px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (0px, 49px, 0px, -49px, 22px, 49px, 121px, 98px, '../img/sprite.png', 'arrow-right', )
$arrow-title-name: 'arrow-title'
$arrow-title-x: 110px
$arrow-title-y: 0px
$arrow-title-offset-x: -110px
$arrow-title-offset-y: 0px
$arrow-title-width: 11px
$arrow-title-height: 22px
$arrow-title-total-width: 121px
$arrow-title-total-height: 98px
$arrow-title-image: '../img/sprite.png'
$arrow-title: (110px, 0px, -110px, 0px, 11px, 22px, 121px, 98px, '../img/sprite.png', 'arrow-title', )
$arrow-u-name: 'arrow-u'
$arrow-u-x: 64px
$arrow-u-y: 49px
$arrow-u-offset-x: -64px
$arrow-u-offset-y: -49px
$arrow-u-width: 21px
$arrow-u-height: 21px
$arrow-u-total-width: 121px
$arrow-u-total-height: 98px
$arrow-u-image: '../img/sprite.png'
$arrow-u: (64px, 49px, -64px, -49px, 21px, 21px, 121px, 98px, '../img/sprite.png', 'arrow-u', )
$check-name: 'check'
$check-x: 110px
$check-y: 22px
$check-offset-x: -110px
$check-offset-y: -22px
$check-width: 8px
$check-height: 6px
$check-total-width: 121px
$check-total-height: 98px
$check-image: '../img/sprite.png'
$check: (110px, 22px, -110px, -22px, 8px, 6px, 121px, 98px, '../img/sprite.png', 'check', )
$close-name: 'close'
$close-x: 64px
$close-y: 70px
$close-offset-x: -64px
$close-offset-y: -70px
$close-width: 17px
$close-height: 17px
$close-total-width: 121px
$close-total-height: 98px
$close-image: '../img/sprite.png'
$close: (64px, 70px, -64px, -70px, 17px, 17px, 121px, 98px, '../img/sprite.png', 'close', )
$spritesheet-width: 121px
$spritesheet-height: 98px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-d, $arrow-down, $arrow-l-h, $arrow-l, $arrow-left-d, $arrow-left-h, $arrow-left, $arrow-r-h, $arrow-r, $arrow-right-d, $arrow-right-h, $arrow-right, $arrow-title, $arrow-u, $check, $close, )
$spritesheet: (121px, 98px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
