@import "vars"
/*---------------Build page------------------*/
.product
	&.product__build
		.product__pict
			margin-bottom: 15px
		.product__descr
			padding-left: 15px
		.product__text
			margin-bottom: 15px

.text__hide
	li
		a
			display: block
			font-size: 18px
			color: $main-color
			line-height: 24px
			&:hover
				color: $hover-3
				text-decoration: underline

.product__param
	margin-bottom: 20px
	font-size: 17px
	color: #a1a1a1
	clear: both
	p
		margin-bottom: 12px

.product__cart
	text-align: right
	.product__price
		float: none
		display: inline-block
		margin-right: 240px
/*--------------------end------------------------*/