/*-------------Grid-----------*/
@media (min-width: 320px)
	.container
		max-width: 100%

@media (min-width: 770px)
	.container
		max-width: 770px

@media (min-width: 992px)
	.container
		max-width: 970px

@media (min-width: 1200px)
	.container
		max-width: 1170px

@media (min-width: 1366px)
	.container
		max-width: 1366px

@media (min-width: 1625px)
	.container
		max-width: 1625px
/*------------end-------------*/