@import "vars"
/*---------------News-one page------------------*/
.news
	&.news__inner-page
		.news__descr
			padding-left: 0
		.news__date
			margin-top: 10px
		.news__pict
			float: none
			max-width: 100%
			height: auto
			margin-top: 45px
			&.news__pict-mob
				display: none
			img
				position: static
				transform: none
.nav__page
	&.nav__page-newsone
		margin-top: 70px
/*-------------------end------------------------*/