@import "vars"
/*---------------Tovar page------------------*/
.product
	&.product__page
		.product__pict
			float: none
			width: 100%
			max-width: 520px
			margin: 0 auto 25px
			.main__pict
			.thumb__pict
				margin-top: 20px
				height: 40px
				text-align: center
				overflow: hidden
				img
					display: inline-block
					max-width: 60px
					margin: 0 15px
					vertical-align: top
		.product__descr
			display: block
			padding-left: 0
		.text__hide
			display: block
		.btn
			&.btn__cart
				opacity: 1
/*------------------end-----------------------*/