/*----------About page---------------*/
.about
	margin-top: 228px
	padding-bottom: 60px
	background: #f8f8f8

.about__top
	position: relative
	display: inline-block
	width: 100%
	margin-top: -175px

.about__title
	position: absolute
	top: 0
	right: 0
	margin-top: 25px
	font-size: 72px
	font-weight: bold
	text-transform: uppercase

.about__accent
	margin-top: 42px
	font-size: 18px
	font-weight: 800

.article__title
	&.article__title-about
		margin: 3px 0 28px

.about__list
	li
		display: block
		position: relative
		margin-bottom: 14px
		padding-left: 8px
		font-size: 16px
		font-weight: 300
		&:before
			content: ' '
			position: absolute
			top: 8px
			left: 0
			width: 3px
			height: 3px
			background: $main-color

.about__base
	padding: 50px 0 0

.base__item
	margin-bottom: 84px
	overflow: hidden

.article__title
	&.article__title-base
		float: left
		width: 33%
		margin-top: 0

.about__list
	&.about__list-base
		float: left
		width: 67%

.article__title
	&.article__title-team
		margin: 0 0 57px
		text-align: center

.team__item
	float: left
	width: 568px
	margin: 0 58px 56px 0
	&:nth-child(odd)
		margin-right: 0
	.item__img
		height: 250px
		text-align: center
		overflow: hidden
	.item__title
		display: block
		position: relative
		margin: 25px 0 55px
		font-size: 24px
		font-weight: bold
		&:before
			content: ' '
			position: absolute
			bottom: -17px
			left: 0
			width: 75px
			height: 5px
			background: $main-color
	.item__descr
		font-size: 16px
		font-weight: 300

.about__clients
	padding-bottom: 38px
	text-align: center
	img
		margin: 0 30px 40px

.article__title
	&.article__title-clients
		margin-top: 20px
		text-align: center
/*------------end----------------*/