/*--------------Contact page------------*/
.contact__page
	padding-bottom: 98px

.contact__base
	float: left
	width: 50%

.contact__list-inner
	margin-bottom: 65px
	li
		margin-bottom: 0
		font-size: 24px
		font-weight: 300
	.mail
		a
			display: inline-block
			color: #e73b3b
			text-decoration: underline
			&:hover
				text-decoration: none
	.more
		margin-top: 30px


.feedback__block-inner
	width: 570px
	margin: 0

.article__title
	&.article__title-contact
		display: block
		float: none

.feedback__title
	&.feedback__title-inner
		display: block
		margin-top: 10px
		font-size: 16px
		font-weight: 400
		color: #787878

.feedback__form-inner
	margin-top: 74px
	textarea
		height: 175px

.form__button-inner
	margin-top: 15px

.contact__map-inner
	float: right
	width: auto
	padding-right: 0
/*-----------------end------------------*/