/*-------------Grid-----------*/
@media (min-width: 320px)
	.container
		max-width: 320px

@media (min-width: 480px)
	.container
		max-width: 480px

@media (min-width: 760px)
	.container
		max-width: 760px

@media (min-width: 1040px)
	.container
		max-width: 1040px
/*------------end-------------*/