/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$arrow-inner-name: 'arrow-inner'
$arrow-inner-x: 0px
$arrow-inner-y: 0px
$arrow-inner-offset-x: 0px
$arrow-inner-offset-y: 0px
$arrow-inner-width: 43px
$arrow-inner-height: 19px
$arrow-inner-total-width: 86px
$arrow-inner-total-height: 53px
$arrow-inner-image: '../img/sprite.png'
$arrow-inner: (0px, 0px, 0px, 0px, 43px, 19px, 86px, 53px, '../img/sprite.png', 'arrow-inner', )
$arrow-more-name: 'arrow-more'
$arrow-more-x: 0px
$arrow-more-y: 19px
$arrow-more-offset-x: 0px
$arrow-more-offset-y: -19px
$arrow-more-width: 43px
$arrow-more-height: 19px
$arrow-more-total-width: 86px
$arrow-more-total-height: 53px
$arrow-more-image: '../img/sprite.png'
$arrow-more: (0px, 19px, 0px, -19px, 43px, 19px, 86px, 53px, '../img/sprite.png', 'arrow-more', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 77px
$arrow-right-y: 19px
$arrow-right-offset-x: -77px
$arrow-right-offset-y: -19px
$arrow-right-width: 8px
$arrow-right-height: 12px
$arrow-right-total-width: 86px
$arrow-right-total-height: 53px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (77px, 19px, -77px, -19px, 8px, 12px, 86px, 53px, '../img/sprite.png', 'arrow-right', )
$arrow-name: 'arrow'
$arrow-x: 43px
$arrow-y: 0px
$arrow-offset-x: -43px
$arrow-offset-y: 0px
$arrow-width: 43px
$arrow-height: 19px
$arrow-total-width: 86px
$arrow-total-height: 53px
$arrow-image: '../img/sprite.png'
$arrow: (43px, 0px, -43px, 0px, 43px, 19px, 86px, 53px, '../img/sprite.png', 'arrow', )
$mail-footer-ico-name: 'mail-footer-ico'
$mail-footer-ico-x: 43px
$mail-footer-ico-y: 19px
$mail-footer-ico-offset-x: -43px
$mail-footer-ico-offset-y: -19px
$mail-footer-ico-width: 17px
$mail-footer-ico-height: 15px
$mail-footer-ico-total-width: 86px
$mail-footer-ico-total-height: 53px
$mail-footer-ico-image: '../img/sprite.png'
$mail-footer-ico: (43px, 19px, -43px, -19px, 17px, 15px, 86px, 53px, '../img/sprite.png', 'mail-footer-ico', )
$mail-ico-2-name: 'mail-ico-2'
$mail-ico-2-x: 60px
$mail-ico-2-y: 19px
$mail-ico-2-offset-x: -60px
$mail-ico-2-offset-y: -19px
$mail-ico-2-width: 17px
$mail-ico-2-height: 15px
$mail-ico-2-total-width: 86px
$mail-ico-2-total-height: 53px
$mail-ico-2-image: '../img/sprite.png'
$mail-ico-2: (60px, 19px, -60px, -19px, 17px, 15px, 86px, 53px, '../img/sprite.png', 'mail-ico-2', )
$mail-ico-name: 'mail-ico'
$mail-ico-x: 0px
$mail-ico-y: 38px
$mail-ico-offset-x: 0px
$mail-ico-offset-y: -38px
$mail-ico-width: 17px
$mail-ico-height: 15px
$mail-ico-total-width: 86px
$mail-ico-total-height: 53px
$mail-ico-image: '../img/sprite.png'
$mail-ico: (0px, 38px, 0px, -38px, 17px, 15px, 86px, 53px, '../img/sprite.png', 'mail-ico', )
$phone-footer-ico-name: 'phone-footer-ico'
$phone-footer-ico-x: 17px
$phone-footer-ico-y: 38px
$phone-footer-ico-offset-x: -17px
$phone-footer-ico-offset-y: -38px
$phone-footer-ico-width: 15px
$phone-footer-ico-height: 15px
$phone-footer-ico-total-width: 86px
$phone-footer-ico-total-height: 53px
$phone-footer-ico-image: '../img/sprite.png'
$phone-footer-ico: (17px, 38px, -17px, -38px, 15px, 15px, 86px, 53px, '../img/sprite.png', 'phone-footer-ico', )
$phone-ico-2-name: 'phone-ico-2'
$phone-ico-2-x: 32px
$phone-ico-2-y: 38px
$phone-ico-2-offset-x: -32px
$phone-ico-2-offset-y: -38px
$phone-ico-2-width: 15px
$phone-ico-2-height: 15px
$phone-ico-2-total-width: 86px
$phone-ico-2-total-height: 53px
$phone-ico-2-image: '../img/sprite.png'
$phone-ico-2: (32px, 38px, -32px, -38px, 15px, 15px, 86px, 53px, '../img/sprite.png', 'phone-ico-2', )
$phone-ico-name: 'phone-ico'
$phone-ico-x: 47px
$phone-ico-y: 38px
$phone-ico-offset-x: -47px
$phone-ico-offset-y: -38px
$phone-ico-width: 15px
$phone-ico-height: 15px
$phone-ico-total-width: 86px
$phone-ico-total-height: 53px
$phone-ico-image: '../img/sprite.png'
$phone-ico: (47px, 38px, -47px, -38px, 15px, 15px, 86px, 53px, '../img/sprite.png', 'phone-ico', )
$spritesheet-width: 86px
$spritesheet-height: 53px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-inner, $arrow-more, $arrow-right, $arrow, $mail-footer-ico, $mail-ico-2, $mail-ico, $phone-footer-ico, $phone-ico-2, $phone-ico, )
$spritesheet: (86px, 53px, '../img/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
