@media only screen and (max-width: 1850px) {
  .askfox {
    right: 0;
  }
}
@media only screen and (max-width: 1700px) {
  .askfox {
    right: 10px;
  }
  .askfox .askfox__head {
    top: -100px;
    left: -25px;
  }
  .askfox img {
    width: 100px;
  }
}
@media only screen and (max-width: 1200px) {
  .header-top {
    padding: 11px 0;
    height: 50px;
  }

  .header__login {
    top: 3px;
    left: 17px;
  }

  .search__input {
    width: 80%;
  }

  .header__cart {
    float: right;
    right: 0;
  }

  .wrapper {
    max-width: 968px;
  }

  .header__logo {
    margin-top: -78px;
  }
  .header__logo img {
    width: 248px;
  }

  .header__title h1 {
    font-size: 32px;
  }

  .header__icon {
    top: 15px;
    left: -30px;
  }

  .delivery__icon {
    float: left;
  }

  .pay__icon {
    float: right;
    position: relative;
    top: -9px;
  }

  .header__phone {
    font-size: 14px;
  }
  .header__phone span {
    font-size: 16px;
  }

  .header__whatsapp {
    font-size: 14px;
  }
  .header__whatsapp span {
    font-size: 14px;
  }

  .header__email {
    font-size: 14px;
  }
  .header__email span {
    font-size: 14px;
  }

  .header__skype {
    font-size: 14px;
  }
  .header__skype span {
    font-size: 14px;
  }

  .header__main:after {
    width: 100%;
  }

  .header__menu li a {
    font-size: 20px;
  }

  .sidebar__new {
    font-size: 16px;
  }

  .filter__title {
    width: 112.5%;
    left: -25px;
    font-size: 16px;
    line-height: 40px;
  }

  .filter__item-price input {
    width: 60px;
  }

  .filter__item-price label input {
    margin-left: 20px;
  }

  .catalog__title {
    font-size: 16px;
  }

  .main__slider .bx-wrapper .bx-caption .slider__title h3 {
    margin: 0 0 5px;
  }

  .main__carousel .slide {
    width: 209px !important;
  }

  .carousel__title {
    line-height: 42px;
  }

  .main__carousel .bx-wrapper {
    width: 94%;
  }

  .carousel__item .item__img {
    height: 165px;
  }
  .carousel__item .item__descr {
    width: 100%;
  }

  .list__block:not(.list__block-social) {
    left: -30px;
  }

  /*---------Catalog page---------------- */
  .filter__item-price label:before {
    left: 2px;
  }

  .pagination {
    width: 100%;
    margin-bottom: 0;
  }
  .pagination li:not(.bread__link) a {
    padding: 0 38px;
  }

  .page__count {
    margin-top: 0;
  }

  .catalog__text {
    margin-top: 60px;
  }

  /*---------end------------------------ */
  /*----------Tovar page---------- */
  .main__galery .bx-wrapper .bx-viewport {
    width: 107.5% !important;
  }
  .main__galery .bx-pager a {
    width: 78.5px;
    height: 78.5px;
  }

  .catalog__text.catalog__text-tovar {
    margin-top: 15px;
  }

  /*--------end-------------- */
  /*---------Cart page----------- */
  .table__body .descr__cell.descr__cell-title {
    width: 37%;
  }

  /*----------end-------------- */
  /*-------Checkout page------- */
  .header__login-in {
    top: -3px;
    left: 5px;
  }

  .login__exit {
    left: 12px;
  }
  .login__exit:before {
    left: 30px;
  }

  .checkout__list {
    width: 40%;
  }

  .body__form .middle input {
    width: 208px;
  }

  /*----------end------------ */
  /*----------Personal page---------- */
  .body__form-personal .small {
    width: 30.5%;
  }

  .personal__banner {
    margin-top: -20px;
  }

  /*------------end---------------- */
  /*-----------Registr page-------- */
  .body__form-login {
    padding-top: 25px;
  }
  .body__form-login label {
    float: left;
    width: 47%;
  }
  .body__form-login label:nth-child(2) {
    float: right;
  }
  .body__form-login label input {
    width: 100%;
  }

  .body__form-registr label {
    width: 47%;
  }
  .body__form-registr label input {
    width: 100%;
  }
  .body__form-registr .registr__warning {
    text-align: center;
    font-size: 12px;
  }
  .body__form-registr .registr__warning i {
    font-size: 14px;
  }

  .remember__link {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .btn__total-registr {
    display: block;
    margin: 0 auto;
  }

  /*-------------end------------- */
}
@media only screen and (max-width: 991px) {
  body {
    background: #fff;
  }

  .wrapper {
    width: 100%;
    max-width: 100%;
    box-shadow: none;
  }

  .header-top {
    padding: 6px 0;
    height: 40px;
  }

  .header__search {
    right: -15px;
  }

  .header__login {
    left: 25px;
  }

  .header__cart {
    float: none;
    top: -6px;
    width: 100%;
    height: 40px;
    padding: 7px 24px;
    box-shadow: none;
    border-radius: 0;
  }

  .cart__pict {
    position: absolute;
    top: 8px;
    left: 10px;
  }
  .cart__pict img {
    width: 30px;
  }

  .cart__total {
    line-height: 14px;
  }

  .cart__count {
    font-size: 11px;
    font-weight: 500;
  }
  .cart__count span {
    font-size: 11px;
  }
  .cart__count .upper {
    font-size: 11px;
    font-weight: 500;
  }

  .cart__price {
    font-size: 11px;
    font-weight: 500;
  }
  .cart__price span {
    font-size: 11px;
  }

  .header__main {
    height: 100px;
  }

  .header__logo {
    margin-top: -45px;
  }
  .header__logo img {
    width: 195px;
  }

  .header__title {
    left: 25px;
    margin-top: 8px;
    text-align: left;
  }
  .header__title h1 {
    font-size: 20px;
  }
  .header__title span {
    font-size: 14px;
  }

  .header__icon {
    left: 10px;
  }

  .delivery__icon {
    width: auto;
  }
  .delivery__icon a {
    font-size: 11px;
  }
  .delivery__icon a img {
    display: block;
    left: 3px;
  }

  .pay__icon {
    width: auto;
  }
  .pay__icon a {
    font-size: 11px;
  }
  .pay__icon a img {
    display: block;
    left: 3px;
  }

  .header__contact {
    line-height: 18px;
  }

  .header__phone {
    font-size: 12px;
  }
  .header__phone span {
    font-size: 12px;
  }
  .header__phone:before {
    top: 0;
  }

  .header__whatsapp {
    font-size: 12px;
  }
  .header__whatsapp span {
    font-size: 12px;
    color: #ff0000;
  }
  .header__whatsapp:before {
    top: 0;
  }

  .header__email {
    font-size: 12px;
  }
  .header__email span {
    font-size: 12px;
    color: #ff0000;
  }
  .header__email:before {
    top: 0;
  }

  .header__skype {
    font-size: 12px;
  }
  .header__skype span {
    font-size: 12px;
    color: #ff0000;
  }
  .header__skype:before {
    top: 0;
  }

  .header__bottom {
    width: 100%;
    height: 50px;
    left: 0;
    background: #fa8140;
    background: -moz-linear-gradient(top, #fa8140 0%, #b22e4b 100%);
    background: -webkit-linear-gradient(top, #fa8140 0%, #b22e4b 100%);
    background: linear-gradient(to bottom, #fa8140 0%, #b22e4b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa8140', endColorstr='#b22e4b',GradientType=0 );
  }

  .header__menu li {
    float: left;
  }
  .header__menu li a {
    padding: 14px 25px;
  }

  .header__social {
    display: none;
  }

  .content {
    padding-bottom: 20px;
  }

  .sidebar__new {
    height: 35px;
    line-height: 35px;
  }

  .filter__title {
    width: 101%;
    left: -1px;
    height: 35px;
    padding-left: 15px;
    line-height: 38px;
  }

  .filter__item {
    margin-bottom: 5px;
  }
  .filter__item.filter__item-age {
    margin-top: 5px;
  }
  .filter__item span {
    margin-bottom: 4px;
    font-size: 14px;
  }
  .filter__item label {
    margin-bottom: 2px;
    font-size: 14px;
  }

  .filter__item-price input {
    height: 25px;
  }

  .btn__total {
    height: 30px;
  }

  .full__link {
    display: block;
  }

  .main__slider .bx-wrapper .bx-caption .slider__title {
    top: 28px;
    width: 405px;
  }
  .main__slider .bx-wrapper .bx-caption .slider__title h3 {
    margin-bottom: 0;
    padding: 3px 40px 3px 15px;
    font-size: 14px;
  }
  .main__slider .bx-wrapper .bx-caption .slider__title h3 span {
    font-size: 14px;
  }
  .main__slider .bx-wrapper .bx-controls-direction {
    display: none;
  }
  .main__slider .link__more {
    display: none;
  }

  .main__banner {
    display: none;
  }

  .carousel__title {
    width: 100%;
    margin: 0 0 10px;
    height: 35px;
    line-height: 38px;
  }

  .main__carousel {
    margin-bottom: 40px;
  }
  .main__carousel .slide {
    width: 210px !important;
  }
  .main__carousel .bx-wrapper .bx-pager {
    display: block;
  }
  .main__carousel .bx-wrapper .bx-controls-direction {
    display: none;
  }

  .main__carousel-news .bx-wrapper .bx-pager {
    bottom: -30px;
  }

  .main__about p {
    font-size: 12px;
  }

  .link__top {
    display: block;
  }

  .list__block:not(.list__block-social) {
    left: 0;
  }

  /*---------Catalog page---------------- */
  .filter__item-price label:before {
    top: 12px;
  }

  .pagination li:not(.bread__link) a {
    padding: 0 21px;
  }
  .pagination li a {
    padding: 0 16px;
  }

  /*----------end------------------- */
  /*----------Tovar page---------- */
  .breadcrumb {
    margin-bottom: 10px;
  }
  .breadcrumb li {
    font-size: 12px;
  }
  .breadcrumb a {
    font-size: 12px;
  }

  .main__galery {
    width: 275px;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .main__galery .bx-wrapper .bx-viewport {
    width: 107.5% !important;
  }
  .main__galery .bx-pager {
    position: absolute;
    top: 0;
    right: 15px;
    width: 180px;
    margin-top: 0;
  }
  .main__galery .bx-pager a {
    width: 86.5px;
    height: 86.5px;
    padding: 1px;
    border: 5px solid #fff;
    box-shadow: 0 0 5px #ccc;
  }
  .main__galery .bx-pager a:nth-child(even) {
    margin-right: 0;
  }

  .tovar__param {
    float: left;
  }

  .tovar__title {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .tovar__cart {
    float: right;
    margin-top: 28px;
  }

  .tovar__available span {
    margin-left: 12px;
  }

  .available__item {
    height: 21px;
    line-height: 22px;
  }

  .tovar__count {
    margin-top: 0;
  }

  .available__item.not {
    display: none;
  }

  .tovar__price {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
  }
  .tovar__price .price__count {
    margin-left: 45px;
  }

  .jq-number {
    height: 16px;
    margin-left: 16px;
  }

  .jq-number__field {
    height: 16px;
  }
  .jq-number__field input {
    font-size: 12px;
  }

  .jq-number__spin {
    top: -4px;
    height: 16px;
  }
  .jq-number__spin.minus {
    top: -4px;
  }

  .btn__total.btn__total-tovar {
    height: 30px;
    font-size: 16px;
  }
  .btn__total.btn__total-not {
    display: none;
    height: 30px;
    font-size: 16px;
  }

  .tovar__tags {
    margin-bottom: 20px;
  }

  .catalog__text.catalog__text-tovar {
    margin: 0 0 35px;
  }

  /*--------end-------------- */
  /*---------Cart page----------- */
  .cart__title h4 {
    font-size: 16px;
  }

  .table__head {
    padding: 0 20px;
  }
  .table__head .head__cell {
    width: 20%;
    font-size: 14px;
  }
  .table__head .head__cell.head__cell-photo {
    width: 32%;
  }
  .table__head .head__cell.head__cell-action span {
    display: none;
  }

  .table__body .body__cell.body__cell-img {
    display: none;
  }
  .table__body .descr__cell {
    width: 18%;
    font-size: 14px;
  }
  .table__body .descr__cell.descr__cell-title {
    width: 31%;
    padding: 0 10px 0 8px;
  }
  .table__body .descr__cell.descr__cell-count {
    font-size: 16px;
  }
  .table__body .descr__cell.descr__cell-count .jq-number {
    width: 70px;
    height: 23px;
  }
  .table__body .descr__cell.descr__cell-count .jq-number__field {
    margin-left: 17px;
  }
  .table__body .descr__cell.descr__cell-count .jq-number__field input {
    top: -1px;
    width: 22px;
    height: 19px;
    font-size: 14px;
  }
  .table__body .descr__cell.descr__cell-count .jq-number__spin {
    top: 0;
  }
  .table__body .descr__cell.descr__cell-count .jq-number__spin .minus {
    top: 0;
  }
  .table__body .descr__cell.descr__cell-remove {
    width: 5%;
  }

  .table__foot {
    position: absolute;
    bottom: 58px;
  }

  .cart__promo {
    margin-top: 0;
  }

  .cart__group {
    float: none;
    width: 100%;
    margin-top: 60px;
  }

  .btn__total.btn__total-checkout {
    float: right;
  }

  /*----------end-------------- */
  /*-------Checkout page------- */
  .header__login-in {
    top: 0;
    left: 8px;
  }
  .header__login-in span {
    font-size: 11px;
  }

  .login__exit {
    top: 0;
    left: 0;
    font-size: 11px;
  }
  .login__exit:before {
    top: 2px;
    left: 50px;
  }

  .body__item .body__img {
    width: 55px;
  }

  .panel__head .panel__title {
    font-size: 14px;
  }
  .panel__head span {
    font-size: 14px;
  }

  .body__descr .body__title {
    font-size: 14px;
  }
  .body__descr dl {
    font-size: 14px;
  }
  .body__descr i {
    font-size: 10px;
  }
  .body__descr input {
    width: 365px;
  }

  .checkout__total {
    margin-top: 42px;
  }
  .checkout__total .cart__promo {
    position: absolute;
    top: -42px;
    left: 0;
    margin-top: 0;
  }

  .checkout__list {
    width: 60%;
    margin-right: 25px;
  }

  .table__foot-checkout {
    position: relative;
    width: 100%;
    bottom: 0;
  }

  .cart__group-checkout {
    margin-top: 20px;
  }
  .cart__group-checkout .link__cont {
    float: left;
  }

  .body__form label {
    margin-right: 0;
  }
  .body__form label input {
    width: 225px;
  }
  .body__form label:not(.small):nth-child(even) {
    float: right;
  }
  .body__form .small {
    margin-right: 13px;
  }
  .body__form .small.small-last {
    margin-right: 0;
  }
  .body__form .middle {
    float: right;
    margin-right: 0;
  }
  .body__form .middle input {
    width: 225px;
  }
  .body__form .comment textarea {
    width: 100%;
  }

  /*----------end------------ */
  /*----------Personal page---------- */
  .body__form-personal .small {
    width: 31.5%;
  }

  .personal__text {
    font-size: 12px;
    line-height: 14px;
  }

  .personal__banner {
    margin-top: 0;
    padding: 10px;
  }

  .banner__title {
    font-size: 14px;
  }
  .banner__title span {
    font-size: 28px;
  }

  .body__form-personal {
    min-height: 100%;
  }
  .body__form-personal .wrap__box {
    width: 47%;
  }
  .body__form-personal .wrap__box span {
    padding-left: 0;
    font-size: 14px;
  }
  .body__form-personal .wrap__box input {
    width: 100%;
  }
  .body__form-personal .small {
    width: 30.5%;
    margin-right: 5px;
  }
  .body__form-personal .small span {
    padding-left: 0;
  }
  .body__form-personal .checkbox__add {
    width: 47%;
    clear: both;
  }
  .body__form-personal .comment {
    width: 47%;
    float: right;
  }
  .body__form-personal .comment span {
    font-size: 14px;
  }

  .body__descr-data {
    padding-bottom: 10px;
  }
  .body__descr-data .wrap__box:nth-child(even) {
    float: right;
  }
  .body__descr-data .wrap__box:nth-child(odd) {
    float: left;
  }
  .body__descr-data .checkbox__news {
    float: left;
    width: 100%;
  }

  .body__form-address {
    padding-bottom: 8px;
  }
  .body__form-address .base__9 {
    float: left;
  }
  .body__form-address .base__10 {
    float: right;
  }
  .body__form-address .base__11 {
    float: left;
  }
  .body__form-address .small__box {
    width: 47%;
    float: left;
  }
  .body__form-address .small__box-1 {
    float: right;
  }

  .personal__select {
    width: 47%;
  }
  .personal__select span {
    font-size: 14px;
  }
  .personal__select .jq-selectbox__select-text {
    font-size: 13px;
  }
  .personal__select.personal__select-delivery {
    float: left;
  }
  .personal__select.personal__select-pay {
    float: right;
  }
  .personal__select.personal__select-day {
    margin-top: -6px;
  }

  .body__form-child {
    padding-bottom: 0;
  }
  .body__form-child .base__12 {
    float: left;
  }
  .body__form-child .body__checkbox-personal {
    float: left;
    margin-left: 25px;
  }
  .body__form-child .body__checkbox-personal span {
    padding-left: 0;
  }
  .body__form-child .body__checkbox-personal input {
    width: 100%;
  }
  .body__form-child .checkbox__add {
    margin-top: 18px;
    float: right;
    font-size: 14px;
    clear: none;
  }
  .body__form-child .personal__select-day {
    float: left;
    clear: both;
  }
  .body__form-child p {
    clear: both;
  }

  .btn__total.btn__total-personal {
    width: 270px;
    height: 35px;
    margin-bottom: 50px;
  }

  /*------------end---------------- */
  /*-----------Registr page-------- */
  .body__form-login label {
    width: 47%;
  }
  .body__form-login label:nth-child(2) {
    float: right;
  }
  .body__form-login label input {
    width: 100%;
  }

  .body__form-registr label {
    width: 47%;
  }
  .body__form-registr label input {
    width: 100%;
  }

  .btn__total-registr {
    width: 180px;
    height: 35px;
    font-size: 16px;
  }

  .feature__head h5 {
    font-size: 14px;
  }

  .feature__mid {
    font-size: 14px;
  }

  .feature__list li {
    font-size: 14px;
  }

  .feature__social {
    padding-top: 10px;
  }
  .feature__social img {
    display: none;
  }

  .social__title {
    font-size: 14px;
  }

  /*-------------end------------- */
  /*----------About page--------- */
  .about img {
    max-width: 220px;
  }
  .about p {
    display: block;
  }

  /*-----------end------------- */
  /*----------Contact page--------- */
  .contact {
    padding: 15px 0 25px;
  }
  .contact p {
    font-size: 14px;
  }
  .contact li {
    font-size: 14px;
  }

  .contact__list li {
    margin-bottom: 20px;
  }

  /*------------end--------------- */
  /*---------News page--------- */
  .news__headline {
    font-size: 14px;
  }

  .img-thumbnail {
    max-width: 145px;
    padding: 5px;
  }

  .news__text {
    padding-left: 10px;
  }
  .news__text p {
    font-size: 14px;
    line-height: 16px;
  }

  .news__top {
    font-size: 12px;
  }

  .news__more {
    font-size: 12px;
  }

  .page__count-news {
    display: block;
  }

  .news__bottom {
    margin-top: 50px;
    font-size: 14px;
    clear: both;
  }

  /*-------------end------------ */
  /*----------Modal checkout--------- */
  .modal-dialog {
    width: 720px;
  }

  .checkout__form {
    width: 230px;
  }

  .btn__total-in {
    font-size: 14px;
  }

  .checkout__block {
    width: 430px;
  }
  .checkout__block p {
    font-size: 12px;
  }
  .checkout__block .checkout__more {
    font-size: 12px;
  }
  .checkout__block .btn__total-modal {
    font-size: 14px;
  }
  .checkout__block .link__cont-modal {
    width: 180px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }

  .checkout__modal-quest {
    width: 720px;
  }

  .checkout__form-quest {
    width: 100%;
  }

  /*------------end------------------ */
}
@media only screen and (max-width: 767px) {
  .container {
    width: 450px;
  }

  .content {
    padding-top: 0;
  }
  .content .container-fluid {
    padding: 0;
  }
  .content .row {
    margin: 0;
  }
  .content .col-xs-12 {
    padding: 0;
  }

  .wrap__mob {
    width: 450px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header-top {
    padding: 0;
    height: 42px;
  }
  .header-top .container {
    height: auto;
  }

  .header__search {
    display: none;
  }

  .header__login {
    display: none;
  }

  .header__logo {
    display: none;
  }

  .header__top-mob {
    display: block;
  }
  .header__top-mob .container {
    padding: 0;
  }

  .header__main {
    height: 60px;
    padding: 10px 0;
  }
  .header__main:after {
    display: none;
  }

  .header__bottom {
    display: none;
  }

  .header__search-mob.open {
    display: block;
  }

  .header__cart-mob.open {
    display: block;
  }

  .header__menu {
    display: block;
    margin-right: 10px;
    border: 1px solid #dbdbdb;
    background: #fafafa;
  }
  .header__menu li {
    float: none;
    display: block;
  }
  .header__menu li:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
  }
  .header__menu li:after {
    display: none;
  }
  .header__menu li a {
    padding: 19px 0 19px 50px;
    font: 500 14px "OfficinaSans";
    color: #000;
  }
  .header__menu li a:first-child {
    padding-left: 50px;
  }

  .header__login-mob {
    display: block;
    position: relative;
    margin: 20px 0 0 30px;
    padding-left: 25px;
  }
  .header__login-mob:before {
    content: " ";
    position: absolute;
    top: 2px;
    left: 0;
    width: 14px;
    height: 14px;
    background: url(../img/login.png) no-repeat;
  }
  .header__login-mob a {
    font-size: 14px;
    color: #7c7c7c;
  }
  .header__login-mob a:hover {
    color: #7c7c7c;
  }

  .full__link {
    margin: 15px 0 0 55px;
    padding-left: 25px;
    font-size: 14px;
    color: #7c7c7c;
  }
  .full__link:hover {
    color: #7c7c7c;
  }

  .main__slider .bx-wrapper .bx-viewport {
    height: 350px !important;
  }
  .main__slider .bx-wrapper li {
    width: auto !important;
  }
  .main__slider .bx-wrapper img {
    max-width: 768px !important;
    height: 100% !important;
  }
  .main__slider .bx-wrapper .bx-pager {
    bottom: -30px;
  }
  .main__slider .bx-wrapper .bx-caption .slider__title {
    top: 39px;
    width: 470px;
  }
  .main__slider .bx-wrapper .bx-caption .slider__title h3 {
    margin-bottom: 7px;
    padding: 9px 40px 7px 15px;
    font-size: 16px;
  }
  .main__slider .bx-wrapper .bx-caption .slider__title h3 span {
    font-size: 17px;
  }

  .catalog__btn {
    display: block;
  }

  .carousel__title {
    padding-left: 0;
    font-size: 14px;
    text-align: center;
    background: none;
  }

  .main__carousel {
    margin-bottom: 30px;
  }
  .main__carousel .bx-wrapper {
    width: 100%;
  }
  .main__carousel .bx-wrapper .slide {
    width: 205px !important;
  }
  .main__carousel .bx-wrapper .bx-pager {
    display: none;
  }
  .main__carousel .bx-wrapper .bx-controls-direction {
    display: block;
  }
  .main__carousel .bx-wrapper .bx-controls-direction a {
    top: -25px;
    width: 29px;
    height: 28px;
    left: 0;
    z-index: 99;
    background: url(../img/arrow-mob-sprite.png) no-repeat;
  }
  .main__carousel .bx-wrapper .bx-controls-direction .bx-next {
    right: 0;
    background-position: -31px 0;
  }

  .carousel__item .item__img {
    height: 155px;
  }
  .carousel__item .item__descr {
    height: 55px;
    line-height: 16px;
  }
  .carousel__item .item__descr i {
    font-size: 12px;
  }
  .carousel__item .item__descr a {
    font-size: 14px;
  }
  .carousel__item .item__descr a h5 {
    font-size: 14px;
  }
  .carousel__item .item__cart {
    width: 32px;
    height: 31px;
    background: url(../img/cart-item.png) 0 0 no-repeat;
  }

  .main__about {
    height: 130px;
    transition: height 0.25s ease;
  }
  .main__about .about__overlay {
    display: block;
  }
  .main__about.open {
    height: 100%;
  }
  .main__about.open .overlay__block {
    opacity: 0;
  }
  .main__about.open .overlay__arrow {
    background-position: 0 0;
  }
  .main__about p {
    font-size: 16px;
  }
  .main__about .overlay__block {
    display: block;
  }
  .main__about .about__title {
    display: block;
  }

  .link__top {
    width: 79px;
    height: 36px;
    right: auto;
    left: 63%;
    bottom: 60px;
    background: url(../img/scroll-top-mob.png) 0 0 no-repeat;
  }

  .footer {
    margin-bottom: 30px;
    padding: 0;
    background: #ededed;
  }
  .footer:before {
    display: none;
  }
  .footer .container {
    padding: 0;
  }
  .footer .col-xs-12 {
    padding: 0;
  }

  .list__block {
    float: none;
    padding: 8px 0 2px;
    border-bottom: 1px solid #dbdbdb;
  }
  .list__block .block__title {
    cursor: pointer;
  }
  .list__block .block__title span {
    display: none;
  }
  .list__block .block__title .arrow__icon {
    float: right;
    width: 20px;
    height: 12px;
    background: url(../img/arrow-accord.png) 0 -12px no-repeat;
  }
  .list__block .block__title.open .arrow__icon {
    background-position: 0 0;
  }
  .list__block .collapse.in {
    padding-bottom: 10px;
  }

  .list__block-social .block__title {
    float: left;
    cursor: default;
  }
  .list__block-social ul {
    float: right;
  }
  .list__block-social ul li {
    display: inline-block;
    vertical-align: middle;
  }
  .list__block-social ul li a {
    display: block;
    padding: 0;
    font-size: 0;
    width: 35px;
    height: 30px;
    background: url(../img/social-mob.png) 0 0 no-repeat;
  }
  .list__block-social .fb {
    background-position: -37px 0;
  }
  .list__block-social .inst {
    background-position: -73px 0;
  }

  .footer__copyright {
    font-size: 12px;
  }
  .footer__copyright span {
    display: none;
  }
  .footer__copyright .copy__mob {
    display: block;
  }

  /*-------Catalog page------------ */
  .content__catalog {
    padding-bottom: 0;
  }

  .page__title {
    display: block;
  }

  .full__link {
    display: none;
  }

  .catalog__item-page {
    width: 46%;
    margin: 0 8px 15px;
  }
  .catalog__item-page .item__descr {
    height: 40px;
  }
  .catalog__item-page .available {
    width: 120px;
    height: 24px;
    margin-bottom: 35px;
    color: #fff;
    line-height: 24px;
    text-align: center;
    background: #ffbe34;
    border-radius: 3px;
  }
  .catalog__item-page .available.not {
    color: #fff;
    background: #b4b4b4;
  }
  .catalog__item-page .available i {
    position: relative;
    top: 2px;
    left: -6px;
  }
  .catalog__item-page .item__price {
    bottom: 18px;
  }

  .catalog__tovar {
    padding: 15px 0 0;
  }

  /*---------end--------------- */
  /*--------Tovar page--------- */
  .category__title {
    display: block;
  }

  .breadcrumb {
    display: none;
  }

  .tovar__gallery {
    padding: 0;
    background: #fafafa;
    border-bottom: 1px solid #e8e8e8;
  }

  .main__galery {
    width: 340px;
    margin: 0 auto;
    padding: 15px 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: none;
  }
  .main__galery .bx-wrapper .bx-viewport {
    width: 100% !important;
    left: 0;
    padding: 0;
    background: none;
  }
  .main__galery .bx-pager {
    display: none;
  }
  .main__galery .bx-controls {
    display: block;
  }
  .main__galery .bx-controls .bx-controls-direction a {
    width: 29px;
    height: 28px;
    z-index: 99;
    background: url(../img/arrow-mob-sprite.png) no-repeat;
  }
  .main__galery .bx-controls .bx-controls-direction .bx-next {
    right: -40px;
    background-position: -31px 0;
  }
  .main__galery .bx-controls .bx-prev {
    left: -40px;
  }
  .main__galery .item__stick {
    left: 0;
  }

  .tovar__param {
    width: 100%;
    padding-top: 10px;
  }

  .tovar__title {
    text-align: center;
  }

  .tovar__cart {
    float: none;
    width: 100%;
  }

  .tovar__available span {
    margin-left: 52px;
  }

  .available__item {
    height: 24px;
    line-height: 24px;
  }

  .tovar__count {
    margin-top: 10px;
  }

  .jq-number {
    height: 23px;
    margin-left: 54px;
  }

  .jq-number__field {
    height: 23px;
  }
  .jq-number__field input {
    font-size: 14px;
  }

  .jq-number__spin {
    top: 0;
    height: 23px;
  }
  .jq-number__spin.minus {
    top: 0;
  }

  .tovar__price {
    position: absolute;
    width: 100%;
    height: 42px;
    bottom: 52px;
    line-height: 42px;
    background: #fafafa;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }
  .tovar__price .price__count {
    margin-left: 65px;
    font-size: 24px;
  }
  .tovar__price .price__count span {
    font-size: 18px;
  }

  .btn__total.btn__total-tovar {
    width: 100%;
    height: 36px;
    margin-top: 75px;
  }
  .btn__total.btn__total-not {
    width: 100%;
    height: 36px;
  }

  .tovar__descr {
    font-size: 12px;
  }

  .tovar__tags {
    font-size: 12px;
  }

  .main__carousel.main__carousel-tovar {
    display: none;
  }

  .catalog__text.catalog__text-tovar {
    display: none;
  }

  /*---------end------------ */
  /*---------Cart page----------- */
  .cart__title {
    height: 40px;
    background: #fafafa;
    border-bottom: 1px solid #e8e8e8;
  }
  .cart__title h4 {
    display: none;
  }

  .cart__block {
    margin-bottom: 0;
  }

  .table__head {
    display: none;
  }

  .table__foot {
    display: none;
  }

  .table__body .body__cell {
    display: table-cell;
    vertical-align: top;
  }
  .table__body .body__cell.body__cell-img {
    display: table-cell;
    width: 116px;
    height: 116px;
  }
  .table__body .body__cell.body__cell-img img {
    height: 116px;
  }
  .table__body .body__cell.body__cell-descr {
    padding-left: 15px;
  }
  .table__body .descr__cell {
    display: block;
    width: 100%;
    text-align: left;
    vertical-align: top;
  }
  .table__body .descr__cell.descr__cell-title {
    width: 100%;
    padding: 0;
    font-size: 16px;
  }
  .table__body .descr__cell.descr__cell-price {
    display: none;
  }
  .table__body .descr__cell.descr__cell-count .jq-number {
    width: 81px;
  }
  .table__body .descr__cell.descr__cell-count .jq-number__field {
    margin-left: 23px;
  }
  .table__body .descr__cell.descr__cell-count .jq-number__field input {
    width: 100%;
  }
  .table__body .descr__cell.descr__cell-count {
    margin: 22px 0;
  }
  .table__body .descr__cell.descr__cell-sum {
    font-size: 18px;
    color: #ff0000;
    font-weight: 700;
  }
  .table__body .descr__cell.descr__cell-remove {
    position: absolute;
    bottom: -7px;
    right: 2px;
  }
  .table__body .descr__cell.descr__cell-remove a {
    top: 0;
    background: url(../img/korzina.png) 0 0 no-repeat;
  }

  .cart__promo {
    position: relative;
    width: 100%;
  }
  .cart__promo input {
    width: 100%;
    height: 40px;
  }
  .cart__promo a {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  .cart__group {
    display: none;
  }

  .header__cart-mob.cart__block-mob {
    display: block;
    margin: 10px 0 -1px;
    padding: 10px 0 10px;
    background: #fff9dc;
  }
  .header__cart-mob.cart__block-mob .cart__btn {
    width: 87px;
    height: 27px;
    margin-top: 1px;
  }
  .header__cart-mob.cart__block-mob .cart__count {
    font-size: 14px;
  }
  .header__cart-mob.cart__block-mob .cart__count span {
    font-size: 14px;
  }
  .header__cart-mob.cart__block-mob .cart__count .upper {
    font-size: 14px;
  }
  .header__cart-mob.cart__block-mob .cart__price {
    font-size: 14px;
    text-transform: none;
  }
  .header__cart-mob.cart__block-mob .cart__price .upper {
    font-size: 16px;
  }
  .header__cart-mob.cart__block-mob .cart__price span {
    font-size: 14px;
    text-transform: none;
  }

  /*------------end----------- */
  /*-------Checkout page------- */
  .cart__block-checkout {
    display: none;
  }

  .checkout__total {
    display: none;
  }

  .checkout__title {
    display: none;
  }

  .panel__head {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #ebebeb;
  }
  .panel__head span {
    display: none;
  }
  .panel__head .panel__title {
    display: block;
    line-height: 48px;
    cursor: pointer;
  }
  .panel__head .panel__title .arrow__icon {
    float: right;
    position: relative;
    top: 17px;
    width: 20px;
    height: 12px;
    background: url(../img/arrow-accord.png) 0 0 no-repeat;
  }
  .panel__head .panel__title.open .arrow__icon {
    background-position: 0 -12px;
  }

  .body__item {
    margin-bottom: 5px;
  }
  .body__item .body__checkbox {
    top: 2px;
    vertical-align: top;
  }
  .body__item .body__img {
    display: none;
  }

  .body__descr {
    padding-left: 5px;
  }
  .body__descr i {
    font-size: 12px;
  }
  .body__descr .body__title i {
    display: block;
  }
  .body__descr input {
    width: 380px;
    left: -27px;
  }

  .link__cont-checkout {
    display: block;
  }

  .body__form label {
    width: 100%;
  }
  .body__form label input {
    left: 0;
    width: 100%;
  }
  .body__form .small {
    width: 30.5%;
  }
  .body__form .small input {
    width: 100%;
  }
  .body__form .middle input {
    width: 100%;
  }

  /*--------end------------- */
  /*----------Personal page--------- */
  .personal__banner {
    margin-bottom: 0;
  }

  .banner__title {
    position: relative;
    font-size: 16px;
  }
  .banner__title span {
    top: -5px;
    right: 5px;
    font-size: 34px;
  }

  .panel__head-personal {
    background: #fafafa;
  }
  .panel__head-personal .panel__title .arrow__icon {
    transform: rotate(90deg);
  }
  .panel__head-personal .panel__title.open .arrow__icon {
    transform: rotate(0);
  }

  .body__form-personal {
    padding: 10px 0 0;
    border: none;
  }
  .body__form-personal .wrap__box {
    float: none !important;
    width: 100%;
  }
  .body__form-personal .wrap__box span {
    padding-left: 10px;
    font-size: 16px;
  }
  .body__form-personal input {
    left: 0;
  }
  .body__form-personal .small__box {
    width: 100%;
  }
  .body__form-personal .small {
    width: 31.7%;
  }
  .body__form-personal .small span {
    padding-left: 10px;
  }
  .body__form-personal .comment {
    float: none;
    width: 100%;
  }
  .body__form-personal .comment span {
    font-size: 16px;
  }
  .body__form-personal .checkbox__add {
    width: 100%;
    padding-left: 10px;
  }
  .body__form-personal .body__checkbox {
    float: none;
  }
  .body__form-personal .personal__select-day {
    margin: 10px 0 10px;
  }

  .personal__select {
    float: none !important;
    width: 100%;
  }
  .personal__select span {
    font-size: 16px;
  }

  .btn__total.btn__total-personal {
    margin-top: 10px;
  }
  .btn__total.btn__total-personal:after {
    content: " ";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #dcdcdc;
  }

  /*------------end------------ */
  /*-----------Registr page-------- */
  .panel__head-login {
    display: none;
  }

  .panel__head-signup {
    height: 35px;
    line-height: 35px;
  }
  .panel__head-signup .panel__title {
    display: none;
  }
  .panel__head-signup span {
    display: inline-block;
  }

  .body_item-registr {
    padding-bottom: 10px;
  }

  .body_item-signup {
    padding-bottom: 30px;
  }

  .panel__body-login {
    background: #fffcf2;
    border-bottom: 1px solid #eaeaea;
  }

  .checkbox__news-registr {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 15px;
  }

  .remember__link {
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 8px;
  }

  .registr__text {
    display: block;
    padding: 15px 0;
  }

  .body__form-login {
    padding-top: 0;
  }

  .body__form-registr {
    border: none;
  }
  .body__form-registr .registr__warning {
    font-size: 14px;
    text-align: left;
  }

  .btn__total-registr {
    width: 100%;
  }

  .registr__feature {
    display: none;
  }

  /*---------end----------- */
  /*------------NoRegistr page--------- */
  .panel__head-noregistr {
    background: #fff0ba;
  }

  .panel__body-noregistr {
    background: #fffcf2;
  }

  .link__cont-noregistr {
    width: 100%;
  }

  .panel__head-nosignup {
    background: #f4f4f4;
    border-bottom: none;
    border-top: 1px solid #cfcfcf;
  }

  .panel__body-nologin {
    margin-bottom: 20px;
    background: #f4f4f4;
  }

  /*-------------end------------- */
  /*----------Delivery page-------- */
  .category__title-delivery {
    border-bottom: none;
  }

  .delivery__panel {
    height: 48px;
    background: #fafafa;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
  }
  .delivery__panel h5 {
    line-height: 48px;
  }

  .header__cart-mob .cart__btn.cart__btn-delivery {
    width: 120px;
  }

  /*-----------end--------------- */
  /*----------About page--------- */
  .about {
    padding: 15px 0 40px;
  }
  .about img {
    float: none;
    display: block;
    max-width: 290px;
    padding: 0 20px;
    margin: 0 auto 20px;
  }
  .about p {
    font-size: 12px;
  }

  /*-----------end------------- */
  /*----------Contact page--------- */
  .contact p {
    font-size: 16px;
  }
  .contact li {
    font-size: 16px;
  }

  .contact__list li {
    height: 35px;
    line-height: 33px;
    background: #fafafa;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }
  .contact__list li span:before {
    top: 0;
  }

  .contact__main span {
    display: block;
  }

  /*------------end--------------- */
  /*---------News page--------- */
  .news {
    padding: 15px 0 15px;
  }

  .news__headline {
    font-size: 12px;
  }

  .news__block {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
  }

  .img-thumbnail {
    float: left;
    max-width: 115px;
    padding: 0;
  }

  .news__text {
    float: left;
    height: 98px;
    width: 70%;
    overflow: hidden;
    padding-left: 7px;
  }
  .news__text p {
    font-size: 12px;
    line-height: 14px;
  }
  .news__text p span {
    display: block;
    margin-bottom: -8px;
  }

  .news__top {
    margin-bottom: 5px;
  }

  .news__more {
    display: none;
  }

  .pagination__news {
    display: none;
  }

  .page__count-news {
    display: none;
  }

  .news__bottom {
    display: none;
  }

  /*-------------end------------ */
  /*----------Modal checkout--------- */
  .modal-dialog {
    width: 290px;
    height: 470px;
    margin: 25px auto 25px;
  }

  .checkout__modal {
    height: 470px;
  }

  .close {
    top: 10px;
  }

  .checkout__form {
    width: 100%;
    padding: 0;
    border: none;
  }

  .checkout__block {
    width: 100%;
    padding: 0;
    border: none;
  }
  .checkout__block .btn__total-modal {
    width: 100%;
  }
  .checkout__block .link__cont-modal {
    width: 100%;
    margin-top: 15px;
  }

  .checkout__modal-quest {
    width: 290px;
    height: 380px;
  }

  .checkout__form-quest label {
    float: none;
    width: 100%;
  }

  .comment__quest {
    float: none;
    width: 100%;
  }

  .quest__text {
    margin-top: 30px;
    font-size: 12px;
  }

  /*------------end------------------ */
}
@media only screen and (max-width: 480px) {
  .container {
    width: 305px;
    padding: 0 10px;
  }

  .wrap__mob {
    width: 305px;
    padding: 0 10px;
  }

  .header__top-mob .container {
    width: 320px;
    padding: 0;
  }

  .top__icon-search {
    margin-left: 10px;
  }

  .top__icon-home {
    margin-left: 8px;
  }

  .top__icon-cart {
    margin: 0 5px 0 0;
  }

  .cart__btn {
    margin-right: 15px;
  }

  .cart__link {
    margin: 7px 0 0;
  }

  .main__slider .bx-wrapper .bx-viewport {
    height: 200px !important;
  }
  .main__slider .bx-wrapper img {
    max-width: 480px !important;
    height: 200px !important;
  }
  .main__slider .bx-wrapper .bx-caption .slider__title {
    top: 29px;
    width: 345px;
  }
  .main__slider .bx-wrapper .bx-caption .slider__title h3 {
    margin-bottom: 1px;
    padding: 4px 40px 2px 15px;
    font-size: 11px;
  }
  .main__slider .bx-wrapper .bx-caption .slider__title h3 span {
    font-size: 12px;
  }

  .main__carousel .bx-wrapper .slide {
    width: 137px !important;
  }

  .carousel__item {
    padding: 8px;
  }
  .carousel__item .item__img {
    height: 101px;
  }
  .carousel__item .item__stick {
    top: 20px;
  }
  .carousel__item .item__stick img {
    width: 80px;
  }
  .carousel__item .item__stick span {
    top: 0;
    left: 30px;
    font-size: 14px;
  }
  .carousel__item .item__descr {
    height: 65px;
  }
  .carousel__item .item__descr a {
    font-size: 12px;
  }
  .carousel__item .item__descr a h5 {
    font-size: 12px;
  }

  .link__top {
    left: 58%;
  }

  .list__block .block__title {
    font-size: 14px;
  }

  /*----------Catalog page----------- */
  .catalog__item-page {
    margin: 0 5px 10px;
  }
  .catalog__item-page .item__descr {
    height: 37px;
  }
  .catalog__item-page .available {
    width: 100%;
    margin-bottom: 36px;
  }
  .catalog__item-page .available i {
    left: -4px;
  }
  .catalog__item-page .item__price {
    bottom: 12px;
  }
  .catalog__item-page .item__cart {
    bottom: 8px;
  }

  /*-----------end--------------- */
  /*--------Tovar page---------- */
  .main__galery {
    width: 205px;
  }

  /*----------end------------ */
  /*---------Cart page-------- */
  .table__body .descr__cell.descr__cell-title {
    font-size: 14px;
  }
  .table__body .descr__cell.descr__cell-count {
    margin: 16px 0;
  }
  .table__body .descr__cell.descr__cell-sum {
    font-size: 16px;
  }

  .header__cart-mob.cart__block-mob .cart__btn {
    margin-right: 0;
  }

  /*---------end---------- */
  /*-------Checkout page------- */
  .body__descr {
    padding-left: 0;
  }
  .body__descr .body__title {
    font-size: 12px;
  }
  .body__descr dl {
    font-size: 12px;
  }
  .body__descr i {
    font-size: 10px;
  }
  .body__descr input {
    width: 120%;
  }

  .body__form label span {
    padding-left: 30px;
    font-size: 14px;
  }
  .body__form label i {
    font-size: 14px;
  }
  .body__form label input {
    height: 25px;
  }
  .body__form .small {
    width: 29.3%;
  }
  .body__form .small span {
    padding-left: 20px;
  }
  .body__form .comment span {
    padding-left: 30px;
    font-size: 14px;
  }

  .body__descr .body__text {
    display: none;
  }
  .body__descr.body__descr-data i {
    font-size: 12px;
  }

  /*--------end--------------- */
  /*---------Personal page-------- */
  .body__form-personal .wrap__box span {
    padding-left: 10px;
  }
  .body__form-personal .small {
    width: 31.2%;
  }
  .body__form-personal .small span {
    padding-left: 10px;
  }
  .body__form-personal .comment span {
    padding-left: 10px;
  }

  .personal__select span {
    font-size: 14px;
  }

  .body__checkbox-personal span {
    font-size: 14px;
  }
  .body__checkbox-personal.body__checkbox-child {
    margin-left: 0;
  }

  .panel__head .panel__title .arrow__icon {
    right: 10px;
  }

  /*------------end-------------- */
  /*---------News page--------- */
  .news__block {
    padding: 5px;
  }

  .img-thumbnail {
    max-width: 90px;
  }

  .news__text {
    width: 64%;
    height: 73px;
  }
  .news__text p span {
    margin-bottom: -14px;
  }

  .news__top {
    margin-bottom: 0;
  }

  /*---------end------------- */
}
