	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<div class="footer-main">
						<div class="footer-logo">
							<a href="#" class="logo logo_foot"><img src="img/logo-footer.png" alt=""></a>
							<span class="logo-text">Подпись под лого</span>
						</div>
						<a href="tel:+799966699999" class="phone phone_footer">+7 (999) 666 99 99</a>
						<a href="mailto:email@mail.ru" class="mail mail_footer">email@mail.ru</a>
						<div class="location location_footer">г. Екатеринбург,<br>название Улицы 95</div>
					</div>
				</div>
				<div class="hidden-xs hidden-sm col-md-8">
					<div class="footer-nav">
						<ul class="footer-menu">
							<li>
								<a href="#">О компании</a>
								<ul class="footer-dropmenu">
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
								</ul>
							</li>
						</ul>
						<ul class="footer-menu">
							<li>
								<a href="#">Услуги</a>
								<ul class="footer-dropmenu">
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
								</ul>
							</li>
						</ul>
						<ul class="footer-menu">
							<li>
								<a href="#">Информация</a>
								<ul class="footer-dropmenu">
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
								</ul>
							</li>
						</ul>
						<ul class="footer-menu">
							<li>
								<a href="#">Цены</a>
								<ul class="footer-dropmenu">
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
								</ul>
							</li>
						</ul>
						<ul class="footer-menu">
							<li>
								<a href="#">Контакты</a>
								<ul class="footer-dropmenu">
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
									<li><a href="#">Подпункт меню какой-нибудь</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="hidden">
		<div id="callback-form" class="callback-form mfp-with-anim">
			<div class="callback-form__title">Заказать<br>обратный звонок</div>
			<form action="#">
				<input type="text" id="name-m" placeholder="Ваше имя">
				<input type="text" id="phone-m" placeholder="Ваш телефон">
				<button class="btn btn_modform">Отправить</button>
			</form>
		</div>
	</div>

	<!-- <div class="loader">
		<div class="loader_inner"></div>
	</div> -->

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery/jquery-1.12.4.min.js"></script>
	<script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>
