@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoMedium";
    src: url("../fonts/LatoMedium/Lato-Medium.eot");
    src: url("../fonts/LatoMedium/Lato-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoMedium/Lato-Medium.woff") format("woff"),
    url("../fonts/LatoMedium/Lato-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoBlack";
    src: url("../fonts/LatoBlack/Lato-Black.eot");
    src: url("../fonts/LatoBlack/Lato-Black.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBlack/Lato-Black.woff") format("woff"),
    url("../fonts/LatoBlack/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: "LatoHeavy";
  src: url("../fonts/LatoHeavy/Lato-Heavy.eot");
  src: url("../fonts/LatoHeavy/Lato-Heavy.woff") format("woff"),
       url("../fonts/LatoHeavy/Lato-Heavy.ttf") format("truetype"),
       url("../fonts/LatoHeavy/Lato-Heavy.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans/FiraSans-Heavy.eot");
    src: url("../fonts/FiraSans/FiraSans-Heavy.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSans/FiraSans-Heavy.woff") format("woff"),
    url("../fonts/FiraSans/FiraSans-Heavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}