	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#up" class="footer-logo"><img src="img/CCL-Detailing.png" alt=""></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="copyright">Все права защищены</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="developer">Сделано в <a href="http://adtherapy.ru/" target="_blank">Рекламотерапии</a></div>
				</div>
			</div>
		</div>
	</footer>

	<div class="hidden">
		<div id="order-form" class="callback-form mfp-with-anim">
			<div class="callback-form__title">Оставить заявку</div>
			<div class="success"><span>Ваша сообщение отправлено!</span></div>
			<form name="form-1" class="form-1">
				<input type="text" placeholder="Ваше имя" name="name" required>
				<input type="text" placeholder="Ваш телефон" name="phone" required>
				<textarea cols="30" rows="10" placeholder="Ваше сообщение" name="message"></textarea>
				<button class="btn btn_anim1 btn-modal" type="submit">Отправить</button>
			</form>
		</div>
		<div id="callback-form" class="callback-form mfp-with-anim">
			<div class="callback-form__title">Заказать звонок</div>
			<div class="success"><span>Ваша сообщение отправлено!</span></div>
			<form name="form-0" class="form-0">
				<input type="text" placeholder="Ваше имя" name="name" required>
				<input type="text" placeholder="Ваш телефон" name="phone" required>
				<button class="btn btn_anim1 btn-modal" type="submit">Отправить</button>
			</form>
		</div>
	</div>

	<div class="loader">
		<div class="loader_inner"></div>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery-2.2.4/jquery-2.2.4.min.js"></script>
	<script src="libs/parallax/parallax.min.js"></script>
	<script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>
