	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="/" class="logo"><img src="img/Detailing-Center.png" alt=""></a>
					<div id="btn-mob" class="menu-mob">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="header-nav">
						<ul class="header-menu">
							<li><a href="#adv">Преимущества</a></li>
							<li><a href="#gallery">Фотогалерея</a></li>
							<li><a href="#keramic">Керамические покрытия</a></li>
							<li><a href="#service">Наши услуги</a></li>
							<li><a href="#contact">Контакты</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>