@import "vars"

/*------------------Faq page---------------*/
.faq-topline
	margin-bottom: 3px
	padding: 22px 29px 20px 38px
	border-radius: 5px
	background: #f4f4f4
	+clearfix
	&__title
		display: inline-block
		font: 700 25px "ptsansnarrow"

.btn--faq
	float: right
	outline: none

.faq-item
	margin-bottom: 3px
	padding: 28px 125px 28px 38px
	border-radius: 5px
	background: #f4f4f4
	&:last-of-type
		margin-bottom: 17px
	&__title
		margin-bottom: 12px
		font: 700 20px "ptsansnarrow"
		color: #0154b4
	&__text
		font-size: 15px
		line-height: 24px
/*--------------------end------------------*/