/*-------------Grid-----------*/
@media (min-width: 800px)
	.container
		width: 800px

@media (min-width: 992px)
	.container
		width: 940px

@media (min-width: 1200px)
	.container
		width: 1170px

@media (min-width: 1336px)
	.container
		width: 1336px
/*------------end-------------*/