@import "vars"

/*------------------News page---------------*/
.news-container
	margin-bottom: 20px

.news-page
	padding: 24px 35px 225px
	border-radius: 5px
	background: #f4f4f4
	+clearfix
	&__title
		margin-bottom: 38px
		font: 700 25px "ptsansnarrow"

.news-item--page
	float: left
	width: 433px
	margin: 0 70px 66px 0
/*--------------------end-------------------*/