// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-next-name: 'arrow-next'
$arrow-next-x: 285px
$arrow-next-y: 93px
$arrow-next-offset-x: -285px
$arrow-next-offset-y: -93px
$arrow-next-width: 6px
$arrow-next-height: 10px
$arrow-next-total-width: 292px
$arrow-next-total-height: 220px
$arrow-next-image: '../img/sprite.png'
$arrow-next: (285px, 93px, -285px, -93px, 6px, 10px, 292px, 220px, '../img/sprite.png', 'arrow-next', )
$arrow-prev-name: 'arrow-prev'
$arrow-prev-x: 279px
$arrow-prev-y: 93px
$arrow-prev-offset-x: -279px
$arrow-prev-offset-y: -93px
$arrow-prev-width: 6px
$arrow-prev-height: 10px
$arrow-prev-total-width: 292px
$arrow-prev-total-height: 220px
$arrow-prev-image: '../img/sprite.png'
$arrow-prev: (279px, 93px, -279px, -93px, 6px, 10px, 292px, 220px, '../img/sprite.png', 'arrow-prev', )
$arrow-select-mob-name: 'arrow-select-mob'
$arrow-select-mob-x: 195px
$arrow-select-mob-y: 191px
$arrow-select-mob-offset-x: -195px
$arrow-select-mob-offset-y: -191px
$arrow-select-mob-width: 32px
$arrow-select-mob-height: 20px
$arrow-select-mob-total-width: 292px
$arrow-select-mob-total-height: 220px
$arrow-select-mob-image: '../img/sprite.png'
$arrow-select-mob: (195px, 191px, -195px, -191px, 32px, 20px, 292px, 220px, '../img/sprite.png', 'arrow-select-mob', )
$arrow-select-name: 'arrow-select'
$arrow-select-x: 279px
$arrow-select-y: 85px
$arrow-select-offset-x: -279px
$arrow-select-offset-y: -85px
$arrow-select-width: 13px
$arrow-select-height: 8px
$arrow-select-total-width: 292px
$arrow-select-total-height: 220px
$arrow-select-image: '../img/sprite.png'
$arrow-select: (279px, 85px, -279px, -85px, 13px, 8px, 292px, 220px, '../img/sprite.png', 'arrow-select', )
$carousel-left-name: 'carousel-left'
$carousel-left-x: 279px
$carousel-left-y: 71px
$carousel-left-offset-x: -279px
$carousel-left-offset-y: -71px
$carousel-left-width: 9px
$carousel-left-height: 14px
$carousel-left-total-width: 292px
$carousel-left-total-height: 220px
$carousel-left-image: '../img/sprite.png'
$carousel-left: (279px, 71px, -279px, -71px, 9px, 14px, 292px, 220px, '../img/sprite.png', 'carousel-left', )
$carousel-right-name: 'carousel-right'
$carousel-right-x: 279px
$carousel-right-y: 57px
$carousel-right-offset-x: -279px
$carousel-right-offset-y: -57px
$carousel-right-width: 9px
$carousel-right-height: 14px
$carousel-right-total-width: 292px
$carousel-right-total-height: 220px
$carousel-right-image: '../img/sprite.png'
$carousel-right: (279px, 57px, -279px, -57px, 9px, 14px, 292px, 220px, '../img/sprite.png', 'carousel-right', )
$close-mob-name: 'close-mob'
$close-mob-x: 0px
$close-mob-y: 105px
$close-mob-offset-x: 0px
$close-mob-offset-y: -105px
$close-mob-width: 115px
$close-mob-height: 115px
$close-mob-total-width: 292px
$close-mob-total-height: 220px
$close-mob-image: '../img/sprite.png'
$close-mob: (0px, 105px, 0px, -105px, 115px, 115px, 292px, 220px, '../img/sprite.png', 'close-mob', )
$close-name: 'close'
$close-x: 235px
$close-y: 0px
$close-offset-x: -235px
$close-offset-y: 0px
$close-width: 57px
$close-height: 57px
$close-total-width: 292px
$close-total-height: 220px
$close-image: '../img/sprite.png'
$close: (235px, 0px, -235px, 0px, 57px, 57px, 292px, 220px, '../img/sprite.png', 'close', )
$date-mob-name: 'date-mob'
$date-mob-x: 115px
$date-mob-y: 105px
$date-mob-offset-x: -115px
$date-mob-offset-y: -105px
$date-mob-width: 33px
$date-mob-height: 33px
$date-mob-total-width: 292px
$date-mob-total-height: 220px
$date-mob-image: '../img/sprite.png'
$date-mob: (115px, 105px, -115px, -105px, 33px, 33px, 292px, 220px, '../img/sprite.png', 'date-mob', )
$date-name: 'date'
$date-x: 115px
$date-y: 138px
$date-offset-x: -115px
$date-offset-y: -138px
$date-width: 23px
$date-height: 23px
$date-total-width: 292px
$date-total-height: 220px
$date-image: '../img/sprite.png'
$date: (115px, 138px, -115px, -138px, 23px, 23px, 292px, 220px, '../img/sprite.png', 'date', )
$edit-mob-name: 'edit-mob'
$edit-mob-x: 235px
$edit-mob-y: 104px
$edit-mob-offset-x: -235px
$edit-mob-offset-y: -104px
$edit-mob-width: 43px
$edit-mob-height: 43px
$edit-mob-total-width: 292px
$edit-mob-total-height: 220px
$edit-mob-image: '../img/sprite.png'
$edit-mob: (235px, 104px, -235px, -104px, 43px, 43px, 292px, 220px, '../img/sprite.png', 'edit-mob', )
$edit-name: 'edit'
$edit-x: 271px
$edit-y: 176px
$edit-offset-x: -271px
$edit-offset-y: -176px
$edit-width: 19px
$edit-height: 19px
$edit-total-width: 292px
$edit-total-height: 220px
$edit-image: '../img/sprite.png'
$edit: (271px, 176px, -271px, -176px, 19px, 19px, 292px, 220px, '../img/sprite.png', 'edit', )
$key-mob-name: 'key-mob'
$key-mob-x: 150px
$key-mob-y: 191px
$key-mob-offset-x: -150px
$key-mob-offset-y: -191px
$key-mob-width: 45px
$key-mob-height: 24px
$key-mob-total-width: 292px
$key-mob-total-height: 220px
$key-mob-image: '../img/sprite.png'
$key-mob: (150px, 191px, -150px, -191px, 45px, 24px, 292px, 220px, '../img/sprite.png', 'key-mob', )
$key-name: 'key'
$key-x: 115px
$key-y: 176px
$key-offset-x: -115px
$key-offset-y: -176px
$key-width: 23px
$key-height: 12px
$key-total-width: 292px
$key-total-height: 220px
$key-image: '../img/sprite.png'
$key: (115px, 176px, -115px, -176px, 23px, 12px, 292px, 220px, '../img/sprite.png', 'key', )
$mail-mob-name: 'mail-mob'
$mail-mob-x: 235px
$mail-mob-y: 147px
$mail-mob-offset-x: -235px
$mail-mob-offset-y: -147px
$mail-mob-width: 45px
$mail-mob-height: 29px
$mail-mob-total-width: 292px
$mail-mob-total-height: 220px
$mail-mob-image: '../img/sprite.png'
$mail-mob: (235px, 147px, -235px, -147px, 45px, 29px, 292px, 220px, '../img/sprite.png', 'mail-mob', )
$mail-name: 'mail'
$mail-x: 115px
$mail-y: 161px
$mail-offset-x: -115px
$mail-offset-y: -161px
$mail-width: 23px
$mail-height: 15px
$mail-total-width: 292px
$mail-total-height: 220px
$mail-image: '../img/sprite.png'
$mail: (115px, 161px, -115px, -161px, 23px, 15px, 292px, 220px, '../img/sprite.png', 'mail', )
$people-name: 'people'
$people-x: 235px
$people-y: 57px
$people-offset-x: -235px
$people-offset-y: -57px
$people-width: 44px
$people-height: 47px
$people-total-width: 292px
$people-total-height: 220px
$people-image: '../img/sprite.png'
$people: (235px, 57px, -235px, -57px, 44px, 47px, 292px, 220px, '../img/sprite.png', 'people', )
$play-mob-name: 'play-mob'
$play-mob-x: 0px
$play-mob-y: 0px
$play-mob-offset-x: 0px
$play-mob-offset-y: 0px
$play-mob-width: 150px
$play-mob-height: 105px
$play-mob-total-width: 292px
$play-mob-total-height: 220px
$play-mob-image: '../img/sprite.png'
$play-mob: (0px, 0px, 0px, 0px, 150px, 105px, 292px, 220px, '../img/sprite.png', 'play-mob', )
$play-name: 'play'
$play-x: 150px
$play-y: 85px
$play-offset-x: -150px
$play-offset-y: -85px
$play-width: 74px
$play-height: 52px
$play-total-width: 292px
$play-total-height: 220px
$play-image: '../img/sprite.png'
$play: (150px, 85px, -150px, -85px, 74px, 52px, 292px, 220px, '../img/sprite.png', 'play', )
$price-name: 'price'
$price-x: 150px
$price-y: 137px
$price-offset-x: -150px
$price-offset-y: -137px
$price-width: 65px
$price-height: 54px
$price-total-width: 292px
$price-total-height: 220px
$price-image: '../img/sprite.png'
$price: (150px, 137px, -150px, -137px, 65px, 54px, 292px, 220px, '../img/sprite.png', 'price', )
$rub-mob-name: 'rub-mob'
$rub-mob-x: 150px
$rub-mob-y: 0px
$rub-mob-offset-x: -150px
$rub-mob-offset-y: 0px
$rub-mob-width: 85px
$rub-mob-height: 85px
$rub-mob-total-width: 292px
$rub-mob-total-height: 220px
$rub-mob-image: '../img/sprite.png'
$rub-mob: (150px, 0px, -150px, 0px, 85px, 85px, 292px, 220px, '../img/sprite.png', 'rub-mob', )
$rub-name: 'rub'
$rub-x: 235px
$rub-y: 176px
$rub-offset-x: -235px
$rub-offset-y: -176px
$rub-width: 36px
$rub-height: 36px
$rub-total-width: 292px
$rub-total-height: 220px
$rub-image: '../img/sprite.png'
$rub: (235px, 176px, -235px, -176px, 36px, 36px, 292px, 220px, '../img/sprite.png', 'rub', )
$spritesheet-width: 292px
$spritesheet-height: 220px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-next, $arrow-prev, $arrow-select-mob, $arrow-select, $carousel-left, $carousel-right, $close-mob, $close, $date-mob, $date, $edit-mob, $edit, $key-mob, $key, $mail-mob, $mail, $people, $play-mob, $play, $price, $rub-mob, $rub, )
$spritesheet: (292px, 220px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
