@import "vars"

/*------------------Team page---------------*/
.team
	margin-bottom: 3px
	padding: 28px 30px 23px 38px
	border-radius: 5px
	background: #f4f4f4
	+clearfix
	&__title
		display: inline-block
		font: 700 25px "ptsansnarrow"
	&__count
		float: right
		margin-top: 4px
		font-size: 20px
		font-weight: 700
		color: #0154b4
		span
			color: #c41b8c

.profile--team
	&:last-of-type
		margin-bottom: 20px
/*--------------------end-------------------*/