@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
  .slider-block {
    height: 360px;
  }
  .slider-block .container {
    padding: 0 15px;
  }
  .slider-item img {
    height: 415px;
  }
  .caption img {
    position: relative;
    top: -20px;
    left: -82px;
    height: 457px;
    margin: 0 auto;
  }
  .caption-slide {
    top: 40px;
    right: 70px;
  }
  .preview-block {
    right: -8px;
  }
  .footer-main .container {
    left: -9px;
  }
  .scroll-top {
    right: 12px;
  }
  .callback-form--st:before {
    left: -100px;
  }
  /**/
}

@media (max-width: 1040px) and (min-width: 768px) {
  .hidden-sm {
    display: none !important;
  }
}

@media only screen and (max-width: 1040px) {
  .logo {
    max-width: 170px;
  }
  .lang {
    width: 50px;
    height: 30px;
    margin-left: 5px;
    background-size: cover;
  }
  .lang__link {
    width: 17px;
    height: 15px;
    top: 6px;
    z-index: 5;
  }
  .lang__link--one {
    left: 7px;
  }
  .lang__link--two {
    right: 6px;
  }
  .location {
    margin-left: 20px;
  }
  .callback {
    margin-left: 30px;
  }
  .callback__phone {
    font-size: 16px;
  }
  .callback:before {
    top: 4px;
    left: -20px;
  }
  .personal {
    top: 5px;
  }
  .phone {
    margin-top: 0;
  }
  .navbar .nav > li {
    margin-right: 34.4px;
  }
  .navbar .nav > li > a {
    padding-left: 0;
  }
  .navbar .nav > li.active > a {
    color: #009fda;
  }
  .navbar .nav__item--2 a:before {
    top: 0;
    left: -22px;
    background-image: url(../img/sprite.png);
    background-position: -41px -191px;
    width: 20px;
    height: 20px;
  }
  .navbar .nav__item--2:hover a:before {
    background-image: url(../img/sprite.png);
    background-position: -81px -191px;
    width: 20px;
    height: 20px;
  }
  .navbar .nav__item--3 a:before {
    top: 0;
    left: -22px;
    background-image: url(../img/sprite.png);
    background-position: -181px -191px;
    width: 20px;
    height: 19px;
  }
  .navbar .nav__item--3:hover a:before {
    background-image: url(../img/sprite.png);
    background-position: -141px -191px;
    width: 20px;
    height: 19px;
  }
  .navbar .nav__item--4 a:before {
    top: -4px;
    left: -25px;
    background-image: url(../img/sprite.png);
    background-position: -200px -52px;
    width: 15px;
    height: 22px;
  }
  .navbar .nav__item--4:hover a:before {
    background-image: url(../img/sprite.png);
    background-position: -200px -89px;
    width: 15px;
    height: 22px;
  }
  .navbar .nav__item--5 a:before {
    top: 0;
    left: -27px;
    background-image: url(../img/sprite.png);
    background-position: -80px -173px;
    width: 25px;
    height: 14px;
  }
  .navbar .nav__item--5:hover a:before {
    background-image: url(../img/sprite.png);
    background-position: -55px -173px;
    width: 25px;
    height: 14px;
  }
  .navbar .nav__item--6 a:before {
    top: 0;
    left: -22px;
    background-image: url(../img/sprite.png);
    background-position: -21px -191px;
    width: 20px;
    height: 20px;
  }
  .navbar .nav__item--6:hover a:before {
    background-image: url(../img/sprite.png);
    background-position: -101px -191px;
    width: 20px;
    height: 20px;
  }
  .navbar .nav-submenu {
    width: 230px;
    padding: 10px 12px 30px;
  }
  .navbar .nav-submenu > li > a {
    padding: 0 10px;
  }
  .navbar .nav-submenu--l2 {
    padding-top: 0;
  }
  .slider-block {
    height: auto;
  }
  .slider-block .container {
    width: 100%;
  }
  .h-slider {
    height: 300px;
    top: 0;
  }
  .h-slider .slider-item {
    height: 300px;
  }
  .caption {
    max-width: 100%;
    padding: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .caption img {
    display: none !important;
  }
  .caption-slide {
    top: 10px;
    left: 0;
    right: 0;
  }
  .caption-slide__text {
    color: #fff;
  }
  .slick-dots {
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .sidebar {
    width: 243px;
    height: auto;
    padding-bottom: 60px;
    background-size: 100% 100%;
  }
  .sidebar-nav {
    padding: 30px 17px 0 13px;
  }
  .sidebar-menu__item > a {
    padding: 11px 0 11px 64px;
  }
  .sidebar-menu__item--2 a:before {
    top: 12px;
    left: 25px;
    background-image: url(../img/sprite.png);
    background-position: -121px -191px;
    width: 20px;
    height: 20px;
  }
  .sidebar-menu__item--2:hover > a {
    color: #009fda;
  }
  .sidebar-menu__item--2:hover > a:before {
    background-image: url(../img/sprite.png);
    background-position: -81px -191px;
    width: 20px;
    height: 20px;
  }
  .sidebar-menu__item--3 a:before {
    top: 12px;
    left: 25px;
    background-image: url(../img/sprite.png);
    background-position: -161px -191px;
    width: 20px;
    height: 19px;
  }
  .sidebar-menu__item--3:hover > a {
    color: #009fda;
  }
  .sidebar-menu__item--3:hover > a:before {
    background-image: url(../img/sprite.png);
    background-position: -141px -191px;
    width: 20px;
    height: 19px;
  }
  .sidebar-menu__item--4 a:before {
    top: 12px;
    left: 25px;
    background-image: url(../img/sprite.png);
    background-position: -200px -126px;
    width: 15px;
    height: 22px;
  }
  .sidebar-menu__item--4:hover > a {
    color: #009fda;
  }
  .sidebar-menu__item--4:hover > a:before {
    background-image: url(../img/sprite.png);
    background-position: -200px -89px;
    width: 15px;
    height: 22px;
  }
  .sidebar-menu__item--5 a:before {
    top: 12px;
    left: 25px;
    background-image: url(../img/sprite.png);
    background-position: -105px -173px;
    width: 25px;
    height: 14px;
  }
  .sidebar-menu__item--5:hover > a {
    color: #009fda;
  }
  .sidebar-menu__item--5:hover > a:before {
    background-image: url(../img/sprite.png);
    background-position: -55px -173px;
    width: 25px;
    height: 14px;
  }
  .sidebar-menu__item--6 a:before {
    top: 12px;
    left: 25px;
    background-image: url(../img/sprite.png);
    background-position: -61px -191px;
    width: 20px;
    height: 20px;
  }
  .sidebar-menu__item--6:hover > a {
    color: #009fda;
  }
  .sidebar-menu__item--6:hover > a:before {
    background-image: url(../img/sprite.png);
    background-position: -101px -191px;
    width: 20px;
    height: 20px;
  }
  .sidebar-menu__submenu {
    left: 93%;
    padding-right: 14px;
  }
  .main {
    padding-left: 0;
  }
  .about-block {
    max-width: 100%;
    background-size: 100% 100%;
  }
  .preview-block {
    height: auto;
    right: 0;
    margin: 0 auto 40px;
    padding: 0 15px;
    background: none;
  }
  .carousel-block {
    position: relative;
    max-width: 100%;
    top: 0;
    left: 0;
  }
  .h-carousel .slick-arrow {
    opacity: .7;
  }
  .h-carousel .slick-arrow.slick-next {
    right: -4px;
  }
  .h-carousel .slick-arrow.slick-prev {
    left: 0;
  }
  .h-carousel .slick-arrow:hover {
    opacity: 1;
  }
  .tour-preview {
    width: 100%;
    background: url(../img/bg-article.png) no-repeat;
    background-size: 100% 204px;
  }
  .footer-main {
    max-width: 820px;
    background: url(../img/footer-bg.png) center top no-repeat;
    background-size: 100% 450px;
  }
  .footer-nav {
    width: 22%;
  }
  .footer-nav__title {
    font-size: 18px;
  }
  .footer-nav--one {
    margin-left: 50px;
  }
  .footer-nav--two {
    margin-left: 0;
  }
  .footer-nav--four {
    margin-left: 20px;
  }
  .footer-logo {
    margin: 50px 0 0 45px;
  }
  .logo img {
    width: 100%;
  }
  .social {
    text-align: center;
  }
  .copyright {
    margin-right: 0;
  }
  .cf-link {
    margin-left: 0;
  }
  .callback-form input {
    margin: 0 10px;
  }
  .callback-form--st {
    max-width: 856px;
    margin-bottom: -45px;
  }
  .callback-form--st:before {
    width: 237px;
  }
  /*--------------Tour page--------------*/
  .preview-block--inner {
    margin-top: 30px;
  }
  .btn-main--comment {
    margin: 33px auto 0;
  }
  /*-----------------end-----------------*/
  /*-------------Avia page----------------*/
  .main-card__descr {
    padding: 40px 0 0 30px;
  }
  .price-item {
    margin-right: 10px;
  }
  /*----------------end-------------------*/
  /*--------Contact page-------------------*/
  .contact-descr {
    max-width: 825px;
  }
  .contact-descr__main {
    float: none;
  }
  .contact-descr__text {
    display: block;
    margin-top: 30px;
    padding-left: 0;
  }
  /*-------------end----------------------*/
  /*------------Thank page-----------------*/
  .thank-block__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 42px;
  }
  .thank-block__text {
    margin-bottom: 20px;
  }
  /*--------------end---------------------*/
}

@media only screen and (max-width: 767px) {
  .container {
    width: 640px;
  }
  .header {
    padding-bottom: 0;
  }
  .lang {
    width: 65px;
    height: 35px;
    margin-left: 15px;
  }
  .location {
    margin: 5px 0 0 30px;
  }
  .callback {
    float: right;
    margin: 6px 0 0;
  }
  .callback__phone {
    font-size: 18px;
  }
  .callback__link {
    font-size: 20px;
  }
  .personal {
    display: none;
  }
  .personal--mob {
    display: block;
    margin-top: 12px;
  }
  .personal-link {
    font-size: 16px;
  }
  .phone {
    margin-top: 15px;
  }
  .phone__link {
    font-size: 12px;
  }
  .navbar {
    height: auto;
    margin-top: 0;
    padding: 0;
  }
  .navbar .container {
    width: 100%;
    padding: 0;
  }
  .navbar .container .navbar-header {
    width: 640px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .navbar .container .navbar-header__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 700;
    color: #0083b8;
    text-transform: uppercase;
  }
  .navbar-toggle {
    float: none;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    border-color: #1b1b1b;
    -webkit-box-shadow: 0 0 10px #0083b8;
            box-shadow: 0 0 10px #0083b8;
  }
  .navbar-toggle.collapsed {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-toggle .icon-bar {
    background: #0083b8;
  }
  .navbar .navbar-collapse {
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    min-width: 640px;
    margin: 0;
    border: none;
    background: #fff;
  }
  .navbar .nav {
    padding: 30px 0 60px;
    text-align: center;
    -moz-text-align-last: auto;
         text-align-last: auto;
  }
  .navbar .nav:after {
    display: none;
  }
  .navbar .nav > li {
    float: none;
    display: block;
    margin: 5px 0;
  }
  .navbar .nav > li > a {
    padding: 5px;
    font-size: 18px;
  }
  .navbar .nav > li > a:before {
    display: none;
  }
  .navbar .nav-submenu {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0;
    text-align: center;
    background: none;
  }
  .navbar .nav-submenu li {
    display: block;
  }
  .navbar .nav-submenu li a {
    display: block;
    height: auto;
    padding: 10px 0;
    font-size: 16px;
  }
  .navbar .nav-submenu li a:hover {
    background: none;
  }
  .navbar .nav-submenu li.active a {
    background: none;
  }
  .navbar .nav-submenu--l2 {
    position: relative;
    top: 0;
    left: 0;
    background: none;
  }
  .slider-block {
    min-width: 640px;
  }
  .wrapper {
    min-width: 640px;
  }
  .main {
    text-align: center;
  }
  .sidebar-news {
    width: 100%;
    padding-top: 35px;
    background: none;
  }
  .sidebar-news__title {
    margin-left: 0;
  }
  .news-preview {
    width: 100%;
  }
  .about-block {
    background-size: 96% 100%;
  }
  .preview-block {
    padding: 0 14px;
  }
  .scroll-top {
    right: 15px;
    top: -75px;
  }
  .footer-main {
    right: 0;
    height: auto;
    background: none;
  }
  .footer-main .container {
    left: 0;
  }
  .footer-nav {
    width: 24%;
  }
  .footer-nav__title {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .footer-nav--one {
    margin-left: 0;
  }
  .footer-nav--four {
    margin-left: 0;
    padding-left: 25px;
  }
  .footer-nav li {
    margin-bottom: 10px;
  }
  .footer-nav li a {
    font-size: 14px;
  }
  .footer-logo {
    margin: 20px 0 0;
  }
  .social {
    margin-top: 25px;
  }
  .developer {
    margin: 25px 0 0;
  }
  .footer-bottom {
    margin-top: 30px;
  }
  .copyright {
    font-size: 14px;
    text-align: left;
  }
  .cf-link {
    display: block;
    font-size: 14px;
    text-align: right;
  }
  .link-callphone {
    display: block;
  }
  .callback-form {
    max-width: 600px;
    margin-bottom: 0;
    padding: 100px 71px 150px;
  }
  .callback-form--st {
    right: 0;
    padding: 40px 71px 10px;
    background: none;
  }
  .callback-form--st:before {
    left: -35px;
    bottom: -110px;
  }
  .callback-form__title {
    margin-bottom: 30px;
    font-size: 26px;
  }
  .callback-form input {
    display: block;
    width: 250px;
    margin: 0 auto 20px;
  }
  .callback-form .mfp-close {
    right: 28px;
    top: 48px;
  }
  .btn-main--order {
    width: 250px;
    margin: 0 auto;
  }
  /*-------------Avia page----------------*/
  .main-card {
    min-height: 500px;
  }
  .main-card__pict {
    width: 210px;
    height: 220px;
  }
  .main-card__descr {
    padding: 10px 0 0 10px;
  }
  .price-item {
    max-width: 200px;
    margin-right: 5px;
  }
  .price-item__title {
    height: 60px;
    padding-top: 5px;
    font-size: 18px;
  }
  .price-item__title span {
    font-size: 12px;
  }
  .price-in {
    height: 200px;
    padding: 12px 12px 10px;
  }
  .price-in.open {
    min-height: 630px;
  }
  .price-total__title {
    font-size: 12px;
  }
  /*----------------end-------------------*/
  /*------------Thank page-----------------*/
  .thank-block__title {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 32px;
  }
  .thank-block__text {
    margin-bottom: 15px;
    font-size: 14px;
  }
  /*--------------end---------------------*/
}
