	<footer class="footer">
		<div class="container">
			<a href="#" id="scroll-top" class="scroll-top">up</a>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
					<div class="logo-block logo-block_footer">
						<a href="/" class="logo">
							<img src="img/logo-pict.png" alt="">
							<p class="logo-descr">Московский клуб<span>Cobra</span>единоборств</p>
						</a>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
					<div class="footer-menu">
						<ul class="nav">
							<li><a href="#about"><span>О клубе</span></a></li>
							<li><a href="#way"><span>Направления</span></a></li>
							<li class="break"><a href="#place"><span>Где проходят тренировки</span></a></li>
							<li><a href="#contact"><span>Контакты</span></a></li>
							<li><a href="#couch"><span>Тренер</span></a></li>
							<li><a href="#found"><span>У нас вы найдете</span></a></li>
							<li><a href="#form"><span>Как записаться?</span></a></li>
						</ul>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
					<div class="footer-contact">
						<a href="mailto:peretokin.tagir@mail.ru" class="mail">peretokin.tagir@mail.ru</a>
						<a href="tel:+79037584455" class="phone">8 (903) 758-44-55</a>
						<div class="location">
							<p>Семёновская площадь дом 7 кор. 1.<br>Территория фитнес центра «Gold Fitness»</p>
						</div>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="copyright">2017 &copy; Все права защищены и принадлежат Московскому клубу единоборств “Cobra”</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="hidden"></div>

	<!-- <div class="loader">
		<div class="loader_inner"></div>
	</div> -->

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery-2.2.4/jquery-2.2.4.min.js"></script>
	<script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>
