/*-------------Grid-----------*/
@media (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media (min-width: 500px) {
  .container {
    width: 470px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1390px) {
  .container {
    width: 1390px;
  }
}

/*------------end-------------*/
@media only screen and (max-width: 1200px) {
  /**/
}

@media only screen and (max-width: 992px) {
  /**/
}

@media only screen and (max-width: 768px) {
  /**/
}

@media only screen and (max-width: 480px) {
  /**/
}

@media only screen and (max-width: 320px) {
  /**/
}
