/*------------------About page-----------------*/
.about
	padding: 87px 0 0
	&-top
		padding-bottom: 68px
		font-size: 16px
		line-height: 30px
		text-align: center

.use
	padding-bottom: 55px
	&__title
		display: block
		margin-bottom: 122px
		font-size: 30px
		font-weight: 700
		text-align: center
	&-item
		text-align: center
		&__pict
			position: relative
			height: 180px
			margin-bottom: 10px
			overflow: hidden
			img
				display: block
				margin: 0 auto
		&__stick
			position: absolute
			top: 8px
			left: 0
			right: 0
			width: 122px
			height: 31px
			margin: 0 auto
			font-size: 18px
			font-weight: 700
			line-height: 29px
			text-align: center
			background: #fdd74e
		&__title
			display: block
			font-size: 18px
			font-weight: 700
			line-height: 30px
		&__descr
			margin-top: 12px
			font-size: 15px
			line-height: 25px

.about-bonus
	padding: 85px 0 75px
	&__pict
		max-width: 480px
		img
			display: block
			width: 100%
	&__descr
		padding-top: 46px
		text-align: right
	&__title
		display: block
		margin-bottom: 45px
		font: 48px/36px $accent-font
	&__text
		font-size: 16px
		line-height: 28px
/*----------------------end-----------------------*/