/*------------------Service page-----------------*/
.service
	padding: 38px 0 0
	&-item
		height: 303px
		padding: 27px 15px 20px
		margin-bottom: 30px
		text-align: center
		border: 5px solid #ece8dc
		background: #f1ede2
		&__pict
			position: relative
			width: 165px
			height: 165px
			margin: 0 auto
			overflow: hidden
			border-radius: 50%
			img
				position: absolute
				display: block
				top: 50%
				left: 50%
				width: auto
				height: 100%
				transform: translate(-50%,-50%)
		&__name
			display: block
			margin-top: 17px
			font-size: 22px
			line-height: 28px
			&:hover
				text-decoration: underline
/*--------------------end-----------------------*/