@import "bourbon"

$default-font: "robotoslab", sans-serif
$accent-font: 'yesevaone', serif
$sec-font: 'opensans', sans-serif
$main-color: #414141
$accent: #fdd74e
$sec-color: #767676
$btn-color: #83759f