.header
	.container
		display: table

.col-left
	position: relative
	display: table-cell
	vertical-align: top
	min-width: 325px
	&:after
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 1px
		height: 100%
		background: url(../img/border-header.png) 0 0 no-repeat

.logo
	display: inline-block
	margin: 15px 0 0 15px
	img
		display: block
		max-width: 100%

.contact
	margin-top: 107px
	padding: 0 0 0 16px
	&-item
		position: relative
		margin-bottom: 23px
		padding-left: 48px
		&:before
			content: ''
			position: absolute
			top: 50%
			left: 0
			transform: translate(0,-50%)
		&_mail
			&:before
				@include sprite($mail)
		&_phone
			&:before
				@include sprite($phone)
		&_loc
			&:before
				@include sprite($loc)
		&__title
			display: block
			font: 16px/1.2 $secfont
		&__link
			position: relative
			display: inline-block
			font: 24px/1 $secfont
			text-transform: uppercase

.btn
	position: relative
	display: block
	width: 280px
	height: 64px
	font-size: 15px
	color: $yellow
	line-height: 62px
	text-align: center
	outline: none
	text-transform: uppercase
	border: 1px solid $yellow
	&:before, &:after
		content: ''
		position: absolute
		width: 54px
		height: 3px
		background: #fff
	&:before
		top: -2px
		left: 10px
	&:after
		bottom: -2px
		right: 10px
	&:hover
		color: $red
		border: 1px solid $red
		&:before, &:after
			display: none
	&:focus
		outline: none
	&-callback
		margin-top: 34px

.col-right
	display: table-cell
	width: 76.19%

.main-block
	padding: 10px 15px 0
	img
		display: block
		width: 100%