@import "bourbon"

$default-font: "BlissPro", sans-serif
$secfont: "BebasNeue", sans-serif
$titlefont: "Compact", sans-serif
$countfont: "GearedSlab", sans-serif
$main-color: #000
$blue: #4cd8ff
$red: #dd007e
$yellow: #ffa200