@import "vars"

/*------------------Answer page-----------------*/
.qa-page
	padding: 100px 0 60px

.qa-form
	display: table
	width: 100%
	margin-bottom: 50px
	&__text
		position: relative
		display: table-cell
		top: -22px
		padding-right: 25px
		vertical-align: middle
		font-size: 37px
		font-weight: 500
		color: #210038
	form
		display: table-cell
	textarea
		width: 614px
		max-width: 100%
		height: 168px
		padding: 10px 0 0 10px
		color: #181818
		outline: none
		vertical-align: middle
		border: 1px solid #626262

.btn--qa
	width: 229px
	height: 42px
	margin-top: 20px
	font-size: 24px
	line-height: 40px
	background-color: #439f00
	border-radius: 21px
	border: none

.qa-item
	margin-bottom: 57px
	&__name
		margin-bottom: 14px
		font-size: 28px
		font-weight: 600
		color: #181818
	&__answer
		margin-bottom: 12px
		padding: 19px 24px 28px
		font-size: 24px
		font-weight: 600
		color: #181818
		background: #cfd8dc
	&__question
		padding: 19px 24px 28px
		font-size: 24px
		color: #181818
		background: rgba(207,216,220, .5)
/*---------------------end----------------------*/