@import "vars"

/*------------------Brend page-----------------*/
.page-title
	padding: 18px 0
	font-size: 37px
	color: #fff
	text-align: center
	text-transform: uppercase
	background: #623086

.brend-page
	padding: 33px 0 75px

.brend-item
	display: table
	width: 100%
	padding: 66px 0 68px
	border-bottom: 1px solid #949494
	&:last-of-type
		border-bottom: none
	&__pict
		display: table-cell
		width: 265px
		max-width: 100%
		vertical-align: middle
		text-align: center
		img
			display: inline-block
			max-width: 100%
	&__descr
		display: table-cell
		padding-left: 39px
		vertical-align: middle
		font-size: 16px
		font-weight: 500
/*----------------------end-----------------------*/