@import "vars"

/*------------------Contact page----------------*/
.contact-page
	padding-bottom: 134px

.contact-box
	width: 100%
	padding: 40px 0
	border-bottom: 1px solid #949494
	&:last-of-type
		border-bottom: none
	&__title
		display: block
		margin-bottom: 27px
		font-size: 34px
		font-weight: 500
		color: #623086
		text-decoration: underline
		&:hover
			text-decoration: none
		&--mob
			display: none
			text-decoration: none

.contact-map
	display: inline-block
	width: 565px
	max-width: 100%
	height: 380px
	vertical-align: middle

.contact-descr
	display: inline-block
	padding-left: 60px
	vertical-align: middle

.contact-list
	margin-bottom: 32px
	li
		margin-bottom: 25px
		font-size: 21px
	span
		display: inline-block
		margin-right: 5px
		font-weight: 600

.btn--contact
	display: inline-block
/*----------------------end---------------------*/