/*---------------Contact page-------------------*/
.map-caption
	padding: 30px 0 33px
	background: #cfd8dc
	.call-block
		display: inline-block
		margin-left: 6%
		vertical-align: middle
		&:before
			top: 17px
	.location
		display: inline-block
		margin-left: 11.7%
		vertical-align: middle
		&:before
			top: 15px
	.mail
		margin-left: 12%
		vertical-align: middle
/*------------------end------------------------*/