/*---------------Price page-------------------*/
.price-block
	margin: 55px 0 65px
	&__title
		margin-bottom: 17px
		font: 700 34px $second-font
		color: $brown

.tb
	display: table
	width: 100%
	//border-collapse: collapse
	&-row
		display: table-row
		&_head
			background: none
		&_body
			&:nth-child(even)
				background: #cfd8dc
	&-cell
		display: table-cell
		padding: 9px 10px
		vertical-align: middle
		&:first-child
			padding-left: 15px
		&_head
			padding: 12px 10px
			font-size: 18px
			color: #404040
		&_body
			padding: 9px 0
			font-size: 22px
		&_name
			width: 57%
			font-weight: 700
		&_price
			width: 27%
/*-------------------end-------------------------*/