@import "vars.sass"
/*-----------------Contact page---------------*/
.content__page
	&.content__page-contact
		text-align: center

.contact__block
	margin: 25px 0 65px
	text-align: center

.contact__address
	&.contact__address-page
		font-size: 17px
		text-align: center
		color: #000

.contact__phone
	&.contact__phone-page
		margin-top: 26px
		font-size: 17px
		font-weight: normal
		color: #000

.contact__mail
	&.contact__mail-page
		margin-top: 5px
		font-size: 17px
		color: #000

.contact__map
	iframe
		width: 100%
		margin: 0 auto
/*--------------------end--------------------*/