@import "vars.sass"
/*-----------------Partner page---------------*/
.content__page
	&.content__page-partner
		padding-bottom: 50px

.partner__descr
	width: 410px
	margin: 26px auto 0
	font-size: 15px
	line-height: 24px
	text-align: center
	a
		display: block
		color: #ff4800
		text-decoration: underline
		&:hover
			text-decoration: none

.partner__items
	margin-top: 65px

.item__logo
	float: left
	position: relative
	width: 170px
	height: 120px
	margin: 0 22px 20px 0
	border: 4px solid #ff4800
	img
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		margin: auto
/*---------------------end--------------------*/