@import "vars.sass"
/*-----------------Service-2 page---------------*/
.content__page
	&.content__page-service
		padding-bottom: 50px

.service__descr
	margin-top: 25px
	ul
		li
			position: relative
			margin-bottom: 2px
			padding-left: 12px
			&:before
				content: ' '
				position: absolute
				top: 7px
				left: 0
				width: 5px
				height: 5px
				border-radius: 50%
				background: #ff4800
	ol
		margin-left: 35px
		li
			list-style-type: decimal-leading-zero

.calc__link
	&.calc__link-service
		margin: 35px 0 34px
/*-------------------end--------------------*/