	<footer class="footer">
		<div class="container">
			<div class="contact">
				<div class="contact-social">
					<a href="#" class="contact-social__fb"></a>
					<a href="#" class="contact-social__vk"></a>
					<a href="#" class="contact-social__tw"></a>
					<a href="#" class="contact-social__gl"></a>
				</div>
				<div class="contact-phone">
					<div class="contact-phone__title">Свяжитесь с нами:</div>
					<a href="tel:+74952355656" class="contact-phone__link">+7 495 235 56 56</a>
					<a href="tel:+74954578974" class="contact-phone__link">+7 495 457 89 74</a>
				</div>
			</div>

			<div class="footer-nav footer-nav--catalog">
				<div class="footer-nav__title">Каталог товаров</div>
				<ul class="footer-menu footer-menu--first">
					<li><a href="#">В квартиру</a></li>
					<li><a href="#">В коттедж</a></li>
					<li><a href="#">Нестандартные</a></li>
					<li><a href="#">Парадные</a></li>
					<li><a href="#">Арочные</a></li>
					<li><a href="#">Тамбурные</a></li>
					<li><a href="#">Технические</a></li>
					<li><a href="#">Решетчатые</a></li>
					<li><a href="#">С зеркалом</a></li>
					<li><a href="#">С терморазрывом</a></li>
				</ul>
				<ul class="footer-menu">
					<li><a href="#">С отделкой МДФ</a></li>
					<li><a href="#">С отделкой ламинатом</a></li>
					<li><a href="#">С отделкой винилискожей</a></li>
					<li><a href="#">Со стеклом и ковкой</a></li>
					<li><a href="#">С отделкой массивом дуба</a></li>
					<li><a href="#">Со скидкой</a></li>
				</ul>
			</div>

			<div class="footer-nav footer-nav--main">
				<div class="footer-nav__title">О магазине</div>
				<ul class="footer-menu">
					<li><a href="#">Как купить</a></li>
					<li><a href="#">Доставка</a></li>
					<li><a href="#">О магазине</a></li>
					<li><a href="#">Гарантия</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>

			<div class="footer-accent">
				<p>Обращаем внимание на то, что данный интернет сайт носит исключительно информативный характер и ни в коем случае не является публичной офертой, согласно Статьи 437 ГК РФ. Все вопросы о стоимосте дверей и установки уточнйяте у менеджера по продаже. Производитель оставляет за собой право, менять комплектацию без предварительного уведомления</p>
			</div>

		</div>
	</footer>

	<div class="hidden">
		<div class="confirm-popup mfp-with-anim">
			<div class="confirm-popup__title">Вы подтверждаете покупку дверей для дома?</div>
			<a href="#" class="confirm-popup__btn confirm-popup__btn--yes">Да</a>
			<a href="#" class="confirm-popup__btn confirm-popup__btn--no">Нет</a>
		</div>
	</div>

	<div class="loader">
		<div class="loader_inner"></div>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery/jquery-1.12.4.min.js"></script>
	<script src="libs/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/formstyler/jquery.formstyler.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>
