	<header class="header clearfix">

		<div id="menu-mob" class="menu-mob">
			<ul class="menu-main">
				<li><a href="#">Как купить</a></li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Гарантия</a></li>
				<li><a href="#">Контакты</a></li>
				<li><a href="#">Акции</a></li>
			</ul>
			<ul class="catalog-menu">
				<li class="catalog-menu__title">Виды дверей</li>
				<li><a href="#">В квартиру<i></i></a></li>
				<li><a href="#">В коттедж<i></i></a></li>
				<li class="active"><a href="#">Нестандартные<i></i></a></li>
				<li><a href="#">Парадные<i></i></a></li>
				<li><a href="#">Арочные<i></i></a></li>
				<li><a href="#">Тамбурные<i></i></a></li>
				<li><a href="#">Технические<i></i></a></li>
				<li><a href="#">Решетчатые<i></i></a></li>
				<li><a href="#">С зеркалом<i></i></a></li>
				<li><a href="#">С терморазрывом<i></i></a></li>
			</ul>
			<ul class="catalog-menu">
				<li class="catalog-menu__title">Типы дверей</li>
				<li><a href="#">С отделкой МДФ<i></i></a></li>
				<li><a href="#">С отделкой ламинатом<i></i></a></li>
				<li><a href="#">С отделкой винилискожей<i></i></a></li>
				<li><a href="#">Со стеклом и ковкой<i></i></a></li>
				<li><a href="#">С отделкой массивом дуба<i></i></a></li>
				<li><a href="#">Со скидкой<i></i></a></li>
			</ul>
		</div>
		<div class="container clearfix">
			<div class="logo-block">
				<a href="#" class="logo"><img src="img/logo.svg" alt=""></a>
			</div>
			<div class="header-main">
				<div class="header-top">
					<div id="btn-mob" class="menu-toggle">
						<div class="menu-toggle__wrap">
							<b></b>
							<b></b>
							<b></b>
						</div>
						<div class="menu-toggle__title">Капрал</div>
					</div>
					<ul class="header-nav">
						<li><a href="#">Как купить</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Гарантия</a></li>
						<li><a href="#">Контакты</a></li>
						<li class="accent"><a href="#">Акции</a></li>
					</ul>
					<div class="callback">
						<a href="#" class="callback-link">Обратный звонок</a>
						<span>Ежедневно с 9:00 до 22:00</span>
					</div>
				</div>
				<div class="header-phone">
					<a href="tel:+74952556889" class="header-phone__link">+7 495 255 68 89</a>
					<a href="tel:+74952357896" class="header-phone__link">+7 495 235 78 96</a>
				</div>
				<div class="header-call">
					<a href="#" class="header-call__request">Заказать звонок<i></i></a>
					<a href="#" class="header-call__measure">Вызов замерщика<i></i></a>
				</div>
				<div class="header-info">
					<span class="header-info__delivery">Бесплатная доставка от 10 000 р.</span>
					<span class="header-info__setup">Бесплатная установка от 17 000 р.</span>
				</div>
			</div>
		</div>
	</header>