	<a id="scroll-top" href="#" class="scroll-top">наверх</a>

	<footer class="footer">
		<div class="container">
			<div class="callback">
				<div class="callback__phone">+7 (495) 345-67-89</div>
				<a href="#qst-form" class="btn btn_var5 popup" data-effect="mfp-zoom-in">Задать вопрос</a>
			</div>
			<div class="footer-contact">
				<a href="mailto:cakestoday@mail.ru" class="footer-contact__mail">cakestoday@mail.ru</a>
				<div class="social">
					<a href="#" class="social__link social__link_1">vkontakte</a>
					<a href="#" class="social__link social__link_2">instagram</a>
				</div>
			</div>
			<div class="footer-info">
				<div class="footer-info__work"><span>График работы:</span>С 9.00 до 20.00 (без выходных)</div>
				<div class="copyright">&copy; 2017. Cakes Today. Все права защищены.</div>
			</div>
		</div>
	</footer>

	<div class="hidden">
		<div id="reg-form" class="modal-form mfp-with-anim">
			<div class="modal-form__title">Регистрация</div>
			<form action="#">
				<input type="text" placeholder="Логин:">
				<input type="text" placeholder="Пароль:">
				<input type="text" placeholder="Повторите пароль:">
				<button class="btn btn_var7">Зарегистрироваться</button>
			</form>
		</div>

		<div id="cons-form" class="modal-form mfp-with-anim">
			<div class="modal-form__title">Консультация</div>
			<form action="#">
				<input type="text" placeholder="Ваше имя:">
				<input type="text" placeholder="Ваш номер телефона:">
				<button class="btn btn_var7">Перезвонить</button>
			</form>
			<div class="modal-form__info">
				<p>Мы перезвоним вам в ближайшее время<br>и ответим на вопросы</p>
			</div>
		</div>

		<div id="qst-form" class="modal-form mfp-with-anim">
			<div class="modal-form__title">Задать вопрос</div>
			<form action="#">
				<fieldset class="in-wrap">
					<input type="text" placeholder="Ваше имя:">
					<input type="text" placeholder="Ваша электронная почта:">
				</fieldset>
				<textarea cols="30" rows="10" placeholder="Ваш вопрос:"></textarea>
				<div class="modal-form__info">
					<p>Ответ придет на адрес электронной почты,<br>который вы указали</p>
				</div>
				<button class="btn btn_var7">Отправить</button>
			</form>
		</div>
	</div>

	<div class="loader">
		<div class="loader_inner"></div>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery/jquery-1.12.4.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>
	<script src="libs/autocolumnlist/jquery.autocolumnlist.min.js"></script>
	<script src="libs/formstyler/jquery.formstyler.min.js"></script>

	<script src="js/common.js"></script>
