	<header class="header header_inner">
		<div class="header-top">
			<div class="container">

				<a href="/" class="logo"><img src="img/logo.png" alt=""></a>

				<div class="location"><p>г. Москва, ул. Пушкина, 23 / 234</p></div>

				<div class="mail"><span>Эл. почта:&nbsp;</span><a href="mailto:cakestoday@mail.ru">cakestoday@mail.ru</a></div>

				<div class="search">
					<input type="search" placeholder="Поиск по сайту:">
					<button class="search__button"></button>
				</div>

				<a href="tel:+74952344567" class="phone">+7 (495) 234-45-67</a>

				<div class="login">
					<a href="#" class="login__link">Личный кабинет</a>
					<div class="login-form">
						<form action="#">
							<input type="text" placeholder="Логин:">
							<input type="text" placeholder="Пароль:">
							<button class="btn btn_var6">Войти</button>
						</form>
						<a href="#reg-form" class="login__reglink popup" data-effect="mfp-zoom-in">Зарегистрироваться</a>
					</div>
				</div>

			</div>
		</div>
		<div class="navbar">
			<div class="container">
				<div class="overlay"></div>
				<a href="#" class="btn-menu">
					<b></b>
					<b></b>
					<b></b>
				</a>
				<ul class="nav">
					<li class="search search_mob">
						<input type="search" placeholder="Поиск по сайту:">
						<button class="search__button"></button>
					</li>
					<li>
						<a href="#">Каталог тортов<i class="caret"></i></a>
						<ul class="nav-submenu">
							<li><a href="#">Детские торты</a></li>
							<li><a href="#">Свадебные торты</a></li>
							<li><a href="#">Диетические торты </a></li>
							<li><a href="#">Фото-торты</a></li>
							<li><a href="#">Торты без мастики</a></li>
							<li><a href="#">Праздничные торты</a></li>
							<li><a href="#">Новогодние торты</a></li>
							<li><a href="#">Vip торты</a></li>
							<li><a href="#">Корпоративные торты</a></li>
							<li><a href="#">Торт для лица </a></li>
							<li><a href="#">Капкейки и пироженные</a></li>
							<li><a href="#">Кейкпопсы</a></li>
							<li><a href="#">Торты для взрослых 18+</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Начинки<i class="caret"></i></a>
						<ul class="nav-submenu">
							<li><a href="#">Фигурки</a></li>
							<li><a href="#">Условия и досткавка</a></li>
							<li><a href="#">О нас</a></li>
							<li><a href="#">Акции</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</li>
					<li><a href="#">Фигурки</a></li>
					<li><a href="#">Условия и досткавка</a></li>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Акции</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<a href="#" class="navbar-cart">
					<span class="navbar-cart__count">2 шт.</span>
					<span class="navbar-cart__total">21 000 руб</span>
				</a>
			</div>
		</div>
	</header>