	<header class="header">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar icon-bar_top"></span>
								<span class="icon-bar icon-bar_center"></span>
								<span class="icon-bar icon-bar_bottom"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbar-collapse-1">
								<ul class="nav">
									<li><a href="#">Оплата</a></li>
									<li><a href="#">Доставка</a></li>
									<li><a href="#">Наши реквизиты</a></li>
									<li><a href="#">Контакты</a></li>
								</ul>
								<ul class="menu-accent">
									<li><a href="#">Авторемонт</a></li>
									<li><a href="#">Промышленность</a></li>
								</ul>

								<div class="personal-block">
									<a href="#" class="login">Войти</a>
									<a href="#" class="signin">Регистрация</a>
								</div>

							</div>

						</nav>

						<div class="find-btn">Подобрать<span>Компьютерный подбор эмали</span></div>


					</div>
				</div>
			</div>
		</div>
		<div class="header-main">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<a href="/" class="logo"><img src="img/logo.png" alt=""></a>
						<div class="search-block">
							<div class="search-block__title">Воспользуйтесь для удобства, нашим поиском</div>
							<div class="search-wrap">
								<input class="search-wrap__in" type="search" placeholder="Я хочу найти">
								<button class="search-wrap__icon">search</button>
							</div>
						</div>
						<div class="callback-block">
							<a href="tel:+74956655292" class="phone"><span>8 (495)</span> 66-55-292</a>
							<a href="#callback-form" class="callback popup" data-effect="mfp-zoom-in">Заказать обратный звонок</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-cart">
						<a href="#" class="header-cart__link"><i></i>Корзина</a>
						<div class="header-cart__count">товаров <span>15</span></div>
					</div>
				</div>
			</div>
		</div>
	</header>