@import "vars"

/*--------------Article page-------------*/
.main
	&.main--article
		padding-bottom: 119px

.page-title--article
	margin: 16px 0 25px

.article-item--page
	.article-item__pict
		margin-bottom: 33px
	.article-item__text
		p
			margin-bottom: 25px

.btn--article
	width: 228px
	height: 47px
	margin-top: 19px
/*------------------end-------------------*/