@import "vars"

/*--------------Brend page-------------*/
.section-brend
	padding-bottom: 60px
	background: #232120
	.container
		padding: 0 40px

.page-title--brend
	margin: 17px 0 39px
	color: #fff

.letter-block--brend
	margin: 0 0 78px 180px
	&:before,
	&:after
		content: " "
		display: table
	&:after
		clear: both

.block-title--brend
	float: left
	margin: 15px 62px 0 0
	font-size: 82px
	&:after
		display: none

.letter-menu--brend
	float: left

.letter-menu__col
	display: inline-block
	width: 210px
	vertical-align: top
	&.last
		margin-right: 0
/*-----------------end------------------*/