@import "vars"

/*--------------Info page-------------*/
.main--info
	padding: 0 15px 63px 40px

.page-title--info
	margin: 14px 0 18px
	border-bottom: 1px solid $title

.info-text
	margin-bottom: 45px
	line-height: 24px
	letter-spacing: 0.5px
	p
		margin-bottom: 22px
	ul
		margin-top: 10px
		li
			margin-bottom: 15px
			font: 15px "anahit"
			font-weight: bold

.btn--info
	margin-top: 77px
/*----------------end------------------*/