@import "vars"

/*--------------Contact page-------------*/
.section-sale
	padding-bottom: 124px
	background: #232120
	.container
		padding: 0 40px

.page-title--sale
	margin: 12px 0 32px
	color: #fff

.banner-block--sale
	border-top: none

.banner-block--main
	float: left
	margin-right: 30px

.banner-block--sale
	padding: 0

.banner--main
	width: 681px
	height: 652px
	border-color: $main-color

.banner
	&--sale
		float: none
		display: block
		margin: 0
		padding: 30px 35px
		border-color: $main-color
		&:hover
			box-shadow: none
		.banner__title
			margin-bottom: 24px
			letter-spacing: -1px
			line-height: 30px
		.banner__accent
			margin: 35px 0 33px
			font-size: 20px
			font-weight: 700
			color: #fff
		.banner__text
			color: #fff
			span
				font-size: 20px
			ul
				margin-top: 12px
				li
					margin-bottom: 12px
					font-size: 15px

.banner-block--second
	float: left

.banner--second
	width: 599px
	height: 192px
	margin-bottom: 38px

.sale-text
	width: 680px
	color: #999999
	clear: both
	&--mob
		display: none
	p
		margin-bottom: 20px
/*-----------------end--------------------*/