/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$arrow-left-mob-name: 'arrow-left-mob'
$arrow-left-mob-x: 189px
$arrow-left-mob-y: 35px
$arrow-left-mob-offset-x: -189px
$arrow-left-mob-offset-y: -35px
$arrow-left-mob-width: 15px
$arrow-left-mob-height: 35px
$arrow-left-mob-total-width: 204px
$arrow-left-mob-total-height: 160px
$arrow-left-mob-image: '../img/sprite.png'
$arrow-left-mob: (189px, 35px, -189px, -35px, 15px, 35px, 204px, 160px, '../img/sprite.png', 'arrow-left-mob', )
$arrow-left-name: 'arrow-left'
$arrow-left-x: 189px
$arrow-left-y: 85px
$arrow-left-offset-x: -189px
$arrow-left-offset-y: -85px
$arrow-left-width: 7px
$arrow-left-height: 16px
$arrow-left-total-width: 204px
$arrow-left-total-height: 160px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (189px, 85px, -189px, -85px, 7px, 16px, 204px, 160px, '../img/sprite.png', 'arrow-left', )
$arrow-right-mob-name: 'arrow-right-mob'
$arrow-right-mob-x: 189px
$arrow-right-mob-y: 0px
$arrow-right-mob-offset-x: -189px
$arrow-right-mob-offset-y: 0px
$arrow-right-mob-width: 15px
$arrow-right-mob-height: 35px
$arrow-right-mob-total-width: 204px
$arrow-right-mob-total-height: 160px
$arrow-right-mob-image: '../img/sprite.png'
$arrow-right-mob: (189px, 0px, -189px, 0px, 15px, 35px, 204px, 160px, '../img/sprite.png', 'arrow-right-mob', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 196px
$arrow-right-y: 85px
$arrow-right-offset-x: -196px
$arrow-right-offset-y: -85px
$arrow-right-width: 7px
$arrow-right-height: 16px
$arrow-right-total-width: 204px
$arrow-right-total-height: 160px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (196px, 85px, -196px, -85px, 7px, 16px, 204px, 160px, '../img/sprite.png', 'arrow-right', )
$cart-add-mob-name: 'cart-add-mob'
$cart-add-mob-x: 97px
$cart-add-mob-y: 73px
$cart-add-mob-offset-x: -97px
$cart-add-mob-offset-y: -73px
$cart-add-mob-width: 40px
$cart-add-mob-height: 41px
$cart-add-mob-total-width: 204px
$cart-add-mob-total-height: 160px
$cart-add-mob-image: '../img/sprite.png'
$cart-add-mob: (97px, 73px, -97px, -73px, 40px, 41px, 204px, 160px, '../img/sprite.png', 'cart-add-mob', )
$cart-add-name: 'cart-add'
$cart-add-x: 149px
$cart-add-y: 0px
$cart-add-offset-x: -149px
$cart-add-offset-y: 0px
$cart-add-width: 40px
$cart-add-height: 41px
$cart-add-total-width: 204px
$cart-add-total-height: 160px
$cart-add-image: '../img/sprite.png'
$cart-add: (149px, 0px, -149px, 0px, 40px, 41px, 204px, 160px, '../img/sprite.png', 'cart-add', )
$cart-btn-name: 'cart-btn'
$cart-btn-x: 27px
$cart-btn-y: 131px
$cart-btn-offset-x: -27px
$cart-btn-offset-y: -131px
$cart-btn-width: 20px
$cart-btn-height: 21px
$cart-btn-total-width: 204px
$cart-btn-total-height: 160px
$cart-btn-image: '../img/sprite.png'
$cart-btn: (27px, 131px, -27px, -131px, 20px, 21px, 204px, 160px, '../img/sprite.png', 'cart-btn', )
$cart-mob-name: 'cart-mob'
$cart-mob-x: 0px
$cart-mob-y: 73px
$cart-mob-offset-x: 0px
$cart-mob-offset-y: -73px
$cart-mob-width: 56px
$cart-mob-height: 58px
$cart-mob-total-width: 204px
$cart-mob-total-height: 160px
$cart-mob-image: '../img/sprite.png'
$cart-mob: (0px, 73px, 0px, -73px, 56px, 58px, 204px, 160px, '../img/sprite.png', 'cart-mob', )
$cart-white-name: 'cart-white'
$cart-white-x: 0px
$cart-white-y: 131px
$cart-white-offset-x: 0px
$cart-white-offset-y: -131px
$cart-white-width: 27px
$cart-white-height: 29px
$cart-white-total-width: 204px
$cart-white-total-height: 160px
$cart-white-image: '../img/sprite.png'
$cart-white: (0px, 131px, 0px, -131px, 27px, 29px, 204px, 160px, '../img/sprite.png', 'cart-white', )
$cart-name: 'cart'
$cart-x: 149px
$cart-y: 75px
$cart-offset-x: -149px
$cart-offset-y: -75px
$cart-width: 27px
$cart-height: 29px
$cart-total-width: 204px
$cart-total-height: 160px
$cart-image: '../img/sprite.png'
$cart: (149px, 75px, -149px, -75px, 27px, 29px, 204px, 160px, '../img/sprite.png', 'cart', )
$mail-mob-name: 'mail-mob'
$mail-mob-x: 72px
$mail-mob-y: 0px
$mail-mob-offset-x: -72px
$mail-mob-offset-y: 0px
$mail-mob-width: 77px
$mail-mob-height: 54px
$mail-mob-total-width: 204px
$mail-mob-total-height: 160px
$mail-mob-image: '../img/sprite.png'
$mail-mob: (72px, 0px, -72px, 0px, 77px, 54px, 204px, 160px, '../img/sprite.png', 'mail-mob', )
$mail-name: 'mail'
$mail-x: 149px
$mail-y: 104px
$mail-offset-x: -149px
$mail-offset-y: -104px
$mail-width: 33px
$mail-height: 23px
$mail-total-width: 204px
$mail-total-height: 160px
$mail-image: '../img/sprite.png'
$mail: (149px, 104px, -149px, -104px, 33px, 23px, 204px, 160px, '../img/sprite.png', 'mail', )
$phone-contact-name: 'phone-contact'
$phone-contact-x: 149px
$phone-contact-y: 41px
$phone-contact-offset-x: -149px
$phone-contact-offset-y: -41px
$phone-contact-width: 34px
$phone-contact-height: 34px
$phone-contact-total-width: 204px
$phone-contact-total-height: 160px
$phone-contact-image: '../img/sprite.png'
$phone-contact: (149px, 41px, -149px, -41px, 34px, 34px, 204px, 160px, '../img/sprite.png', 'phone-contact', )
$phone-icon-mob-name: 'phone-icon-mob'
$phone-icon-mob-x: 0px
$phone-icon-mob-y: 0px
$phone-icon-mob-offset-x: 0px
$phone-icon-mob-offset-y: 0px
$phone-icon-mob-width: 72px
$phone-icon-mob-height: 73px
$phone-icon-mob-total-width: 204px
$phone-icon-mob-total-height: 160px
$phone-icon-mob-image: '../img/sprite.png'
$phone-icon-mob: (0px, 0px, 0px, 0px, 72px, 73px, 204px, 160px, '../img/sprite.png', 'phone-icon-mob', )
$phone-icon-name: 'phone-icon'
$phone-icon-x: 72px
$phone-icon-y: 54px
$phone-icon-offset-x: -72px
$phone-icon-offset-y: -54px
$phone-icon-width: 19px
$phone-icon-height: 19px
$phone-icon-total-width: 204px
$phone-icon-total-height: 160px
$phone-icon-image: '../img/sprite.png'
$phone-icon: (72px, 54px, -72px, -54px, 19px, 19px, 204px, 160px, '../img/sprite.png', 'phone-icon', )
$search-mob-name: 'search-mob'
$search-mob-x: 56px
$search-mob-y: 73px
$search-mob-offset-x: -56px
$search-mob-offset-y: -73px
$search-mob-width: 41px
$search-mob-height: 45px
$search-mob-total-width: 204px
$search-mob-total-height: 160px
$search-mob-image: '../img/sprite.png'
$search-mob: (56px, 73px, -56px, -73px, 41px, 45px, 204px, 160px, '../img/sprite.png', 'search-mob', )
$search-name: 'search'
$search-x: 189px
$search-y: 70px
$search-offset-x: -189px
$search-offset-y: -70px
$search-width: 14px
$search-height: 15px
$search-total-width: 204px
$search-total-height: 160px
$search-image: '../img/sprite.png'
$search: (189px, 70px, -189px, -70px, 14px, 15px, 204px, 160px, '../img/sprite.png', 'search', )
$triangle-menu-name: 'triangle-menu'
$triangle-menu-x: 189px
$triangle-menu-y: 101px
$triangle-menu-offset-x: -189px
$triangle-menu-offset-y: -101px
$triangle-menu-width: 12px
$triangle-menu-height: 6px
$triangle-menu-total-width: 204px
$triangle-menu-total-height: 160px
$triangle-menu-image: '../img/sprite.png'
$triangle-menu: (189px, 101px, -189px, -101px, 12px, 6px, 204px, 160px, '../img/sprite.png', 'triangle-menu', )
$spritesheet-width: 204px
$spritesheet-height: 160px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-left-mob, $arrow-left, $arrow-right-mob, $arrow-right, $cart-add-mob, $cart-add, $cart-btn, $cart-mob, $cart-white, $cart, $mail-mob, $mail, $phone-contact, $phone-icon-mob, $phone-icon, $search-mob, $search, $triangle-menu, )
$spritesheet: (204px, 160px, '../img/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
