@import "bourbon"
@import "grid"
@import "vars"
@import "sprite"

@media only screen and (max-width : 1390px)
	.nav__item
		margin-right: 25px
		&--last
			margin-left: 280px

	.nav-change
		padding: 0 10px
		&__title
			margin-right: 0

	.change-list__link
		padding: 17px 9.7px

	.letter
		left: 25px
		max-width: 1149px

	.content--top
		padding-bottom: 50px

	.main
		width: 830px

	.sidebar
		width: 260px
		padding-right: 20px

	.adv-item
		padding: 85px 20px 68px

	.banner
		width: 270px
		margin-right: 10px
		padding: 20px 10px 10px

	.footer-block
		&--form
			margin-left: 0

	/*-----------------House page--------------*/
	.tab-head
		&__link
			&--card
				left: 0

	.card-item
		&--inner
			width: 250px
			margin: 0 0 33px

	.text-block
		padding-right: 0
	/*---------------------end------------------*/

	/*-----------------Tovar page--------------*/
	.main--tovar
		padding-right: 15px

	.tovar
		width: 400px

	.tovar-descr
		width: 45.5%
		margin-left: 20px
		&__line
			margin: 40px 0

	.tovar-banner
		float: none
		display: block
		width: 100%
		margin-bottom: 20px
		&--2
			width: 100%
		&--3
			width: 100%

	.tovar-change
		width: 100%
		&__main
			width: 400px
			font-size: 14px
			&:after
				top: 25px
		&__count
			padding-left: 10px
	/*---------------------end------------------*/

	/*--------------Contact page-------------*/
	.banner-block--main
		margin-right: 20px

	.banner
		&--sale
			padding: 20px 25px

	.banner--main
		width: 620px

	.banner--second
		width: 470px
	/*------------------end-------------------*/

	/*------------------Brend page--------------*/
	.letter-block--brend
		margin-left: 100px
	/*---------------------end------------------*/


@media only screen and (max-width : 1200px)
	.nav
		&--header
			margin-left: 0
		&__item
			margin-right: 10px
			&--last
				margin-left: 230px

	.logo
		&:before
			height: 125px

	.nav-change
		height: 78px
		&__title
			display: block
			margin-top: 10px
			text-align: center

	.change-list
		&__link
			padding: 14px 9.3px

	.search
		top: 7px

	.letter
		top: 76px
		left: 0
		max-width: 100%

	.letter-list
		&__col
			margin-right: 5%

	.content
		.container
			padding: 0 15px

	.main
		width: 720px

	.sidebar
		width: 250px

	.adv-item
		padding: 85px 10px 68px

	.banner
		width: 233px
		height: 220px
		&__title
			font-size: 18px

	footer
		.container
			padding: 0 15px

	.footer-block
		&--form
			margin-left: 40px

	.nav
		&--footer
			.nav__item
				&--last
					margin-top: 155px

	.contact-form
		input
			width: 434px
		textarea
			display: block
			margin-left: 0

	/*-----------------House page--------------*/
	.header
		&--inner
			padding-top: 253px
			&.header--fixed
				height: 241px

	.main--inner
		padding: 0 15px 0 0

	.page-title--card
		padding-left: 10px

	.card-descr
		padding-left: 10px

	.tab-head
		&__link
			&--card
				margin: 0 15px

	.card-item--inner
		width: 270px

	.sidebar--inner
		padding: 0 15px 0 35px
	/*---------------------end------------------*/

	/*-----------------Tovar page--------------*/
	.main--tovar
		padding-bottom: 50px

	.tovar
		width: 100%

	.tovar-thumb__pict
		width: 33.1%
		height: 120px

	.tovar-descr
		width: 100%
		margin-left: 0

	.tovar-banner
		float: left
		width: 32.8%
		&--2
			width: 32.8%
		&--3
			width: 32.8%

	.tovar-change
		&__main
			width: 315px
			font-size: 12px
		&__count
			input
				width: 60px
	/*---------------------end------------------*/

	/*--------------Cart page-------------*/
	.cart-cell--main
		width: 50%
		padding-left: 0

	.cart-name
		padding-left: 0

	.cart-cell--price
		width: 10%

	.cart-cell--count
		width: 15%

	.cart-cell--total
		width: 12%

	.cart-cell--remove
		padding-right: 15px

	.order-form
		margin-right: 40px
	/*-------------------end---------------*/

	/*--------------Contact page-------------*/
	.banner-block--main
		float: none
		margin-right: 0

	.banner
		&--sale
			padding: 15px
			.banner__accent
				font-size: 18px
			.banner__text
				span
					font-size: 18px
				ul
					li
						font-size: 12px

	.banner--main
		width: 100%
		height: auto
		margin-bottom: 30px
		padding: 50px

	.banner-block--second
		float: none

	.banner--second
		float: left
		width: 300px
		height: auto
		min-height: 270px
	/*------------------end-------------------*/

	/*------------------Brend page--------------*/
	.letter-block--brend
		margin-left: 0

	.letter-menu__col
		width: 190px
	/*---------------------end------------------*/


@media only screen and (max-width : 1000px)
	.header-top
		position: static
		padding-bottom: 55px
		background: #232120
		&--fixed
			position: static
		.container
			position: static
			padding: 0 40px

	.menu-btn
		display: inline-block

	.nav
		&--header
			position: absolute
			top: 300px
			left: -120%
			width: 100%
			height: auto
			padding-top: 60px
			text-align: center
			z-index: 998
			transition: left 0.3s ease-out
			background: #232120
			&.open
				left: 0
			.nav__item
				display: block
				margin-right: 0
				padding: 66px 0 60px
				border-bottom: 2px solid #2e2e2e
				&:first-child
					border-top: 2px solid #2e2e2e
				&--last
					margin-left: 0
				&--hide
					display: block
			.nav__link
				font: 50px "anahit"
				color: $title
				text-transform: uppercase

	.logo
		top: 12px
		width: 100%
		&:before
			top: -13px
			height: 222px
		img
			width: 245px

	.contact
		&--header
			float: none
			margin-top: 88px
			overflow: hidden
			text-align: center
			.contact__phone
				display: inline-block
				margin-right: 0
				font-size: 40px
				&:first-child
					float: left
				&:nth-child(2)
					float: right
			.contact__work
				display: none

	.cart
		position: relative
		float: right
		top: 79px
		right: 0
		&:before
			top: -58px
			left: 30px
			@include sprite($cart-mob)
		&-link
			font-size: 25px
			text-align: center
			&__count
				display: block
				&:after
					display: none

	.nav-wrap
		position: relative
		.container
			width: 100%
			padding: 0

	.nav-change
		width: 820px
		height: auto
		margin: 37px auto 0
		padding: 12px 28px 10px
		&__title
			font-size: 25px

	.change-list
		margin-top: 3px
		&__item
			float: left
			width: 11%
			margin-right: 0
			text-align: center
			&--last
				width: 23%
		&__link
			padding: 25px 0
			font-size: 50px

	.search
		left: 29px
		width: 820px
		margin-top: 33px
		input
			height: 101px
			padding-right: 190px
			font-size: 30px
		&-btn
			width: 188px
			height: 101px
			i
				@include sprite($search-mob)

	.search-result
		width: 104%
		padding: 165px 50px 40px
		&__title
			font-size: 35px
		&__item
			margin-bottom: 30px
		&__link
			font-size: 35px

	.letter
		left: 0
		width: 100%
		padding: 17px 23px 44px
		max-width: none
		&.letter-a,&.letter-b,&.letter-c,
		&.letter-d,&.letter-e,&.letter-f,
		&.letter-g,&.letter-h,&.letter-i
			top: 215px
		&.letter-j,&.letter-k,&.letter-l,
		&.letter-m,&.letter-n,&.letter-o,
		&.letter-p,&.letter-r,&.letter-s
			top: 335px
		&.letter-t,&.letter-u,&.letter-v,
		&.letter-w,&.letter-x,&.letter-y,
		&.letter-z,&.letter-09
			top: 455px

	.letter__name
		font-size: 50px
		&:after
			top: 35px
		span
			padding-right: 32px

	.letter-list
		&__item
			margin-bottom: 23px
		&__link
			font-size: 35px

	.letter-list__col
		margin-right: 0
		&:nth-child(odd)
			width: 57%
		&:nth-child(even)
			width: 40%

	.header-main
		position: relative
		top: -1px

	.arrow-block
		display: none

	.slider-pict
		width: 120%
		height: 700px

	.slider-caption
		bottom: auto
		top: 55px
		text-align: center
		.container
			padding: 0 140px
		&__title
			margin-bottom: 32px
			font-size: 60px
		&__descr
			font-size: 35px
			line-height: 48px
		&__price
			margin-left: 46px
			font-size: 40px

	.btn
		&--look
			width: 257px
			height: 78px
			margin-top: 48px
			font-size: 20px
			color: $title
			line-height: 70px
			border-color: $title
			&:hover
				color: $main-color
				border-color: $main-color

	.slick-dots
		bottom: 51px
		li
			button
				width: 16px
				height: 17px
				margin: 0 4px

	.main-tabs
		.container
			width: 100%
			padding: 0 18px

	.tab-head
		width: 100%
		margin-top: -20px
		padding-top: 31px
		&__link
			margin: 0 38px
			font-size: 35px

	.tab-body
		height: 972px

	.card-item
		min-height: 972px
		padding-bottom: 72px
		&__pict
			height: 500px
			img
				max-width: 500px
				max-height: 500px
				height: 100%
		&__descr
			margin-top: 40px
		&__name
			margin-bottom: 18px
			font-size: 70px
		&__brend
			margin-bottom: 35px
			font-size: 51px
		&__size
			font-size: 51px
		&__country
			font-size: 51px
		&__price
			font-size: 70px
		&:hover
			.card-item
				&__descr
					margin-top: 70px
				&__brend
					margin-bottom: 40px
				&__size
					margin-bottom: 40px
				&__country
					margin-bottom: 50px

	.btn
		&--cart
			width: 437px
			height: 134px
			margin-top: 80px
			font-size: 35px
			line-height: 130px

	.slick
		&-arrow
			width: 92px
			height: 95px
		&-prev
			&:before
				@include sprite($arrow-left-mob)
		&-next
			&:before
				@include sprite($arrow-right-mob)

	.content
		&--top
			padding: 60px 0 150px
		.container
			width: 100%
			padding: 0

	.main
		width: 100%
		padding-bottom: 100px
		text-align: center

	.block-title
		margin-bottom: 56px
		font-size: 60px
		text-align: center
		&:after
			display: none

	.article__descr
		margin-top: 40px
		padding: 0 40px
		font-size: 35px
		line-height: 1.2

	.sidebar
		width: 100%
		text-align: center

	.block-title
		&--more
			margin-bottom: 100px

	.about
		img
			height: 520px

	.article
		margin-bottom: 84px
		padding: 0 140px
		&__title
			margin-bottom: 40px
			font: 40px "firasans"
		&__text
			margin-bottom: 34px
			font-size: 35px
			line-height: 1.4
		&__date
			font-size: 35px

	.btn
		&--all
			width: 437px
			height: 134px
			margin-top: 33px
			font-size: 35px
			color: $title
			line-height: 130px
			border: 5px solid $title
			&:hover
				color: $main-color
				border-color: $main-color

	.adv-block
		padding: 163px 0 48px
		background: url(../img/adv-bg-mob.jpg) center top no-repeat
		background-size: cover

	.adv-item
		float: none
		width: 100%
		margin-bottom: 159px
		padding: 0 90px 0
		&:after
			display: none
		img
			height: 100%
		&__title
			margin: 38px 0 11px
			font-size: 45px
		&__descr
			font-size: 35px
			line-height: 63px

	.content
		&--bottom
			padding: 105px 0 30px

	.letter-block
		padding: 0 191px 0

	.block-title
		&--letter
			margin-bottom: 40px
			padding-bottom: 65px
			font-size: 65px
			border-bottom: 3px solid $title

	.letter-menu
		&__link
			font-size: 35px
		&__item
			margin-bottom: 22px

	.btn
		&--brend
			width: 412px
			height: 117px
			margin-top: 70px
			font-size: 35px
			line-height: 110px

	.house
		padding: 149px 0 0

	.block-title
		&--house
			margin-bottom: 35px

	.article-slider
		margin-bottom: 62px
		img
			width: auto
			height: 540px

	.banner-block
		padding-top: 63px

	.banner
		float: none
		width: 797px
		height: 515px
		margin: 0 auto 65px
		padding: 41px 48px 10px
		text-align: left
		&__title
			font-size: 65px
		&__text
			font-size: 35px
			line-height: 64px
		&:last-child
			margin-right: auto

	.btn
		&--sale
			width: 600px
			height: 117px
			margin-top: 50px
			font-size: 35px
			line-height: 110px

	footer
		padding: 62px 0 22px
		.container
			padding: 0

	.footer-block
		float: none
		margin-bottom: 47px
		&__name
			margin-bottom: 80px
			font-size: 60px

	.nav
		&--footer
			.nav__item
				margin-bottom: 56px
				&--last
					display: none
			.nav__link
				font-size: 40px

	.footer-block
		width: 753px
		margin: 0 auto 47px
		&--form
			margin: 0 auto 89px
			.footer-block__name
				margin-bottom: 35px

	.contact-form
		width: 753px
		margin: 0 auto
		fieldset
			display: block
		input
			width: 100%
			height: 139px
			margin-bottom: 25px
			padding-left: 65px
			font-size: 35px
			border: 3px solid #5b4f4b
		textarea
			width: 100%
			height: 496px
			padding: 41px 0 0 65px
			font-size: 35px
			border: 3px solid #5b4f4b

	.btn
		&--form
			width: 380px
			height: 117px
			margin-top: 75px
			font-size: 35px
			line-height: 110px

	.footer-block
		&--contact
			.footer-block__name
				margin-bottom: 53px

	.contact
		&--footer
			float: left
			margin-left: 118px
			.contact__phone
				margin-bottom: 17px
				font-size: 65px
				&--first
					&:before
						top: 8px
						left: -112px
						@include sprite($phone-icon-mob)
			.contact__work
				margin-top: 75px
				font-size: 40px
				line-height: 1.2

	.copyright
		margin-top: 110px
		padding-top: 22px
		font-size: 20px

	/*-----------------House page--------------*/
	.header--inner
		padding-top: 0
		height: auto

	.content--inner
		display: block

	.main--inner
		display: block
		width: 100%
		padding: 65px 15px 58px

	.breadcrumb
		display: none

	.logo-brend
		float: none
		top: 0
		width: 100%
		img
			max-width: 390px

	.page-title--card
		display: block
		margin: 37px 0 0
		font-size: 60px
		text-align: center

	.card-descr
		display: none

	.tab-head--card
		margin-top: 72px

	.tab-head__link--card
		margin-bottom: 104px
		padding-bottom: 0
		font-size: 60px
		&:last-child
			margin-bottom: 0

	.tab-body--card
		height: auto
		margin-top: 90px

	.card-item--inner
		float: none
		width: 100%
		margin-bottom: 20px
		&:nth-child(n+7)
			display: none

	.text-block
		display: none
		&--mob
			display: block

	.sidebar
		&.sidebar--inner
			display: block
			width: 100%
			padding: 89px 15px 140px

	.letter-block--card
		top: 0
		padding: 0 15px

	.block-title--card
		margin-bottom: 124px
		line-height: 100px
		&:after
			display: block
			width: 700px
			height: 3px
			bottom: -47px
			left: 0
			right: 0
			margin: 0 auto

	.menu-type
		margin-bottom: 44px
		font-size: 35px

	.letter-menu--card
		margin: 0 0 106px
		.letter-menu__item
			margin-bottom: 50px

	.banner-block
		margin-top: 106px
		&__title
			display: none

	.banner-card
		display: inline-block
		width: 797px
		height: 515px
		border: 4px solid #58504c
		&:last-child
			display: block

	.banner__title--card
		color: $title
		&:hover
			color: #fff

	.btn--sale
		margin: 58px auto 0

	.text-block
		&--mob
			display: block
			padding: 119px 35px 81px
			text-align: center
		&__title--mob
			margin-bottom: 36px
			font-size: 60px
			text-transform: uppercase
		&__descr--mob
			font-size: 35px
			line-height: 48px
			p
				margin-bottom: 48px
	/*--------------------end-------------------*/

	/*-----------------Tovar page--------------*/
	.main--tovar
		padding: 27px 0 150px

	.card-descr--tovar
		display: block
		margin-top: 25px
		font-size: 35px
		line-height: 48px

	.tovar
		float: none
		margin: 68px 0 65px

	.tovar-pict
		height: 605px
		img
			max-width: 440px

	.tovar-thumb__pict
		height: 200px

	.tovar-banner
		display: none

	.tovar-descr
		float: none
		&__line
			margin: 32px 0
			font-size: 35px

	.tovar-change
		display: block
		margin: 54px 0 0
		text-align: center
		&__main
			display: block
			width: 100%
			margin-bottom: 28px
			font-size: 35px
			span
				display: inline-block
				float: none
			&:after
				display: none
		&__name
			padding-right: 3px
		&__price
			font-size: 50px
		&__count
			display: inline-block
			margin-right: 35px
			font-size: 35px
			input
				width: 155px
				height: 91px
				padding-left: 40px
				font-size: 35px

	.btn--add
		display: inline-block
		width: 412px
		height: 91px
		line-height: 85px
		font-size: 23px
		vertical-align: top
		i
			top: 7px
			margin-right: 17px
			@include sprite($cart-add-mob)

	.block-info
		display: block
		margin: 128px 0 87px
		.tovar-banner
			display: block
			float: none
			width: 483px
			height: 120px
			margin: 0 auto 20px
			font-size: 35px
			line-height: 120px
			i
				width: 75px
				height: 49px
				top: 12px
			&--1
				i
					margin-right: 17px
					background: url(../img/delivery-icon-mob.png) center 0 no-repeat
			&--2
				i
					background: url(../img/sale-icon-mob.png) center 0 no-repeat
			&--3
				i
					margin-right: 12px
					background: url(../img/quality-icon-mob.png) center 0 no-repeat

	.quote
		text-align: center
		blockquote
			font-size: 60px
			letter-spacing: 0
		&__author
			margin-top: 32px
			font-size: 35px
			text-align: center
	/*--------------------end------------------*/

	/*--------------Cart page-------------*/
	.section-cart
		padding: 65px 0 100px
		.container
			padding: 0 40px

	.page-title
		font-size: 60px
		text-align: center

	.cart-block
		display: block
		text-align: center

	.cart-row
		display: block
		padding: 44px 0 79px

	.cart-row--head
		display: none

	.cart-cell
		display: block
		font-size: 35px

	.cell-title
		display: inline-block
		margin-right: 33px
		font-size: 35px

	.cart-cell--main
		width: 100%

	.cart-pict
		display: block
		margin: 0 auto

	.cart-name
		display: block
		margin-top: 36px
		a
			font-size: 35px

	.cart-cell--price
		width: 100%
		margin-top: 50px

	.cart-cell--count
		width: 100%
		margin-top: 36px
		input
			width: 155px
			height: 91px

	.cart-cell--sale
		width: 100%
		margin-top: 49px

	.cart-cell--total
		width: 100%
		margin-top: 35px

	.cart-cell--remove
		width: 100%
		margin-top: 47px
		padding-right: 0

	.divider
		height: 30px

	.total-cart
		float: none
		width: 100%
		margin-top: 55px
		text-align: center
		&__row
			font-size: 50px
			line-height: 72px
			span
				font-size: 50px
				line-height: 72px

	.section-order
		overflow: hidden
		.container
			width: 100%
			padding: 0

	.order-block
		margin-top: 25px
		padding: 63px 0 142px

	.order-form
		float: none
		width: 698px
		margin: 0 auto
		&__title
			font-size: 35px
			margin-bottom: 43px
			&--first
				margin-bottom: 78px
		label
			width: 698px
			margin: 0 auto 53px
			text-align: center
			span
				display: block
				margin: 0 0 28px
				font-size: 33px
			input
				width: 100%
				height: 129px
				padding-left: 50px
				font-size: 35px
			textarea
				width: 100%
				height: 693px
				padding: 20px 50px
				font-size: 35px

	.delivery-block, .pay-block
		width: 698px
		margin: 98px auto 0
		label
			margin-bottom: 56px
			span
				display: table
				padding-left: 23px
				font-size: 35px
			input
				float: left
				width: 49px
				height: 49px
	.pay-block
		margin-top: 26px

	.btn--order
		width: 442px
		height: 135px
		margin: 158px auto 0
		font-size: 35px
		&:before
			width: 1100px
			height: 3px
			top: -110px
			left: -400px

	.order-accent
		width: 698px
		margin: 70px auto 0
		font-size: 35px
	/*-------------------end---------------*/

	/*----------------Info page-------------*/
	.main--info
		padding: 49px 40px 34px

	.page-title
		&--info
			border-bottom: none

	.info-text
		font-size: 35px
		line-height: 48px
		ul
			margin-top: 73px
			li
				margin-top: 43px
				font-size: 35px
				text-align: left

	.sidebar--info
		padding-bottom: 118px

	.btn--info
		margin-top: 0
	/*-------------------end-----------------*/

	/*------------Legal page------------------*/
	.section-legal
		padding-bottom: 153px

	.page-title--legal
		margin-bottom: 30px

	.info-text--legal
		margin-bottom: 88px

	.legal-pict
		max-width: 100%
		margin: 27px 0 92px
		img
			width: 100%

	.sidebar
		&.sidebar--legal
			display: none
	/*----------------end----------------------*/

	/*---------------Contact page---------------*/
	.section-contact
		padding-top: 69px

	.contact-stick
		position: relative
		top: 0
		left: 0
		width: 100%
		height: auto
		margin: 36px 0 58px
		padding: 0
		border: none

	.contact--map
		.contact__phone
			margin-bottom: 25px
			font-size: 65px
			&--first
				&:before
					top: 10px
					left: -115px
					@include sprite($phone-icon-mob)
		.contact-email
			margin-top: 31px
			font-size: 50px
			&:before
				top: 5px
				left: -118px
				@include sprite($mail-mob)
		.contact__work
			margin-top: 29px
			font-size: 50px
	/*-------------------end---------------------*/

	/*--------------Sale page-------------*/
	.section-sale
		padding: 15px 0 177px

	.banner-block--main
		margin-top: 90px
		padding-top: 0

	.banner--main
		padding: 16px 40px 50px
		height: auto
		.banner__title
			font-size: 35px
			line-height: 60px

	.banner--sale
		.banner__accent
			margin: 59px 0
			font-size: 35px
			line-height: 59px
		.banner__text
			span
				font-size: 35px
				font-weight: 700
			ul
				margin-top: 7px
				li
					margin-bottom: 6px
					font-size: 35px

	.sale-text
		display: none
		&--mob
			display: block
			width: 100%
			margin-top: 75px
			font-size: 35px
			p
				margin-bottom: 33px

	.banner-block--second
		margin-top: 0
		padding-top: 0

	.banner--second
		height: auto
		padding: 53px 40px 100px
		.banner__title
			margin-bottom: 29px
			line-height: 64px
	/*------------------end-------------------*/

	/*--------------More page-------------*/
	.main
		&.main--more
			padding: 0 0 52px

	.page-title--more
		margin-top: 72px

	.article-item
		&--top
			margin: 34px 0 93px
		&--small
			float: none
			width: 100%
			margin: 0 0 110px
			.article-item__title
				font-size: 50px
		&__date
			margin-bottom: 8px
			font-size: 35px
		&__pict
			img
				width: 100%
		&__title
			margin-top: 25px
			padding: 0 15px
			font-size: 60px
			letter-spacing: 0
			font-weight: normal
			line-height: 1.2
		&__text
			margin: 35px 0 54px
			padding: 0 30px
			font-size: 35px
			line-height: 1

	.btn--more
		width: 327px
		height: 100px
		font-size: 35px
		line-height: 100px
	/*-----------------end----------------*/

	/*--------------Article page------------*/
	.main
		&.main--article
			padding: 0 0 187px

	.page-title--article
		letter-spacing: -2px

	.btn--article
		width: 549px
		height: 100px
		margin-top: 74px
		font-size: 35px
		line-height: 100px
	/*-----------------end-------------------*/

	/*------------------Brend page--------------*/
	.section-brend
		padding: 13px 0 20px
		.container
			padding: 0 15px

	.page-title--brend
		margin-bottom: 132px

	.letter-block--brend
		margin: 0 0 198px 46px
		padding: 0

	.block-title--brend
		margin: 10px 86px 0 0
		font-size: 172px

	.letter-menu--brend
		.letter-menu__item
			margin-bottom: 39px
		.letter-menu__link
			font-size: 40px

	.letter-menu__col
		float: none
		display: block
		width: 600px
	/*---------------------end------------------*/