@import "vars.sass"
/*--------------Eco page---------------*/
.header__banner
	&.header__banner-eco
		background: url(../img/banner-eco.jpg) center top no-repeat
		background-size: cover
		&:before
			left: 30px
			background: url(../img/banner-eco-pict.png) center top no-repeat

.block__like
	&.block__like-eco
		background: url(../img/eco-bg.jpg) 0 0 no-repeat
		background-size: cover
		&:before
			background: url(../img/eco-bg-2.jpg) 0 0 no-repeat

.like__title
	&.like__title-eco
		color: #fffc5c

.more__link
	&.more__link-like
		&.more__link-eco
			border-color: #fffc5c
			background-image: url(../img/eco-btn.png)
			&:hover
				color: $main-color
				background: #fffc5c

.descr__style
	&.descr__style-eco
		ul
			li
				font-weight: 200

.loft__descr
	&.loft__descr-eco
		&:after
			top: 118px
			left: -446px
			width: 446px
			height: 275px
			background: url(../img/eco-three.png) 0 0 no-repeat
/*----------------end-------------------*/