@import "vars.sass"
/*--------------Hitec page---------------*/
.header__banner
	&.header__banner-hitec
		background: url(../img/banner-hitec.jpg) center top no-repeat
		background-size: cover
		&:before
			left: 8px
			background: url(../img/banner-hitec-pict.png) center top no-repeat

.block__like
	&.block__like-hitec
		background: url(../img/hitec-bg.jpg) 0 0 no-repeat
		background-size: cover
		&:before
			background: url(../img/hitec-bg-2.jpg) 0 0 no-repeat

.descr__style
	ul
		width: 75%
	&.descr__style-hitec
		ul
			margin-top: 35px
			li
				font: 200 16px/28px "helvetica"
				&:before
					top: 38px
				b
					display: block
					margin-bottom: 10px
					font-weight: normal

.loft__descr
	&.loft__descr-hitec
		ul
			li
				margin-bottom: 5px
		&:after
			top: 118px
			left: -260px
			width: 261px
			height: 408px
			background: url(../img/hitec-kamin.png) 0 0 no-repeat
/*-----------------end------------------*/