@import "vars.sass"
/*--------------Partner page---------------*/
.section__main
	&.section__main-partner
		padding-bottom: 70px

.about__box
	&.about__box-partner
		position: relative
		font-weight: 200
		&:after
			display: none
		ul
			padding-left: 35px
			li
				position: relative
				margin-bottom: 12px
				font-weight: normal
				font-style: italic
				&:before
					content: '-'
					position: absolute
					top: 0
					left: -12px
	.block__pict
		padding-right: 415px
		img
			position: absolute
			bottom: -92px
			right: 0

.section__seo
	&.section__seo-partner
		background: #fff

.section__title
	&.section__title-seo
		&.section__title-partner
			margin-bottom: 55px
			padding-bottom: 0
			text-align: left
			border-bottom: 2px solid $color-9
			h2
				display: inline-block
				bottom: -3px
				border-bottom: 4px solid $color-2
				&:after
					display: none
/*-----------------end--------------------*/