/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$arrow-bread-name: 'arrow-bread'
$arrow-bread-x: 96px
$arrow-bread-y: 34px
$arrow-bread-offset-x: -96px
$arrow-bread-offset-y: -34px
$arrow-bread-width: 5px
$arrow-bread-height: 11px
$arrow-bread-total-width: 111px
$arrow-bread-total-height: 112px
$arrow-bread-image: '../img/sprite.png'
$arrow-bread: (96px, 34px, -96px, -34px, 5px, 11px, 111px, 112px, '../img/sprite.png', 'arrow-bread', )
$arrow-down-white-name: 'arrow-down-white'
$arrow-down-white-x: 78px
$arrow-down-white-y: 66px
$arrow-down-white-offset-x: -78px
$arrow-down-white-offset-y: -66px
$arrow-down-white-width: 16px
$arrow-down-white-height: 7px
$arrow-down-white-total-width: 111px
$arrow-down-white-total-height: 112px
$arrow-down-white-image: '../img/sprite.png'
$arrow-down-white: (78px, 66px, -78px, -66px, 16px, 7px, 111px, 112px, '../img/sprite.png', 'arrow-down-white', )
$arrow-down-name: 'arrow-down'
$arrow-down-x: 94px
$arrow-down-y: 73px
$arrow-down-offset-x: -94px
$arrow-down-offset-y: -73px
$arrow-down-width: 16px
$arrow-down-height: 7px
$arrow-down-total-width: 111px
$arrow-down-total-height: 112px
$arrow-down-image: '../img/sprite.png'
$arrow-down: (94px, 73px, -94px, -73px, 16px, 7px, 111px, 112px, '../img/sprite.png', 'arrow-down', )
$arrow-menu-mob-name: 'arrow-menu-mob'
$arrow-menu-mob-x: 78px
$arrow-menu-mob-y: 0px
$arrow-menu-mob-offset-x: -78px
$arrow-menu-mob-offset-y: 0px
$arrow-menu-mob-width: 33px
$arrow-menu-mob-height: 16px
$arrow-menu-mob-total-width: 111px
$arrow-menu-mob-total-height: 112px
$arrow-menu-mob-image: '../img/sprite.png'
$arrow-menu-mob: (78px, 0px, -78px, 0px, 33px, 16px, 111px, 112px, '../img/sprite.png', 'arrow-menu-mob', )
$arrow-up-blue-name: 'arrow-up-blue'
$arrow-up-blue-x: 78px
$arrow-up-blue-y: 73px
$arrow-up-blue-offset-x: -78px
$arrow-up-blue-offset-y: -73px
$arrow-up-blue-width: 16px
$arrow-up-blue-height: 7px
$arrow-up-blue-total-width: 111px
$arrow-up-blue-total-height: 112px
$arrow-up-blue-image: '../img/sprite.png'
$arrow-up-blue: (78px, 73px, -78px, -73px, 16px, 7px, 111px, 112px, '../img/sprite.png', 'arrow-up-blue', )
$arrow-up-name: 'arrow-up'
$arrow-up-x: 94px
$arrow-up-y: 66px
$arrow-up-offset-x: -94px
$arrow-up-offset-y: -66px
$arrow-up-width: 16px
$arrow-up-height: 7px
$arrow-up-total-width: 111px
$arrow-up-total-height: 112px
$arrow-up-image: '../img/sprite.png'
$arrow-up: (94px, 66px, -94px, -66px, 16px, 7px, 111px, 112px, '../img/sprite.png', 'arrow-up', )
$check-arrow-mob-name: 'check-arrow-mob'
$check-arrow-mob-x: 78px
$check-arrow-mob-y: 52px
$check-arrow-mob-offset-x: -78px
$check-arrow-mob-offset-y: -52px
$check-arrow-mob-width: 18px
$check-arrow-mob-height: 14px
$check-arrow-mob-total-width: 111px
$check-arrow-mob-total-height: 112px
$check-arrow-mob-image: '../img/sprite.png'
$check-arrow-mob: (78px, 52px, -78px, -52px, 18px, 14px, 111px, 112px, '../img/sprite.png', 'check-arrow-mob', )
$check-arrow-name: 'check-arrow'
$check-arrow-x: 96px
$check-arrow-y: 16px
$check-arrow-offset-x: -96px
$check-arrow-offset-y: -16px
$check-arrow-width: 12px
$check-arrow-height: 9px
$check-arrow-total-width: 111px
$check-arrow-total-height: 112px
$check-arrow-image: '../img/sprite.png'
$check-arrow: (96px, 16px, -96px, -16px, 12px, 9px, 111px, 112px, '../img/sprite.png', 'check-arrow', )
$checkbox-name: 'checkbox'
$checkbox-x: 78px
$checkbox-y: 34px
$checkbox-offset-x: -78px
$checkbox-offset-y: -34px
$checkbox-width: 18px
$checkbox-height: 18px
$checkbox-total-width: 111px
$checkbox-total-height: 112px
$checkbox-image: '../img/sprite.png'
$checkbox: (78px, 34px, -78px, -34px, 18px, 18px, 111px, 112px, '../img/sprite.png', 'checkbox', )
$checked-name: 'checked'
$checked-x: 78px
$checked-y: 16px
$checked-offset-x: -78px
$checked-offset-y: -16px
$checked-width: 18px
$checked-height: 18px
$checked-total-width: 111px
$checked-total-height: 112px
$checked-image: '../img/sprite.png'
$checked: (78px, 16px, -78px, -16px, 18px, 18px, 111px, 112px, '../img/sprite.png', 'checked', )
$next-arrow-name: 'next-arrow'
$next-arrow-x: 39px
$next-arrow-y: 0px
$next-arrow-offset-x: -39px
$next-arrow-offset-y: 0px
$next-arrow-width: 39px
$next-arrow-height: 112px
$next-arrow-total-width: 111px
$next-arrow-total-height: 112px
$next-arrow-image: '../img/sprite.png'
$next-arrow: (39px, 0px, -39px, 0px, 39px, 112px, 111px, 112px, '../img/sprite.png', 'next-arrow', )
$prev-arrow-name: 'prev-arrow'
$prev-arrow-x: 0px
$prev-arrow-y: 0px
$prev-arrow-offset-x: 0px
$prev-arrow-offset-y: 0px
$prev-arrow-width: 39px
$prev-arrow-height: 112px
$prev-arrow-total-width: 111px
$prev-arrow-total-height: 112px
$prev-arrow-image: '../img/sprite.png'
$prev-arrow: (0px, 0px, 0px, 0px, 39px, 112px, 111px, 112px, '../img/sprite.png', 'prev-arrow', )
$spritesheet-width: 111px
$spritesheet-height: 112px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-bread, $arrow-down-white, $arrow-down, $arrow-menu-mob, $arrow-up-blue, $arrow-up, $check-arrow-mob, $check-arrow, $checkbox, $checked, $next-arrow, $prev-arrow, )
$spritesheet: (111px, 112px, '../img/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
