@import "bourbon"

$default-font: "beausans", sans-serif
$main-color: #36314a
$color-1: #918f9a
$color-2: #00b0cc
$color-3: #ff9a0d
$color-4: #46495c
$color-5: #fffa00
$color-6: #268068
$color-7: #37bd80
$color-8: #e5e5e5
$color-9: #e6e6e6
$color-10: #a596e3
$color-11: #a3e7f0
$color-12: #191828