@import "vars.sass"
/*--------------About page---------------*/
.about
	padding: 70px 0 62px

.about__block
	font-size: 16px
	font-weight: 300
	p
		margin-bottom: 25px

.home__order
	&.home__order-inner
		padding: 73px 0 85px
/*------------------end--------------------*/