@import "vars.sass"
/*--------------Service page---------------*/
.service
	padding: 35px 0 35px

.service__top
	margin-bottom: 42px
	font-size: 18px
	font-weight: 300
	img
		float: left
		width: 300px
		margin-right: 45px
	p
		line-height: 24px

.service__title
	display: block
	margin-bottom: 28px
	font-size: 12px
	font-weight: 700
	text-transform: uppercase

.service__block
	font-size: 16px
	font-weight: 300
	span
		display: block
		margin-bottom: 22px
		font-weight: 700
		text-transform: uppercase
	p
		margin-bottom: 20px
	ul
		margin-bottom: 33px
		li
			margin-bottom: 20px
/*------------------end--------------------*/