@import "vars"

/*---------------Contact page---------------*/
.contact-descr
	position: relative
	right: -9px
	max-width: 1145px
	margin: -40px auto -40px
	padding: 105px 125px 153px 152px
	background: url(../img/contact-bg.png) top center no-repeat
	background-size: 100% 100%
	&__main
		float: left
		margin-top: 15px
	&__address
		position: relative
		margin-bottom: 37px
		font-size: 14px
		font-weight: 300
		color: #1b1b1b
		span
			display: block
			font-weight: 700
		&:before
			content: ''
			position: absolute
			top: 0
			left: -20px
			width: 12px
			height: 17px
			background: url(../img/location.png) 0 0 no-repeat
	&__phone
		position: relative
		display: block
		margin-bottom: 33px
		padding-left: 10px
		font-size: 24px
		font-weight: 300
		color: #1b1b1b
		span
			font-weight: 800
			color: #009fda
		&:before
			content: ''
			position: absolute
			top: 0
			left: -17px
			width: 17px
			height: 17px
			background: url(../img/phone.svg) 0 0 no-repeat
	&__mail
		font-size: 14px
		font-weight: 300
		color: #1b1b1b
		span
			font-weight: 700
	&__text
		display: table
		padding-left: 75px
		font-size: 16px
		font-weight: 300
		color: #1b1b1b
		span
			display: block
			font-weight: 700

.contact-map
	position: relative
	width: 100%
	margin: 0 auto
	height: 320px
	overflow: hidden
	z-index: 5
	border: 5px solid #fff
/*--------------------end-------------------*/