// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-left-name: 'arrow-left'
$arrow-left-x: 219px
$arrow-left-y: 22px
$arrow-left-offset-x: -219px
$arrow-left-offset-y: -22px
$arrow-left-width: 12px
$arrow-left-height: 22px
$arrow-left-total-width: 231px
$arrow-left-total-height: 211px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (219px, 22px, -219px, -22px, 12px, 22px, 231px, 211px, '../img/sprite.png', 'arrow-left', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 219px
$arrow-right-y: 0px
$arrow-right-offset-x: -219px
$arrow-right-offset-y: 0px
$arrow-right-width: 12px
$arrow-right-height: 22px
$arrow-right-total-width: 231px
$arrow-right-total-height: 211px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (219px, 0px, -219px, 0px, 12px, 22px, 231px, 211px, '../img/sprite.png', 'arrow-right', )
$arrow-top-name: 'arrow-top'
$arrow-top-x: 200px
$arrow-top-y: 148px
$arrow-top-offset-x: -200px
$arrow-top-offset-y: -148px
$arrow-top-width: 14px
$arrow-top-height: 9px
$arrow-top-total-width: 231px
$arrow-top-total-height: 211px
$arrow-top-image: '../img/sprite.png'
$arrow-top: (200px, 148px, -200px, -148px, 14px, 9px, 231px, 211px, '../img/sprite.png', 'arrow-top', )
$bread-arrow-name: 'bread-arrow'
$bread-arrow-x: 219px
$bread-arrow-y: 44px
$bread-arrow-offset-x: -219px
$bread-arrow-offset-y: -44px
$bread-arrow-width: 4px
$bread-arrow-height: 6px
$bread-arrow-total-width: 231px
$bread-arrow-total-height: 211px
$bread-arrow-image: '../img/sprite.png'
$bread-arrow: (219px, 44px, -219px, -44px, 4px, 6px, 231px, 211px, '../img/sprite.png', 'bread-arrow', )
$inst-name: 'inst'
$inst-x: 200px
$inst-y: 74px
$inst-offset-x: -200px
$inst-offset-y: -74px
$inst-width: 16px
$inst-height: 15px
$inst-total-width: 231px
$inst-total-height: 211px
$inst-image: '../img/sprite.png'
$inst: (200px, 74px, -200px, -74px, 16px, 15px, 231px, 211px, '../img/sprite.png', 'inst', )
$menu-icon-1-name: 'menu-icon-1'
$menu-icon-1-x: 140px
$menu-icon-1-y: 70px
$menu-icon-1-offset-x: -140px
$menu-icon-1-offset-y: -70px
$menu-icon-1-width: 35px
$menu-icon-1-height: 35px
$menu-icon-1-total-width: 231px
$menu-icon-1-total-height: 211px
$menu-icon-1-image: '../img/sprite.png'
$menu-icon-1: (140px, 70px, -140px, -70px, 35px, 35px, 231px, 211px, '../img/sprite.png', 'menu-icon-1', )
$menu-icon-1-1-name: 'menu-icon-1_1'
$menu-icon-1-1-x: 41px
$menu-icon-1-1-y: 191px
$menu-icon-1-1-offset-x: -41px
$menu-icon-1-1-offset-y: -191px
$menu-icon-1-1-width: 20px
$menu-icon-1-1-height: 20px
$menu-icon-1-1-total-width: 231px
$menu-icon-1-1-total-height: 211px
$menu-icon-1-1-image: '../img/sprite.png'
$menu-icon-1-1: (41px, 191px, -41px, -191px, 20px, 20px, 231px, 211px, '../img/sprite.png', 'menu-icon-1_1', )
$menu-icon-1-1h-name: 'menu-icon-1_1h'
$menu-icon-1-1h-x: 81px
$menu-icon-1-1h-y: 191px
$menu-icon-1-1h-offset-x: -81px
$menu-icon-1-1h-offset-y: -191px
$menu-icon-1-1h-width: 20px
$menu-icon-1-1h-height: 20px
$menu-icon-1-1h-total-width: 231px
$menu-icon-1-1h-total-height: 211px
$menu-icon-1-1h-image: '../img/sprite.png'
$menu-icon-1-1h: (81px, 191px, -81px, -191px, 20px, 20px, 231px, 211px, '../img/sprite.png', 'menu-icon-1_1h', )
$menu-icon-1h-name: 'menu-icon-1h'
$menu-icon-1h-x: 140px
$menu-icon-1h-y: 35px
$menu-icon-1h-offset-x: -140px
$menu-icon-1h-offset-y: -35px
$menu-icon-1h-width: 35px
$menu-icon-1h-height: 35px
$menu-icon-1h-total-width: 231px
$menu-icon-1h-total-height: 211px
$menu-icon-1h-image: '../img/sprite.png'
$menu-icon-1h: (140px, 35px, -140px, -35px, 35px, 35px, 231px, 211px, '../img/sprite.png', 'menu-icon-1h', )
$menu-icon-1h2-name: 'menu-icon-1h2'
$menu-icon-1h2-x: 140px
$menu-icon-1h2-y: 0px
$menu-icon-1h2-offset-x: -140px
$menu-icon-1h2-offset-y: 0px
$menu-icon-1h2-width: 35px
$menu-icon-1h2-height: 35px
$menu-icon-1h2-total-width: 231px
$menu-icon-1h2-total-height: 211px
$menu-icon-1h2-image: '../img/sprite.png'
$menu-icon-1h2: (140px, 0px, -140px, 0px, 35px, 35px, 231px, 211px, '../img/sprite.png', 'menu-icon-1h2', )
$menu-icon-2-name: 'menu-icon-2'
$menu-icon-2-x: 139px
$menu-icon-2-y: 138px
$menu-icon-2-offset-x: -139px
$menu-icon-2-offset-y: -138px
$menu-icon-2-width: 35px
$menu-icon-2-height: 33px
$menu-icon-2-total-width: 231px
$menu-icon-2-total-height: 211px
$menu-icon-2-image: '../img/sprite.png'
$menu-icon-2: (139px, 138px, -139px, -138px, 35px, 33px, 231px, 211px, '../img/sprite.png', 'menu-icon-2', )
$menu-icon-2-1-name: 'menu-icon-2_1'
$menu-icon-2-1-x: 181px
$menu-icon-2-1-y: 191px
$menu-icon-2-1-offset-x: -181px
$menu-icon-2-1-offset-y: -191px
$menu-icon-2-1-width: 20px
$menu-icon-2-1-height: 19px
$menu-icon-2-1-total-width: 231px
$menu-icon-2-1-total-height: 211px
$menu-icon-2-1-image: '../img/sprite.png'
$menu-icon-2-1: (181px, 191px, -181px, -191px, 20px, 19px, 231px, 211px, '../img/sprite.png', 'menu-icon-2_1', )
$menu-icon-2-1h-name: 'menu-icon-2_1h'
$menu-icon-2-1h-x: 141px
$menu-icon-2-1h-y: 191px
$menu-icon-2-1h-offset-x: -141px
$menu-icon-2-1h-offset-y: -191px
$menu-icon-2-1h-width: 20px
$menu-icon-2-1h-height: 19px
$menu-icon-2-1h-total-width: 231px
$menu-icon-2-1h-total-height: 211px
$menu-icon-2-1h-image: '../img/sprite.png'
$menu-icon-2-1h: (141px, 191px, -141px, -191px, 20px, 19px, 231px, 211px, '../img/sprite.png', 'menu-icon-2_1h', )
$menu-icon-2h-name: 'menu-icon-2h'
$menu-icon-2h-x: 140px
$menu-icon-2h-y: 105px
$menu-icon-2h-offset-x: -140px
$menu-icon-2h-offset-y: -105px
$menu-icon-2h-width: 35px
$menu-icon-2h-height: 33px
$menu-icon-2h-total-width: 231px
$menu-icon-2h-total-height: 211px
$menu-icon-2h-image: '../img/sprite.png'
$menu-icon-2h: (140px, 105px, -140px, -105px, 35px, 33px, 231px, 211px, '../img/sprite.png', 'menu-icon-2h', )
$menu-icon-2h2-name: 'menu-icon-2h2'
$menu-icon-2h2-x: 104px
$menu-icon-2h2-y: 138px
$menu-icon-2h2-offset-x: -104px
$menu-icon-2h2-offset-y: -138px
$menu-icon-2h2-width: 35px
$menu-icon-2h2-height: 33px
$menu-icon-2h2-total-width: 231px
$menu-icon-2h2-total-height: 211px
$menu-icon-2h2-image: '../img/sprite.png'
$menu-icon-2h2: (104px, 138px, -104px, -138px, 35px, 33px, 231px, 211px, '../img/sprite.png', 'menu-icon-2h2', )
$menu-icon-3-name: 'menu-icon-3'
$menu-icon-3-x: 175px
$menu-icon-3-y: 126px
$menu-icon-3-offset-x: -175px
$menu-icon-3-offset-y: -126px
$menu-icon-3-width: 25px
$menu-icon-3-height: 37px
$menu-icon-3-total-width: 231px
$menu-icon-3-total-height: 211px
$menu-icon-3-image: '../img/sprite.png'
$menu-icon-3: (175px, 126px, -175px, -126px, 25px, 37px, 231px, 211px, '../img/sprite.png', 'menu-icon-3', )
$menu-icon-3-1-name: 'menu-icon-3_1'
$menu-icon-3-1-x: 200px
$menu-icon-3-1-y: 52px
$menu-icon-3-1-offset-x: -200px
$menu-icon-3-1-offset-y: -52px
$menu-icon-3-1-width: 15px
$menu-icon-3-1-height: 22px
$menu-icon-3-1-total-width: 231px
$menu-icon-3-1-total-height: 211px
$menu-icon-3-1-image: '../img/sprite.png'
$menu-icon-3-1: (200px, 52px, -200px, -52px, 15px, 22px, 231px, 211px, '../img/sprite.png', 'menu-icon-3_1', )
$menu-icon-3-1h-name: 'menu-icon-3_1h'
$menu-icon-3-1h-x: 200px
$menu-icon-3-1h-y: 89px
$menu-icon-3-1h-offset-x: -200px
$menu-icon-3-1h-offset-y: -89px
$menu-icon-3-1h-width: 15px
$menu-icon-3-1h-height: 22px
$menu-icon-3-1h-total-width: 231px
$menu-icon-3-1h-total-height: 211px
$menu-icon-3-1h-image: '../img/sprite.png'
$menu-icon-3-1h: (200px, 89px, -200px, -89px, 15px, 22px, 231px, 211px, '../img/sprite.png', 'menu-icon-3_1h', )
$menu-icon-3h-name: 'menu-icon-3h'
$menu-icon-3h-x: 175px
$menu-icon-3h-y: 52px
$menu-icon-3h-offset-x: -175px
$menu-icon-3h-offset-y: -52px
$menu-icon-3h-width: 25px
$menu-icon-3h-height: 37px
$menu-icon-3h-total-width: 231px
$menu-icon-3h-total-height: 211px
$menu-icon-3h-image: '../img/sprite.png'
$menu-icon-3h: (175px, 52px, -175px, -52px, 25px, 37px, 231px, 211px, '../img/sprite.png', 'menu-icon-3h', )
$menu-icon-3h2-name: 'menu-icon-3h2'
$menu-icon-3h2-x: 175px
$menu-icon-3h2-y: 89px
$menu-icon-3h2-offset-x: -175px
$menu-icon-3h2-offset-y: -89px
$menu-icon-3h2-width: 25px
$menu-icon-3h2-height: 37px
$menu-icon-3h2-total-width: 231px
$menu-icon-3h2-total-height: 211px
$menu-icon-3h2-image: '../img/sprite.png'
$menu-icon-3h2: (175px, 89px, -175px, -89px, 25px, 37px, 231px, 211px, '../img/sprite.png', 'menu-icon-3h2', )
$menu-icon-4-name: 'menu-icon-4'
$menu-icon-4-x: 52px
$menu-icon-4-y: 41px
$menu-icon-4-offset-x: -52px
$menu-icon-4-offset-y: -41px
$menu-icon-4-width: 52px
$menu-icon-4-height: 30px
$menu-icon-4-total-width: 231px
$menu-icon-4-total-height: 211px
$menu-icon-4-image: '../img/sprite.png'
$menu-icon-4: (52px, 41px, -52px, -41px, 52px, 30px, 231px, 211px, '../img/sprite.png', 'menu-icon-4', )
$menu-icon-4-1-name: 'menu-icon-4_1'
$menu-icon-4-1-x: 80px
$menu-icon-4-1-y: 173px
$menu-icon-4-1-offset-x: -80px
$menu-icon-4-1-offset-y: -173px
$menu-icon-4-1-width: 25px
$menu-icon-4-1-height: 14px
$menu-icon-4-1-total-width: 231px
$menu-icon-4-1-total-height: 211px
$menu-icon-4-1-image: '../img/sprite.png'
$menu-icon-4-1: (80px, 173px, -80px, -173px, 25px, 14px, 231px, 211px, '../img/sprite.png', 'menu-icon-4_1', )
$menu-icon-4-1h-name: 'menu-icon-4_1h'
$menu-icon-4-1h-x: 55px
$menu-icon-4-1h-y: 173px
$menu-icon-4-1h-offset-x: -55px
$menu-icon-4-1h-offset-y: -173px
$menu-icon-4-1h-width: 25px
$menu-icon-4-1h-height: 14px
$menu-icon-4-1h-total-width: 231px
$menu-icon-4-1h-total-height: 211px
$menu-icon-4-1h-image: '../img/sprite.png'
$menu-icon-4-1h: (55px, 173px, -55px, -173px, 25px, 14px, 231px, 211px, '../img/sprite.png', 'menu-icon-4_1h', )
$menu-icon-4h-name: 'menu-icon-4h'
$menu-icon-4h-x: 0px
$menu-icon-4h-y: 71px
$menu-icon-4h-offset-x: 0px
$menu-icon-4h-offset-y: -71px
$menu-icon-4h-width: 52px
$menu-icon-4h-height: 30px
$menu-icon-4h-total-width: 231px
$menu-icon-4h-total-height: 211px
$menu-icon-4h-image: '../img/sprite.png'
$menu-icon-4h: (0px, 71px, 0px, -71px, 52px, 30px, 231px, 211px, '../img/sprite.png', 'menu-icon-4h', )
$menu-icon-4h2-name: 'menu-icon-4h2'
$menu-icon-4h2-x: 52px
$menu-icon-4h2-y: 71px
$menu-icon-4h2-offset-x: -52px
$menu-icon-4h2-offset-y: -71px
$menu-icon-4h2-width: 52px
$menu-icon-4h2-height: 30px
$menu-icon-4h2-total-width: 231px
$menu-icon-4h2-total-height: 211px
$menu-icon-4h2-image: '../img/sprite.png'
$menu-icon-4h2: (52px, 71px, -52px, -71px, 52px, 30px, 231px, 211px, '../img/sprite.png', 'menu-icon-4h2', )
$menu-icon-5-name: 'menu-icon-5'
$menu-icon-5-x: 74px
$menu-icon-5-y: 101px
$menu-icon-5-offset-x: -74px
$menu-icon-5-offset-y: -101px
$menu-icon-5-width: 37px
$menu-icon-5-height: 37px
$menu-icon-5-total-width: 231px
$menu-icon-5-total-height: 211px
$menu-icon-5-image: '../img/sprite.png'
$menu-icon-5: (74px, 101px, -74px, -101px, 37px, 37px, 231px, 211px, '../img/sprite.png', 'menu-icon-5', )
$menu-icon-5-1-name: 'menu-icon-5_1'
$menu-icon-5-1-x: 21px
$menu-icon-5-1-y: 191px
$menu-icon-5-1-offset-x: -21px
$menu-icon-5-1-offset-y: -191px
$menu-icon-5-1-width: 20px
$menu-icon-5-1-height: 20px
$menu-icon-5-1-total-width: 231px
$menu-icon-5-1-total-height: 211px
$menu-icon-5-1-image: '../img/sprite.png'
$menu-icon-5-1: (21px, 191px, -21px, -191px, 20px, 20px, 231px, 211px, '../img/sprite.png', 'menu-icon-5_1', )
$menu-icon-5-1h-name: 'menu-icon-5_1h'
$menu-icon-5-1h-x: 101px
$menu-icon-5-1h-y: 191px
$menu-icon-5-1h-offset-x: -101px
$menu-icon-5-1h-offset-y: -191px
$menu-icon-5-1h-width: 20px
$menu-icon-5-1h-height: 20px
$menu-icon-5-1h-total-width: 231px
$menu-icon-5-1h-total-height: 211px
$menu-icon-5-1h-image: '../img/sprite.png'
$menu-icon-5-1h: (101px, 191px, -101px, -191px, 20px, 20px, 231px, 211px, '../img/sprite.png', 'menu-icon-5_1h', )
$menu-icon-5h-name: 'menu-icon-5h'
$menu-icon-5h-x: 0px
$menu-icon-5h-y: 101px
$menu-icon-5h-offset-x: 0px
$menu-icon-5h-offset-y: -101px
$menu-icon-5h-width: 37px
$menu-icon-5h-height: 37px
$menu-icon-5h-total-width: 231px
$menu-icon-5h-total-height: 211px
$menu-icon-5h-image: '../img/sprite.png'
$menu-icon-5h: (0px, 101px, 0px, -101px, 37px, 37px, 231px, 211px, '../img/sprite.png', 'menu-icon-5h', )
$menu-icon-5h2-name: 'menu-icon-5h2'
$menu-icon-5h2-x: 35px
$menu-icon-5h2-y: 138px
$menu-icon-5h2-offset-x: -35px
$menu-icon-5h2-offset-y: -138px
$menu-icon-5h2-width: 34px
$menu-icon-5h2-height: 34px
$menu-icon-5h2-total-width: 231px
$menu-icon-5h2-total-height: 211px
$menu-icon-5h2-image: '../img/sprite.png'
$menu-icon-5h2: (35px, 138px, -35px, -138px, 34px, 34px, 231px, 211px, '../img/sprite.png', 'menu-icon-5h2', )
$menu-icon-hover-name: 'menu-icon-hover'
$menu-icon-hover-x: 70px
$menu-icon-hover-y: 0px
$menu-icon-hover-offset-x: -70px
$menu-icon-hover-offset-y: 0px
$menu-icon-hover-width: 70px
$menu-icon-hover-height: 41px
$menu-icon-hover-total-width: 231px
$menu-icon-hover-total-height: 211px
$menu-icon-hover-image: '../img/sprite.png'
$menu-icon-hover: (70px, 0px, -70px, 0px, 70px, 41px, 231px, 211px, '../img/sprite.png', 'menu-icon-hover', )
$menu-icon-s-hover-name: 'menu-icon-s-hover'
$menu-icon-s-hover-x: 104px
$menu-icon-s-hover-y: 41px
$menu-icon-s-hover-offset-x: -104px
$menu-icon-s-hover-offset-y: -41px
$menu-icon-s-hover-width: 35px
$menu-icon-s-hover-height: 21px
$menu-icon-s-hover-total-width: 231px
$menu-icon-s-hover-total-height: 211px
$menu-icon-s-hover-image: '../img/sprite.png'
$menu-icon-s-hover: (104px, 41px, -104px, -41px, 35px, 21px, 231px, 211px, '../img/sprite.png', 'menu-icon-s-hover', )
$menu-icon-s-name: 'menu-icon-s'
$menu-icon-s-x: 30px
$menu-icon-s-y: 173px
$menu-icon-s-offset-x: -30px
$menu-icon-s-offset-y: -173px
$menu-icon-s-width: 25px
$menu-icon-s-height: 15px
$menu-icon-s-total-width: 231px
$menu-icon-s-total-height: 211px
$menu-icon-s-image: '../img/sprite.png'
$menu-icon-s: (30px, 173px, -30px, -173px, 25px, 15px, 231px, 211px, '../img/sprite.png', 'menu-icon-s', )
$menu-icon-name: 'menu-icon'
$menu-icon-x: 0px
$menu-icon-y: 0px
$menu-icon-offset-x: 0px
$menu-icon-offset-y: 0px
$menu-icon-width: 70px
$menu-icon-height: 41px
$menu-icon-total-width: 231px
$menu-icon-total-height: 211px
$menu-icon-image: '../img/sprite.png'
$menu-icon: (0px, 0px, 0px, 0px, 70px, 41px, 231px, 211px, '../img/sprite.png', 'menu-icon', )
$play-name: 'play'
$play-x: 200px
$play-y: 111px
$play-offset-x: -200px
$play-offset-y: -111px
$play-width: 13px
$play-height: 15px
$play-total-width: 231px
$play-total-height: 211px
$play-image: '../img/sprite.png'
$play: (200px, 111px, -200px, -111px, 13px, 15px, 231px, 211px, '../img/sprite.png', 'play', )
$sidebar-icon-1-name: 'sidebar-icon-1'
$sidebar-icon-1-x: 0px
$sidebar-icon-1-y: 138px
$sidebar-icon-1-offset-x: 0px
$sidebar-icon-1-offset-y: -138px
$sidebar-icon-1-width: 35px
$sidebar-icon-1-height: 35px
$sidebar-icon-1-total-width: 231px
$sidebar-icon-1-total-height: 211px
$sidebar-icon-1-image: '../img/sprite.png'
$sidebar-icon-1: (0px, 138px, 0px, -138px, 35px, 35px, 231px, 211px, '../img/sprite.png', 'sidebar-icon-1', )
$sidebar-icon-1-1-name: 'sidebar-icon-1_1'
$sidebar-icon-1-1-x: 121px
$sidebar-icon-1-1-y: 191px
$sidebar-icon-1-1-offset-x: -121px
$sidebar-icon-1-1-offset-y: -191px
$sidebar-icon-1-1-width: 20px
$sidebar-icon-1-1-height: 20px
$sidebar-icon-1-1-total-width: 231px
$sidebar-icon-1-1-total-height: 211px
$sidebar-icon-1-1-image: '../img/sprite.png'
$sidebar-icon-1-1: (121px, 191px, -121px, -191px, 20px, 20px, 231px, 211px, '../img/sprite.png', 'sidebar-icon-1_1', )
$sidebar-icon-2-name: 'sidebar-icon-2'
$sidebar-icon-2-x: 69px
$sidebar-icon-2-y: 138px
$sidebar-icon-2-offset-x: -69px
$sidebar-icon-2-offset-y: -138px
$sidebar-icon-2-width: 35px
$sidebar-icon-2-height: 33px
$sidebar-icon-2-total-width: 231px
$sidebar-icon-2-total-height: 211px
$sidebar-icon-2-image: '../img/sprite.png'
$sidebar-icon-2: (69px, 138px, -69px, -138px, 35px, 33px, 231px, 211px, '../img/sprite.png', 'sidebar-icon-2', )
$sidebar-icon-2-1-name: 'sidebar-icon-2_1'
$sidebar-icon-2-1-x: 161px
$sidebar-icon-2-1-y: 191px
$sidebar-icon-2-1-offset-x: -161px
$sidebar-icon-2-1-offset-y: -191px
$sidebar-icon-2-1-width: 20px
$sidebar-icon-2-1-height: 19px
$sidebar-icon-2-1-total-width: 231px
$sidebar-icon-2-1-total-height: 211px
$sidebar-icon-2-1-image: '../img/sprite.png'
$sidebar-icon-2-1: (161px, 191px, -161px, -191px, 20px, 19px, 231px, 211px, '../img/sprite.png', 'sidebar-icon-2_1', )
$sidebar-icon-3-name: 'sidebar-icon-3'
$sidebar-icon-3-x: 111px
$sidebar-icon-3-y: 101px
$sidebar-icon-3-offset-x: -111px
$sidebar-icon-3-offset-y: -101px
$sidebar-icon-3-width: 25px
$sidebar-icon-3-height: 37px
$sidebar-icon-3-total-width: 231px
$sidebar-icon-3-total-height: 211px
$sidebar-icon-3-image: '../img/sprite.png'
$sidebar-icon-3: (111px, 101px, -111px, -101px, 25px, 37px, 231px, 211px, '../img/sprite.png', 'sidebar-icon-3', )
$sidebar-icon-3-1-name: 'sidebar-icon-3_1'
$sidebar-icon-3-1-x: 200px
$sidebar-icon-3-1-y: 126px
$sidebar-icon-3-1-offset-x: -200px
$sidebar-icon-3-1-offset-y: -126px
$sidebar-icon-3-1-width: 15px
$sidebar-icon-3-1-height: 22px
$sidebar-icon-3-1-total-width: 231px
$sidebar-icon-3-1-total-height: 211px
$sidebar-icon-3-1-image: '../img/sprite.png'
$sidebar-icon-3-1: (200px, 126px, -200px, -126px, 15px, 22px, 231px, 211px, '../img/sprite.png', 'sidebar-icon-3_1', )
$sidebar-icon-4-name: 'sidebar-icon-4'
$sidebar-icon-4-x: 0px
$sidebar-icon-4-y: 41px
$sidebar-icon-4-offset-x: 0px
$sidebar-icon-4-offset-y: -41px
$sidebar-icon-4-width: 52px
$sidebar-icon-4-height: 30px
$sidebar-icon-4-total-width: 231px
$sidebar-icon-4-total-height: 211px
$sidebar-icon-4-image: '../img/sprite.png'
$sidebar-icon-4: (0px, 41px, 0px, -41px, 52px, 30px, 231px, 211px, '../img/sprite.png', 'sidebar-icon-4', )
$sidebar-icon-4-1-name: 'sidebar-icon-4_1'
$sidebar-icon-4-1-x: 105px
$sidebar-icon-4-1-y: 173px
$sidebar-icon-4-1-offset-x: -105px
$sidebar-icon-4-1-offset-y: -173px
$sidebar-icon-4-1-width: 25px
$sidebar-icon-4-1-height: 14px
$sidebar-icon-4-1-total-width: 231px
$sidebar-icon-4-1-total-height: 211px
$sidebar-icon-4-1-image: '../img/sprite.png'
$sidebar-icon-4-1: (105px, 173px, -105px, -173px, 25px, 14px, 231px, 211px, '../img/sprite.png', 'sidebar-icon-4_1', )
$sidebar-icon-5-name: 'sidebar-icon-5'
$sidebar-icon-5-x: 37px
$sidebar-icon-5-y: 101px
$sidebar-icon-5-offset-x: -37px
$sidebar-icon-5-offset-y: -101px
$sidebar-icon-5-width: 37px
$sidebar-icon-5-height: 37px
$sidebar-icon-5-total-width: 231px
$sidebar-icon-5-total-height: 211px
$sidebar-icon-5-image: '../img/sprite.png'
$sidebar-icon-5: (37px, 101px, -37px, -101px, 37px, 37px, 231px, 211px, '../img/sprite.png', 'sidebar-icon-5', )
$sidebar-icon-5-1-name: 'sidebar-icon-5_1'
$sidebar-icon-5-1-x: 61px
$sidebar-icon-5-1-y: 191px
$sidebar-icon-5-1-offset-x: -61px
$sidebar-icon-5-1-offset-y: -191px
$sidebar-icon-5-1-width: 20px
$sidebar-icon-5-1-height: 20px
$sidebar-icon-5-1-total-width: 231px
$sidebar-icon-5-1-total-height: 211px
$sidebar-icon-5-1-image: '../img/sprite.png'
$sidebar-icon-5-1: (61px, 191px, -61px, -191px, 20px, 20px, 231px, 211px, '../img/sprite.png', 'sidebar-icon-5_1', )
$sidebar-menu-hover-name: 'sidebar-menu-hover'
$sidebar-menu-hover-x: 175px
$sidebar-menu-hover-y: 26px
$sidebar-menu-hover-offset-x: -175px
$sidebar-menu-hover-offset-y: -26px
$sidebar-menu-hover-width: 44px
$sidebar-menu-hover-height: 26px
$sidebar-menu-hover-total-width: 231px
$sidebar-menu-hover-total-height: 211px
$sidebar-menu-hover-image: '../img/sprite.png'
$sidebar-menu-hover: (175px, 26px, -175px, -26px, 44px, 26px, 231px, 211px, '../img/sprite.png', 'sidebar-menu-hover', )
$sidebar-menu-s-hover-name: 'sidebar-menu-s-hover'
$sidebar-menu-s-hover-x: 104px
$sidebar-menu-s-hover-y: 71px
$sidebar-menu-s-hover-offset-x: -104px
$sidebar-menu-s-hover-offset-y: -71px
$sidebar-menu-s-hover-width: 30px
$sidebar-menu-s-hover-height: 18px
$sidebar-menu-s-hover-total-width: 231px
$sidebar-menu-s-hover-total-height: 211px
$sidebar-menu-s-hover-image: '../img/sprite.png'
$sidebar-menu-s-hover: (104px, 71px, -104px, -71px, 30px, 18px, 231px, 211px, '../img/sprite.png', 'sidebar-menu-s-hover', )
$sidebar-menu-s-name: 'sidebar-menu-s'
$sidebar-menu-s-x: 0px
$sidebar-menu-s-y: 173px
$sidebar-menu-s-offset-x: 0px
$sidebar-menu-s-offset-y: -173px
$sidebar-menu-s-width: 30px
$sidebar-menu-s-height: 18px
$sidebar-menu-s-total-width: 231px
$sidebar-menu-s-total-height: 211px
$sidebar-menu-s-image: '../img/sprite.png'
$sidebar-menu-s: (0px, 173px, 0px, -173px, 30px, 18px, 231px, 211px, '../img/sprite.png', 'sidebar-menu-s', )
$sidebar-menu-name: 'sidebar-menu'
$sidebar-menu-x: 175px
$sidebar-menu-y: 0px
$sidebar-menu-offset-x: -175px
$sidebar-menu-offset-y: 0px
$sidebar-menu-width: 44px
$sidebar-menu-height: 26px
$sidebar-menu-total-width: 231px
$sidebar-menu-total-height: 211px
$sidebar-menu-image: '../img/sprite.png'
$sidebar-menu: (175px, 0px, -175px, 0px, 44px, 26px, 231px, 211px, '../img/sprite.png', 'sidebar-menu', )
$vk-name: 'vk'
$vk-x: 104px
$vk-y: 89px
$vk-offset-x: -104px
$vk-offset-y: -89px
$vk-width: 21px
$vk-height: 12px
$vk-total-width: 231px
$vk-total-height: 211px
$vk-image: '../img/sprite.png'
$vk: (104px, 89px, -104px, -89px, 21px, 12px, 231px, 211px, '../img/sprite.png', 'vk', )
$yt-name: 'yt'
$yt-x: 0px
$yt-y: 191px
$yt-offset-x: 0px
$yt-offset-y: -191px
$yt-width: 21px
$yt-height: 20px
$yt-total-width: 231px
$yt-total-height: 211px
$yt-image: '../img/sprite.png'
$yt: (0px, 191px, 0px, -191px, 21px, 20px, 231px, 211px, '../img/sprite.png', 'yt', )
$spritesheet-width: 231px
$spritesheet-height: 211px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-left, $arrow-right, $arrow-top, $bread-arrow, $inst, $menu-icon-1, $menu-icon-1-1, $menu-icon-1-1h, $menu-icon-1h, $menu-icon-1h2, $menu-icon-2, $menu-icon-2-1, $menu-icon-2-1h, $menu-icon-2h, $menu-icon-2h2, $menu-icon-3, $menu-icon-3-1, $menu-icon-3-1h, $menu-icon-3h, $menu-icon-3h2, $menu-icon-4, $menu-icon-4-1, $menu-icon-4-1h, $menu-icon-4h, $menu-icon-4h2, $menu-icon-5, $menu-icon-5-1, $menu-icon-5-1h, $menu-icon-5h, $menu-icon-5h2, $menu-icon-hover, $menu-icon-s-hover, $menu-icon-s, $menu-icon, $play, $sidebar-icon-1, $sidebar-icon-1-1, $sidebar-icon-2, $sidebar-icon-2-1, $sidebar-icon-3, $sidebar-icon-3-1, $sidebar-icon-4, $sidebar-icon-4-1, $sidebar-icon-5, $sidebar-icon-5-1, $sidebar-menu-hover, $sidebar-menu-s-hover, $sidebar-menu-s, $sidebar-menu, $vk, $yt, )
$spritesheet: (231px, 211px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
