@import "vars"

/*---------------Textpage page---------------*/
.textpage
	width: 101%
	margin-bottom: 14px
	padding: 44px 35px 60px 27px
	font-size: 16px
	font-weight: 300
	background: url(../img/bg-card.png) 0 0 no-repeat
	background-size: 100% 100%
	&-block
		+clearfix
	p
		margin-bottom: 20px
	img
		width: 100%
		margin: 25px 0 10px
	&-pict
		float: left
		width: 300px
		margin: 0 27px 12px 0
		+justify
		span
			display: block
			margin-top: 17px
			font-size: 16px
			font-weight: 700
			line-height: 1.2
			letter-spacing: -1px
			text-align: left
			text-align-last: auto
		&__main
			margin-bottom: 18px
		&__sec
			display: inline-block
			width: 44.5%
			margin-bottom: 18px
			vertical-align: top
	.pict-right
		float: right
		width: 50%
		margin: 0 0 10px 27px
/*-------------------end---------------------*/