@import "vars"

/*---------------Tour page---------------*/
.content--inner
	padding-top: 32px
.main
	&__title
		display: block
		margin-bottom: 25px
		font: 700 30px "RobotoSlab"
		color: $title
		text-transform: uppercase
	&-about
		margin-top: 18px
		padding-right: 20px
		font-size: 16px
		font-weight: 700
		color: #1b1b1b

.preview-block--inner
	margin: -17px auto -38px

.comment-block
	margin-bottom: 9px
	&__title
		margin-bottom: 33px
		font: 700 22px "RobotoSlab"
		color: #1b1b1b
		text-transform: uppercase

.comment-item
	max-width: 758px
	min-height: 159px
	margin-bottom: 10px
	background: url(../img/bg-comment.png) center top no-repeat
	background-size: 100% 100%
	&__pict
		float: left
		width: 92px
		height: 92px
		margin: 20px 0 0 27px
		img
			display: block
			width: 100%
	&__descr
		display: table
		padding: 20px 30px 35px 30px
	&__date
		display: block
		margin-bottom: 20px
		font-size: 14px
		font-weight: 700
		color: #b8716d
	&__text
		font-size: 16px
		font-weight: 300
		color: #1b1b1b

.btn-main--comment
	position: relative
	width: 239px
	margin: 33px 0 0 512px
	z-index: 5
	background: url(../img/btn-comment.png) center top no-repeat
	background-size: cover
/*------------------end------------------*/