@import "vars"

/*----------------Gallery page------------------*/
.gallery
	+justify
	+clearfix
	&-pict
		display: inline-block
		width: 261px
		margin-bottom: 40px
		outline: none
		img
			display: block
			width: 100%
/*-------------------end----------------------*/