// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-down-w-name: 'arrow-down-w'
$arrow-down-w-x: 83px
$arrow-down-w-y: 134px
$arrow-down-w-offset-x: -83px
$arrow-down-w-offset-y: -134px
$arrow-down-w-width: 18px
$arrow-down-w-height: 10px
$arrow-down-w-total-width: 223px
$arrow-down-w-total-height: 196px
$arrow-down-w-image: '../img/sprite.png'
$arrow-down-w: (83px, 134px, -83px, -134px, 18px, 10px, 223px, 196px, '../img/sprite.png', 'arrow-down-w', )
$arrow-down-name: 'arrow-down'
$arrow-down-x: 65px
$arrow-down-y: 134px
$arrow-down-offset-x: -65px
$arrow-down-offset-y: -134px
$arrow-down-width: 18px
$arrow-down-height: 10px
$arrow-down-total-width: 223px
$arrow-down-total-height: 196px
$arrow-down-image: '../img/sprite.png'
$arrow-down: (65px, 134px, -65px, -134px, 18px, 10px, 223px, 196px, '../img/sprite.png', 'arrow-down', )
$arrow-left-name: 'arrow-left'
$arrow-left-x: 172px
$arrow-left-y: 0px
$arrow-left-offset-x: -172px
$arrow-left-offset-y: 0px
$arrow-left-width: 24px
$arrow-left-height: 40px
$arrow-left-total-width: 223px
$arrow-left-total-height: 196px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (172px, 0px, -172px, 0px, 24px, 40px, 223px, 196px, '../img/sprite.png', 'arrow-left', )
$arrow-right-small-name: 'arrow-right-small'
$arrow-right-small-x: 0px
$arrow-right-small-y: 176px
$arrow-right-small-offset-x: 0px
$arrow-right-small-offset-y: -176px
$arrow-right-small-width: 11px
$arrow-right-small-height: 20px
$arrow-right-small-total-width: 223px
$arrow-right-small-total-height: 196px
$arrow-right-small-image: '../img/sprite.png'
$arrow-right-small: (0px, 176px, 0px, -176px, 11px, 20px, 223px, 196px, '../img/sprite.png', 'arrow-right-small', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 172px
$arrow-right-y: 40px
$arrow-right-offset-x: -172px
$arrow-right-offset-y: -40px
$arrow-right-width: 24px
$arrow-right-height: 40px
$arrow-right-total-width: 223px
$arrow-right-total-height: 196px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (172px, 40px, -172px, -40px, 24px, 40px, 223px, 196px, '../img/sprite.png', 'arrow-right', )
$arrow-up-w-name: 'arrow-up-w'
$arrow-up-w-x: 47px
$arrow-up-w-y: 134px
$arrow-up-w-offset-x: -47px
$arrow-up-w-offset-y: -134px
$arrow-up-w-width: 18px
$arrow-up-w-height: 10px
$arrow-up-w-total-width: 223px
$arrow-up-w-total-height: 196px
$arrow-up-w-image: '../img/sprite.png'
$arrow-up-w: (47px, 134px, -47px, -134px, 18px, 10px, 223px, 196px, '../img/sprite.png', 'arrow-up-w', )
$arrow-up-name: 'arrow-up'
$arrow-up-x: 196px
$arrow-up-y: 160px
$arrow-up-offset-x: -196px
$arrow-up-offset-y: -160px
$arrow-up-width: 18px
$arrow-up-height: 11px
$arrow-up-total-width: 223px
$arrow-up-total-height: 196px
$arrow-up-image: '../img/sprite.png'
$arrow-up: (196px, 160px, -196px, -160px, 18px, 11px, 223px, 196px, '../img/sprite.png', 'arrow-up', )
$av-1-hover-name: 'av-1-hover'
$av-1-hover-x: 0px
$av-1-hover-y: 0px
$av-1-hover-offset-x: 0px
$av-1-hover-offset-y: 0px
$av-1-hover-width: 57px
$av-1-hover-height: 50px
$av-1-hover-total-width: 223px
$av-1-hover-total-height: 196px
$av-1-hover-image: '../img/sprite.png'
$av-1-hover: (0px, 0px, 0px, 0px, 57px, 50px, 223px, 196px, '../img/sprite.png', 'av-1-hover', )
$av-1-name: 'av-1'
$av-1-x: 57px
$av-1-y: 0px
$av-1-offset-x: -57px
$av-1-offset-y: 0px
$av-1-width: 57px
$av-1-height: 50px
$av-1-total-width: 223px
$av-1-total-height: 196px
$av-1-image: '../img/sprite.png'
$av-1: (57px, 0px, -57px, 0px, 57px, 50px, 223px, 196px, '../img/sprite.png', 'av-1', )
$av-2-hover-name: 'av-2-hover'
$av-2-hover-x: 0px
$av-2-hover-y: 50px
$av-2-hover-offset-x: 0px
$av-2-hover-offset-y: -50px
$av-2-hover-width: 58px
$av-2-hover-height: 49px
$av-2-hover-total-width: 223px
$av-2-hover-total-height: 196px
$av-2-hover-image: '../img/sprite.png'
$av-2-hover: (0px, 50px, 0px, -50px, 58px, 49px, 223px, 196px, '../img/sprite.png', 'av-2-hover', )
$av-2-name: 'av-2'
$av-2-x: 114px
$av-2-y: 0px
$av-2-offset-x: -114px
$av-2-offset-y: 0px
$av-2-width: 58px
$av-2-height: 49px
$av-2-total-width: 223px
$av-2-total-height: 196px
$av-2-image: '../img/sprite.png'
$av-2: (114px, 0px, -114px, 0px, 58px, 49px, 223px, 196px, '../img/sprite.png', 'av-2', )
$av-3-hover-name: 'av-3-hover'
$av-3-hover-x: 47px
$av-3-hover-y: 99px
$av-3-hover-offset-x: -47px
$av-3-hover-offset-y: -99px
$av-3-hover-width: 61px
$av-3-hover-height: 35px
$av-3-hover-total-width: 223px
$av-3-hover-total-height: 196px
$av-3-hover-image: '../img/sprite.png'
$av-3-hover: (47px, 99px, -47px, -99px, 61px, 35px, 223px, 196px, '../img/sprite.png', 'av-3-hover', )
$av-3-name: 'av-3'
$av-3-x: 108px
$av-3-y: 99px
$av-3-offset-x: -108px
$av-3-offset-y: -99px
$av-3-width: 61px
$av-3-height: 35px
$av-3-total-width: 223px
$av-3-total-height: 196px
$av-3-image: '../img/sprite.png'
$av-3: (108px, 99px, -108px, -99px, 61px, 35px, 223px, 196px, '../img/sprite.png', 'av-3', )
$av-4-hover-name: 'av-4-hover'
$av-4-hover-x: 114px
$av-4-hover-y: 49px
$av-4-hover-offset-x: -114px
$av-4-hover-offset-y: -49px
$av-4-hover-width: 49px
$av-4-hover-height: 49px
$av-4-hover-total-width: 223px
$av-4-hover-total-height: 196px
$av-4-hover-image: '../img/sprite.png'
$av-4-hover: (114px, 49px, -114px, -49px, 49px, 49px, 223px, 196px, '../img/sprite.png', 'av-4-hover', )
$av-4-name: 'av-4'
$av-4-x: 58px
$av-4-y: 50px
$av-4-offset-x: -58px
$av-4-offset-y: -50px
$av-4-width: 49px
$av-4-height: 49px
$av-4-total-width: 223px
$av-4-total-height: 196px
$av-4-image: '../img/sprite.png'
$av-4: (58px, 50px, -58px, -50px, 49px, 49px, 223px, 196px, '../img/sprite.png', 'av-4', )
$cart-name: 'cart'
$cart-x: 29px
$cart-y: 146px
$cart-offset-x: -29px
$cart-offset-y: -146px
$cart-width: 31px
$cart-height: 26px
$cart-total-width: 223px
$cart-total-height: 196px
$cart-image: '../img/sprite.png'
$cart: (29px, 146px, -29px, -146px, 31px, 26px, 223px, 196px, '../img/sprite.png', 'cart', )
$check-2-name: 'check-2'
$check-2-x: 0px
$check-2-y: 99px
$check-2-offset-x: 0px
$check-2-offset-y: -99px
$check-2-width: 47px
$check-2-height: 47px
$check-2-total-width: 223px
$check-2-total-height: 196px
$check-2-image: '../img/sprite.png'
$check-2: (0px, 99px, 0px, -99px, 47px, 47px, 223px, 196px, '../img/sprite.png', 'check-2', )
$check-name: 'check'
$check-x: 172px
$check-y: 80px
$check-offset-x: -172px
$check-offset-y: -80px
$check-width: 21px
$check-height: 21px
$check-total-width: 223px
$check-total-height: 196px
$check-image: '../img/sprite.png'
$check: (172px, 80px, -172px, -80px, 21px, 21px, 223px, 196px, '../img/sprite.png', 'check', )
$clock-name: 'clock'
$clock-x: 196px
$clock-y: 81px
$clock-offset-x: -196px
$clock-offset-y: -81px
$clock-width: 26px
$clock-height: 26px
$clock-total-width: 223px
$clock-total-height: 196px
$clock-image: '../img/sprite.png'
$clock: (196px, 81px, -196px, -81px, 26px, 26px, 223px, 196px, '../img/sprite.png', 'clock', )
$close-name: 'close'
$close-x: 172px
$close-y: 122px
$close-offset-x: -172px
$close-offset-y: -122px
$close-width: 18px
$close-height: 18px
$close-total-width: 223px
$close-total-height: 196px
$close-image: '../img/sprite.png'
$close: (172px, 122px, -172px, -122px, 18px, 18px, 223px, 196px, '../img/sprite.png', 'close', )
$fb-name: 'fb'
$fb-x: 196px
$fb-y: 54px
$fb-offset-x: -196px
$fb-offset-y: -54px
$fb-width: 27px
$fb-height: 27px
$fb-total-width: 223px
$fb-total-height: 196px
$fb-image: '../img/sprite.png'
$fb: (196px, 54px, -196px, -54px, 27px, 27px, 223px, 196px, '../img/sprite.png', 'fb', )
$inst-name: 'inst'
$inst-x: 196px
$inst-y: 27px
$inst-offset-x: -196px
$inst-offset-y: -27px
$inst-width: 27px
$inst-height: 27px
$inst-total-width: 223px
$inst-total-height: 196px
$inst-image: '../img/sprite.png'
$inst: (196px, 27px, -196px, -27px, 27px, 27px, 223px, 196px, '../img/sprite.png', 'inst', )
$map-name: 'map'
$map-x: 196px
$map-y: 133px
$map-offset-x: -196px
$map-offset-y: -133px
$map-width: 21px
$map-height: 27px
$map-total-width: 223px
$map-total-height: 196px
$map-image: '../img/sprite.png'
$map: (196px, 133px, -196px, -133px, 21px, 27px, 223px, 196px, '../img/sprite.png', 'map', )
$percentage-name: 'percentage'
$percentage-x: 0px
$percentage-y: 146px
$percentage-offset-x: 0px
$percentage-offset-y: -146px
$percentage-width: 29px
$percentage-height: 30px
$percentage-total-width: 223px
$percentage-total-height: 196px
$percentage-image: '../img/sprite.png'
$percentage: (0px, 146px, 0px, -146px, 29px, 30px, 223px, 196px, '../img/sprite.png', 'percentage', )
$phone-name: 'phone'
$phone-x: 196px
$phone-y: 107px
$phone-offset-x: -196px
$phone-offset-y: -107px
$phone-width: 26px
$phone-height: 26px
$phone-total-width: 223px
$phone-total-height: 196px
$phone-image: '../img/sprite.png'
$phone: (196px, 107px, -196px, -107px, 26px, 26px, 223px, 196px, '../img/sprite.png', 'phone', )
$qst-name: 'qst'
$qst-x: 60px
$qst-y: 146px
$qst-offset-x: -60px
$qst-offset-y: -146px
$qst-width: 18px
$qst-height: 18px
$qst-total-width: 223px
$qst-total-height: 196px
$qst-image: '../img/sprite.png'
$qst: (60px, 146px, -60px, -146px, 18px, 18px, 223px, 196px, '../img/sprite.png', 'qst', )
$refresh-name: 'refresh'
$refresh-x: 172px
$refresh-y: 101px
$refresh-offset-x: -172px
$refresh-offset-y: -101px
$refresh-width: 17px
$refresh-height: 21px
$refresh-total-width: 223px
$refresh-total-height: 196px
$refresh-image: '../img/sprite.png'
$refresh: (172px, 101px, -172px, -101px, 17px, 21px, 223px, 196px, '../img/sprite.png', 'refresh', )
$vk-name: 'vk'
$vk-x: 196px
$vk-y: 0px
$vk-offset-x: -196px
$vk-offset-y: 0px
$vk-width: 27px
$vk-height: 27px
$vk-total-width: 223px
$vk-total-height: 196px
$vk-image: '../img/sprite.png'
$vk: (196px, 0px, -196px, 0px, 27px, 27px, 223px, 196px, '../img/sprite.png', 'vk', )
$spritesheet-width: 223px
$spritesheet-height: 196px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-down-w, $arrow-down, $arrow-left, $arrow-right-small, $arrow-right, $arrow-up-w, $arrow-up, $av-1-hover, $av-1, $av-2-hover, $av-2, $av-3-hover, $av-3, $av-4-hover, $av-4, $cart, $check-2, $check, $clock, $close, $fb, $inst, $map, $percentage, $phone, $qst, $refresh, $vk, )
$spritesheet: (223px, 196px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
