// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-down-name: 'arrow-down'
$arrow-down-x: 0px
$arrow-down-y: 0px
$arrow-down-offset-x: 0px
$arrow-down-offset-y: 0px
$arrow-down-width: 47px
$arrow-down-height: 41px
$arrow-down-total-width: 156px
$arrow-down-total-height: 119px
$arrow-down-image: '../img/sprite.png'
$arrow-down: (0px, 0px, 0px, 0px, 47px, 41px, 156px, 119px, '../img/sprite.png', 'arrow-down', )
$arrow-left-name: 'arrow-left'
$arrow-left-x: 101px
$arrow-left-y: 0px
$arrow-left-offset-x: -101px
$arrow-left-offset-y: 0px
$arrow-left-width: 32px
$arrow-left-height: 32px
$arrow-left-total-width: 156px
$arrow-left-total-height: 119px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (101px, 0px, -101px, 0px, 32px, 32px, 156px, 119px, '../img/sprite.png', 'arrow-left', )
$arrow-left2-name: 'arrow-left2'
$arrow-left2-x: 0px
$arrow-left2-y: 41px
$arrow-left2-offset-x: 0px
$arrow-left2-offset-y: -41px
$arrow-left2-width: 32px
$arrow-left2-height: 32px
$arrow-left2-total-width: 156px
$arrow-left2-total-height: 119px
$arrow-left2-image: '../img/sprite.png'
$arrow-left2: (0px, 41px, 0px, -41px, 32px, 32px, 156px, 119px, '../img/sprite.png', 'arrow-left2', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 32px
$arrow-right-y: 41px
$arrow-right-offset-x: -32px
$arrow-right-offset-y: -41px
$arrow-right-width: 32px
$arrow-right-height: 32px
$arrow-right-total-width: 156px
$arrow-right-total-height: 119px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (32px, 41px, -32px, -41px, 32px, 32px, 156px, 119px, '../img/sprite.png', 'arrow-right', )
$arrow-right2-name: 'arrow-right2'
$arrow-right2-x: 64px
$arrow-right2-y: 41px
$arrow-right2-offset-x: -64px
$arrow-right2-offset-y: -41px
$arrow-right2-width: 32px
$arrow-right2-height: 32px
$arrow-right2-total-width: 156px
$arrow-right2-total-height: 119px
$arrow-right2-image: '../img/sprite.png'
$arrow-right2: (64px, 41px, -64px, -41px, 32px, 32px, 156px, 119px, '../img/sprite.png', 'arrow-right2', )
$arrow-up-name: 'arrow-up'
$arrow-up-x: 47px
$arrow-up-y: 0px
$arrow-up-offset-x: -47px
$arrow-up-offset-y: 0px
$arrow-up-width: 54px
$arrow-up-height: 29px
$arrow-up-total-width: 156px
$arrow-up-total-height: 119px
$arrow-up-image: '../img/sprite.png'
$arrow-up: (47px, 0px, -47px, 0px, 54px, 29px, 156px, 119px, '../img/sprite.png', 'arrow-up', )
$fb-bl-name: 'fb-bl'
$fb-bl-x: 101px
$fb-bl-y: 32px
$fb-bl-offset-x: -101px
$fb-bl-offset-y: -32px
$fb-bl-width: 23px
$fb-bl-height: 23px
$fb-bl-total-width: 156px
$fb-bl-total-height: 119px
$fb-bl-image: '../img/sprite.png'
$fb-bl: (101px, 32px, -101px, -32px, 23px, 23px, 156px, 119px, '../img/sprite.png', 'fb-bl', )
$fb-h-name: 'fb-h'
$fb-h-x: 0px
$fb-h-y: 73px
$fb-h-offset-x: 0px
$fb-h-offset-y: -73px
$fb-h-width: 23px
$fb-h-height: 23px
$fb-h-total-width: 156px
$fb-h-total-height: 119px
$fb-h-image: '../img/sprite.png'
$fb-h: (0px, 73px, 0px, -73px, 23px, 23px, 156px, 119px, '../img/sprite.png', 'fb-h', )
$fb-name: 'fb'
$fb-x: 23px
$fb-y: 73px
$fb-offset-x: -23px
$fb-offset-y: -73px
$fb-width: 23px
$fb-height: 23px
$fb-total-width: 156px
$fb-total-height: 119px
$fb-image: '../img/sprite.png'
$fb: (23px, 73px, -23px, -73px, 23px, 23px, 156px, 119px, '../img/sprite.png', 'fb', )
$inst-bl-name: 'inst-bl'
$inst-bl-x: 133px
$inst-bl-y: 0px
$inst-bl-offset-x: -133px
$inst-bl-offset-y: 0px
$inst-bl-width: 23px
$inst-bl-height: 23px
$inst-bl-total-width: 156px
$inst-bl-total-height: 119px
$inst-bl-image: '../img/sprite.png'
$inst-bl: (133px, 0px, -133px, 0px, 23px, 23px, 156px, 119px, '../img/sprite.png', 'inst-bl', )
$inst-h-name: 'inst-h'
$inst-h-x: 69px
$inst-h-y: 73px
$inst-h-offset-x: -69px
$inst-h-offset-y: -73px
$inst-h-width: 23px
$inst-h-height: 23px
$inst-h-total-width: 156px
$inst-h-total-height: 119px
$inst-h-image: '../img/sprite.png'
$inst-h: (69px, 73px, -69px, -73px, 23px, 23px, 156px, 119px, '../img/sprite.png', 'inst-h', )
$inst-name: 'inst'
$inst-x: 92px
$inst-y: 73px
$inst-offset-x: -92px
$inst-offset-y: -73px
$inst-width: 23px
$inst-height: 23px
$inst-total-width: 156px
$inst-total-height: 119px
$inst-image: '../img/sprite.png'
$inst: (92px, 73px, -92px, -73px, 23px, 23px, 156px, 119px, '../img/sprite.png', 'inst', )
$vk-bl-name: 'vk-bl'
$vk-bl-x: 0px
$vk-bl-y: 96px
$vk-bl-offset-x: 0px
$vk-bl-offset-y: -96px
$vk-bl-width: 23px
$vk-bl-height: 23px
$vk-bl-total-width: 156px
$vk-bl-total-height: 119px
$vk-bl-image: '../img/sprite.png'
$vk-bl: (0px, 96px, 0px, -96px, 23px, 23px, 156px, 119px, '../img/sprite.png', 'vk-bl', )
$vk-h-name: 'vk-h'
$vk-h-x: 23px
$vk-h-y: 96px
$vk-h-offset-x: -23px
$vk-h-offset-y: -96px
$vk-h-width: 23px
$vk-h-height: 23px
$vk-h-total-width: 156px
$vk-h-total-height: 119px
$vk-h-image: '../img/sprite.png'
$vk-h: (23px, 96px, -23px, -96px, 23px, 23px, 156px, 119px, '../img/sprite.png', 'vk-h', )
$vk-name: 'vk'
$vk-x: 46px
$vk-y: 96px
$vk-offset-x: -46px
$vk-offset-y: -96px
$vk-width: 23px
$vk-height: 23px
$vk-total-width: 156px
$vk-total-height: 119px
$vk-image: '../img/sprite.png'
$vk: (46px, 96px, -46px, -96px, 23px, 23px, 156px, 119px, '../img/sprite.png', 'vk', )
$yt-bl-name: 'yt-bl'
$yt-bl-x: 69px
$yt-bl-y: 96px
$yt-bl-offset-x: -69px
$yt-bl-offset-y: -96px
$yt-bl-width: 23px
$yt-bl-height: 23px
$yt-bl-total-width: 156px
$yt-bl-total-height: 119px
$yt-bl-image: '../img/sprite.png'
$yt-bl: (69px, 96px, -69px, -96px, 23px, 23px, 156px, 119px, '../img/sprite.png', 'yt-bl', )
$yt-h-name: 'yt-h'
$yt-h-x: 92px
$yt-h-y: 96px
$yt-h-offset-x: -92px
$yt-h-offset-y: -96px
$yt-h-width: 23px
$yt-h-height: 23px
$yt-h-total-width: 156px
$yt-h-total-height: 119px
$yt-h-image: '../img/sprite.png'
$yt-h: (92px, 96px, -92px, -96px, 23px, 23px, 156px, 119px, '../img/sprite.png', 'yt-h', )
$yt-name: 'yt'
$yt-x: 46px
$yt-y: 73px
$yt-offset-x: -46px
$yt-offset-y: -73px
$yt-width: 23px
$yt-height: 23px
$yt-total-width: 156px
$yt-total-height: 119px
$yt-image: '../img/sprite.png'
$yt: (46px, 73px, -46px, -73px, 23px, 23px, 156px, 119px, '../img/sprite.png', 'yt', )
$spritesheet-width: 156px
$spritesheet-height: 119px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-down, $arrow-left, $arrow-left2, $arrow-right, $arrow-right2, $arrow-up, $fb-bl, $fb-h, $fb, $inst-bl, $inst-h, $inst, $vk-bl, $vk-h, $vk, $yt-bl, $yt-h, $yt, )
$spritesheet: (156px, 119px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
