	<footer class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="footer-title">The culture of listening to music</div>
				<a href="mailto:info@digitop100.lv" class="footer-mail">info@digitop100.lv</a>
				<a href="tel:+37129206646" class="footer-phone">+371 29 20 66 46</a>
			</div>
			<div class="footer-bottom">
				<img src="img/logo-1.png" alt="">
				<img src="img/logo-2.png" alt="">
				<img src="img/logo-3.png" alt="">
				<img src="img/logo-4.png" alt="">
				<img src="img/logo-5.png" alt="">
				<img src="img/logo-6.png" alt="">
				<img src="img/logo-7.png" alt="">
			</div>
		</div>
	</footer>

	<div class="hidden"></div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery-2.2.4/jquery-2.2.4.min.js"></script>
	<script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>
