	<header class="header">
		<div class="menu-overlay"></div>
		<div class="header-top">
			<div class="container">

				<a href="#" class="menu-btn">
					<b></b>
					<b></b>
					<b></b>
				</a>

				<ul class="nav nav--header">
					<li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Все бренды</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Оплата и доставка</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
					<li class="nav__item nav__item--last"><a href="#" class="nav__link">Больше о парфюмерии</a></li>
					<li class="nav__item nav__item--hide"><a href="#" class="nav__link">Юридическая информация</a></li>
				</ul>

				<div class="logo">
					<a href="#" class="logo__link"><img src="img/logo.png" alt=""></a>
				</div>

				<span class="hide"><![CDATA[<noindex>]]></span>
				<div class="cart">
					<a href="#" class="cart-link">
						<span class="cart-link__count">12 шт.</span><span class="cart-link__price">25000 руб.</span>
					</a>
				</div>
				<span class="hide"><![CDATA[</noindex>]]></span>

				<div class="contact contact--header">
					<a href="tel:+74952203954" class="contact__phone">+7 (495) 220-39-54</a>
					<a href="tel:+79852203954" class="contact__phone">+7 (985) 220-39-54</a>
					<span class="contact__work">Ежедневно с 9:00 - 19:00</span>
				</div>
			</div>
			<div class="nav-wrap">
				<div class="container">
					<div class="nav-change">
						<span class="nav-change__title">Выбор по названию бренда:</span>
						<ul class="change-list">
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-a">A</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-b">B</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-c">C</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-d">D</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-e">E</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-f">F</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-g">G</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-h">H</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-i">I</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-j">J</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-k">K</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-l">L</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-m">M</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-n">N</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-o">O</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-p">P</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-r">R</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-s">S</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-t">T</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-u">U</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-v">V</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-w">W</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-x">X</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-y">Y</a></li>
							<li class="change-list__item"><a href="#" class="change-list__link" data-target=".letter-z">Z</a></li>
							<li class="change-list__item change-list__item--last"><a href="#" class="change-list__link" data-target=".letter-09">0 - 9</a></li>
						</ul>

					<span class="hide"><![CDATA[<noindex>]]></span>
						<div class="search">
							<input class="search__in" type="search" name="search" id="search" placeholder="Поиск продукции:">
							<button class="search-btn"><i></i>поиск</button>

							<div class="search-result">
								<div class="search-result__title">Результаты поиска:</div>
								<ul class="search-result__list">
									<li class="search-result__item"><a href="#" class="search-result__link">Modern princess</a></li>
									<li class="search-result__item"><a href="#" class="search-result__link">Modern princess 100 ml</a></li>
									<li class="search-result__item"><a href="#" class="search-result__link">Новое поступление аромата Modern princess</a></li>
									<li class="search-result__item"><a href="#" class="search-result__link">Modern princess большой флакон</a></li>
								</ul>
							</div>
						</div>
					<span class="hide"><![CDATA[</noindex>]]></span>

					</div>

					<div class="change-drop">
						<div class="letter letter-a">
							<div class="letter__name"><span>A</span></div>
							<ul class="letter-list">
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hanorah</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hayari Parfums</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Heidi Klum</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Helena Rubinstein</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hello Kitty</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Helmut</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henri Bendel</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henrik Vibskov</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henry Cotton`s</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henry Dunay</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hermes</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hero</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herr von Eden</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herve Leger</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilary Duff</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilde Soliani</a></li>
							</ul>
						</div>
						<div class="letter letter-b">
							<div class="letter__name"><span>B</span></div>
							<ul class="letter-list">
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hanorah</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hayari Parfums</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Heidi Klum</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Helena Rubinstein</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hello Kitty</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Helmut</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henri Bendel</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henrik Vibskov</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henry Cotton`s</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henry Dunay</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hermes</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hero</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herr von Eden</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herve Leger</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilary Duff</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilde Soliani</a></li>
							</ul>
						</div>
						<div class="letter letter-h">
							<div class="letter__name"><span>H</span></div>
							<ul class="letter-list">
								<li class="letter-list__item"><a href="#" class="letter-list__link">Halle Berry</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Halston</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hamidi Oud & Perfumes</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hanae Mori</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hanorah</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hayari Parfums</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Heidi Klum</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Helena Rubinstein</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hello Kitty</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Helmut</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henri Bendel</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henrik Vibskov</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henry Cotton`s</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henry Dunay</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hermes</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hero</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herr von Eden</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herve Leger</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilary Duff</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilde Soliani</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hero</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herr von Eden</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herve Leger</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilary Duff</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilde Soliani</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hero</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herr von Eden</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herve Leger</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilary Duff</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilde Soliani</a></li>
							</ul>
						</div>
						<div class="letter letter-i">
							<div class="letter__name"><span>I</span></div>
							<ul class="letter-list">
								<li class="letter-list__item"><a href="#" class="letter-list__link">Halle Berry</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Halston</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Helena Rubinstein</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hello Kitty</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Helmut</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henri Bendel</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henrik Vibskov</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henry Cotton`s</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henry Dunay</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hermes</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hero</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herr von Eden</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herve Leger</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilary Duff</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilde Soliani</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hero</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herr von Eden</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herve Leger</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilary Duff</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilde Soliani</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hero</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herr von Eden</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Herve Leger</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilary Duff</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hilde Soliani</a></li>
							</ul>
						</div>
						<div class="letter letter-09">
							<div class="letter__name"><span>0 - 9</span></div>
							<ul class="letter-list">
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hanorah</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hayari Parfums</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Heidi Klum</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Helena Rubinstein</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Hello Kitty</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Helmut</a></li>
								<li class="letter-list__item"><a href="#" class="letter-list__link">Henri Bendel</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>

		</div>

		<div class="header-main">
			<div class="header-slider">
				<div class="slider-item">
					<img class="slider-pict" src="img/slide-1.jpg" alt="">
					<div class="slider-caption">
						<div class="container">
							<h1 class="slider-caption__title">Modern Princess</h1>
							<div class="slider-caption__descr">Modern Princess - Июль 2016 года ознаменован выпуском нового молодежного аромата от Lanvin, который был назван Modern Princess и завоевал множество поклонников!</div>
							<a href="#" class="btn btn--look">Посмотреть</a>
							<div class="slider-caption__price"><span>от&nbsp;</span>6500<span>&nbsp;руб.</span></div>
						</div>
					</div>
				</div>

				<div class="slider-item">
					<img class="slider-pict" src="img/slide-1.jpg" alt="">
					<div class="slider-caption">
						<div class="container">
							<div class="slider-caption__title">Modern Princess</div>
							<div class="slider-caption__descr">Modern Princess - Июль 2016 года ознаменован выпуском нового молодежного аромата от Lanvin, который был назван Modern Princess и завоевал множество поклонников!</div>
							<a href="#" class="btn btn--look">Посмотреть</a>
							<div class="slider-caption__price"><span>от&nbsp;</span>6500<span>&nbsp;руб.</span></div>
						</div>
					</div>
				</div>

				<div class="slider-item">
					<img class="slider-pict" src="img/slide-1.jpg" alt="">
					<div class="slider-caption">
						<div class="container">
							<div class="slider-caption__title">Modern Princess</div>
							<div class="slider-caption__descr">Modern Princess - Июль 2016 года ознаменован выпуском нового молодежного аромата от Lanvin, который был назван Modern Princess и завоевал множество поклонников!</div>
							<a href="#" class="btn btn--look">Посмотреть</a>
							<div class="slider-caption__price"><span>от&nbsp;</span>6500<span>&nbsp;руб.</span></div>
						</div>
					</div>
				</div>

			</div>
			<div class="arrow-block container"></div>
		</div>
	</header>