	<header class="header">
		<div class="container">

			<a href="#" class="logo">Логотип</a>

			<a href="#" class="main-link">На главную</a>

			<div class="counter">
				<div class="counter__title">Уже на сайте:</div>
				<div class="counter__total">10487</div>
				<div class="counter__num"><span>5</span>человек</div>
			</div>

			<div class="account">
				<a href="#personal" class="btn btn--signin popup" data-effect="mfp-zoom-in">В личный кабинет</a>

				<div class="account__total">Ваш счет: <span>12 000 руб.</span></div>
			</div>

		</div>
	</header>