@import "vars"

/*-------------Photo page--------------*/
.header
	&--photo
		background: url(../img/header-photo-bg.jpg) center top no-repeat
		background-size: cover

.header-top
	&--photo
		height: 365px

.header-main
	&--photo
		padding: 100px 0 160px
		&:before
			top: 42px
			background: url(../img/ornament-3.png) center top no-repeat

.section-one
	&--photo
		padding-top: 104px
		&:before
			top: -10px

.catalog-item
	&--photo
		margin-bottom: 16px

.section-text
	&--photo
		margin-top: 90px
/*-----------------end-------------------*/