@import "vars"

/*-------------Zone page--------------*/
.section-one
	&--zone
		padding-bottom: 75px

.catalog-item
	&--zone
		width: 33.33%
		img
			height: 240px
/*-----------------end-----------------*/