/*-------------C-fill page----------------*/
.catalog
	padding-bottom: 75px
	.container
		+clearfix
	&_fill
		.card
			margin: 0 30px 6px
			.btn
				width: 100%
			&__price
				display: none
/*-----------------end--------------------*/