/*-------------C-tort page----------------*/
.sidebar
	float: left
	width: 17%
	padding: 28px 27px 24px
	border-radius: 5px
	background: #7e4e6c
	&-menu
		li
			display: block
			margin-bottom: 22px
			a
				display: block
				font: 700 28px/26px "summer"
				color: #fff
				&:hover
					color: #fcabdb

.main
	float: left
	width: 83%
	padding: 0 0 17px 10px
	.card
		max-width: 34%
		margin: 0 -4px 0
		padding: 46px
		background: #fff url(../img/card-bg2.png) center no-repeat
		background-size: 100%
		&:hover
			background: #fff url(../img/card-bg2-h.png) center no-repeat
			background-size: 100%
		&__bottom
			width: 74%
/*-----------------end--------------------*/