/*-------------Grid-----------*/
@media (min-width: 320px)
	.container
		width: 320px

@media (min-width: 568px)
	.container
		width: 540px

@media (min-width: 768px)
	.container
		width: 740px

@media (min-width: 992px)
	.container
		width: 940px

@media (min-width: 1200px)
	.container
		width: 1170px

@media (min-width: 1320px)
	.container
		width: 1320px
/*------------end-------------*/