/*-------------Info page----------------*/
.info
	padding: 0 0 89px
	&__text
		width: 70%
		font-size: 15px
		color: $gray
		p
			margin-bottom: 20px
	&__title
		display: block
		margin: 32px 0 24px
		font: 700 53px/53px "summer"
		color: #000
/*-------------------end--------------------*/