// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-down-bl-name: 'arrow-down-bl'
$arrow-down-bl-x: 201px
$arrow-down-bl-y: 166px
$arrow-down-bl-offset-x: -201px
$arrow-down-bl-offset-y: -166px
$arrow-down-bl-width: 14px
$arrow-down-bl-height: 8px
$arrow-down-bl-total-width: 225px
$arrow-down-bl-total-height: 176px
$arrow-down-bl-image: '../img/sprite.png'
$arrow-down-bl: (201px, 166px, -201px, -166px, 14px, 8px, 225px, 176px, '../img/sprite.png', 'arrow-down-bl', )
$arrow-down-name: 'arrow-down'
$arrow-down-x: 138px
$arrow-down-y: 109px
$arrow-down-offset-x: -138px
$arrow-down-offset-y: -109px
$arrow-down-width: 13px
$arrow-down-height: 8px
$arrow-down-total-width: 225px
$arrow-down-total-height: 176px
$arrow-down-image: '../img/sprite.png'
$arrow-down: (138px, 109px, -138px, -109px, 13px, 8px, 225px, 176px, '../img/sprite.png', 'arrow-down', )
$arrow-left-name: 'arrow-left'
$arrow-left-x: 0px
$arrow-left-y: 71px
$arrow-left-offset-x: 0px
$arrow-left-offset-y: -71px
$arrow-left-width: 67px
$arrow-left-height: 71px
$arrow-left-total-width: 225px
$arrow-left-total-height: 176px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (0px, 71px, 0px, -71px, 67px, 71px, 225px, 176px, '../img/sprite.png', 'arrow-left', )
$arrow-left2-name: 'arrow-left2'
$arrow-left2-x: 134px
$arrow-left2-y: 0px
$arrow-left2-offset-x: -134px
$arrow-left2-offset-y: 0px
$arrow-left2-width: 67px
$arrow-left2-height: 71px
$arrow-left2-total-width: 225px
$arrow-left2-total-height: 176px
$arrow-left2-image: '../img/sprite.png'
$arrow-left2: (134px, 0px, -134px, 0px, 67px, 71px, 225px, 176px, '../img/sprite.png', 'arrow-left2', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 0px
$arrow-right-y: 0px
$arrow-right-offset-x: 0px
$arrow-right-offset-y: 0px
$arrow-right-width: 67px
$arrow-right-height: 71px
$arrow-right-total-width: 225px
$arrow-right-total-height: 176px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (0px, 0px, 0px, 0px, 67px, 71px, 225px, 176px, '../img/sprite.png', 'arrow-right', )
$arrow-right2-name: 'arrow-right2'
$arrow-right2-x: 67px
$arrow-right2-y: 0px
$arrow-right2-offset-x: -67px
$arrow-right2-offset-y: 0px
$arrow-right2-width: 67px
$arrow-right2-height: 71px
$arrow-right2-total-width: 225px
$arrow-right2-total-height: 176px
$arrow-right2-image: '../img/sprite.png'
$arrow-right2: (67px, 0px, -67px, 0px, 67px, 71px, 225px, 176px, '../img/sprite.png', 'arrow-right2', )
$arrow-up-name: 'arrow-up'
$arrow-up-x: 151px
$arrow-up-y: 109px
$arrow-up-offset-x: -151px
$arrow-up-offset-y: -109px
$arrow-up-width: 13px
$arrow-up-height: 8px
$arrow-up-total-width: 225px
$arrow-up-total-height: 176px
$arrow-up-image: '../img/sprite.png'
$arrow-up: (151px, 109px, -151px, -109px, 13px, 8px, 225px, 176px, '../img/sprite.png', 'arrow-up', )
$cart-name: 'cart'
$cart-x: 34px
$cart-y: 142px
$cart-offset-x: -34px
$cart-offset-y: -142px
$cart-width: 31px
$cart-height: 33px
$cart-total-width: 225px
$cart-total-height: 176px
$cart-image: '../img/sprite.png'
$cart: (34px, 142px, -34px, -142px, 31px, 33px, 225px, 176px, '../img/sprite.png', 'cart', )
$clock-name: 'clock'
$clock-x: 201px
$clock-y: 56px
$clock-offset-x: -201px
$clock-offset-y: -56px
$clock-width: 24px
$clock-height: 24px
$clock-total-width: 225px
$clock-total-height: 176px
$clock-image: '../img/sprite.png'
$clock: (201px, 56px, -201px, -56px, 24px, 24px, 225px, 176px, '../img/sprite.png', 'clock', )
$close-name: 'close'
$close-x: 67px
$close-y: 71px
$close-offset-x: -67px
$close-offset-y: -71px
$close-width: 57px
$close-height: 57px
$close-total-width: 225px
$close-total-height: 176px
$close-image: '../img/sprite.png'
$close: (67px, 71px, -67px, -71px, 57px, 57px, 225px, 176px, '../img/sprite.png', 'close', )
$close2-name: 'close2'
$close2-x: 65px
$close2-y: 142px
$close2-offset-x: -65px
$close2-offset-y: -142px
$close2-width: 30px
$close2-height: 30px
$close2-total-width: 225px
$close2-total-height: 176px
$close2-image: '../img/sprite.png'
$close2: (65px, 142px, -65px, -142px, 30px, 30px, 225px, 176px, '../img/sprite.png', 'close2', )
$feed-left-name: 'feed-left'
$feed-left-x: 201px
$feed-left-y: 110px
$feed-left-offset-x: -201px
$feed-left-offset-y: -110px
$feed-left-width: 13px
$feed-left-height: 21px
$feed-left-total-width: 225px
$feed-left-total-height: 176px
$feed-left-image: '../img/sprite.png'
$feed-left: (201px, 110px, -201px, -110px, 13px, 21px, 225px, 176px, '../img/sprite.png', 'feed-left', )
$feed-right-name: 'feed-right'
$feed-right-x: 201px
$feed-right-y: 131px
$feed-right-offset-x: -201px
$feed-right-offset-y: -131px
$feed-right-width: 13px
$feed-right-height: 21px
$feed-right-total-width: 225px
$feed-right-total-height: 176px
$feed-right-image: '../img/sprite.png'
$feed-right: (201px, 131px, -201px, -131px, 13px, 21px, 225px, 176px, '../img/sprite.png', 'feed-right', )
$inst-ic-name: 'inst-ic'
$inst-ic-x: 0px
$inst-ic-y: 142px
$inst-ic-offset-x: 0px
$inst-ic-offset-y: -142px
$inst-ic-width: 34px
$inst-ic-height: 34px
$inst-ic-total-width: 225px
$inst-ic-total-height: 176px
$inst-ic-image: '../img/sprite.png'
$inst-ic: (0px, 142px, 0px, -142px, 34px, 34px, 225px, 176px, '../img/sprite.png', 'inst-ic', )
$location-name: 'location'
$location-x: 201px
$location-y: 0px
$location-offset-x: -201px
$location-offset-y: 0px
$location-width: 24px
$location-height: 32px
$location-total-width: 225px
$location-total-height: 176px
$location-image: '../img/sprite.png'
$location: (201px, 0px, -201px, 0px, 24px, 32px, 225px, 176px, '../img/sprite.png', 'location', )
$login-name: 'login'
$login-x: 201px
$login-y: 152px
$login-offset-x: -201px
$login-offset-y: -152px
$login-width: 18px
$login-height: 14px
$login-total-width: 225px
$login-total-height: 176px
$login-image: '../img/sprite.png'
$login: (201px, 152px, -201px, -152px, 18px, 14px, 225px, 176px, '../img/sprite.png', 'login', )
$login2-name: 'login2'
$login2-x: 201px
$login2-y: 32px
$login2-offset-x: -201px
$login2-offset-y: -32px
$login2-width: 24px
$login2-height: 24px
$login2-total-width: 225px
$login2-total-height: 176px
$login2-image: '../img/sprite.png'
$login2: (201px, 32px, -201px, -32px, 24px, 24px, 225px, 176px, '../img/sprite.png', 'login2', )
$mail-name: 'mail'
$mail-x: 201px
$mail-y: 95px
$mail-offset-x: -201px
$mail-offset-y: -95px
$mail-width: 24px
$mail-height: 15px
$mail-total-width: 225px
$mail-total-height: 176px
$mail-image: '../img/sprite.png'
$mail: (201px, 95px, -201px, -95px, 24px, 15px, 225px, 176px, '../img/sprite.png', 'mail', )
$mail2-name: 'mail2'
$mail2-x: 201px
$mail2-y: 80px
$mail2-offset-x: -201px
$mail2-offset-y: -80px
$mail2-width: 24px
$mail2-height: 15px
$mail2-total-width: 225px
$mail2-total-height: 176px
$mail2-image: '../img/sprite.png'
$mail2: (201px, 80px, -201px, -80px, 24px, 15px, 225px, 176px, '../img/sprite.png', 'mail2', )
$phone-name: 'phone'
$phone-x: 124px
$phone-y: 71px
$phone-offset-x: -124px
$phone-offset-y: -71px
$phone-width: 38px
$phone-height: 38px
$phone-total-width: 225px
$phone-total-height: 176px
$phone-image: '../img/sprite.png'
$phone: (124px, 71px, -124px, -71px, 38px, 38px, 225px, 176px, '../img/sprite.png', 'phone', )
$search-name: 'search'
$search-x: 124px
$search-y: 109px
$search-offset-x: -124px
$search-offset-y: -109px
$search-width: 14px
$search-height: 13px
$search-total-width: 225px
$search-total-height: 176px
$search-image: '../img/sprite.png'
$search: (124px, 109px, -124px, -109px, 14px, 13px, 225px, 176px, '../img/sprite.png', 'search', )
$vk-ic-name: 'vk-ic'
$vk-ic-x: 162px
$vk-ic-y: 71px
$vk-ic-offset-x: -162px
$vk-ic-offset-y: -71px
$vk-ic-width: 34px
$vk-ic-height: 34px
$vk-ic-total-width: 225px
$vk-ic-total-height: 176px
$vk-ic-image: '../img/sprite.png'
$vk-ic: (162px, 71px, -162px, -71px, 34px, 34px, 225px, 176px, '../img/sprite.png', 'vk-ic', )
$spritesheet-width: 225px
$spritesheet-height: 176px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-down-bl, $arrow-down, $arrow-left, $arrow-left2, $arrow-right, $arrow-right2, $arrow-up, $cart, $clock, $close, $close2, $feed-left, $feed-right, $inst-ic, $location, $login, $login2, $mail, $mail2, $phone, $search, $vk-ic, )
$spritesheet: (225px, 176px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
