@import "bourbon"

$default-font: "roboto", sans-serif
$main-color: #000
$purple-main: #4c1a39
$link: #4191ce
$btn-color: #522740
$accent: #513445
$title-card: #533e4a
$gray: #7c7c7c
$price: #493943
$rose: #e4cfe4