/*-------------Blog-in page----------------*/
.article
	margin-bottom: -16px
	padding: 25px 0 82px
	text-align: center
	background: #fcf7d3
	.pict__wrap
		width: 409px
		height: 409px
	.pict-stick
		top: 106px
		right: -170px
		&__count
			top: 29px
	&__text
		width: 88%
		margin: 22px auto 0
/*-------------------end--------------------*/