@import "bourbon"
@import "grid"
@import "vars"
@import "sprite"

@media only screen and (max-width : 1319px)
	.location
		margin-left: 15px

	.mail
		margin-left: 15px

	.search
		margin-left: 25px

	.phone
		position: absolute
		top: 3px
		right: 20px
		margin: 0

	.login
		margin-top: 35px

	.nav > li
		margin-right: 17px

	.card-wrap
		padding-left: 0

	.cl-block
		width: 95%

	.f-slider
		width: 850px
		padding-left: 15px
		.slick-arrow
			&.slick-next
				right: -10px

	.f-item
		&__descr
			width: 590px
			padding-left: 200px
			background-size: 100% 100%
		&__text
			padding-right: 30px

	.modal-form
		width: 95%

	/*------------Promo page----------------*/
	.card-ws
		padding: 0 70px
	/*---------------end---------------------*/

	/*-------------C-fill page----------------*/
	.catalog
		&_fill
			.card
				margin: 0 5px 6px
	/*-----------------end--------------------*/

	/*-------------C-tort page----------------*/
	.main
		.card
			padding: 40px
			background: #fff url(../img/card-bg2.png) center no-repeat
			background-size: 100% 100%
			&:hover
				background: #fff url(../img/card-bg2-h.png) center no-repeat
				background-size: 100% 100%
			&__bottom
				width: 75%
	/*-----------------end--------------------*/

	/*----------------About page---------------*/
	.cl-team
		.cl-item
			margin: 0 5px
	/*--------------------end-------------------*/

	/*-------------Info page----------------*/
	.info
		&__text
			width: 80%
	/*-------------------end--------------------*/

	/*---------------Login page--------------*/
	.tb__data
		width: 130px
		height: 80px
		span
			font-size: 16px
	/*------------------end-------------------*/


@media only screen and (max-width : 1199px)
	.logo
		width: 125px
		background: none

	.location
		vertical-align: top
		margin: 5px 0 0 20px

	.mail
		position: relative
		display: block
		margin: 0
		left: 20px
		span
			display: none

	.search
		position: absolute
		top: 8px
		left: 165px
		right: 0
		margin: 0 auto

	.login
		margin-top: -15px

	.nav
		margin-left: 10px
		> li
			margin-right: 15px
			> a
				font-size: 30px

	.nav-submenu
		top: 45px

	.navbar-cart
		margin-top: 0
		&:before
			top: 2px
		&__count
			display: block
			&:after
				display: none
		&__total
			display: block

	.card
		max-width: 290px
		height: 490px
		margin: 0 0 6px
		padding: 30px
		background-size: 100% 100%
		&:hover
			background-size: 100% 100%
		&__pict
			height: 163px
		&__bottom
			bottom: 30px
			width: 80%

	.f-slider
		width: 75%

	.feedback
		padding: 27px 0

	.f-item
		&__main
			width: 150px
		&__pict
			width: 150px
			height: 150px
		&__descr
			width: 77%

	.vk-block
		width: 200px

	.scroll-top
		left: 20px

	/*------------Promo page----------------*/
	.header_inner
		.logo
			background: none

	.breadcrumb
		margin-left: 0

	.card-ws
		padding: 0 25px
		.pict__wrap
			width: 215px
			height: 215px
		.pict-stick
			right: -160px
		.btn
			width: 225px

	.page-about__text
		width: 100%
	/*---------------end---------------------*/

	/*------------Fill page----------------*/
	.page-title_size
		width: 78%

	.tovar
		padding-bottom: 90px
		&__pict
			float: none
			width: 100%
			img
				width: auto
				max-width: 100%

	.tovar-descr
		display: block
		width: 100%
		padding-left: 0
	/*---------------end---------------------*/

	/*-------------Tort page----------------*/
	.tovar
		&-main
			width: 54%
		&-descr_tort
			display: table
			width: 46%
			padding-left: 20px

	.change-block
		margin: 0 0 20px
		.jq-selectbox
			width: 290px

	.tovar-total
		margin-top: 35px
	/*-----------------end------------------*/

	/*-------------C-tort page----------------*/
	.sidebar
		width: 25%

	.main
		width: 75%
		.card
			max-width: 51%
			margin: 0 -4px 0
			padding: 40px
			background: #fff url(../img/card-bg.png) center no-repeat
			background-size: 100% 100%
			&:hover
				background: #fff url(../img/card-bg-h.png) center no-repeat
				background-size: 100% 100%
			&__bottom
				width: 75%
				bottom: 40px
	/*-----------------end--------------------*/

	/*-------------Contact page----------------*/
	.contact-form
		.modal-form
			form
				textarea
					width: 550px
	/*-----------------end----------------------*/

	/*----------------About page---------------*/
	.cl-team
		.cl-item
			margin: 0 10px
	/*--------------------end-------------------*/

	/*-------------Info page----------------*/
	.info
		&__text
			width: 100%
	/*-------------------end--------------------*/

	/*-------------Cart page----------------*/
	.tb
		&-cell
			&_body
				padding: 15px 15px 15px 0
				&:first-child
					padding-left: 15px
				&:last-child
					padding-right: 15px
			&_count
				width: 13%
		&__name
			font-size: 42px
		&__price
			font-size: 18px

	.order-block
		&__title
			display: block
			margin-bottom: 12px
	/*----------------end--------------------*/

	/*---------------Login page--------------*/
	.tb__data
		width: 110px
		height: 70px
		span
			font-size: 15px
	/*------------------end-------------------*/


@media only screen and (max-width : 991px)
	.header-top
		height: 115px
		background: #f4f4f4
		.container
			position: relative

	.logo
		width: 185px

	.location
		display: block
		max-width: 290px
		margin: 0
		padding: 16px 0 0 15px
		overflow: hidden
		font-size: 18px

	.mail
		position: absolute
		bottom: 4px
		right: 15px
		left: auto
		margin: 0
		a
			font-size: 22px

	.search
		bottom: 0
		top: 128px
		right: 0
		left: -75px

	.phone
		position: relative
		display: block
		top: 0
		right: 0
		overflow: hidden
		margin: 12px 0 0
		padding-left: 10px
		font-size: 26px

	.login
		position: absolute
		float: none
		top: 14px
		right: 15px
		margin: 0
		&__link
			font-size: 18px
			&:before
				top: 6px
				left: -25px
		&-form
			top: -15px
			right: -20px

	.navbar
		height: auto
		.container
			position: relative

	.nav
		margin-left: 0
		> li
			margin-right: 13px
			> a
				font-size: 35px

	.nav-submenu
		top: 53px

	.navbar-cart
		position: absolute
		float: none
		top: 14px
		right: 15px
		font-size: 20px
		&:before
			top: -9px
		&__count
			display: inline-block
			margin-right: 20px
			&:after
				display: block
				right: -18px
				font-size: 20px
		&__total
			display: inline-block

	.header-main
		padding: 15px 0 220px
		&__title
			margin-bottom: 45px
			font-size: 70px
			line-height: 68px

	.section_why
		&:before
			display: none

	.card
		max-width: 50%
		height: 470px
		&__pict
			img
				width: 100%

	.text-block
		margin: 15px auto 0
		&__pict
			width: 200px

	.adv-wrap
		padding: 0 0 200px

	.adv-item
		width: 32%
		margin-bottom: 32px
		&__title
			margin-top: 15px

	.adv-accent
		bottom: -12px
		background-position: -3px 0
		&__text
			line-height: 38px

	.cl-block
		width: 90%
		.cl-item
			.card
				max-width: none

	.feedback
		padding-top: 15px

	.f-slider
		width: 100%
		margin-top: 25px

	.f-item
		&__descr
			width: 78%

	.vk-block
		display: none

	/*------------Promo page----------------*/
	.card-ws
		margin-bottom: 60px
		text-align: left
		.pict__wrap
			width: 190px
			height: 190px
			text-align: left
		.pict-stick
			display: inline-block
			top: 30px
			right: -140px
			width: 140px
			height: 70px
			text-align: center
			background-size: 100% auto
			&__count
				top: 26px
		&__title
			text-align: center
		&__text
			text-align: center
		&__price
			text-align: center
		.btn_line
			&:before, &:after
				display: none
	/*---------------end---------------------*/

	/*------------Fill page----------------*/
	.page-title_size
		width: 70%
	/*---------------end---------------------*/

	/*-------------Tort page----------------*/
	.tovar
		&-main
			float: none
			width: 100%
		&-about
			margin-top: 30px
		&-descr_tort
			display: block
			width: 100%
			padding: 0

	.change-block
		float: left
		margin-top: 0
		&_size
			width: 56%
		&_fill
			width: 44%
			padding-left: 10px
		&__selpict
			width: 65px
			height: 65px
		.jq-selectbox
			width: 225px
			margin-top: 5px

	.tovar-total
		&__price
			margin-bottom: 20px
	/*-----------------end------------------*/

	/*-------------C-fill page----------------*/
	.catalog
		&_fill
			.card
				margin: 0 0 6px
	/*-----------------end--------------------*/

	/*-------------C-tort page----------------*/
	.sidebar
		width: 25%
		padding: 20px 10px 26px

	.main
		width: 75%
		padding-left: 5px
		.card
			max-width: 51%
			margin: 0 -4px 0
			padding: 25px
			background: #fff url(../img/card-bg2.png) center no-repeat
			background-size: 98% 100%
			&:hover
				background: #fff url(../img/card-bg2-h.png) center no-repeat
				background-size: 98% 100%
			&__text
				max-height: 112px
			&__bottom
				width: 81%
				bottom: 25px
	/*-----------------end--------------------*/

	/*-------------Contact page----------------*/
	.contact
		.map
			height: 520px

	.contact-block
		width: 380px
		padding: 110px 40px 50px
		&__item
			padding-left: 35px
			&_phone
				&:before
					top: -7px

	.contact-form
		.modal-form
			form
				.in-wrap
					max-width: 280px
				textarea
					width: 405px
			&__info
				display: block
				margin-left: 0
	/*-----------------end----------------------*/

	/*----------------About page---------------*/
	.cl-team
		.cl-item
			margin: 0 42px
	/*--------------------end-------------------*/

	/*-------------Blog-in page----------------*/
	.article
		.pict-stick
			right: -155px
		&__text
			width: 100%
	/*-------------------end--------------------*/

	/*-------------Cart page----------------*/
	.tb
		&-cell
			&_body
				padding: 10px 10px 10px 0
				&:first-child
					padding-left: 10px
				&:last-child
					padding-right: 10px
			&_pict
				width: 15%
			&_count
				width: 11.5%
			&_total
				width: 18%
		&__pict
			width: 90px
		&__name
			font-size: 28px
			line-height: 26px
		&__price
			font-size: 15px
		&__count
			width: 60px
			padding: 0
			text-align: center
		&__total
			font-size: 15px
		&__remove
			width: 30px
			height: 30px
			margin: 0 auto
			background-size: 100%

	.order-block
		&__title
			display: block
			margin-bottom: 12px

	.cart-form
		fieldset
			width: 30%
		input
			padding-left: 10px
		textarea
			width: 40%
			padding-left: 10px
		&__info
			margin: 12px 0 0
	/*----------------end--------------------*/

	/*---------------Login page--------------*/
	.login-welcome
		margin-top: 15px

	.login-page
		padding-bottom: 70px
	/*------------------end-------------------*/


@media only screen and (max-width : 767px)
	.header
		position: static
		&:after
			width: 120px
			height: 100px
			bottom: 20px
			background-size: 100% auto
		&-top
			height: 100px

	.logo
		width: 135px

	.location
		display: none

	.mail
		display: none

	.search
		display: none
		&_mob
			position: relative
			display: block
			top: 0
			bottom: 0
			left: 0
			max-width: 100%
			height: 40px
			margin: 0 0 10px

	.phone
		float: right
		margin: 45px 0 0
		font-size: 32px

	.login
		position: absolute
		top: 5px
		right: 20px
		&__link
			font-size: 20px
			&:before
				top: 7px
				left: -25px
				@include sprite($login)
		&-form
			top: -5px
			padding-top: 50px

	.navbar
		padding: 40px 0 20px
		.container
			position: static

	.btn-menu
		display: block
		float: left
		clear: both

	.nav
		float: none
		position: fixed
		top: 0
		left: -100%
		width: 270px
		max-height: 450px
		padding: 10px 15px 0
		overflow-y: auto
		z-index: 990
		transition: left .25s ease-in-out
		background: #7e4e6c
		&.open
			left: 0
		> li
			float: none
			display: block
			margin-right: 0
			&.search_mob
				padding-bottom: 0
			> a
				&:before
					display: none

	.nav-submenu
		position: relative
		top: 0
		padding: 0 25px 0
		&__col
			float: none

	.navbar-cart
		position: relative
		float: right
		top: 6px
		right: 0

	.header-main
		padding: 5px 0 135px
		&__title
			margin-bottom: 30px
			font-size: 46px
			line-height: 40px

	.section
		padding: 55px 0 65px
		&-title
			max-width: 400px
			height: 60px
			font-size: 42px
			line-height: 48px
			background-size: 100% 100%
			&_var1
				top: -30px
			&_var2
				top: -25px

	.pict__wrap
		width: 200px
		height: 200px

	.pict-stick
		top: 5px
		right: -150px

	.tabs
		&-body
			&__title
				margin: 10px 0 15px
				font-size: 48px
			&__text
				margin-bottom: 20px
		&-links
			&__item
				margin: 0 30px

	.card-wrap
		margin-top: 0

	.card
		height: 490px
		&__pict
			margin-bottom: 15px
		&__title
			margin-bottom: 12px
			font-size: 32px
			line-height: 26px
		&__text
			line-height: 18px
		&__bottom
			.btn
				float: none
				width: 100%
		&__price
			float: none
			display: block
			margin-bottom: 12px
			font-size: 20px
			text-align: center

	.text-block
		&__title
			margin-bottom: 20px
			font-size: 42px
			line-height: 42px
		&__pict
			float: none
			max-width: 290px
			width: 100%
			margin: 0 auto
		&__text
			margin-bottom: 20px
		.btn_var3
			margin: 0 auto

	.section_adv
		min-height: 100%

	.adv-wrap
		padding-bottom: 230px

	.adv-item
		margin-bottom: 15px
		&__pict
			width: 50px
			height: 55px
		&__title
			margin-top: 5px
			font-size: 24px
			line-height: 22px

	.adv-accent
		&__text
			font-size: 26px
			line-height: 32px

	.cl-block
		width: 100%

	.block-title
		font-size: 42px
		line-height: 42px

	.f-slider
		float: none
		padding-left: 0

	.f-item
		&__main
			float: none
			width: 100%
		&__pict
			width: 241px
			height: 241px
			margin: 0 auto
		&__descr
			display: block
			width: 100%
			height: auto
			padding: 0
			background: none
		&__text
			position: relative
			left: 0
			top: 0
			margin-top: 15px
			padding: 0 0 0 80px
			transform: none
			&:before
				top: 45px
				left: -5px
				font-size: 155px

	.footer
		padding-top: 20px
		background: #fdbce3

	.callback
		position: relative
		top: 0
		margin-bottom: 15px

	.modal-form
		padding: 0 15px 10px
		&__title
			margin-bottom: 5px
			font-size: 42px
		form
			.in-wrap
				margin-right: 0
			input
				height: 42px
			textarea
				height: 70px
		&__info
			margin: 0
			font-size: 12px
		.btn
			height: 42px
			margin-top: 5px
			line-height: 40px
		.mfp-close
			top: 10px
			right: 10px
			@include sprite($close2)

	.scroll-top
		width: 40px
		left: 10px
		bottom: 85px

	/*------------Promo page----------------*/
	.page-top
		padding-bottom: 30px
		&__price
			font-size: 48px

	.breadcrumb
		float: none
		display: block
		margin-bottom: 10px

	.page-title
		font-size: 48px
		line-height: 42px

	.content
		padding-top: 40px

	.card-ws
		width: 100%
		margin-bottom: 40px
		padding: 0
		text-align: center
		&__title
			margin-bottom: 10px
			font-size: 38px

	.page-about
		padding: 30px 0 35px
		&__title
			font-size: 48px
	/*---------------end---------------------*/

	/*------------Fill page----------------*/
	.page-top
		&__price
			font-size: 42px
			line-height: 48px

	.page-title
		&_size
			width: 70%

	.tovar
		padding-bottom: 50px

	.tovar-descr
		padding-top: 15px
		&__title
			margin-bottom: 12px
			font-size: 32px
		&__info
			margin-bottom: 15px
			font-size: 15px
			&_size
				line-height: 1.5
	/*---------------end---------------------*/

	/*-------------Tort page----------------*/
	.tovar
		&-main
			float: none
			width: 100%
		&-about
			margin-top: 20px
		&-descr_tort
			display: block
			width: 100%
			padding: 0

	.change-block
		float: none
		width: 100%
		margin-bottom: 10px
		.tovar-descr__title
			margin-bottom: 20px
		&_fill
			padding-left: 0
		&__selpict
			margin-right: 15px
		.jq-selectbox
			float: left
			width: 330px

	.tovar-total
		margin-top: 25px
		&__price
			font-size: 42px
			line-height: 42px
	/*-----------------end------------------*/

	/*-------------C-fill page----------------*/
	.catalog
		padding-bottom: 35px
	/*-----------------end--------------------*/

	/*-------------C-tort page----------------*/
	.sidebar
		display: none

	.main
		width: 100%
		padding-left: 0
		.card
			max-width: 51%
			margin: 0 -4px 0
			padding: 25px
			background: #fff url(../img/card-bg.png) center no-repeat
			background-size: 98% 100%
			&:hover
				background: #fff url(../img/card-bg-h.png) center no-repeat
				background-size: 98% 100%
			&__text
				max-height: 112px
			&__bottom
				width: 81%
				bottom: 25px
	/*-----------------end--------------------*/

	/*-------------Contact page----------------*/
	.contact
		&-wrap
			.container
				position: relative
		.map
			height: 300px

	.contact-block
		float: none
		width: 100%
		margin-top: 0
		padding: 15px 0 30px
		background: none
		&__item
			margin-bottom: 20px
			padding-left: 40px
			font-size: 15px
		.social
			margin-top: 25px

	.contact-form
		padding: 15px 0 50px
		.modal-form
			&__title
				margin-bottom: 15px
			form
				.in-wrap
					max-width: 100%
				input
					max-width: 100%
				textarea
					width: 100%
			&__info
				margin-top: 15px
	/*-----------------end----------------------*/

	/*----------------About page---------------*/
	.cl-wrap
		margin-bottom: 30px

	.cl-team
		margin: 0
		.cl-item
			margin: 0 7px
	/*--------------------end-------------------*/

	/*-------------Blog-in page----------------*/
	.article
		.pict__wrap
			width: 225px
			height: 225px
		.pict-stick
			top: 25px
	/*-------------------end--------------------*/

	/*-------------Info page----------------*/
	.info
		padding: 0 0 40px
		&__text
			p
				margin-bottom: 10px
		&__title
			display: block
			margin: 15px 0 12px
			font-size: 48px
	/*-------------------end--------------------*/

	/*-------------Cart page----------------*/
	.cart
		padding-bottom: 35px
		&-main
			margin-bottom: 10px
			padding: 15px 0
	.tb
		&-row
			&_head
				display: none
		&-cell
			&_body
				padding: 10px 10px 10px 0
				&:first-child
					padding-left: 5px
				&:last-child
					padding-right: 5px
			&_pict
				width: 13%
			&_name
				width: 23%
			&_price
				width: 20%
			&_count
				width: 10%
			&_total
				width: 20%
		&__pict
			width: 50px
		&__name
			font-size: 22px
			line-height: 16px
		&__price
			font-size: 12px
		&__count
			width: 40px
			height: 40px
		&__total
			font-size: 12px
		&__remove
			width: 15px
			height: 15px

	.cart__total
		margin-top: 10px
		font-size: 36px
		line-height: 36px

	.order
		margin-bottom: 15px
		&-block
			margin-top: 15px
			padding: 15px 0
			&__title
				display: block
				margin-bottom: 12px
			form
				width: 100%
				margin-right: 0
			input
				display: block
				width: 100%
				margin: 0 0 7px
				padding-left: 10px
			.btn
				width: 252px
				margin-top: 10px
			&__link
				margin-top: 12px

	.cart-form
		fieldset
			width: 100%
			margin-bottom: 7px
			padding-right: 0
		input
			padding-left: 10px
		textarea
			width: 100%
			padding-left: 10px
		&__info
			margin: 12px 0 0
	/*----------------end--------------------*/

	/*---------------Login page--------------*/
	.login-page
		padding: 20px 0 50px

	.tb_main
		margin-bottom: 20px

	.tb__data
		width: 90px
		height: 50px
		span
			font-size: 12px

	.login-page__accent
		margin-top: 20px
		font-size: 42px
	/*------------------end-------------------*/

@media only screen and (max-width : 568px)
	.header
		&:after
			display: none
		&-top
			height: 65px

	.logo
		width: 90px

	.phone
		margin-top: 30px
		font-size: 20px

	.login
		top: 0
		&__link
			font-size: 18px
			&:before
				top: 6px

	.navbar
		padding: 30px 0 0

	.navbar-cart
		top: -15px
		&:before
			top: 8px
		&__count
			display: block
			&:after
				display: none

	.header-main
		padding: 0 0 65px
		&__title
			margin-bottom: 25px
			font-size: 40px
			line-height: 32px

	.btn_line
		&:before, &:after
			display: none

	.section
		padding: 35px 0 45px
		&-title
			max-width: 280px
			font-size: 34px
			line-height: 52px

	.tabs
		margin-top: 20px
		text-align: left

	.pict
		&__wrap
			width: 150px
			height: 150px
		&-stick
			width: 125px
			height: 60px
			right: -125px
			text-align: center
			background-size: cover
			&__count
				top: 18px
				b
					font-size: 18px

	.tabs-body
		&__title
			font-size: 38px
			line-height: 30px
			text-align: center
			span
				width: 60px
				height: 60px
				line-height: 60px
		&__text
			text-align: center

	.tabs-links
		margin-top: 30px
		text-align: center
		&__item
			margin: 0 18px

	.card-wrap
		margin-top: 20px

	.card
		max-width: 100%

	.text-block
		margin-bottom: 15px
		&__title
			margin-bottom: 10px
			font-size: 38px
		&__pict
			max-width: 200px
		&__subtitle
			font-size: 28px

	.adv-wrap
		padding: 20px 0 245px

	.adv-item
		width: 48%

	.adv-accent
		padding: 22px 0 30px
		&__text
			font-size: 24px
			line-height: 24px

	.cl-block
		.slick-dots
			bottom: -30px

	.block-title
		font-size: 36px

	.f-item
		&__text
			margin-top: 10px
			padding-left: 55px
			&:before
				top: 30px
				font-size: 110px

	.footer
		padding: 10px 0 15px
		text-align: center

	.callback
		margin-bottom: 25px

	.footer-contact
		float: none
		display: inline-block
		margin-bottom: 10px

	.social
		&__link
			vertical-align: top

	.footer-info
		&__work
			margin-bottom: 12px

	/*------------Promo page----------------*/
	.page-top
		padding-bottom: 20px

	.breadcrumb
		margin-bottom: 10px

	.page-title
		font-size: 40px
		line-height: 34px

	.content
		padding-top: 40px

	.card-ws
		width: 100%
		margin-bottom: 40px
		padding: 0
		text-align: left
		&__title
			margin-top: 10px
			font-size: 36px
		.pict__wrap
			width: 150px
			height: 150px
		.pict-stick
			top: 10px
		&__text
			margin-bottom: 12px
		&__price
			margin-bottom: 15px

	.page-about
		&__title
			font-size: 36px
			line-height: 36px
	/*---------------end---------------------*/

	/*------------Fill page----------------*/
	.page-top
		&__price
			margin-top: 15px
			font-size: 40px
			line-height: 42px

	.page-title
		&_size
			width: 100%
	/*---------------end---------------------*/

	/*-------------Tort page----------------*/
	.change-block
		.tovar-descr__title
			margin-bottom: 15px
		.jq-selectbox
			&.sel-count
				margin-left: 40px
		&__info
			font-size: 15px
			&_size
				min-width: 85%
				margin-bottom: 10px
			&_price
				float: right
		&__selpict
			float: none
			margin-right: 0
		.jq-selectbox
			float: none
			width: 100%

	.tovar-total
		margin-top: 25px
		&__price
			font-size: 42px
			line-height: 42px
	/*-----------------end------------------*/

	/*-------------C-tort page----------------*/
	.main
		padding-bottom: 0
		.card
			max-width: 100%
			margin: 0
			padding: 30px
			background: #fff url(../img/card-bg.png) center no-repeat
			background-size: 100% 100%
			&:hover
				background: #fff url(../img/card-bg-h.png) center no-repeat
				background-size: 100% 100%
			&__bottom
				width: 80%
				bottom: 30px
	/*-----------------end--------------------*/

	/*-------------Contact page----------------*/
	.contact
		&-wrap
			.container
				position: relative
		.map
			height: 300px

	.contact-block
		float: none
		width: 100%
		margin-top: 0
		padding: 15px 0 20px
		background: none
		&__item
			margin-bottom: 15px
			font-size: 18px
			&_phone
				font-size: 20px
		.social
			margin-top: 20px

	.contact-form
		padding: 15px 0 40px
		.modal-form
			form
				.in-wrap
					max-width: 100%
				input
					max-width: 100%
				textarea
					width: 100%
			&__info
				margin-top: 15px
	/*-----------------end----------------------*/

	/*----------------About page---------------*/
	.cl-team
		margin: 0 18px
		.cl-item
			margin: 0 20px
	/*--------------------end-------------------*/

	/*-------------Blog-in page----------------*/
	.article
		padding-bottom: 50px
		text-align: left
		.pict__wrap
			width: 150px
			height: 150px
		.pict-stick
			top: 10px
			right: -130px
			&__count
				top: 22px
		&__text
			margin-top: 10px
			text-align: center
	/*-------------------end--------------------*/

	/*-------------Info page----------------*/
	.info
		padding: 0 0 30px
		&__text
			p
				margin-bottom: 10px
		&__title
			display: block
			margin: 10px 0 10px
			font-size: 36px
	/*-------------------end--------------------*/

	/*-------------Cart page----------------*/
	.cart
		padding-bottom: 35px
		&-main
			margin-bottom: 10px
			padding: 15px 0 25px
	.tb
		display: block
		text-align: center
		&-row
			display: block
			margin-bottom: 20px
			+clearfix
			&_head
				display: none
		&-cell
			display: block
			&_body
				padding: 10px
				&:first-child
					padding-left: 10px
				&:last-child
					padding-right: 10px
			&_pict
				width: 100%
			&_name
				width: 100%
			&_price
				width: 100%
			&_count
				width: 100%
			&_total
				width: 100%
		&__pict
			width: 100%
		&__name
			font-size: 32px
			line-height: 32px
		&__price
			font-size: 22px
			line-height: 22px
		&__count
			width: 100%
			height: 40px
		&__total
			font-size: 22px
			line-height: 22px
		&__remove
			width: 25px
			height: 25px

	.cart__total
		margin-top: 20px
		font-size: 32px
		line-height: 32px

	.order
		margin-bottom: 15px
		&-block
			margin-top: 15px
			padding: 15px 0
			&__title
				display: block
				margin-bottom: 12px
			form
				width: 100%
				margin-right: 0
			input
				display: block
				width: 100%
				margin: 0 0 7px
				padding-left: 10px
			.btn
				width: 100%

	.cart-form
		.btn
			width: 100%
	/*----------------end--------------------*/

	/*---------------Login page--------------*/
	.tb_main
		position: relative
		margin-bottom: 20px
		.tb-row
			margin-bottom: 0
		.tb-cell
			position: static

	.tb__data
		width: 90px
		height: 50px
		span
			font-size: 12px
	/*------------------end-------------------*/