@import "vars"

/*----------------Catalog page-------------*/
.header-main--inner
	position: relative
	top: 0
	padding-bottom: 14px
	overflow: hidden

.logo-inner
	margin: 0 146px 0 -110px
	.logo__pict
		float: left
		top: -10px
	.logo__title
		position: relative
		top: 13px
		margin: 0 0 0 179px

.search--inner
	&:after
		@include sprite($search-inner)
.search-in--inner
	border-color: #fff
	&::-webkit-input-placeholder
		color: #fff
	&:-moz-placeholder
		color: #fff
	&::-moz-placeholder
		color: #fff
	&:-ms-input-placeholder
		color: #fff

.order-present--inner
	margin-left: 57px

.callback--inner
	margin-left: 38px

.content
	padding-bottom: 63px
	overflow: hidden

.sidebar
	position: relative
	float: left
	width: 290px
	padding-right: 20px
	&-title
		margin-bottom: 3px
		padding-bottom: 4px
		font-size: 24px
		font-weight: 800
		border-bottom: 1px solid #3f657b

.catalog-nav
	&__item
		position: relative
		padding: 10px 0
		border-bottom: 1px solid #e1e1e1
		&.active
			border-bottom: 1px dotted #e1e1e1
	&__link
		position: relative
		display: inline-block
		padding-left: 30px
		font-size: 20px
		font-weight: 300
		&.active
			i
				&:before
					content: ''
					transition: all .25s ease
					transform: rotate(90deg)
		i
			position: absolute
			top: 4px
			left: 0
			width: 15px
			height: 15px
			border: 1px solid #3f657b
			&:after
				content: ''
				position: absolute
				width: 7px
				height: 1px
				top: 6px
				left: 3px
				background: #3f657b
			&:before
				content: ''
				position: absolute
				width: 1px
				height: 7px
				top: 3px
				left: 6px
				background: #3f657b
				transition: all .25s ease

.catalog-dropnav
	display: none
	margin-top: 10px
	border-top: 1px solid #e1e1e1
	&__item
		padding: 8px 0 8px 30px
		border-bottom: 1px dotted #e1e1e1
		&:last-child
			padding-bottom: 0
			border-bottom: none
		a
			position: relative
			display: inline-block
			padding-left: 25px
			font-size: 16px
			letter-spacing: -1px
			color: #919191
			&.active
				i
					&:before
						content: ''
						transition: all .25s ease
						transform: rotate(90deg)
			i
				position: absolute
				top: 4px
				left: 0
				width: 15px
				height: 15px
				border: 1px solid #c2c2c2
				&:after
					content: ''
					position: absolute
					width: 7px
					height: 1px
					top: 6px
					left: 3px
					background: #c2c2c2
				&:before
					content: ''
					position: absolute
					width: 1px
					height: 7px
					top: 3px
					left: 6px
					background: #c2c2c2
					transition: all .25s ease

.catalog-subnav
	display: none
	margin-top: 10px
	border-top: 1px dotted #e1e1e1
	&__item
		padding: 8px 0
		border-bottom: none
		a
			font-size: 16px
			color: #919191
			&:before, &:after
				display: none

.main
	position: relative
	float: left
	width: 910px
	max-width: 100%
	padding-left: 10px
	border-left: 1px solid #e1e1e1

.breadcrumb
	padding: 9px 0 12px
	&--bd
		border-bottom: 1px solid #e1e1e1
	&--sd
		margin: 0 0 16px 300px
	&-list
		li
			position: relative
			display: inline-block
			margin-right: 23px
			font-size: 14px
			&:last-child
				margin-right: 0
			&:not(:last-child):after
				content: ' '
				position: absolute
				top: 6px
				right: -15px
				@include sprite($bread-arrow)
			a
				&:hover
					text-decoration: underline

.nav-mob
	display: none

.page-title
	font-size: 36px
	font-weight: 300
	&--catalog
		margin-bottom: 16px
		padding-left: 20px

.block-catalog
	padding: 0 0 0 10px
	margin: 0 -10px

.block-item
	&--catalog
		width: 293px
		height: 350px
		margin-bottom: 10px
	&__pict
		&--catalog
			height: 220px
	&__title
		&--catalog
			margin-top: 0
	&__price
		&--catalog
			display: block
	&__cart
		&--catalog
			display: none

.btn--cart
	position: absolute
	bottom: 10px
	left: 15px
	width: 125px
	height: 40px
	line-height: 40px
	text-transform: none
	background: #3e96be

.btn--oneclick
	position: absolute
	bottom: 10px
	right: 15px
	width: 130px
	height: 40px
	padding: 3px 0
	line-height: 1
	text-transform: none
	background: #3e96be

.pagination
	margin-top: 22px
	&-list
		display: inline-block
		margin-right: 34px
		li
			display: inline-block
			margin-right: 15px
			font-size: 20px
			font-weight: 300
			&:last-child
				margin-right: 0
			&:hover
				text-shadow: 0 0 1px $main-color
			&.active
				text-shadow: 0 0 1px $main-color
				cursor: default
	&-nav
		display: none
		font-size: 20px
		font-weight: 300
		&--prev
			margin-right: 35px
		&.active
			display: inline-block

.catalog-descr
	padding-bottom: 25px
	font-size: 16px
	color: #a5bfce
	&__title
		margin-bottom: 25px
		font-size: 18px
		font-weight: 500
		line-height: 16px
	p
		margin-bottom: 10px
/*--------------------end-----------------------------*/