/*-------------Grid-----------*/
@media (min-width: 320px)
	.container
		width: 640px

@media (min-width: 992px)
	.container
		width: 940px

@media (min-width: 1240px)
	.container
		width: 1240px
/*------------end-------------*/