@import "vars"

/*----------------News-one page-------------*/
.news-article
	padding-bottom: 44px
	font-size: 18px
	font-weight: 300
	color: #585e61
	letter-spacing: -1px
	img
		float: left
		width: 47.9%
		margin: 0 50px 25px 0
	p
		margin-bottom: 23px
/*-------------------end-----------------*/