// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-down-name: 'arrow-down'
$arrow-down-x: 242px
$arrow-down-y: 86px
$arrow-down-offset-x: -242px
$arrow-down-offset-y: -86px
$arrow-down-width: 15px
$arrow-down-height: 8px
$arrow-down-total-width: 286px
$arrow-down-total-height: 260px
$arrow-down-image: '../img/sprite.png'
$arrow-down: (242px, 86px, -242px, -86px, 15px, 8px, 286px, 260px, '../img/sprite.png', 'arrow-down', )
$arrow-left-name: 'arrow-left'
$arrow-left-x: 242px
$arrow-left-y: 71px
$arrow-left-offset-x: -242px
$arrow-left-offset-y: -71px
$arrow-left-width: 10px
$arrow-left-height: 15px
$arrow-left-total-width: 286px
$arrow-left-total-height: 260px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (242px, 71px, -242px, -71px, 10px, 15px, 286px, 260px, '../img/sprite.png', 'arrow-left', )
$arrow-next-name: 'arrow-next'
$arrow-next-x: 212px
$arrow-next-y: 40px
$arrow-next-offset-x: -212px
$arrow-next-offset-y: -40px
$arrow-next-width: 25px
$arrow-next-height: 84px
$arrow-next-total-width: 286px
$arrow-next-total-height: 260px
$arrow-next-image: '../img/sprite.png'
$arrow-next: (212px, 40px, -212px, -40px, 25px, 84px, 286px, 260px, '../img/sprite.png', 'arrow-next', )
$arrow-prev-name: 'arrow-prev'
$arrow-prev-x: 186px
$arrow-prev-y: 40px
$arrow-prev-offset-x: -186px
$arrow-prev-offset-y: -40px
$arrow-prev-width: 26px
$arrow-prev-height: 85px
$arrow-prev-total-width: 286px
$arrow-prev-total-height: 260px
$arrow-prev-image: '../img/sprite.png'
$arrow-prev: (186px, 40px, -186px, -40px, 26px, 85px, 286px, 260px, '../img/sprite.png', 'arrow-prev', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 252px
$arrow-right-y: 71px
$arrow-right-offset-x: -252px
$arrow-right-offset-y: -71px
$arrow-right-width: 10px
$arrow-right-height: 15px
$arrow-right-total-width: 286px
$arrow-right-total-height: 260px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (252px, 71px, -252px, -71px, 10px, 15px, 286px, 260px, '../img/sprite.png', 'arrow-right', )
$bread-arrow-name: 'bread-arrow'
$bread-arrow-x: 282px
$bread-arrow-y: 101px
$bread-arrow-offset-x: -282px
$bread-arrow-offset-y: -101px
$bread-arrow-width: 4px
$bread-arrow-height: 7px
$bread-arrow-total-width: 286px
$bread-arrow-total-height: 260px
$bread-arrow-image: '../img/sprite.png'
$bread-arrow: (282px, 101px, -282px, -101px, 4px, 7px, 286px, 260px, '../img/sprite.png', 'bread-arrow', )
$btn-arrow-mob-name: 'btn-arrow-mob'
$btn-arrow-mob-x: 242px
$btn-arrow-mob-y: 51px
$btn-arrow-mob-offset-x: -242px
$btn-arrow-mob-offset-y: -51px
$btn-arrow-mob-width: 14px
$btn-arrow-mob-height: 20px
$btn-arrow-mob-total-width: 286px
$btn-arrow-mob-total-height: 260px
$btn-arrow-mob-image: '../img/sprite.png'
$btn-arrow-mob: (242px, 51px, -242px, -51px, 14px, 20px, 286px, 260px, '../img/sprite.png', 'btn-arrow-mob', )
$btn-arrow-name: 'btn-arrow'
$btn-arrow-x: 277px
$btn-arrow-y: 192px
$btn-arrow-offset-x: -277px
$btn-arrow-offset-y: -192px
$btn-arrow-width: 8px
$btn-arrow-height: 12px
$btn-arrow-total-width: 286px
$btn-arrow-total-height: 260px
$btn-arrow-image: '../img/sprite.png'
$btn-arrow: (277px, 192px, -277px, -192px, 8px, 12px, 286px, 260px, '../img/sprite.png', 'btn-arrow', )
$callback-name: 'callback'
$callback-x: 58px
$callback-y: 102px
$callback-offset-x: -58px
$callback-offset-y: -102px
$callback-width: 24px
$callback-height: 26px
$callback-total-width: 286px
$callback-total-height: 260px
$callback-image: '../img/sprite.png'
$callback: (58px, 102px, -58px, -102px, 24px, 26px, 286px, 260px, '../img/sprite.png', 'callback', )
$cart-3-name: 'cart-3'
$cart-3-x: 262px
$cart-3-y: 172px
$cart-3-offset-x: -262px
$cart-3-offset-y: -172px
$cart-3-width: 19px
$cart-3-height: 20px
$cart-3-total-width: 286px
$cart-3-total-height: 260px
$cart-3-image: '../img/sprite.png'
$cart-3: (262px, 172px, -262px, -172px, 19px, 20px, 286px, 260px, '../img/sprite.png', 'cart-3', )
$cart-4-name: 'cart-4'
$cart-4-x: 140px
$cart-4-y: 0px
$cart-4-offset-x: -140px
$cart-4-offset-y: 0px
$cart-4-width: 46px
$cart-4-height: 50px
$cart-4-total-width: 286px
$cart-4-total-height: 260px
$cart-4-image: '../img/sprite.png'
$cart-4: (140px, 0px, -140px, 0px, 46px, 50px, 286px, 260px, '../img/sprite.png', 'cart-4', )
$cart-btn-2-name: 'cart-btn-2'
$cart-btn-2-x: 170px
$cart-btn-2-y: 166px
$cart-btn-2-offset-x: -170px
$cart-btn-2-offset-y: -166px
$cart-btn-2-width: 37px
$cart-btn-2-height: 40px
$cart-btn-2-total-width: 286px
$cart-btn-2-total-height: 260px
$cart-btn-2-image: '../img/sprite.png'
$cart-btn-2: (170px, 166px, -170px, -166px, 37px, 40px, 286px, 260px, '../img/sprite.png', 'cart-btn-2', )
$cart-btn-name: 'cart-btn'
$cart-btn-x: 262px
$cart-btn-y: 24px
$cart-btn-offset-x: -262px
$cart-btn-offset-y: -24px
$cart-btn-width: 23px
$cart-btn-height: 25px
$cart-btn-total-width: 286px
$cart-btn-total-height: 260px
$cart-btn-image: '../img/sprite.png'
$cart-btn: (262px, 24px, -262px, -24px, 23px, 25px, 286px, 260px, '../img/sprite.png', 'cart-btn', )
$cart-gray-name: 'cart-gray'
$cart-gray-x: 145px
$cart-gray-y: 206px
$cart-gray-offset-x: -145px
$cart-gray-offset-y: -206px
$cart-gray-width: 26px
$cart-gray-height: 26px
$cart-gray-total-width: 286px
$cart-gray-total-height: 260px
$cart-gray-image: '../img/sprite.png'
$cart-gray: (145px, 206px, -145px, -206px, 26px, 26px, 286px, 260px, '../img/sprite.png', 'cart-gray', )
$cart-mob-name: 'cart-mob'
$cart-mob-x: 130px
$cart-mob-y: 166px
$cart-mob-offset-x: -130px
$cart-mob-offset-y: -166px
$cart-mob-width: 40px
$cart-mob-height: 40px
$cart-mob-total-width: 286px
$cart-mob-total-height: 260px
$cart-mob-image: '../img/sprite.png'
$cart-mob: (130px, 166px, -130px, -166px, 40px, 40px, 286px, 260px, '../img/sprite.png', 'cart-mob', )
$cart-search-name: 'cart-search'
$cart-search-x: 62px
$cart-search-y: 206px
$cart-search-offset-x: -62px
$cart-search-offset-y: -206px
$cart-search-width: 29px
$cart-search-height: 30px
$cart-search-total-width: 286px
$cart-search-total-height: 260px
$cart-search-image: '../img/sprite.png'
$cart-search: (62px, 206px, -62px, -206px, 29px, 30px, 286px, 260px, '../img/sprite.png', 'cart-search', )
$cart-white-name: 'cart-white'
$cart-white-x: 32px
$cart-white-y: 206px
$cart-white-offset-x: -32px
$cart-white-offset-y: -206px
$cart-white-width: 30px
$cart-white-height: 30px
$cart-white-total-width: 286px
$cart-white-total-height: 260px
$cart-white-image: '../img/sprite.png'
$cart-white: (32px, 206px, -32px, -206px, 30px, 30px, 286px, 260px, '../img/sprite.png', 'cart-white', )
$catalog-left-name: 'catalog-left'
$catalog-left-x: 0px
$catalog-left-y: 76px
$catalog-left-offset-x: 0px
$catalog-left-offset-y: -76px
$catalog-left-width: 58px
$catalog-left-height: 90px
$catalog-left-total-width: 286px
$catalog-left-total-height: 260px
$catalog-left-image: '../img/sprite.png'
$catalog-left: (0px, 76px, 0px, -76px, 58px, 90px, 286px, 260px, '../img/sprite.png', 'catalog-left', )
$catalog-right-name: 'catalog-right'
$catalog-right-x: 82px
$catalog-right-y: 0px
$catalog-right-offset-x: -82px
$catalog-right-offset-y: 0px
$catalog-right-width: 58px
$catalog-right-height: 90px
$catalog-right-total-width: 286px
$catalog-right-total-height: 260px
$catalog-right-image: '../img/sprite.png'
$catalog-right: (82px, 0px, -82px, 0px, 58px, 90px, 286px, 260px, '../img/sprite.png', 'catalog-right', )
$close-name: 'close'
$close-x: 277px
$close-y: 204px
$close-offset-x: -277px
$close-offset-y: -204px
$close-width: 9px
$close-height: 9px
$close-total-width: 286px
$close-total-height: 260px
$close-image: '../img/sprite.png'
$close: (277px, 204px, -277px, -204px, 9px, 9px, 286px, 260px, '../img/sprite.png', 'close', )
$close2-name: 'close2'
$close2-x: 140px
$close2-y: 102px
$close2-offset-x: -140px
$close2-offset-y: -102px
$close2-width: 41px
$close2-height: 41px
$close2-total-width: 286px
$close2-total-height: 260px
$close2-image: '../img/sprite.png'
$close2: (140px, 102px, -140px, -102px, 41px, 41px, 286px, 260px, '../img/sprite.png', 'close2', )
$delete-name: 'delete'
$delete-x: 242px
$delete-y: 31px
$delete-offset-x: -242px
$delete-offset-y: -31px
$delete-width: 16px
$delete-height: 20px
$delete-total-width: 286px
$delete-total-height: 260px
$delete-image: '../img/sprite.png'
$delete: (242px, 31px, -242px, -31px, 16px, 20px, 286px, 260px, '../img/sprite.png', 'delete', )
$edit-name: 'edit'
$edit-x: 119px
$edit-y: 206px
$edit-offset-x: -119px
$edit-offset-y: -206px
$edit-width: 26px
$edit-height: 26px
$edit-total-width: 286px
$edit-total-height: 260px
$edit-image: '../img/sprite.png'
$edit: (119px, 206px, -119px, -206px, 26px, 26px, 286px, 260px, '../img/sprite.png', 'edit', )
$footer-callback-name: 'footer-callback'
$footer-callback-x: 0px
$footer-callback-y: 206px
$footer-callback-offset-x: 0px
$footer-callback-offset-y: -206px
$footer-callback-width: 32px
$footer-callback-height: 34px
$footer-callback-total-width: 286px
$footer-callback-total-height: 260px
$footer-callback-image: '../img/sprite.png'
$footer-callback: (0px, 206px, 0px, -206px, 32px, 34px, 286px, 260px, '../img/sprite.png', 'footer-callback', )
$footer-phone-mob-name: 'footer-phone-mob'
$footer-phone-mob-x: 186px
$footer-phone-mob-y: 0px
$footer-phone-mob-offset-x: -186px
$footer-phone-mob-offset-y: 0px
$footer-phone-mob-width: 56px
$footer-phone-mob-height: 40px
$footer-phone-mob-total-width: 286px
$footer-phone-mob-total-height: 260px
$footer-phone-mob-image: '../img/sprite.png'
$footer-phone-mob: (186px, 0px, -186px, 0px, 56px, 40px, 286px, 260px, '../img/sprite.png', 'footer-phone-mob', )
$footer-phone-name: 'footer-phone'
$footer-phone-x: 0px
$footer-phone-y: 240px
$footer-phone-offset-x: 0px
$footer-phone-offset-y: -240px
$footer-phone-width: 28px
$footer-phone-height: 20px
$footer-phone-total-width: 286px
$footer-phone-total-height: 260px
$footer-phone-image: '../img/sprite.png'
$footer-phone: (0px, 240px, 0px, -240px, 28px, 20px, 286px, 260px, '../img/sprite.png', 'footer-phone', )
$login-mob-name: 'login-mob'
$login-mob-x: 48px
$login-mob-y: 166px
$login-mob-offset-x: -48px
$login-mob-offset-y: -166px
$login-mob-width: 42px
$login-mob-height: 40px
$login-mob-total-width: 286px
$login-mob-total-height: 260px
$login-mob-image: '../img/sprite.png'
$login-mob: (48px, 166px, -48px, -166px, 42px, 40px, 286px, 260px, '../img/sprite.png', 'login-mob', )
$login-modal-name: 'login-modal'
$login-modal-x: 82px
$login-modal-y: 90px
$login-modal-offset-x: -82px
$login-modal-offset-y: -90px
$login-modal-width: 50px
$login-modal-height: 48px
$login-modal-total-width: 286px
$login-modal-total-height: 260px
$login-modal-image: '../img/sprite.png'
$login-modal: (82px, 90px, -82px, -90px, 50px, 48px, 286px, 260px, '../img/sprite.png', 'login-modal', )
$login-name: 'login'
$login-x: 262px
$login-y: 0px
$login-offset-x: -262px
$login-offset-y: 0px
$login-width: 24px
$login-height: 24px
$login-total-width: 286px
$login-total-height: 260px
$login-image: '../img/sprite.png'
$login: (262px, 0px, -262px, 0px, 24px, 24px, 286px, 260px, '../img/sprite.png', 'login', )
$map-name: 'map'
$map-x: 262px
$map-y: 147px
$map-offset-x: -262px
$map-offset-y: -147px
$map-width: 17px
$map-height: 25px
$map-total-width: 286px
$map-total-height: 260px
$map-image: '../img/sprite.png'
$map: (262px, 147px, -262px, -147px, 17px, 25px, 286px, 260px, '../img/sprite.png', 'map', )
$menu-arrow-name: 'menu-arrow'
$menu-arrow-x: 282px
$menu-arrow-y: 108px
$menu-arrow-offset-x: -282px
$menu-arrow-offset-y: -108px
$menu-arrow-width: 4px
$menu-arrow-height: 7px
$menu-arrow-total-width: 286px
$menu-arrow-total-height: 260px
$menu-arrow-image: '../img/sprite.png'
$menu-arrow: (282px, 108px, -282px, -108px, 4px, 7px, 286px, 260px, '../img/sprite.png', 'menu-arrow', )
$name-name: 'name'
$name-x: 197px
$name-y: 206px
$name-offset-x: -197px
$name-offset-y: -206px
$name-width: 26px
$name-height: 26px
$name-total-width: 286px
$name-total-height: 260px
$name-image: '../img/sprite.png'
$name: (197px, 206px, -197px, -206px, 26px, 26px, 286px, 260px, '../img/sprite.png', 'name', )
$oneclick-name: 'oneclick'
$oneclick-x: 82px
$oneclick-y: 138px
$oneclick-offset-x: -82px
$oneclick-offset-y: -138px
$oneclick-width: 38px
$oneclick-height: 28px
$oneclick-total-width: 286px
$oneclick-total-height: 260px
$oneclick-image: '../img/sprite.png'
$oneclick: (82px, 138px, -82px, -138px, 38px, 28px, 286px, 260px, '../img/sprite.png', 'oneclick', )
$oneclick2-name: 'oneclick2'
$oneclick2-x: 186px
$oneclick2-y: 125px
$oneclick2-offset-x: -186px
$oneclick2-offset-y: -125px
$oneclick2-width: 54px
$oneclick2-height: 40px
$oneclick2-total-width: 286px
$oneclick2-total-height: 260px
$oneclick2-image: '../img/sprite.png'
$oneclick2: (186px, 125px, -186px, -125px, 54px, 40px, 286px, 260px, '../img/sprite.png', 'oneclick2', )
$order-name: 'order'
$order-x: 242px
$order-y: 94px
$order-offset-x: -242px
$order-offset-y: -94px
$order-width: 10px
$order-height: 10px
$order-total-width: 286px
$order-total-height: 260px
$order-image: '../img/sprite.png'
$order: (242px, 94px, -242px, -94px, 10px, 10px, 286px, 260px, '../img/sprite.png', 'order', )
$pag-arrow-left-name: 'pag-arrow-left'
$pag-arrow-left-x: 262px
$pag-arrow-left-y: 216px
$pag-arrow-left-offset-x: -262px
$pag-arrow-left-offset-y: -216px
$pag-arrow-left-width: 15px
$pag-arrow-left-height: 24px
$pag-arrow-left-total-width: 286px
$pag-arrow-left-total-height: 260px
$pag-arrow-left-image: '../img/sprite.png'
$pag-arrow-left: (262px, 216px, -262px, -216px, 15px, 24px, 286px, 260px, '../img/sprite.png', 'pag-arrow-left', )
$pag-arrow-right-name: 'pag-arrow-right'
$pag-arrow-right-x: 262px
$pag-arrow-right-y: 192px
$pag-arrow-right-offset-x: -262px
$pag-arrow-right-offset-y: -192px
$pag-arrow-right-width: 15px
$pag-arrow-right-height: 24px
$pag-arrow-right-total-width: 286px
$pag-arrow-right-total-height: 260px
$pag-arrow-right-image: '../img/sprite.png'
$pag-arrow-right: (262px, 192px, -262px, -192px, 15px, 24px, 286px, 260px, '../img/sprite.png', 'pag-arrow-right', )
$pag-next-name: 'pag-next'
$pag-next-x: 242px
$pag-next-y: 0px
$pag-next-offset-x: -242px
$pag-next-offset-y: 0px
$pag-next-width: 20px
$pag-next-height: 31px
$pag-next-total-width: 286px
$pag-next-total-height: 260px
$pag-next-image: '../img/sprite.png'
$pag-next: (242px, 0px, -242px, 0px, 20px, 31px, 286px, 260px, '../img/sprite.png', 'pag-next', )
$pag-prev-name: 'pag-prev'
$pag-prev-x: 58px
$pag-prev-y: 128px
$pag-prev-offset-x: -58px
$pag-prev-offset-y: -128px
$pag-prev-width: 20px
$pag-prev-height: 31px
$pag-prev-total-width: 286px
$pag-prev-total-height: 260px
$pag-prev-image: '../img/sprite.png'
$pag-prev: (58px, 128px, -58px, -128px, 20px, 31px, 286px, 260px, '../img/sprite.png', 'pag-prev', )
$phone-2-name: 'phone-2'
$phone-2-x: 171px
$phone-2-y: 206px
$phone-2-offset-x: -171px
$phone-2-offset-y: -206px
$phone-2-width: 26px
$phone-2-height: 26px
$phone-2-total-width: 286px
$phone-2-total-height: 260px
$phone-2-image: '../img/sprite.png'
$phone-2: (171px, 206px, -171px, -206px, 26px, 26px, 286px, 260px, '../img/sprite.png', 'phone-2', )
$phone-mob-name: 'phone-mob'
$phone-mob-x: 90px
$phone-mob-y: 166px
$phone-mob-offset-x: -90px
$phone-mob-offset-y: -166px
$phone-mob-width: 40px
$phone-mob-height: 40px
$phone-mob-total-width: 286px
$phone-mob-total-height: 260px
$phone-mob-image: '../img/sprite.png'
$phone-mob: (90px, 166px, -90px, -166px, 40px, 40px, 286px, 260px, '../img/sprite.png', 'phone-mob', )
$phone-name: 'phone'
$phone-x: 58px
$phone-y: 76px
$phone-offset-x: -58px
$phone-offset-y: -76px
$phone-width: 24px
$phone-height: 26px
$phone-total-width: 286px
$phone-total-height: 260px
$phone-image: '../img/sprite.png'
$phone: (58px, 76px, -58px, -76px, 24px, 26px, 286px, 260px, '../img/sprite.png', 'phone', )
$present-name: 'present'
$present-x: 91px
$present-y: 206px
$present-offset-x: -91px
$present-offset-y: -206px
$present-width: 28px
$present-height: 28px
$present-total-width: 286px
$present-total-height: 260px
$present-image: '../img/sprite.png'
$present: (91px, 206px, -91px, -206px, 28px, 28px, 286px, 260px, '../img/sprite.png', 'present', )
$search-gray-name: 'search-gray'
$search-gray-x: 207px
$search-gray-y: 166px
$search-gray-offset-x: -207px
$search-gray-offset-y: -166px
$search-gray-width: 32px
$search-gray-height: 40px
$search-gray-total-width: 286px
$search-gray-total-height: 260px
$search-gray-image: '../img/sprite.png'
$search-gray: (207px, 166px, -207px, -166px, 32px, 40px, 286px, 260px, '../img/sprite.png', 'search-gray', )
$search-inner-name: 'search-inner'
$search-inner-x: 262px
$search-inner-y: 75px
$search-inner-offset-x: -262px
$search-inner-offset-y: -75px
$search-inner-width: 22px
$search-inner-height: 26px
$search-inner-total-width: 286px
$search-inner-total-height: 260px
$search-inner-image: '../img/sprite.png'
$search-inner: (262px, 75px, -262px, -75px, 22px, 26px, 286px, 260px, '../img/sprite.png', 'search-inner', )
$search-name: 'search'
$search-x: 262px
$search-y: 49px
$search-offset-x: -262px
$search-offset-y: -49px
$search-width: 22px
$search-height: 26px
$search-total-width: 286px
$search-total-height: 260px
$search-image: '../img/sprite.png'
$search: (262px, 49px, -262px, -49px, 22px, 26px, 286px, 260px, '../img/sprite.png', 'search', )
$sign-name: 'sign'
$sign-x: 262px
$sign-y: 101px
$sign-offset-x: -262px
$sign-offset-y: -101px
$sign-width: 20px
$sign-height: 26px
$sign-total-width: 286px
$sign-total-height: 260px
$sign-image: '../img/sprite.png'
$sign: (262px, 101px, -262px, -101px, 20px, 26px, 286px, 260px, '../img/sprite.png', 'sign', )
$signin-modal-name: 'signin-modal'
$signin-modal-x: 140px
$signin-modal-y: 50px
$signin-modal-offset-x: -140px
$signin-modal-offset-y: -50px
$signin-modal-width: 40px
$signin-modal-height: 52px
$signin-modal-total-width: 286px
$signin-modal-total-height: 260px
$signin-modal-image: '../img/sprite.png'
$signin-modal: (140px, 50px, -140px, -50px, 40px, 52px, 286px, 260px, '../img/sprite.png', 'signin-modal', )
$subscribe-arrow-name: 'subscribe-arrow'
$subscribe-arrow-x: 0px
$subscribe-arrow-y: 0px
$subscribe-arrow-offset-x: 0px
$subscribe-arrow-offset-y: 0px
$subscribe-arrow-width: 82px
$subscribe-arrow-height: 76px
$subscribe-arrow-total-width: 286px
$subscribe-arrow-total-height: 260px
$subscribe-arrow-image: '../img/sprite.png'
$subscribe-arrow: (0px, 0px, 0px, 0px, 82px, 76px, 286px, 260px, '../img/sprite.png', 'subscribe-arrow', )
$subscribe-mob-name: 'subscribe-mob'
$subscribe-mob-x: 0px
$subscribe-mob-y: 166px
$subscribe-mob-offset-x: 0px
$subscribe-mob-offset-y: -166px
$subscribe-mob-width: 48px
$subscribe-mob-height: 40px
$subscribe-mob-total-width: 286px
$subscribe-mob-total-height: 260px
$subscribe-mob-image: '../img/sprite.png'
$subscribe-mob: (0px, 166px, 0px, -166px, 48px, 40px, 286px, 260px, '../img/sprite.png', 'subscribe-mob', )
$subscribe-name: 'subscribe'
$subscribe-x: 262px
$subscribe-y: 127px
$subscribe-offset-x: -262px
$subscribe-offset-y: -127px
$subscribe-width: 24px
$subscribe-height: 20px
$subscribe-total-width: 286px
$subscribe-total-height: 260px
$subscribe-image: '../img/sprite.png'
$subscribe: (262px, 127px, -262px, -127px, 24px, 20px, 286px, 260px, '../img/sprite.png', 'subscribe', )
$update-name: 'update'
$update-x: 140px
$update-y: 143px
$update-offset-x: -140px
$update-offset-y: -143px
$update-width: 38px
$update-height: 22px
$update-total-width: 286px
$update-total-height: 260px
$update-image: '../img/sprite.png'
$update: (140px, 143px, -140px, -143px, 38px, 22px, 286px, 260px, '../img/sprite.png', 'update', )
$spritesheet-width: 286px
$spritesheet-height: 260px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-down, $arrow-left, $arrow-next, $arrow-prev, $arrow-right, $bread-arrow, $btn-arrow-mob, $btn-arrow, $callback, $cart-3, $cart-4, $cart-btn-2, $cart-btn, $cart-gray, $cart-mob, $cart-search, $cart-white, $catalog-left, $catalog-right, $close, $close2, $delete, $edit, $footer-callback, $footer-phone-mob, $footer-phone, $login-mob, $login-modal, $login, $map, $menu-arrow, $name, $oneclick, $oneclick2, $order, $pag-arrow-left, $pag-arrow-right, $pag-next, $pag-prev, $phone-2, $phone-mob, $phone, $present, $search-gray, $search-inner, $search, $sign, $signin-modal, $subscribe-arrow, $subscribe-mob, $subscribe, $update, )
$spritesheet: (286px, 260px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
