/*----------------News-1 page-----------------*/
.page-top--size
	padding-bottom: 20px

.navpage
	margin-top: 50px
	&-list
		li
			display: inline-block
			margin: 0 27px 10px 0
			&:last-child
				margin-right: 0
			a
				display: block
				height: 36px
				padding: 8px 20px
				font-size: 14px
				font-weight: 700
				color: #fff
				border-radius: 18px
				background: rgba(27,103,175, .75)
				&:hover, &.active
					opacity: 1
					background: #ff3d00

.news-item--in
	float: left
	width: 48%
	margin: 0 30px 30px 0
	&:nth-of-type(even)
		margin-right: 0

.pagination
	padding-top: 29px
	overflow: hidden
	clear: both
	&-list
		li
			display: inline-block
			margin-right: 7px
			a
				display: block
				width: 38px
				height: 38px
				font-size: 14px
				font-weight: 700
				color: #4384c2
				line-height: 36px
				text-align: center
				border-radius: 50%
				border: 1px solid #e6e6e6
				&:hover, &.active
					color: #fff
					border: 1px solid #4384c2
					background: #4384c2
/*--------------------end---------------------*/