/*----------------Service-3 page-----------------*/
.service-price
	display: table
	width: 100%
	margin-bottom: 42px
	padding: 15px 37px
	border: 1px solid #e6e6e6
	border-radius: 10px
	background: #f9f9f9
	&__row
		display: table-row
		&:last-child
			.service-price__cell
				border-bottom: none
	&__cell
		display: table-cell
		vertical-align: middle
		padding: 17px 0 14px
		border-bottom: 1px solid #e6e6e6
		&--1
			padding-right: 19%
	&__title
		font-size: 14px
		font-weight: 300
		line-height: 21px
	&__num
		display: inline-block
		font: 700 24px "ptserif"
		color: #ff3d00
		white-space: nowrap
		span
			display: block
			font: 300 14px "ubuntu"
			color: #737373
			text-align: left
.btn--order
	margin-top: 35px
/*----------------------end----------------------*/