// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-down-name: 'arrow-down'
$arrow-down-x: 120px
$arrow-down-y: 135px
$arrow-down-offset-x: -120px
$arrow-down-offset-y: -135px
$arrow-down-width: 19px
$arrow-down-height: 10px
$arrow-down-total-width: 183px
$arrow-down-total-height: 179px
$arrow-down-image: '../img/sprite.png'
$arrow-down: (120px, 135px, -120px, -135px, 19px, 10px, 183px, 179px, '../img/sprite.png', 'arrow-down', )
$arrow-left-hover-name: 'arrow-left-hover'
$arrow-left-hover-x: 0px
$arrow-left-hover-y: 166px
$arrow-left-hover-offset-x: 0px
$arrow-left-hover-offset-y: -166px
$arrow-left-hover-width: 8px
$arrow-left-hover-height: 13px
$arrow-left-hover-total-width: 183px
$arrow-left-hover-total-height: 179px
$arrow-left-hover-image: '../img/sprite.png'
$arrow-left-hover: (0px, 166px, 0px, -166px, 8px, 13px, 183px, 179px, '../img/sprite.png', 'arrow-left-hover', )
$arrow-left-name: 'arrow-left'
$arrow-left-x: 168px
$arrow-left-y: 97px
$arrow-left-offset-x: -168px
$arrow-left-offset-y: -97px
$arrow-left-width: 8px
$arrow-left-height: 14px
$arrow-left-total-width: 183px
$arrow-left-total-height: 179px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (168px, 97px, -168px, -97px, 8px, 14px, 183px, 179px, '../img/sprite.png', 'arrow-left', )
$arrow-right-hover-name: 'arrow-right-hover'
$arrow-right-hover-x: 168px
$arrow-right-hover-y: 139px
$arrow-right-hover-offset-x: -168px
$arrow-right-hover-offset-y: -139px
$arrow-right-hover-width: 8px
$arrow-right-hover-height: 13px
$arrow-right-hover-total-width: 183px
$arrow-right-hover-total-height: 179px
$arrow-right-hover-image: '../img/sprite.png'
$arrow-right-hover: (168px, 139px, -168px, -139px, 8px, 13px, 183px, 179px, '../img/sprite.png', 'arrow-right-hover', )
$arrow-right-menu-name: 'arrow-right-menu'
$arrow-right-menu-x: 168px
$arrow-right-menu-y: 125px
$arrow-right-menu-offset-x: -168px
$arrow-right-menu-offset-y: -125px
$arrow-right-menu-width: 8px
$arrow-right-menu-height: 14px
$arrow-right-menu-total-width: 183px
$arrow-right-menu-total-height: 179px
$arrow-right-menu-image: '../img/sprite.png'
$arrow-right-menu: (168px, 125px, -168px, -125px, 8px, 14px, 183px, 179px, '../img/sprite.png', 'arrow-right-menu', )
$arrow-right-menu2-name: 'arrow-right-menu2'
$arrow-right-menu2-x: 168px
$arrow-right-menu2-y: 82px
$arrow-right-menu2-offset-x: -168px
$arrow-right-menu2-offset-y: -82px
$arrow-right-menu2-width: 8px
$arrow-right-menu2-height: 15px
$arrow-right-menu2-total-width: 183px
$arrow-right-menu2-total-height: 179px
$arrow-right-menu2-image: '../img/sprite.png'
$arrow-right-menu2: (168px, 82px, -168px, -82px, 8px, 15px, 183px, 179px, '../img/sprite.png', 'arrow-right-menu2', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 168px
$arrow-right-y: 111px
$arrow-right-offset-x: -168px
$arrow-right-offset-y: -111px
$arrow-right-width: 8px
$arrow-right-height: 14px
$arrow-right-total-width: 183px
$arrow-right-total-height: 179px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (168px, 111px, -168px, -111px, 8px, 14px, 183px, 179px, '../img/sprite.png', 'arrow-right', )
$arrow-up-name: 'arrow-up'
$arrow-up-x: 100px
$arrow-up-y: 135px
$arrow-up-offset-x: -100px
$arrow-up-offset-y: -135px
$arrow-up-width: 20px
$arrow-up-height: 11px
$arrow-up-total-width: 183px
$arrow-up-total-height: 179px
$arrow-up-image: '../img/sprite.png'
$arrow-up: (100px, 135px, -100px, -135px, 20px, 11px, 183px, 179px, '../img/sprite.png', 'arrow-up', )
$clock-name: 'clock'
$clock-x: 91px
$clock-y: 114px
$clock-offset-x: -91px
$clock-offset-y: -114px
$clock-width: 16px
$clock-height: 16px
$clock-total-width: 183px
$clock-total-height: 179px
$clock-image: '../img/sprite.png'
$clock: (91px, 114px, -91px, -114px, 16px, 16px, 183px, 179px, '../img/sprite.png', 'clock', )
$fb-h-name: 'fb-h'
$fb-h-x: 168px
$fb-h-y: 67px
$fb-h-offset-x: -168px
$fb-h-offset-y: -67px
$fb-h-width: 8px
$fb-h-height: 15px
$fb-h-total-width: 183px
$fb-h-total-height: 179px
$fb-h-image: '../img/sprite.png'
$fb-h: (168px, 67px, -168px, -67px, 8px, 15px, 183px, 179px, '../img/sprite.png', 'fb-h', )
$fb-name: 'fb'
$fb-x: 168px
$fb-y: 52px
$fb-offset-x: -168px
$fb-offset-y: -52px
$fb-width: 8px
$fb-height: 15px
$fb-total-width: 183px
$fb-total-height: 179px
$fb-image: '../img/sprite.png'
$fb: (168px, 52px, -168px, -52px, 8px, 15px, 183px, 179px, '../img/sprite.png', 'fb', )
$home-name: 'home'
$home-x: 139px
$home-y: 114px
$home-offset-x: -139px
$home-offset-y: -114px
$home-width: 15px
$home-height: 15px
$home-total-width: 183px
$home-total-height: 179px
$home-image: '../img/sprite.png'
$home: (139px, 114px, -139px, -114px, 15px, 15px, 183px, 179px, '../img/sprite.png', 'home', )
$icq2-name: 'icq2'
$icq2-x: 43px
$icq2-y: 114px
$icq2-offset-x: -43px
$icq2-offset-y: -114px
$icq2-width: 16px
$icq2-height: 16px
$icq2-total-width: 183px
$icq2-total-height: 179px
$icq2-image: '../img/sprite.png'
$icq2: (43px, 114px, -43px, -114px, 16px, 16px, 183px, 179px, '../img/sprite.png', 'icq2', )
$loc2-name: 'loc2'
$loc2-x: 168px
$loc2-y: 37px
$loc2-offset-x: -168px
$loc2-offset-y: -37px
$loc2-width: 10px
$loc2-height: 15px
$loc2-total-width: 183px
$loc2-total-height: 179px
$loc2-image: '../img/sprite.png'
$loc2: (168px, 37px, -168px, -37px, 10px, 15px, 183px, 179px, '../img/sprite.png', 'loc2', )
$location-name: 'location'
$location-x: 86px
$location-y: 135px
$location-offset-x: -86px
$location-offset-y: -135px
$location-width: 14px
$location-height: 19px
$location-total-width: 183px
$location-total-height: 179px
$location-image: '../img/sprite.png'
$location: (86px, 135px, -86px, -135px, 14px, 19px, 183px, 179px, '../img/sprite.png', 'location', )
$mail2-name: 'mail2'
$mail2-x: 168px
$mail2-y: 24px
$mail2-offset-x: -168px
$mail2-offset-y: -24px
$mail2-width: 13px
$mail2-height: 13px
$mail2-total-width: 183px
$mail2-total-height: 179px
$mail2-image: '../img/sprite.png'
$mail2: (168px, 24px, -168px, -24px, 13px, 13px, 183px, 179px, '../img/sprite.png', 'mail2', )
$metro-name: 'metro'
$metro-x: 0px
$metro-y: 114px
$metro-offset-x: 0px
$metro-offset-y: -114px
$metro-width: 25px
$metro-height: 21px
$metro-total-width: 183px
$metro-total-height: 179px
$metro-image: '../img/sprite.png'
$metro: (0px, 114px, 0px, -114px, 25px, 21px, 183px, 179px, '../img/sprite.png', 'metro', )
$phone-name: 'phone'
$phone-x: 75px
$phone-y: 114px
$phone-offset-x: -75px
$phone-offset-y: -114px
$phone-width: 16px
$phone-height: 16px
$phone-total-width: 183px
$phone-total-height: 179px
$phone-image: '../img/sprite.png'
$phone: (75px, 114px, -75px, -114px, 16px, 16px, 183px, 179px, '../img/sprite.png', 'phone', )
$phone2-name: 'phone2'
$phone2-x: 25px
$phone2-y: 114px
$phone2-offset-x: -25px
$phone2-offset-y: -114px
$phone2-width: 18px
$phone2-height: 18px
$phone2-total-width: 183px
$phone2-total-height: 179px
$phone2-image: '../img/sprite.png'
$phone2: (25px, 114px, -25px, -114px, 18px, 18px, 183px, 179px, '../img/sprite.png', 'phone2', )
$phone3-name: 'phone3'
$phone3-x: 154px
$phone3-y: 114px
$phone3-offset-x: -154px
$phone3-offset-y: -114px
$phone3-width: 14px
$phone3-height: 15px
$phone3-total-width: 183px
$phone3-total-height: 179px
$phone3-image: '../img/sprite.png'
$phone3: (154px, 114px, -154px, -114px, 14px, 15px, 183px, 179px, '../img/sprite.png', 'phone3', )
$plus-hover-name: 'plus-hover'
$plus-hover-x: 107px
$plus-hover-y: 114px
$plus-hover-offset-x: -107px
$plus-hover-offset-y: -114px
$plus-hover-width: 16px
$plus-hover-height: 16px
$plus-hover-total-width: 183px
$plus-hover-total-height: 179px
$plus-hover-image: '../img/sprite.png'
$plus-hover: (107px, 114px, -107px, -114px, 16px, 16px, 183px, 179px, '../img/sprite.png', 'plus-hover', )
$plus-name: 'plus'
$plus-x: 59px
$plus-y: 114px
$plus-offset-x: -59px
$plus-offset-y: -114px
$plus-width: 16px
$plus-height: 16px
$plus-total-width: 183px
$plus-total-height: 179px
$plus-image: '../img/sprite.png'
$plus: (59px, 114px, -59px, -114px, 16px, 16px, 183px, 179px, '../img/sprite.png', 'plus', )
$price-name: 'price'
$price-x: 66px
$price-y: 135px
$price-offset-x: -66px
$price-offset-y: -135px
$price-width: 20px
$price-height: 22px
$price-total-width: 183px
$price-total-height: 179px
$price-image: '../img/sprite.png'
$price: (66px, 135px, -66px, -135px, 20px, 22px, 183px, 179px, '../img/sprite.png', 'price', )
$quotes-name: 'quotes'
$quotes-x: 0px
$quotes-y: 0px
$quotes-offset-x: 0px
$quotes-offset-y: 0px
$quotes-width: 168px
$quotes-height: 114px
$quotes-total-width: 183px
$quotes-total-height: 179px
$quotes-image: '../img/sprite.png'
$quotes: (0px, 0px, 0px, 0px, 168px, 114px, 183px, 179px, '../img/sprite.png', 'quotes', )
$search-hover-name: 'search-hover'
$search-hover-x: 44px
$search-hover-y: 135px
$search-hover-offset-x: -44px
$search-hover-offset-y: -135px
$search-hover-width: 22px
$search-hover-height: 22px
$search-hover-total-width: 183px
$search-hover-total-height: 179px
$search-hover-image: '../img/sprite.png'
$search-hover: (44px, 135px, -44px, -135px, 22px, 22px, 183px, 179px, '../img/sprite.png', 'search-hover', )
$search-in-name: 'search-in'
$search-in-x: 22px
$search-in-y: 135px
$search-in-offset-x: -22px
$search-in-offset-y: -135px
$search-in-width: 22px
$search-in-height: 22px
$search-in-total-width: 183px
$search-in-total-height: 179px
$search-in-image: '../img/sprite.png'
$search-in: (22px, 135px, -22px, -135px, 22px, 22px, 183px, 179px, '../img/sprite.png', 'search-in', )
$search-name: 'search'
$search-x: 0px
$search-y: 135px
$search-offset-x: 0px
$search-offset-y: -135px
$search-width: 22px
$search-height: 22px
$search-total-width: 183px
$search-total-height: 179px
$search-image: '../img/sprite.png'
$search: (0px, 135px, 0px, -135px, 22px, 22px, 183px, 179px, '../img/sprite.png', 'search', )
$skype2-name: 'skype2'
$skype2-x: 123px
$skype2-y: 114px
$skype2-offset-x: -123px
$skype2-offset-y: -114px
$skype2-width: 16px
$skype2-height: 16px
$skype2-total-width: 183px
$skype2-total-height: 179px
$skype2-image: '../img/sprite.png'
$skype2: (123px, 114px, -123px, -114px, 16px, 16px, 183px, 179px, '../img/sprite.png', 'skype2', )
$tw-h-name: 'tw-h'
$tw-h-x: 168px
$tw-h-y: 0px
$tw-h-offset-x: -168px
$tw-h-offset-y: 0px
$tw-h-width: 15px
$tw-h-height: 12px
$tw-h-total-width: 183px
$tw-h-total-height: 179px
$tw-h-image: '../img/sprite.png'
$tw-h: (168px, 0px, -168px, 0px, 15px, 12px, 183px, 179px, '../img/sprite.png', 'tw-h', )
$tw-name: 'tw'
$tw-x: 168px
$tw-y: 12px
$tw-offset-x: -168px
$tw-offset-y: -12px
$tw-width: 15px
$tw-height: 12px
$tw-total-width: 183px
$tw-total-height: 179px
$tw-image: '../img/sprite.png'
$tw: (168px, 12px, -168px, -12px, 15px, 12px, 183px, 179px, '../img/sprite.png', 'tw', )
$vk-h-name: 'vk-h'
$vk-h-x: 0px
$vk-h-y: 157px
$vk-h-offset-x: 0px
$vk-h-offset-y: -157px
$vk-h-width: 16px
$vk-h-height: 9px
$vk-h-total-width: 183px
$vk-h-total-height: 179px
$vk-h-image: '../img/sprite.png'
$vk-h: (0px, 157px, 0px, -157px, 16px, 9px, 183px, 179px, '../img/sprite.png', 'vk-h', )
$vk-name: 'vk'
$vk-x: 139px
$vk-y: 135px
$vk-offset-x: -139px
$vk-offset-y: -135px
$vk-width: 16px
$vk-height: 9px
$vk-total-width: 183px
$vk-total-height: 179px
$vk-image: '../img/sprite.png'
$vk: (139px, 135px, -139px, -135px, 16px, 9px, 183px, 179px, '../img/sprite.png', 'vk', )
$spritesheet-width: 183px
$spritesheet-height: 179px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-down, $arrow-left-hover, $arrow-left, $arrow-right-hover, $arrow-right-menu, $arrow-right-menu2, $arrow-right, $arrow-up, $clock, $fb-h, $fb, $home, $icq2, $loc2, $location, $mail2, $metro, $phone, $phone2, $phone3, $plus-hover, $plus, $price, $quotes, $search-hover, $search-in, $search, $skype2, $tw-h, $tw, $vk-h, $vk, )
$spritesheet: (183px, 179px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
