@import "vars.sass"

/*---------------------Blog-3--------------------*/
.blog__title
	&.blog__title-article
		font-size: 36px

.blog__date
	&.blog__date-article
		font-size: 16px

.blog__text
	p
		color: #1e1e1e
/*----------------------end----------------------*/