@import "vars.sass"

/*---------------------News--------------------*/
.blog__title
	&.blog__title-news
		&:hover
			color: $hover-link
.blog__preview
	&.blog__preview-news
		display: block
		padding-left: 0

.link__more
	&.link__more-news
		display: block
		padding-left: 0
/*----------------------end--------------------*/