@import "vars.sass"

/*---------------------Schedule--------------------*/
.schedule__page
	padding: 65px 0 0

.schedule__item
	position: relative
	margin-bottom: 70px

.schedule__img
	display: inline-block
	position: relative
	vertical-align: top

.schedule__banner
	position: absolute
	top: 25px
	left: 0
	padding: 5px 20px 6px 15px
	font-size: 13px
	font-weight: 700
	color: #fff
	text-transform: uppercase
	background: rgba(84,141,9, .8)

.schedule__descr
	display: inline-block
	width: 45%
	margin-left: 15px
	vertical-align: top
	span
		display: block
		margin-top: 20px
		font-size: 14px

.schedule__title
	display: block
	font: 800 20px "ProximaNova"
	color: $main-color
	&:hover
		text-decoration: underline

.schedule__right
	float: right
	width: 270px
	vertical-align: top
	text-align: center
	img
		display: block
		width: 54px
		margin: 0 auto 16px

.shedule__date
	display: block
	margin-bottom: 16px
	font: 700 22px/22px "ProximaNova"

.main__btn
	&.main__btn-schedule
		margin: 0 auto
		font-size: 12px

.shedule__warn
	display: block
	margin-top: 12px
	font-size: 12px
	font-weight: 300
/*------------------------end---------------------*/