/*--------------Contact page--------------------*/
.about
	padding: 27px 0 105px
	&-text
		font-size: 24px
		line-height: 36px
		p
			margin-bottom: 35px
		&__pict
			margin-bottom: 30px
			img
				display: block
				max-width: 100%
	.adv-block
		padding: 0
/*-------------------end-------------------------*/