/*--------------Catalog page--------------------*/
.content_catalog
	padding-bottom: 45px

.page-title
	span
		display: none
		margin-bottom: 28px

.catalog
	padding: 17px 0 0

.brand-list
	max-width: 750px
	li
		display: inline-block
		margin: 0 22px 14px 0
		a
			display: inline-block
			font-size: 17px
			color: $blue

.filter
	margin-top: 15px
	&__title
		display: inline-block
		margin-right: 22px
		font-size: 17px
		color: $gray
	form
		display: inline-block
	fieldset
		display: inline-block
		margin: 0 25px 0 0
		padding: 0
		border: none
	label
		font-size: 17px
		color: $gray
	input
		width: 102px
		height: 40px
		margin: 0 7px 0 5px
		padding-left: 10px
		outline: none
		font-size: 17px
		border: 1px solid $blue
	.btn-wrap
		display: inline-block
		max-width: none
	.btn_filter
		display: inline-block
		width: 116px
		margin-right: 7px
		vertical-align: middle
	.btn-oneclick_filter
		float: none
		display: inline-block
		width: 128px
		vertical-align: middle

.catalog-product
	padding: 55px 0 14px
	+clearfix
	.product-item
		width: 33.33%
		margin-bottom: 72px
		padding: 0 85px 0 0
		.btn-wrap
			padding-right: 10px
/*-----------------end--------------------------*/