/*--------------Contact page--------------------*/
.contact
	padding: 12px 0 80px
	.phone
		display: table
		margin: 0 0 28px
		padding-left: 50px
		font-size: 43px
		&:before
			top: 8px
			@include sprite($phone-mob)
	.mail
		display: table
		margin: 0 0 15px
	.location
		margin-right: 98px
		font-size: 24px
	.work
		font-size: 24px

.contact-map
	margin-top: 27px
	height: 458px

.contact-info
	margin-top: 29px
	&__title
		margin-bottom: 11px
		font: 800 25px $second-font
	&__details
		font-size: 24px
		line-height: 36px
/*-------------------end-------------------------*/