/*--------------Contact page--------------------*/
.info
	padding: 15px 0 53px
	&-block
		font-size: 24px
		line-height: 36px
		strong
			font-size: 25px
			line-height: 60px
		p
			margin-bottom: 37px
		ul
			margin: 0 0 37px 68px
			list-style-type: disc
/*-------------------end-------------------------*/