/*--------------Service-in page--------------------*/
.service-inner
	padding: 15px 0 80px

.form
	margin-bottom: 43px
	&__title
		margin-bottom: 20px
		font: 800 25px $second-font
	input
		display: inline-block
		width: 227px
		height: 54px
		margin-right: 3px
		padding-left: 18px
		vertical-align: middle
		outline: none
		font-size: 17px
		border: 1px solid $blue

.btn_form
	display: inline-block
	width: 208px
	margin-left: 12px
	vertical-align: middle

.service-details
	font-size: 17px
	img
		display: block
		max-width: 100%
		margin-bottom: 28px
	p
		margin-bottom: 30px

.btn_service
	width: 208px
	line-height: 42px
/*-------------------end-------------------------*/