/*--------------Service page--------------------*/
.service
	padding: 10px 0 55px
	font-size: 17px
	p
		margin-bottom: 30px
	&-list
		margin-bottom: 32px
		&__title
			margin-bottom: 20px
			font: 800 25px $second-font

.service-box
	&__link
		display: inline-block
		margin-bottom: 16px
		font: 25px $second-font
		color: $blue
		text-decoration: underline
		&:hover, &.active
			color: $accent
			text-decoration: none
	&__body
		display: none
		height: auto
/*-------------------end-------------------------*/