// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-down-mob-name: 'arrow-down-mob'
$arrow-down-mob-x: 56px
$arrow-down-mob-y: 192px
$arrow-down-mob-offset-x: -56px
$arrow-down-mob-offset-y: -192px
$arrow-down-mob-width: 28px
$arrow-down-mob-height: 15px
$arrow-down-mob-total-width: 265px
$arrow-down-mob-total-height: 223px
$arrow-down-mob-image: '../img/sprite.png'
$arrow-down-mob: (56px, 192px, -56px, -192px, 28px, 15px, 265px, 223px, '../img/sprite.png', 'arrow-down-mob', )
$arrow-down-name: 'arrow-down'
$arrow-down-x: 240px
$arrow-down-y: 135px
$arrow-down-offset-x: -240px
$arrow-down-offset-y: -135px
$arrow-down-width: 14px
$arrow-down-height: 7px
$arrow-down-total-width: 265px
$arrow-down-total-height: 223px
$arrow-down-image: '../img/sprite.png'
$arrow-down: (240px, 135px, -240px, -135px, 14px, 7px, 265px, 223px, '../img/sprite.png', 'arrow-down', )
$arrow-left-name: 'arrow-left'
$arrow-left-x: 255px
$arrow-left-y: 107px
$arrow-left-offset-x: -255px
$arrow-left-offset-y: -107px
$arrow-left-width: 8px
$arrow-left-height: 14px
$arrow-left-total-width: 265px
$arrow-left-total-height: 223px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (255px, 107px, -255px, -107px, 8px, 14px, 265px, 223px, '../img/sprite.png', 'arrow-left', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 254px
$arrow-right-y: 144px
$arrow-right-offset-x: -254px
$arrow-right-offset-y: -144px
$arrow-right-width: 7px
$arrow-right-height: 13px
$arrow-right-total-width: 265px
$arrow-right-total-height: 223px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (254px, 144px, -254px, -144px, 7px, 13px, 265px, 223px, '../img/sprite.png', 'arrow-right', )
$callback-mob-name: 'callback-mob'
$callback-mob-x: 106px
$callback-mob-y: 0px
$callback-mob-offset-x: -106px
$callback-mob-offset-y: 0px
$callback-mob-width: 97px
$callback-mob-height: 99px
$callback-mob-total-width: 265px
$callback-mob-total-height: 223px
$callback-mob-image: '../img/sprite.png'
$callback-mob: (106px, 0px, -106px, 0px, 97px, 99px, 265px, 223px, '../img/sprite.png', 'callback-mob', )
$callback-name: 'callback'
$callback-x: 179px
$callback-y: 113px
$callback-offset-x: -179px
$callback-offset-y: -113px
$callback-width: 20px
$callback-height: 20px
$callback-total-width: 265px
$callback-total-height: 223px
$callback-image: '../img/sprite.png'
$callback: (179px, 113px, -179px, -113px, 20px, 20px, 265px, 223px, '../img/sprite.png', 'callback', )
$cart-btn-name: 'cart-btn'
$cart-btn-x: 112px
$cart-btn-y: 192px
$cart-btn-offset-x: -112px
$cart-btn-offset-y: -192px
$cart-btn-width: 15px
$cart-btn-height: 15px
$cart-btn-total-width: 265px
$cart-btn-total-height: 223px
$cart-btn-image: '../img/sprite.png'
$cart-btn: (112px, 192px, -112px, -192px, 15px, 15px, 265px, 223px, '../img/sprite.png', 'cart-btn', )
$cart-btn2-name: 'cart-btn2'
$cart-btn2-x: 144px
$cart-btn2-y: 113px
$cart-btn2-offset-x: -144px
$cart-btn2-offset-y: -113px
$cart-btn2-width: 35px
$cart-btn2-height: 34px
$cart-btn2-total-width: 265px
$cart-btn2-total-height: 223px
$cart-btn2-image: '../img/sprite.png'
$cart-btn2: (144px, 113px, -144px, -113px, 35px, 34px, 265px, 223px, '../img/sprite.png', 'cart-btn2', )
$cart-mob-white-name: 'cart-mob-white'
$cart-mob-white-x: 0px
$cart-mob-white-y: 0px
$cart-mob-white-offset-x: 0px
$cart-mob-white-offset-y: 0px
$cart-mob-white-width: 106px
$cart-mob-white-height: 113px
$cart-mob-white-total-width: 265px
$cart-mob-white-total-height: 223px
$cart-mob-white-image: '../img/sprite.png'
$cart-mob-white: (0px, 0px, 0px, 0px, 106px, 113px, 265px, 223px, '../img/sprite.png', 'cart-mob-white', )
$cart-mob-name: 'cart-mob'
$cart-mob-x: 203px
$cart-mob-y: 0px
$cart-mob-offset-x: -203px
$cart-mob-offset-y: 0px
$cart-mob-width: 62px
$cart-mob-height: 67px
$cart-mob-total-width: 265px
$cart-mob-total-height: 223px
$cart-mob-image: '../img/sprite.png'
$cart-mob: (203px, 0px, -203px, 0px, 62px, 67px, 265px, 223px, '../img/sprite.png', 'cart-mob', )
$cart-name: 'cart'
$cart-x: 0px
$cart-y: 192px
$cart-offset-x: 0px
$cart-offset-y: -192px
$cart-width: 29px
$cart-height: 31px
$cart-total-width: 265px
$cart-total-height: 223px
$cart-image: '../img/sprite.png'
$cart: (0px, 192px, 0px, -192px, 29px, 31px, 265px, 223px, '../img/sprite.png', 'cart', )
$close-name: 'close'
$close-x: 203px
$close-y: 144px
$close-offset-x: -203px
$close-offset-y: -144px
$close-width: 36px
$close-height: 36px
$close-total-width: 265px
$close-total-height: 223px
$close-image: '../img/sprite.png'
$close: (203px, 144px, -203px, -144px, 36px, 36px, 265px, 223px, '../img/sprite.png', 'close', )
$delete-mob-name: 'delete-mob'
$delete-mob-x: 0px
$delete-mob-y: 113px
$delete-mob-offset-x: 0px
$delete-mob-offset-y: -113px
$delete-mob-width: 77px
$delete-mob-height: 79px
$delete-mob-total-width: 265px
$delete-mob-total-height: 223px
$delete-mob-image: '../img/sprite.png'
$delete-mob: (0px, 113px, 0px, -113px, 77px, 79px, 265px, 223px, '../img/sprite.png', 'delete-mob', )
$delete-name: 'delete'
$delete-x: 29px
$delete-y: 192px
$delete-offset-x: -29px
$delete-offset-y: -192px
$delete-width: 27px
$delete-height: 27px
$delete-total-width: 265px
$delete-total-height: 223px
$delete-image: '../img/sprite.png'
$delete: (29px, 192px, -29px, -192px, 27px, 27px, 265px, 223px, '../img/sprite.png', 'delete', )
$mail-mob-name: 'mail-mob'
$mail-mob-x: 144px
$mail-mob-y: 147px
$mail-mob-offset-x: -144px
$mail-mob-offset-y: -147px
$mail-mob-width: 37px
$mail-mob-height: 30px
$mail-mob-total-width: 265px
$mail-mob-total-height: 223px
$mail-mob-image: '../img/sprite.png'
$mail-mob: (144px, 147px, -144px, -147px, 37px, 30px, 265px, 223px, '../img/sprite.png', 'mail-mob', )
$mail-name: 'mail'
$mail-x: 243px
$mail-y: 88px
$mail-offset-x: -243px
$mail-offset-y: -88px
$mail-width: 20px
$mail-height: 16px
$mail-total-width: 265px
$mail-total-height: 223px
$mail-image: '../img/sprite.png'
$mail: (243px, 88px, -243px, -88px, 20px, 16px, 265px, 223px, '../img/sprite.png', 'mail', )
$menu-arrow-down-name: 'menu-arrow-down'
$menu-arrow-down-x: 239px
$menu-arrow-down-y: 172px
$menu-arrow-down-offset-x: -239px
$menu-arrow-down-offset-y: -172px
$menu-arrow-down-width: 13px
$menu-arrow-down-height: 7px
$menu-arrow-down-total-width: 265px
$menu-arrow-down-total-height: 223px
$menu-arrow-down-image: '../img/sprite.png'
$menu-arrow-down: (239px, 172px, -239px, -172px, 13px, 7px, 265px, 223px, '../img/sprite.png', 'menu-arrow-down', )
$menu-arrow-down2-name: 'menu-arrow-down2'
$menu-arrow-down2-x: 84px
$menu-arrow-down2-y: 192px
$menu-arrow-down2-offset-x: -84px
$menu-arrow-down2-offset-y: -192px
$menu-arrow-down2-width: 28px
$menu-arrow-down2-height: 15px
$menu-arrow-down2-total-width: 265px
$menu-arrow-down2-total-height: 223px
$menu-arrow-down2-image: '../img/sprite.png'
$menu-arrow-down2: (84px, 192px, -84px, -192px, 28px, 15px, 265px, 223px, '../img/sprite.png', 'menu-arrow-down2', )
$menu-arrow-right-name: 'menu-arrow-right'
$menu-arrow-right-x: 255px
$menu-arrow-right-y: 121px
$menu-arrow-right-offset-x: -255px
$menu-arrow-right-offset-y: -121px
$menu-arrow-right-width: 7px
$menu-arrow-right-height: 13px
$menu-arrow-right-total-width: 265px
$menu-arrow-right-total-height: 223px
$menu-arrow-right-image: '../img/sprite.png'
$menu-arrow-right: (255px, 121px, -255px, -121px, 7px, 13px, 265px, 223px, '../img/sprite.png', 'menu-arrow-right', )
$menu-arrow-right2-name: 'menu-arrow-right2'
$menu-arrow-right2-x: 240px
$menu-arrow-right2-y: 107px
$menu-arrow-right2-offset-x: -240px
$menu-arrow-right2-offset-y: -107px
$menu-arrow-right2-width: 15px
$menu-arrow-right2-height: 28px
$menu-arrow-right2-total-width: 265px
$menu-arrow-right2-total-height: 223px
$menu-arrow-right2-image: '../img/sprite.png'
$menu-arrow-right2: (240px, 107px, -240px, -107px, 15px, 28px, 265px, 223px, '../img/sprite.png', 'menu-arrow-right2', )
$menu-arrow-right3-name: 'menu-arrow-right3'
$menu-arrow-right3-x: 239px
$menu-arrow-right3-y: 144px
$menu-arrow-right3-offset-x: -239px
$menu-arrow-right3-offset-y: -144px
$menu-arrow-right3-width: 15px
$menu-arrow-right3-height: 28px
$menu-arrow-right3-total-width: 265px
$menu-arrow-right3-total-height: 223px
$menu-arrow-right3-image: '../img/sprite.png'
$menu-arrow-right3: (239px, 144px, -239px, -144px, 15px, 28px, 265px, 223px, '../img/sprite.png', 'menu-arrow-right3', )
$phone-mob-name: 'phone-mob'
$phone-mob-x: 203px
$phone-mob-y: 107px
$phone-mob-offset-x: -203px
$phone-mob-offset-y: -107px
$phone-mob-width: 37px
$phone-mob-height: 37px
$phone-mob-total-width: 265px
$phone-mob-total-height: 223px
$phone-mob-image: '../img/sprite.png'
$phone-mob: (203px, 107px, -203px, -107px, 37px, 37px, 265px, 223px, '../img/sprite.png', 'phone-mob', )
$phone-mob2-name: 'phone-mob2'
$phone-mob2-x: 77px
$phone-mob2-y: 113px
$phone-mob2-offset-x: -77px
$phone-mob2-offset-y: -113px
$phone-mob2-width: 67px
$phone-mob2-height: 67px
$phone-mob2-total-width: 265px
$phone-mob2-total-height: 223px
$phone-mob2-image: '../img/sprite.png'
$phone-mob2: (77px, 113px, -77px, -113px, 67px, 67px, 265px, 223px, '../img/sprite.png', 'phone-mob2', )
$phone-name: 'phone'
$phone-x: 181px
$phone-y: 147px
$phone-offset-x: -181px
$phone-offset-y: -147px
$phone-width: 20px
$phone-height: 20px
$phone-total-width: 265px
$phone-total-height: 223px
$phone-image: '../img/sprite.png'
$phone: (181px, 147px, -181px, -147px, 20px, 20px, 265px, 223px, '../img/sprite.png', 'phone', )
$search-mob-name: 'search-mob'
$search-mob-x: 203px
$search-mob-y: 67px
$search-mob-offset-x: -203px
$search-mob-offset-y: -67px
$search-mob-width: 40px
$search-mob-height: 40px
$search-mob-total-width: 265px
$search-mob-total-height: 223px
$search-mob-image: '../img/sprite.png'
$search-mob: (203px, 67px, -203px, -67px, 40px, 40px, 265px, 223px, '../img/sprite.png', 'search-mob', )
$search-name: 'search'
$search-x: 243px
$search-y: 67px
$search-offset-x: -243px
$search-offset-y: -67px
$search-width: 21px
$search-height: 21px
$search-total-width: 265px
$search-total-height: 223px
$search-image: '../img/sprite.png'
$search: (243px, 67px, -243px, -67px, 21px, 21px, 265px, 223px, '../img/sprite.png', 'search', )
$spritesheet-width: 265px
$spritesheet-height: 223px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-down-mob, $arrow-down, $arrow-left, $arrow-right, $callback-mob, $callback, $cart-btn, $cart-btn2, $cart-mob-white, $cart-mob, $cart, $close, $delete-mob, $delete, $mail-mob, $mail, $menu-arrow-down, $menu-arrow-down2, $menu-arrow-right, $menu-arrow-right2, $menu-arrow-right3, $phone-mob, $phone-mob2, $phone, $search-mob, $search, )
$spritesheet: (265px, 223px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
