@import "bourbon"

$default-font: "pfdindisplaypro", Arial, Verdana, Helvetica, sans-serif
$second-font: "pfdindisplaypro", Arial, Verdana, Helvetica, sans-serif
$main-color: #000
$gray: #3e3e3e
$lightgray: #4c4c4c
$blue: #007eff
$darkblue: #002054
$lightblue: #94b8f2
$green: #0fd000
$orange: #ff7e00
$accent: #ff0066