	<footer class="footer clearfix">

		<div class="footer-main">
			<div class="container">

				<div class="footer-block footer-block--menu">
					<div class="footer-block__title">Меню</div>
					<ul class="footer-menu">
						<li><a href="#">О компании</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Статьи</a></li>
						<li><a href="#">Видео</a></li>
						<li><a href="#">Работа</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>

				<div class="footer-block footer-block--catalog">
					<div class="footer-block__title">Каталог</div>
					<ul class="footer-catalog">
						<li><a href="#">Вращающийся инструмент</a></li>
						<li><a href="#">Стоматологическое оборудование</a></li>
						<li><a href="#">Стоматологические материалы</a></li>
						<li><a href="#">Имплантология</a></li>
					</ul>
				</div>

				<div class="footer-block footer-block--contact">

					<a href="tel:+74959876543" class="phone phone--footer"><span>(495)</span>987-65-43</a>

					<a href="#callback-form" class="callback callback--footer popup" data-effect="mfp-zoom-in">Заказать<span>обратный звонок</span></a>

					<div class="subscribe subscribe--footer">
						<div class="subscribe__title">Подпишитесь на наши акции</div>
						<div class="subscribe-in">
							<input type="text" name="subscribe" placeholder="Ваш e-mail">
							<button class="subscribe-btn">subscribe<i></i></button>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="footer-bottom">

			<div class="container">
				<a href="#" class="logo logo--footer">
					<img class="logo__pict" src="img/logo-2.png" alt="">
					<div class="logo__title">Novastom<span class="logo__accent">Стоматологическое оборудование</span></div>
				</a>

				<div class="copyright">&copy; 2014 | Novastom - стоматологическое оборудование</div>

				<a href="#" class="developer">
					<span class="developer__title">Разработано в:</span>
					<img class="developer__pict" src="img/reklamoterapiya.png" alt="">
					<img class="developer__pict developer__pict--mob" src="img/reklamoterapiya-mob.png" alt="">
				</a>
			</div>

		</div>
	</footer>

	<div class="hidden">
		<div id="present-form" class="form-block form-block--modal mfp-with-anim">
			<div class="form-block__title">Заказать бесплатную презентацию товара</div>
			<form action="#">
				<div class="form-block__in form-block__in--name"><input type="text" placeholder="Ваше имя"></div>
				<div class="form-block__in form-block__in--phone"><input type="text" placeholder="Ваш телефон"></div>
				<button class="btn btn--form">Заказать презентацию</button>
			</form>
		</div>

		<div id="callback-form" class="form-block form-block--modal mfp-with-anim">
			<div class="form-block__title">Заказать<br>обратный звонок</div>
			<form action="#">
				<div class="form-block__in form-block__in--name"><input type="text" placeholder="Ваше имя"></div>
				<div class="form-block__in form-block__in--phone"><input type="text" placeholder="Ваш телефон"></div>
				<button class="btn btn--form">Заказать звонок</button>
			</form>
		</div>

		<div id="oneclick-form" class="modal-form mfp-with-anim">
			<div class="modal-form__title">Заказать в один клик</div>
			<form action="#">
				<input type="text" placeholder="Ваше имя">
				<input type="text" placeholder="Ваш телефон">
				<button class="btn btn--form2">Оформить заказ</button>
			</form>
		</div>

		<div id="login-form" class="modal-form mfp-with-anim">
			<div class="modal-form__title modal-form__title--login"><i></i>Войти</div>
			<form action="#">
				<input type="text" placeholder="Логин">
				<input type="text" placeholder="Пароль">
				<button class="btn btn--form2">Войти</button>
			</form>
		</div>

		<div id="signin-form" class="modal-form modal-form--signin mfp-with-anim">
			<div class="modal-form__title modal-form__title--signin"><i></i>Регистрация</div>
			<form action="#">
				<input type="text" placeholder="Ваше имя">
				<input type="text" placeholder="Логин">
				<input type="text" placeholder="Пароль">
				<input type="text" placeholder="Подтверждение пароля">
				<input type="text" placeholder="E-mail">
				<button class="btn btn--form2">Зарегистрироваться</button>
			</form>
		</div>

	</div>

	<div class="loader">
		<div class="loader_inner"></div>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery/jquery-1.12.4.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/formstyler/jquery.formstyler.min.js"></script>

	<script src="js/common.js"></script>
