	<header class="header">

		<div class="header-top clearfix">

			<div class="main-menu clearfix">
				<div class="container">
					<ul class="main-list">
						<div class="column">
							<li class="main-list__item main-list__item--title"><a href="#">Терапия</a></li>
							<li class="main-list__item"><a href="#">Материалы для временных пломб</a></li>
							<li class="main-list__item"><a href="#">Материалы для снятия зубного налета</a></li>
							<li class="main-list__item"><a href="#">Материалы для окклюзионной поверхности</a></li>
							<li class="main-list__item"><a href="#">Средства гигиены и профилактики(фтор профилактика)</a></li>
							<li class="main-list__item"><a href="#">Пломбировочные материалы светового отверждения</a></li>
							<li class="main-list__item"><a href="#">Пломбировочные материалы химического отверждения</a></li>
							<li class="main-list__item"><a href="#">Полировочные и Финирующие материалы и инструменты</a></li>

							<li class="main-list__item"><a href="#">Кофердам</a></li>
							<li class="main-list__item"><a href="#">Другие аксессуары и материалы для терапии</a></li>

							<li class="main-list__item main-list__item--drop"><a href="#">Материалы для шинирования</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Материалы для лечения слизистых тканей</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Материалы для лечения гиперестизии</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Оптрагейты</a></li>

							<li class="main-list__item"><a href="#">Прокладочные и изолирующие материалы</a></li>
							<li class="main-list__item"><a href="#">Фиссурные герметики</a></li>
						</div>

						<div class="column">
							<li class="main-list__item"><a href="#">Роторные инструменты(переход к разделу вращающиеся)</a></li>
							<li class="main-list__item"><a href="#">Композитные и компомерные материалы</a></li>
							<li class="main-list__item"><a href="#">Адгезивные системы и протравки</a></li>

							<li class="main-list__item main-list__item--title"><a href="#">Хирургия</a></li>
							<li class="main-list__item"><a href="#">Инструменты</a></li>

							<li class="main-list__item main-list__item--drop"><a href="#">Распаторы стоматологические</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Крючок Фарабефа</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Элеваторы</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Иглодержатели</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Ножницы</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Пинцеты и зажимы</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Скальпели</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Трепаны</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Щипцы</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Инструменты для пародонтологии</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Роторный инструмент</a></li>

							<li class="main-list__item main-list__item--title"><a href="#">Эндо6тонтия</a></li>
							<li class="main-list__item"><a href="#">Аксессуары</a></li>
							<li class="main-list__item"><a href="#">Эндодонтические аппараты</a></li>
							<li class="main-list__item"><a href="#">Инструменты</a></li>
						</div>

						<div class="column">
							<li class="main-list__item main-list__item--title"><a href="#">Дезинфекция</a></li>
							<li class="main-list__item"><a href="#">Материалы для временных пломб</a></li>
							<li class="main-list__item"><a href="#">Материалы для снятия зубного налета</a></li>
							<li class="main-list__item"><a href="#">Материалы для окклюзионной поверхности</a></li>
							<li class="main-list__item"><a href="#">Средства гигиены и профилактики(фтор профилактика)</a></li>
							<li class="main-list__item"><a href="#">Пломбировочные материалы светового отверждения</a></li>
							<li class="main-list__item"><a href="#">Пломбировочные материалы химического отверждения</a></li>
							<li class="main-list__item"><a href="#">Полировочные и Финирующие материалы и инструменты</a></li>
							<li class="main-list__item"><a href="#">Кофердам</a></li>
							<li class="main-list__item"><a href="#">Другие аксессуары и материалы для терапии</a></li>

							<li class="main-list__item main-list__item--drop"><a href="#">Материалы для шинирования</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Материалы для лечения слизистых тканей</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Материалы для лечения гиперестизии</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Оптрагейты</a></li>

							<li class="main-list__item"><a href="#">Прокладочные и изолирующие материалы</a></li>
							<li class="main-list__item"><a href="#">Фиссурные герметики</a></li>
						</div>

						<div class="column">
							<li class="main-list__item"><a href="#">Роторные инструменты(переход к разделу вращающиеся)</a></li>
							<li class="main-list__item"><a href="#">Композитные и компомерные материалы</a></li>
							<li class="main-list__item"><a href="#">Адгезивные системы и протравки</a></li>
							<li class="main-list__item main-list__item--title"><a href="#">Иплантология</a></li>
							<li class="main-list__item"><a href="#">Инструменты</a></li>

							<li class="main-list__item main-list__item--drop"><a href="#">Распаторы стоматологические</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Крючок Фарабефа</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Элеваторы</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Иглодержатели</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Ножницы</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Пинцеты и зажимы</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Скальпели</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Трепаны</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Щипцы</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Инструменты для пародонтологии</a></li>
							<li class="main-list__item main-list__item--drop"><a href="#">Роторный инструмент</a></li>

							<li class="main-list__item main-list__item--title"><a href="#">Эндо6тонтия</a></li>
							<li class="main-list__item"><a href="#">Аксессуары</a></li>
							<li class="main-list__item"><a href="#">Эндодонтические аппараты</a></li>
							<li class="main-list__item"><a href="#">Инструменты</a></li>
						</div>
					</ul>
				</div>
			</div>

			<div class="container">

				<div id="nav-main" class="nav-btn">
					<div class="nav-btn__wrap">
						<b></b>
						<b></b>
						<b></b>
					</div>
					<span>Каталог</span>
				</div>

				<a href="#" class="logo logo--mob">
					<img class="logo__pict logo__pict--mob" src="img/logo-2.png" alt="">
					<div class="logo__title logo__title--mob">Novastom</div>
				</a>

				<ul class="nav-menu">
					<li class="nav-menu__item"><a href="#" class="nav-menu__link">О компании</a></li>
					<li class="nav-menu__item"><a href="#" class="nav-menu__link">Новости</a></li>
					<li class="nav-menu__item"><a href="#" class="nav-menu__link">Видео</a></li>
					<li class="nav-menu__item"><a href="#" class="nav-menu__link">Вакансии</a></li>
					<li class="nav-menu__item"><a href="#" class="nav-menu__link">Контакты</a></li>
				</ul>

				<div class="contact contact--header">

					<div class="personal personal-in">
						<a href="#" class="personal__link personal__link--login"><span>Вход</span></a>
						<a href="#" class="personal__link personal__link--signin"><span>Регистрация</span></a>
						<a href="#" class="personal__link personal__link--signin personal__signin--in">Здравствуйте,&nbsp;<span>Владимир!</span></a>
						<a href="#" class="personal__link personal__link--cart"><div class="count-wrap"><span>15</span></div></a>
					</div>

					<a href="tel:+74959876543" class="phone phone--header"><span>(495)</span>987-65-43</a>

				</div>

			</div>
		</div>

		<div class="header-main header-main--inner clearfix">
			<div class="container">
				<a href="#" class="logo logo-inner">
					<img class="logo__pict logo__pict--inner" src="img/logo.png" alt="">
					<div class="logo__title logo__title--inner">Novastom<span class="logo__accent logo__accent--inner">5 лет успешной работы</span></div>
				</a>

				<div class="search search--inner">
					<input type="text" name="search" class="search-in search-in--inner" placeholder="Поиск">
				</div>

				<a href="#present-form" class="order-present order-present--inner popup" data-effect="mfp-zoom-in">Заказать<span>бесплатную презентацию</span></a>

				<a href="#callback-form" class="callback callback--header callback--inner popup" data-effect="mfp-zoom-in">Заказать<span>обратный звонок</span></a>

				<div class="header-cart">
					<div class="header-cart__count"><span>15</span></div>
					<a href="#" class="header-cart__title">Корзина</a>
					<div class="header-cart__total">
						<p>Сумма:&nbsp;<span class="header-cart__price">124 790</span>&nbsp;<span class="header-cart__cur">руб.</span></p>
					</div>
					<a href="#" class="header-cart__order">Оформить заказ</a>
				</div>
			</div>
		</div>

	</header>