/*-------------Grid-----------*/
@media (min-width: 320px)
	.container
		width: 320px

@media (min-width: 640px)
	.container
		width: 640px

@media (min-width: 840px)
	.container
		width: 840px

@media (min-width: 1040px)
	.container
		width: 1040px

@media (min-width: 1240px)
	.container
		width: 1240px
/*------------end-------------*/