@import "vars.sass"
/*----------------Tarif page---------------*/
.rate
	&.rate__inner
		padding-bottom: 47px

.tarif__inner
	padding-bottom: 47px

.tarif__text
	p
		font-size: 18px
/*-------------------end-------------------*/