	<footer class="footer clearfix">
		<div class="section-about">
			<div class="container">
				<div class="section-about__title">Профессиональный<br>подход к ремонту</div>
				<div class="section-about__text">
					<p>Автосервис был открыт в  марте 2014 г. . Это уже третья станция нашей сети на севере Санкт-Петербурга. Первый наш АВТОСЕРВИС НА ИРИНОВСКОМ ПР. 44 (<a href="#">перейти на сайт</a>) работает с  1992 г. Более 20 лет мы развиваем этот бизнес,  радуем наших клиентов  профессиональным,  качественным и  недорогим обслуживанием.</p>
					<p>Наш автосервис предлагает послегарантийное обслуживание  и ремонт любых марок автомобилей. Большое внимание мы уделяем диагностике вашего автомобиля. Правильно проведенная диагностика позволяет предотвратить возможные поломки в пути, экономит Ваши деньги и Ваше время.</p>
					<p>Наш автосервис предоставляет все виды услуг, в том числе кузовной ремонт  и покраску автомобилей.</p>
					<p>Преимуществами нашей компании являются:</p>
					<p>Квалифицированный персонал</p>
					<p>Современное новое оборудование</p>
					<p>Большой опыт работы по ремонту и обслуживанию автомобилей.</p>
					<p>Удобное расположение: пересечение  пр. Непокоренных  и  Гражданского пр.</p>
					<p>Наши услуги прошли сертификацию.</p>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="social">
						<a href="#" class="social-link social-link--vk"><i></i>Vk</a>
						<a href="#" class="social-link social-link--fb"><i></i>Fb</a>
						<a href="#" class="social-link social-link--inst"><i></i>Inst</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<nav class="nav nav--footer">
						<ul class="nav-menu nav-menu--footer">
							<li class="nav-menu__item nav-menu__item--footer"><a href="#" class="nav-menu__link nav-menu__link--footer">Главная</a></li>
							<li class="nav-menu__item nav-menu__item--footer"><a href="#" class="nav-menu__link nav-menu__link--footer">Джип-Туры</a></li>
							<li class="nav-menu__item nav-menu__item--footer"><a href="#" class="nav-menu__link nav-menu__link--footer">Покатушки</a></li>
							<li class="nav-menu__item nav-menu__item--footer"><a href="#" class="nav-menu__link nav-menu__link--footer">Календарь</a></li>
							<li class="nav-menu__item nav-menu__item--footer"><a href="#" class="nav-menu__link nav-menu__link--footer">Тюнинг-Центр</a></li>
							<li class="nav-menu__item nav-menu__item--footer"><a href="#" class="nav-menu__link nav-menu__link--footer">Галерея</a></li>
							<li class="nav-menu__item nav-menu__item--footer"><a href="#" class="nav-menu__link nav-menu__link--footer">Контакты</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="copyright">Копирайт 2016 Grand Trophy</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="hidden">

		<div id="callback-form" class="callback-form mfp-with-anim">
			<div class="callback-form__title">Заказать обратный звонок</div>
			<form action="#">
				<label for="name">Имя*<input id="name" type="text" placeholder="Имя"></label>
				<label for="phone">Телефон*<input id="phone" type="text" placeholder="Телефон"></label>
				<label for="email">E-mail*<input id="email" type="text" placeholder="E-mail"></label>
				<button class="btn-form">Отправить заявку</button>
			</form>
		</div>

	</div>

	<div class="loader">
		<div class="loader_inner"></div>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery/jquery-1.12.4.min.js"></script>
	<script src="libs/plaxmove/jquery.plaxmove.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>
