		<header class="header header--inner">
			<div class="layer-1">&nbsp;</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-7 col-sm-4 col-md-3">
						<div class="phone phone--header">
							<a href="tel:+78001234567" class="phone__link phone__link--header">8 800 123 45 67</a>
						</div>
					</div>

					<div class="col-sm-4 col-md-6">
						<div class="logo">
							<a href="#" class="logo__link"><img src="img/logo.png" alt="">grand trophy</a>
						</div>
					</div>

					<div class="col-xs-5 col-sm-4 col-md-3">
						<div class="callback">
							<a href="#callback-form" class="callback-btn popup" data-effect="mfp-zoom-in">Обратный звонок</a>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<nav class="nav nav--header">
							<div class="nav-btn">Меню<i></i></div>
							<ul class="nav-menu nav-menu--header">
								<li class="nav-menu__item"><a href="index.html" class="nav-menu__link">Главная</a></li>
								<li class="nav-menu__item"><a href="service.html" class="nav-menu__link">Джип-Туры</a></li>
								<li class="nav-menu__item"><a href="service-in.html" class="nav-menu__link">Покатушки</a></li>
								<li class="nav-menu__item"><a href="#" class="nav-menu__link">Календарь</a></li>
								<li class="nav-menu__item"><a href="#" class="nav-menu__link">Тюнинг-Центр</a></li>
								<li class="nav-menu__item"><a href="#" class="nav-menu__link">Галерея</a></li>
								<li class="nav-menu__item"><a href="contact.html" class="nav-menu__link">Контакты</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>