	<footer>
		<div class="container clearfix">
			<a href="#top" class="btn btn__top"><i></i>Наверх</a>
			<div class="footer__left">
				<span class="form__title">Для вопросов</span>
				<form action="#" class="form form__footer">
					<fieldset>
						<input type="text" placeholder="Ваше имя">
						<input type="text" placeholder="Ваша электропочта">
					</fieldset>
					<textarea cols="30" rows="10" placeholder="Сообщение"></textarea>
					<button class="form__btn">Отправить</button>
					<span class="form__accent">Мы отправим ответ на вашу электронную почту,<br>спасибо за обращение!</span>
				</form>
			</div>

			<div class="footer__main">
				<ul class="footer__menu">
					<li><a href="#">Доставка и оплата</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>

				<div class="footer__contact">
					<a href="tel:+74957967056" class="contact__phone">+7 (495) 796-70-56</a>
					<a href="tel:+79031374081" class="contact__phone">+7 (903) 137-40-81</a>
					<a href="mailto:info@stopshum.com" class="contact__mail">info@stopshum.com</a>
				</div>

				<div class="footer__social">
					<span>В сети:</span>
					<a href="#" class="social social__vk">Vkontakte</a>
					<a href="#" class="social social__fb">Facebook</a>
					<a href="#" class="social social__yt">Youtube</a>
					<a href="#" class="social social__inst">Instagram</a>
				</div>

				<div class="copyright">&copy; 2016. Все права защищены.</div>
			</div>
		</div>
	</footer>


	<div class="hidden">
		<div id="cart-modal" class="cart__modal mfp-with-anim">
			<div class="cart__title">Вы добавили товары в корзину</div>
			<div class="table">
				<div class="table__row">

					<div class="table__cell table__cell-pict">
						<img class="cart__img" src="../img/hit-1.jpg" alt="">
					</div>

					<div class="table__cell table__cell-name">
						<a href="#" class="name__link">K-Fonik</a>
						<div class="name__price">6 000&nbsp;руб<span>за ед.</span></div>
					</div>

					<div class="table__cell table__cell-count">
						<div class="count__total">
							<input type="number" min="0" value="3">
						</div>
					</div>

					<div class="table__cell table__cell-total">
						<div class="total__block">
							<span class="block__title">Сумма</span>
							<div class="block__price">18 000 руб</div>
						</div>
					</div>

				</div>

				<div class="table__row">

					<div class="table__cell table__cell-pict">
						<img class="cart__img" src="../img/hit-2.jpg" alt="">
					</div>

					<div class="table__cell table__cell-name">
						<a href="#" class="name__link">СтопЗвук БП Стандарт</a>
						<div class="name__price">10 000&nbsp;руб<span>за ед.</span></div>
					</div>

					<div class="table__cell table__cell-count">
						<div class="count__total">
							<input type="number" min="0" value="10">
						</div>
					</div>

					<div class="table__cell table__cell-total">
						<div class="total__block">
							<span class="block__title">Сумма</span>
							<div class="block__price">690 руб</div>
						</div>
					</div>

				</div>

				<div class="table__row">

					<div class="table__cell table__cell-pict">
						<img class="cart__img" src="../img/hit-3.jpg" alt="">
					</div>

					<div class="table__cell table__cell-name">
						<a href="#" class="name__link">СтопЗвук БП Стандарт</a>
						<div class="name__price">600 000&nbsp;руб<span>за ед.</span></div>
					</div>

					<div class="table__cell table__cell-count">
						<div class="count__total">
							<input type="number" min="0" value="30">
						</div>
					</div>

					<div class="table__cell table__cell-total">
						<div class="total__block">
							<span class="block__title">Сумма</span>
							<div class="block__price">180 000 руб</div>
						</div>
					</div>

				</div>
			</div>

			<div class="total__order">
				<span class="order__title">Итого</span>
				<div class="order__price">36 150 руб</div>
				<a href="#" class="cart__link cart__link-order">Оформить заказ</a>
			</div>

			<a href="#" class="cart__link cart__link-pay">Продолжить покупки</a>
		</div>

		<div id="callback-form" class="callback__form mfp-with-anim">
			<form action="#">
				<input type="text" placeholder="Ваше имя:">
				<input type="text" placeholder="Ваш номер телефона:">
				<button class="form__btn">Перезвонить</button>
			</form>
		</div>
	</div>

	<div class="loader">
		<div class="loader_inner"></div>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery/jquery-1.12.4.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>
	<script src="libs/formstyler/jquery.formstyler.min.js"></script>

	<script src="js/common.js"></script>