	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="logo logo-footer"><img src="img/logo.png" alt=""></a>
					<ul class="nav nav-footer">
						<li><a href="#work">Виды работ</a></li>
						<li><a href="#vibro">Вибропогружатели</a></li>
						<li><a href="#scheme">Схема работы</a></li>
						<li><a href="#question">Вопросы</a></li>
						<li><a href="#contact">Контакты</a></li>
					</ul>
					<a id="scroll-top" href="#" class="scroll-top">top</a>
				</div>
			</div>
		</div>
		<div class="copyright">&copy; 2006—2017 ООО «IntelStroy»</div>
	</footer>

	<div class="hidden">

		<div id="callback-form" class="modal-form callback-form mfp-with-anim">
			<div class="modal-form__title">Обратный звонок</div>
			<div class="modal-form__text">
				<p>Мы перезвоним Вам в ближайшее время</p>
			</div>
			<form action="#">
					<input type="text" placeholder="Ваше имя">
					<input type="text" placeholder="Телефон">
				<button class="button button-order button_center">Отправить</button>
			</form>
		</div>

		<div id="order-form" class="modal-form order-form mfp-with-anim">
			<div class="modal-form__title">Оставить заявку</div>
			<div class="modal-form__text">
				<p>Заполните поля, указав информацию о себе, опишите свою проблему в поле для сообщения, а так же, для удобства прикрипите файл с ТЗ (если таковой имеется). Мы свяжемся с Вами в ближайшее время</p>
			</div>
			<form action="#">
				<fieldset>
					<input type="text" placeholder="Название компании">
					<input type="text" placeholder="ФИО">
					<input type="text" placeholder="E-mail">
					<input type="text" placeholder="Телефон">
					<div class="upload-wrap">
						<div class="file-upload">
							<label for="file">
								<input id="file" type="file">
								<span>Прикрепить файл</span>
							</label>
						</div>
						<input type="text" class="upload-in" disabled="">
					</div>
				</fieldset>
				<textarea cols="30" rows="10" placeholder="Сообщение..."></textarea>
				<button class="button button-order button_center">Отправить</button>
			</form>
		</div>

	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery-2.2.4/jquery-2.2.4.min.js"></script>
	<script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="libs/wowjs/wow.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>
