	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="logo logo_header"><img src="img/logo.png" alt=""></a>
					<nav class="navbar" role="navigation">
						<button type="button" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar icon-bar_top"></span>
							<span class="icon-bar icon-bar_center"></span>
							<span class="icon-bar icon-bar_bottom"></span>
						</button>
						<div class="navbar-collapse">
							<ul class="nav nav-header">
								<li><a href="#work">Виды работ</a></li>
								<li><a href="#vibro">Вибропогружатели</a></li>
								<li><a href="#scheme">Схема работы</a></li>
								<li><a href="#question">Вопросы</a></li>
								<li><a href="#contact">Контакты</a></li>
							</ul>
						</div>
					</nav>
					<div class="callback">
						<a href="tel:89267613888" class="callback-phone"><span>+7 (926)</span> 761 38 88</a>
						<a href="#callback-form" class="callback-link popup" data-effect="mfp-zoom-in">Заказать звонок</a>
					</div>
				</div>
			</div>
		</div>
	</header>