	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class="copyright">2012 ONYX<br>Центр красочных решений</div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-4 footer-nav">
					<ul class="footer-menu">
						<li><a href="#">Горячие предложения</a></li>
						<li><a href="#">Автоломбард</a></li>
						<li><a href="#">Автосалон</a></li>
						<li><a href="#">Выкуп авто</a></li>
						<li><a href="#">Комиссионная продажа</a></li>
					</ul>
					<ul class="footer-menu">
						<li><a href="#">Техцентр</a></li>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Поддержка клиентов</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Статьи</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-5 footer-contact">
					<a href="tel:+74956655292" class="phone phone_footer"><span>8 (495)</span> 66-55-292</a>
					<div class="email"><span>E-mail:</span> <a href="mailto:info@onyxauto.ru" class="email-link">info@onyxauto.ru</a></div>
					<div class="search">
						<input type="search" name="search" class="search-in">
						<button class="search-btn">Найти</button>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="hidden">

		<div id="callback-form" class="callback-form mfp-with-anim">
			<div class="callback-form__title">Обратный звонок</div>
			<form action="#">
				<input type="text" placeholder="Ваше имя">
				<input type="text" placeholder="Ваш телефон">
				<button class="callback-form__btn">Заказать</button>
			</form>
		</div>

		<div id="color-form" class="color-form mfp-with-anim">
			<div class="color-form__title">Лазурная дазурь<span>(RAL 6547 27)</span></div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="color-change">
						<div class="color-change__title">24 000 руб. / литр</div>
						<div class="color-change__box" style="background: #4ae9e4;"></div>
						<div class="color-change__sel">
							<div class="count-change">
								<a href="#" class="count-change__arrow count-change__arrow_left">left</a>
								<input class="count-change__in" type="text" value="4 литра">
								<a href="#" class="count-change__arrow count-change__arrow_right">right</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<form action="#">
						<input type="text" placeholder="Ваше имя">
						<input type="text" placeholder="Ваш телефон">
						<button class="color-form__btn">Оформить заказать</button>
						<a href="#" class="color-form__link">Оформить пошагово</a>
					</form>
				</div>
			</div>
		</div>

	</div>

	<!-- <div class="loader">
		<div class="loader_inner"></div>
	</div> -->

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery-2.2.4/jquery-2.2.4.min.js"></script>
	<script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="libs/formstyler/jquery.formstyler.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>
