	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-5 col-sm-4 col-md-3">
					<a href="/" class="logo"><img src="img/logo.png" alt=""></a>
				</div>
				<div class="hidden-xs col-sm-4 col-md-5">
					<div class="count-block">
						<div class="count">
							<p class="count__title">У нас уже</p>
							<div class="count-wrap">
								<span></span>
								<span>8</span>
								<span>5</span>
								<span>5</span>
							</div>
							<a href="#" class="count__link">Партнеров</a>
						</div>
					</div>
				</div>
				<div class="col-xs-7 col-sm-4 col-md-4">
					<div class="callback-block">
						<a href="tel:+74956655292" class="phone"><span>8 (495)</span> 66-55-292</a>
						<a href="#callback-form" class="callback popup" data-effect="mfp-zoom-in">Заказать обратный звонок</a>
					</div>
				</div>
			</div>
			<nav class="navbar">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar icon-bar_top"></span>
					<span class="icon-bar icon-bar_center"></span>
					<span class="icon-bar icon-bar_bottom"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav">
						<li><a href="#">О компании</a></li>
						<li><a href="#">Фабрика цвета</a></li>
						<li><a href="#">Виды покрытий</a></li>
						<li><a href="#">Наши работы</a></li>
						<li><a href="#">Сотрудничество</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Индивидуальный подбор покрытия</a></li>
						<li><a href="#">Консультация специалиста</a></li>
						<li><a href="#">Каталог RAL</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>