	<footer class="footer">
		<div class="container">
			<div class="footer-block">
				<a href="#" class="footer-block__logo"><img src="img/logo-footer.png" alt=""></a>
				<div class="footer-block__location">Екатеринбург, ул. Красина, 3</div>
				<a href="#" class="footer-block__link">Схема проезда</a>
				<div class="footer-block__phone">
					<a href="tel:+73432478248" class="footer-block__tel">+7 (343) 247-82-48</a>,
					<a href="tel:+73432478248" class="footer-block__tel">+7 (343) 247-82-48</a>
				</div>
				<a href="mailto:email@email.ru" class="footer-block__mail">email@email.ru</a>
				<div class="social-block">
					<span>Подпишитесь на нас:</span>
					<a href="#" class="social-block__link social-block__link--inst">instagram</a>
					<a href="#" class="social-block__link social-block__link--fb">facebook</a>
					<a href="#" class="social-block__link social-block__link--vk">vkontakte</a>
				</div>
				<a href="#" class="link__letter">Написать письмо</a>
			</div>

			<div class="footer-menu footer-menu--about">
				<div class="footer-menu__title">О нас</div>
				<ul class="footer-nav">
					<li><a href="#">Сертификаты</a></li>
					<li><a href="#">Наши клиенты</a></li>
					<li><a href="#">Как мы работаем</a></li>
					<li><a href="#">Работа с дилерами</a></li>
					<li><a href="#">Написать директору</a></li>
				</ul>
			</div>

			<div class="footer-menu footer-menu--catalog">
				<div class="footer-menu__title footer-menu__title--low">Каталог</div>
				<ul class="footer-nav">
					<li><a href="#">ВСЕ ДВЕРИ</a></li>
					<li><a href="#">ДВЕРИ ЭКОШПОН</a></li>
					<li><a href="#">РАСПРОДАЖА И АКЦИИ</a></li>
					<li><a href="#">ДВЕРИ БЕЛЫЕ</a></li>
					<li><a href="#">ДВЕРИ ОТРАЖЕНИЕ</a></li>
					<li><a href="#">ДВЕРИ ВЕНГЕ</a></li>
					<li><a href="#">РОТО ДВЕРИ</a></li>
					<li><a href="#">ДВЕРИ КНИЖКА</a></li>
					<li><a href="#">ДВЕРИ КОМПАКТ</a></li>
					<li><a href="#">ДВЕРИ ВАННАЯ И ТУАЛЕТ</a></li>
					<li><a href="#">ДВЕРИ СО СТЕКЛОМ</a></li>
					<li><a href="#">ДВЕРИ ПОД ПОКРАСКУ</a></li>
					<li><a href="#">КОМПЛЕКТУЮЩИЕ</a></li>
					<li><a href="#">ФУРНИТУРА </a></li>
				</ul>
			</div>

			<div class="footer-menu footer-menu--order">
				<div class="footer-menu__title footer-menu__title--up">Как заказать</div>
				<ul class="footer-nav">
					<li><a href="#">Порядок заказа</a></li>
					<li><a href="#">Наши гарантии</a></li>
					<li><a href="#">Доставка и монтаж</a></li>
					<li><a href="#">Вопрос-ответ</a></li>
					<li><a href="#">Вопрос-ответ</a></li>
				</ul>
			</div>

			<div class="footer-menu">
				<div class="footer-menu__title footer-menu__title--up">Наши работы</div>
				<ul class="footer-nav">
					<li><a href="#">Установленные двери</a></li>
					<li><a href="#">Статьи</a></li>
				</ul>
			</div>

		</div>
	</footer>

	<div class="hidden">
		<div id="add-cart" class="add-cart mfp-with-anim">
			<div class="add-cart__title">Ваш товар добавлен в корзину!</div>
		</div>
	</div>

	<div class="loader">
		<div class="loader_inner"></div>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery/jquery-1.12.4.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>
	<script src="libs/formstyler/jquery.formstyler.min.js"></script>
	<script src="libs/touchSwipe/jquery.touchSwipe.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>

	<script src="js/common.js"></script>
