	<header class="header">
		<div class="header-top">
			<div class="container">
				<a href="#" class="sale-link">Акции</a>
				<ul class="menu-top">
					<li class="menu-top__item"><a href="#">О нас</a></li>
					<li class="menu-top__item"><a href="#">Новости</a></li>
					<li class="menu-top__item"><a href="#">Каталог</a></li>
					<li class="menu-top__item"><a href="#">Как заказать</a></li>
					<li class="menu-top__item"><a href="#">Вопрос-ответ</a></li>
					<li class="menu-top__item"><a href="#">Контакты</a></li>
				</ul>
			</div>
		</div>
		<div class="header-main">

			<div class="container">
				<a href="#" class="logo"><img src="img/logo.png" alt=""></a>

				<!-- <span class="hide"><![CDATA[<noindex>]]></span> -->
				<div class="cart">
					<a href="#" class="cart__link">Корзина</a>
					<div class="cart__number"><span>15</span> товаров</div>
					<div class="cart__tprice"><span>60 000</span> руб</div>
				</div>
				<!-- <span class="hide"><![CDATA[</noindex>]]></span> -->

				<div class="work">
					<p>ПН - ПТ: с 8:00 до 22:00<br>СБ - ВС: с 9:00 до 21:00</p>
				</div>

				<div class="location location--header">
					<p><span>Екатеринбург</span>ул. Красина, 3</p>
					<a href="#" class="location__link">Схема проезда</a>
				</div>

				<div class="contact contact--header">
					<div class="contact-wrap">
						<a href="+73432478248" class="contact__phone contact__phone--header">+7 (343) 247-82-48</a>
						<a href="+73432478248" class="contact__phone contact__phone--header">+7 (343) 247-82-48</a>
						<a href="#" class="contact__callback">Перезвоните мне!</a>
					</div>
					<a href="mailto:email@mail.com" class="contact__mail">email@mail.com</a>
				</div>
			</div>

		</div>
		<div class="header-bottom header-bottom--inner">
			<div class="container">
				<ul class="menu-main">
					<li class="menu-main__item"><a href="#">Входные двери</a></li>
					<li class="menu-main__item"><a href="#">Межкомнатные двери</a></li>
					<li class="menu-main__item"><a href="#">Фурнитура</a></li>
					<li class="menu-main__item"><a href="#">Ламинат</a></li>
					<li class="menu-main__item">
						<a href="#">Наши услуги<i class="caret"></i></a>
						<ul class="menu-dropmain">
							<li><a href="#">Межкомнатные двери</a></li>
							<li><a href="#">Входные двери</a></li>
							<li><a href="#">Ламинат</a></li>
						</ul>
					</li>
					<li class="menu-main__item"><a href="#">Галерея</a></li>
				</ul>
			</div>
		</div>
	</header>