	<footer class="footer">
		<div class="wrapper">
			<a href="#" class="footer-logo"><img src="img/footer-logo.png" alt=""></a>
			<div class="footer-bottom">
				<div class="copyright">© 2017 Коммуникационное агенство «Зентиси Медиа»</div>
				<a href="http://adtherapy.ru/" class="development" target="_blank">Сделано в Рекламотерапии</a>
			</div>
		</div>
	</footer>
</div>

	<div class="hidden">
		<div id="callback-form" class="callback-form mfp-with-anim">
			<div class="callback-form__title">Заказать звонок</div>
			<div class="success"><span>Ваша заявка отправлена!</span></div>
			<form class="form-0" name="form-0">
				<input type="text" placeholder="Ваше имя" name="name" required>
				<input type="phone" placeholder="Телефон" name="phone" required>
				<button type="submit" class="btn btn-form">Отправить</button>
			</form>
		</div>
	</div>

	<!-- <div class="loader">
		<div class="loader_inner"></div>
	</div> -->

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery-2.2.4/jquery-2.2.4.min.js"></script>
	<!-- <script src="libs/jquery/jquery-1.12.4.min.js"></script> -->
	<!-- <script src="libs/slick/slick.min.js"></script> -->
	<script src="libs/waterwheelCarousel/jquery.waterwheelCarousel.min.js"></script>
	<script src="libs/magnific/jquery.magnific-popup.min.js"></script>

	<script src="js/common.js"></script>
